<div class="flex flex-col items-center justify-center">
  <div>Chuyển đổi khách hàng</div>
  <div class="mt-2">Bạn có muốn chuyển đỏi khách hàng Nguyễn thành công </div>
  <div class="mt-4 flex gap-x-2">
    <div class="flex gap-x-1">
      <div>e</div>
      <div>e</div>
    </div>
    <button>chuyển</button>
    <div class="flex gap-x-1">
      <div>e</div>
      <div>e</div>
    </div>
  </div>
</div>

<div class="w-full flex justify-end p-4" *tdsModalFooter>
  <button tds-button class="mr-2 min-w-[100px]" color="secondary">
    Đóng
  </button>
  <button tds-button type="submit" class=" mr-2 min-w-[100px]" color="primary">
    Xác nhận
  </button>
</div>
