<div class="w-full h-full pb-4 px-4">
    <div class="flex flex-col w-full h-full bg-white rounded-xl">
        <div class="flex flex-row items-center justify-between px-4 py-3">
            <div class="flex flex-row items-center">
                <tds-avatar class="bg-primary-1 text-white" icon="tdsi-discount-fill"></tds-avatar>
                <span class="text-neutral-1-900 text-header-1 font-semibold pl-2.5">CHƯƠNG TRÌNH KHUYẾN MÃI</span>
            </div>
            <button tds-button color="primary" (click)="addNewData($event)">
                <span class="flex items-center">
                  <i class="tdsi-plus-circle-fill text-lg leading-none mr-2"></i>
                  <span class="text-body-2 font-semibold">Thêm mới</span>
                </span>
            </button>
        </div>
        <div class="flex flex-col w-full h-full">
            <div class="flex flex-row items-center justify-between border-t py-2.5 px-4">
                <span class="text-neutral-1-900 text-title-1 font-semibold">Danh sách khuyến mãi</span>
                <div class="flex flex-row items-center">
                    <tds-button-group class="mr-2">
                        <button tds-button color="secondary" tds-dropdown trigger="click" [tdsDropdownMenu]="menu" [placement]="'bottomRight'">
                            <span class="flex items-center">
                                Thao tác<i class="tdsi-arrow-down-fill text-lg leading-none ml-2"></i>
                            </span>
                        </button>
                        <tds-dropdown-menu #menu="tdsDropdownMenu">
                            <div *ngFor="let item of dropdownList" class="w-full" (click)="onActive(item)">
                                <div tds-dropdown-item class="px-3 py-4">
                                    <a class="text-neutral-1-900 text-body-2 font-regular">{{item.name}}</a>
                                </div>
                            </div>
                        </tds-dropdown-menu>
                    </tds-button-group>
                    <tds-form-field class="w-3/4">
                        <input tdsInput class="text-neutral-1-900" placeholder="Tìm kiếm..." autocomplete="off"
                            [tdsInputDebounce]="750" (inputKeyup)="onInputChange($event)" />
                        <span tdsPrefix><i class="text-neutral-1-500 tdsi-search-fill"></i></span>
                    </tds-form-field>
                </div>
            </div>
            <div class="w-full h-full pb-2.5">
                    <tds-table #rowSelectionTable
                    [listData]="lstData"
                    [tableLayout]="'fixed'"
                    [showSizeChanger]="true"
                    [loading]="loading"
                    [pageSize]="20"
                    [total]="count"
                    [loading]="isLoading"
                    (clickRefresh)="refreshData()"
                    (currentPageDataChange)="onCurrentPageDataChange($event)"
                    class="tds-promotion-table">
                    <thead>
                        <tr class="text-neutral-1-900 text-body-2 font-semibold">
                            <th width="6%" [align]="'center'"></th>
                            <th width="6%" [align]="'center'" class="hover:bg-neutral-3-100" [checked]="checked"
                                [indeterminate]="indeterminate" (checkedChange)="onAllChecked($event)">
                            </th>
                            <th width="38%">Tên</th>
                            <th width="10%">Hiệu lực</th>
                            <th width="20%">Ngày khởi tạo</th>
                            <th width="20%">Thao tác</th>
                        </tr>
                </thead>
                <tbody>
                    <ng-template ngFor let-data let-i="index" [ngForOf]="rowSelectionTable.data" let-odd='odd'>
                        <tr class="text-neutral-1-900 text-body-2 font-regular" [ngClass]="{'tds-row-selected':setOfCheckedId.has(data.Id)}">
                            <td [expand]="expandSet.has(data.Id)" (expandChange)="onExpandChange(data.Id, $event)"></td>
                            <td [checked]="setOfCheckedId.has(data.Id)" [align]="'center'"
                                (checkedChange)="onItemChecked(data.Id, $event)"></td>
                            <td>{{ data.Name }}</td>
                            <td>
                                <span class="flex items-center">
                                    <i class="{{ data.Active ? 'tdsi-success-fill text-success-400':'tdsi-error-fill text-error-400' }} text-xl"></i>
                                </span>
                            </td>
                            <td>{{ data.DateCreated | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                            <td>
                                <button tds-button-icon color="secondary" size="sm" class=" mr-2" (click)="showEditModal(data.Id)">
                                    <span class="flex items-center">
                                        <i class="tdsi-edit-fill text-neutral-1-500 text-xl leading-none"></i>
                                    </span>
                                </button>
                                <button tds-button-icon color="secondary" size="sm" (click)="showRemoveModal(data.Id)">
                                    <span class="flex items-center">
                                        <i class="tdsi-trash-fill text-neutral-1-500 text-xl leading-none"></i>
                                    </span>
                                </button>
                            </td>
                        </tr>
                        <tr [expand]="expandSet.has(data.Id)" class="border-b border-neutral-2-100 text-neutral-1-900 bg-neutral-3-50">
                            <div class="bg-white rounded-xl m-3">
                                <tds-tabset class="w-full">
                                    <tds-tab title="Chi tiết coupon">
                                        <span class="italic text-xs text-success-400"> Chức năng chưa phát triển </span>
                                        <!-- <tds-table #basicTable [listData]="data.coupon" [showPagination]="false" class="w-full">
                                            <thead>
                                                  <tr>
                                                        <th width="185px">Tên</th>
                                                        <th width="185px">Ngày hết hạn</th>
                                                        <th width="100%">Chương trình</th>
                                                        <th width="185px">Khách hàng</th>
                                                        <th width="185px">Tham chiếu ĐH </th>
                                                        <th width="185px">ĐH áp dụng</th>
                                                        <th width="185px">Trạng thái</th>
                                                  </tr>
                                            </thead>
                                            <tbody>
                                                <ng-template ngFor let-data [ngForOf]="basicTable.data" >
                                                    <tr>
                                                        <td>{{ data.couponCode }}</td>
                                                        <td>{{ data.expiredDate | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                                                        <td>{{ data.couponName }}</td>
                                                        <td>{{ data.customer }}</td>
                                                        <td>{{ data.referenceOrder }}</td>
                                                        <td>{{ data.appliedOrder }}</td>
                                                        <td>{{ data.status ? 'còn giá trị' : 'hết hiệu lực' }}</td>
                                                    </tr>
                                                </ng-template>
                                            </tbody>
                                        </tds-table> -->
                                    </tds-tab>

                                </tds-tabset>
                            </div>
                        </tr>
                    </ng-template>
                </tbody>
                </tds-table>
            </div>
        </div>
    </div>
</div>
