<tds-spin [spinning]="isLoading" class="w-full h-full">
    <form [formGroup]="_form" autocomplete="off">
        <div class="w-full">
            <div class="flex flex-row items-end pb-4">
                <upload-pictures-wall class="mr-12" [size]="112" [data]="[_form.controls.ImageUrl.value]"
                    (getResult)="getImage($event)" (getBase64)="getBase64($event)">
                </upload-pictures-wall>
                <div class="flex flex-col gap-y-3">
                    <label class="font-semibold text-header-2">Sản phẩm {{ _form.controls["NameTemplate"].value }}</label>
                    <tds-checkbox formControlName="SaleOK">Có thể bán</tds-checkbox>
                    <tds-checkbox formControlName="PurchaseOK">Có thể mua</tds-checkbox>
                    <tds-checkbox formControlName="Active">Hiệu lực</tds-checkbox>
                </div>
            </div>
            <div class="grid grid-cols-4 gap-x-6 gap-y-4">
                <tds-label>Loại sản phẩm</tds-label>
                <tds-form-field class="w-full col-span-3">
                    <tds-select valueField="value" textField="text" placeholder='Chọn loại sản phẩm'
                        disabledField="isActive" formControlName="Type" [data]="listType || []" [allowClear]="false">
                    </tds-select>
                    <tds-error>
                        Vui lòng chọn loại sản phẩm
                    </tds-error>
                </tds-form-field>

                <tds-label>Giá biến thể</tds-label>
                <tds-form-field class="w-full col-span-3">
                    <tds-input-number formControlName="PriceVariant" [min]="0" [step]="1000" class="text-neutral-1-900 text-body-2 font-regular" 
                        [formatter]="numberWithCommas" [parser]="parserComas"></tds-input-number>
                    <tds-error>
                        Vui lòng nhập giá biến thể
                    </tds-error>
                </tds-form-field>

                <tds-label>Mã sản phẩm:</tds-label>
                <tds-form-field class="w-full col-span-3">
                    <input tdsInput formControlName="DefaultCode" placeholder="Nhập mã sản phẩm"
                        class="text-neutral-1-900 text-body-2 font-regular" />
                    <tds-error>
                        Vui lòng nhập mã sản phẩm
                    </tds-error>
                </tds-form-field>

                <tds-label>Mã vạch:</tds-label>
                <tds-form-field class="w-full col-span-3">
                    <input tdsInput formControlName="Barcode" placeholder="Nhập mã vạch"
                        class="text-neutral-1-900 text-body-2 font-regular" />
                    <tds-error>
                        Vui lòng nhập mã vạch
                    </tds-error>
                </tds-form-field>

                <span class="text-header-2 font-semibold text-neutral-1-600 col-span-4 w-full" *ngIf="!isRootVariant">Biến thể</span>
            </div>
            <!-- variants - add product -->
            <div *ngIf="!isEdit">
                <div *ngFor="let line of attributeLines; let i = index" class="grid grid-cols-4 gap-x-6 items-end">
                    <tds-label class="mt-4">{{ line?.Attribute?.Name }}</tds-label>
                    <tds-form-field class="w-full col-span-3 mt-4" *ngIf="!editModel">
                        <tds-select valueField="Id" textField="Name" placeholder='Chọn loại sản phẩm'
                            disabledField="isActive" [valuePrimitive]="false"
                            (selectChange)="onChangeAttribute($event,line.AttributeId)" [data]="line?.Values || []"
                            [allowClear]="true" [optionOverflowSize]="5">
                        </tds-select>
                        <tds-error>
                            Vui lòng chọn giá trị {{ line?.Attribute?.Name }}
                        </tds-error>
                    </tds-form-field>
                </div>
            </div>

            <div *ngIf="isEdit">
                <div *ngFor="let value of editModel.AttributeValues; let i = index"
                    class="grid grid-cols-4 gap-x-6 items-end">
                    <tds-label class="mt-4">{{ value.AttributeName }}</tds-label>
                    <tds-tag status='secondary' rounded="rounded-full" class="w-fit h-fit col-span-3 mt-4">
                        {{ value.Name }}
                    </tds-tag>
                </div>
            </div>
        </div>
    </form>
</tds-spin>
<!-- footer -->
<div class="w-full flex justify-end p-4" *tdsModalFooter>
    <button tds-button class="mr-2" color="secondary" (click)="cancel()">
        Hủy bỏ
    </button>
    <button tds-button type="submit" color="primary" (click)="save()">
        Lưu
    </button>
</div>
