<div #withLayout class="w-full h-full text-neutral-1-900 dark:text-d-neutral-1-900 relative overflow-hidden flex flex-col">
    <div *ngIf="!isDeviceToken && router?.url?.startsWith('/dashboard')" class="w-full flex justify-center items-center">
        <div class="top-0 bg-white fixed" style="border-radius: 0 0 0.375rem 0.375rem;">
            <tds-spin [spinning]="isRegister">
                <div class="w-[500px] px-6 pt-7 pb-4 shadow-lg flex flex-col gap-y-6 rounded-md">
                    <div class="flex gap-x-6">
                        <span class="tdsi-notification-fill text-primary-1 text-[32px] leading-none"></span>
                        <div class="flex flex-col">
                            <div class="h-[30px] text-title-1 font-semibold">Đăng kí nhận tin</div>
                            <div class="h-[30px] text-body-2 font-regular">Bạn muốn nhận thông báo từ TPage</div>
                        </div>
                    </div>
                    <div class="flex justify-end gap-x-3">
                        <button type="button" class="w-[100px]" tds-button color="secondary" (click)="onCancel()">Để sau</button>
                        <button type="button" class="w-[100px]" tds-button color="primary" (click)="requestPermission()">Đăng ký</button>
                    </div>
                </div>
            </tds-spin>
        </div>
    </div>

    <div class="w-full dark">
        <tds-header urlLogoText='../../../assets/imagesv2/tpos-text.svg'>
            <div class="inline-flex tds-header-toolbar-left items-center ml-2">
                <div class="flex items-center text-body-2 font-semibold text-neutral-1-400">
                    <tds-tag status='primary' rounded="rounded-full" class="text-caption-2 font-semibold">T-PAGE</tds-tag>
                </div>
                <a (click)="changeNotiSocketInfo()" class="ml-2" style="font-size: 18px; color: #fff">
                    <span *ngIf="notiSocket" class="tdsi-notification-fill" tds-tooltip tooltipTitle="Đang bật thông báo realtime"></span>
                    <span *ngIf="!notiSocket" class="tdsi-notifications-off-fill" tds-tooltip tooltipTitle="Đã tắt thông báo realtime"></span>
                </a>
                <a class="ml-2 text-[22px]" style="color: #fff">
                  <span *ngIf="isConnectedSocket" style="color: #21f721" class="tdsi-wifi-fill" tds-tooltip tooltipTitle="Kết nối realtime đang hoạt động"></span>
                  <span *ngIf="!isConnectedSocket" style="color: #f80723" class="tdsi-wifi-off-fill" tds-tooltip tooltipTitle="Mất kết nối realtime, vui lòng F5 hoặc làm mới token"></span>
                </a>
            </div>
            <div class="inline-flex tds-header-toolbar-right items-center">
                <div>
                    <tpage-team-dropdown (tdsClickItem)="onClickTeam($event)"></tpage-team-dropdown>
                </div>
                <div class="ml-4">
                    <tpage-notification-dropdown></tpage-notification-dropdown>
                </div>
                <div class="inline-flex pl-4">
                    <tds-avatar class="cursor-pointer" tds-dropdown [tdsDropdownMenu]="dropdownAvatar" trigger="click" [tdsSrc]="userInit ? userInit.Avatar :''">
                    </tds-avatar>
                    <tds-dropdown-menu #dropdownAvatar="tdsDropdownMenu">
                        <div class="w-56">
                            <div tds-dropdown-item>
                                <div class="flex w-full">
                                    <tds-avatar [shape]="'square'" [tdsSrc]="userInit?.Avatar">
                                    </tds-avatar>
                                    <div class="flex flex-auto flex-col ml-2">
                                        <div class="text-body-2 font-semibold">
                                            {{userInit?.Name}}
                                        </div>
                                        <div class="text-neutral-1-600 text-caption-1 font-regular">
                                            {{userInit?.UserName}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div tds-dropdown-item (click)="onProfile()">
                                Tài khoản
                            </div>
                            <div tds-dropdown-item (click)="onPackOfData()">
                                Gói cước
                            </div>
                            <div tds-dropdown-item (click)="onProfile()">
                                Đổi mật khẩu
                            </div>
                            <div tds-dropdown-item (click)="onLogout()">
                                <a class="text-error-400">Đăng xuất</a>
                            </div>
                        </div>
                    </tds-dropdown-menu>
                </div>
            </div>
        </tds-header>
    </div>
    <div class="w-full h-full flex-auto flex overflow-hidden">
        <div class="h-full flex-shrink overflow-hidden" [style.min-width.px]="!inlineCollapsed ? 260 : 64"
            [style.width.px]="!inlineCollapsed ? 260 : 64">
            <tds-menu [data]="lstMenu" [mode]="'light'" [inlineCollapsed]="inlineCollapsed"
                (onOpenChange)="onOpenChange($event)">
            </tds-menu>
        </div>
        <div class="flex flex-auto h-full overflow-hidden">
            <div class="w-full overflow-auto bg-neutral-3-200 tds-custom-scroll" cdkScrollable>
                <router-outlet> </router-outlet>
            </div>
        </div>
    </div>
</div>
