<div class="w-full h-full text-neutral-1-900 dark:text-d-neutral-1-900 relative overflow-hidden flex flex-col">
    <div class="w-full dark">

        <tds-header urlLogoText='assets/images/tpos-text.svg'>
            <div class="inline-flex tds-header-toolbar-right items-center">
                <!-- Không có kết nối singalr -->
                <button class="mr-2" tds-button-icon color="primary" (click)="onSave()" tooltipPlacement="bottom"
                   *ngIf="!_connectionEstablished || !isNetwork" tds-tooltip  tooltipTitle="Kết nối realtime thất bại.">
                    <span class="flex items-center justify-center">
                        <i class="tdsi-wifi-warning-fill text-xl leading-5"></i>
                    </span>
                </button>
                <div>
                    <tpage-team-dropdown (tdsClickItem)="onClickTeam($event)"></tpage-team-dropdown>
                </div>
                <button tds-flat-button-icon size="md" class="ml-2 mr-4">
                    <span class="flex items-center">
                        <i class="tdsi-bell-line text-xl leading-5"></i>
                    </span>
                </button>
                <div class="inline-flex pl-4">
                    <tds-avatar class="cursor-pointer" tds-dropdown [tdsDropdownMenu]="dropdownAvatar" trigger="click"
                        [tdsSrc]="userInit ? userInit.Avatar :''">
                    </tds-avatar>
                    <tds-dropdown-menu #dropdownAvatar="tdsDropdownMenu">
                        <div class="w-56">
                            <div tds-dropdown-item>
                                <div class="flex w-full">
                                    <tds-avatar [shape]="'square'" [tdsSrc]="userInit?.Avatar">
                                    </tds-avatar>
                                    <div class="flex flex-auto flex-col ml-2">
                                        <div class="text-body-2 font-semibold">
                                            {{userInit?.Name}}
                                        </div>
                                        <div class="text-neutral-1-600 text-caption-1 font-regular">
                                            {{userInit?.UserName}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div tds-dropdown-item (click)="onProfile()">
                                Tài khoản
                            </div>
                            <div tds-dropdown-item (click)="onPackOfData()">
                                Gói cước
                            </div>
                            <div tds-dropdown-item (click)="onProfile()">
                                Đổi mật khẩu
                            </div>
                            <div tds-dropdown-item (click)="onLogout()">
                                <a class="text-error-400">Đăng xuất</a>
                            </div>
                        </div>
                    </tds-dropdown-menu>
                </div>
            </div>
        </tds-header>
    </div>
    <div class="w-full h-full flex-auto flex overflow-hidden">
        <div class="h-full flex-shrink overflow-hidden" [style.min-width.px]="!inlineCollapsed ? 260 : 64"
            [style.width.px]="!inlineCollapsed ? 260 : 64">
            <tds-menu [data]="lstMenu" [mode]="'light'" [inlineCollapsed]="inlineCollapsed"
                (onOpenChange)="onOpenChange($event)">
            </tds-menu>
        </div>
        <div class="flex flex-auto h-full overflow-hidden">
            <div class="w-full overflow-auto bg-neutral-3-200 tds-custom-scroll" cdkScrollable>
                <router-outlet> </router-outlet>
            </div>
        </div>
    </div>
</div>
