<tds-spin [spinning]="isLoading">
    <form [formGroup]="_form" class="flex flex-col gap-y-6">
        <div class="flex gap-x-8 w-full items-center">
            <div>
                <tds-upload [beforeUpload]="beforeUpload" [showUploadList]="false">
                  <tds-avatar [isAvatar]="false" class="bg-white text-white" [size]="108"
                    tdsSrc="{{_form?.value?.Avatar}}">
                  </tds-avatar>
                </tds-upload>
            </div>
            <div class="flex flex-col w-full gap-y-4">
                <tds-form-field class="w-full">
                    <tds-label>Tên nhân viên</tds-label>
                    <input formControlName="Name" tdsInput autocomplete="off" [required]="true"
                        placeholder="Nhập tên nhân viên" />
                    <tds-error>Vui lòng nhập tên nhân viên</tds-error>
                </tds-form-field>
                <div class="flex items-center gap-x-2">
                    <tds-switch formControlName="Active" size="md"></tds-switch>
                    <span>Trạng thái</span>
                </div>
            </div>
        </div>
        <div class="w-full grid grid-cols-2 gap-x-12 gap-y-4">
            <tds-form-field class="w-full" [color]="!_form.controls['PhoneNumber'].valid && _form.controls['PhoneNumber'].touched ? 'error' : 'default'">
                <tds-label>Số điện thoại</tds-label>
                <input formControlName="PhoneNumber" tdsInput autocomplete="off" [required]="true"
                    placeholder="Nhập số điện thoại" />
                <tds-error *ngIf="!_form.controls['PhoneNumber'].valid && _form.controls['PhoneNumber'].touched">{{ getErrorMessage() }}</tds-error>
            </tds-form-field>
            <tds-form-field class="w-full">
                <tds-label>Email</tds-label>
                <input formControlName="Email" tdsInput autocomplete="off" [required]="true" placeholder="Nhập email" />
                <tds-error>
                  <span *ngIf="_form.controls['Email'].errors?.emailExist; else emailEmpty">Email đã tồn tại</span>
                  <ng-template #emailEmpty>
                    <span>Vui lòng nhập email</span>
                  </ng-template>
                </tds-error>
            </tds-form-field>
            <tds-form-field class="col-span-2">
                <tds-label>Tài khoản</tds-label>
                <input formControlName="UserName" [required]="true" tdsInput autocomplete="off"
                    placeholder="Nhập tên tài khoản" />
                <tds-error>
                  <span *ngIf="_form.controls['UserName'].errors?.userExist; else userNameExist">Tên tài khoản đã tồn tại</span>
                  <ng-template #userNameExist>
                    <span>Vui lòng nhập tên tài khoản</span>
                  </ng-template>
                </tds-error>
            </tds-form-field>
            <tds-form-field class="w-full" [color]="!_form.controls['Password'].valid && _form.controls['Password'].touched ? 'error' : 'default'">
                <tds-label>Mật Khẩu</tds-label>
                <input formControlName="Password" [required]="true" type="password" tdsInput [minlength]="6"
                    placeholder="Nhập mật khẩu" autocomplete="off" />
                <tds-error>Vui lòng nhập mật khẩu với ít nhất 6 kí tự</tds-error>
            </tds-form-field>
            <tds-form-field class="w-full">
                <tds-label>Nhập lại mật Khẩu</tds-label>
                <input formControlName="ConfirmPassword" [required]="true" type="password" tdsInput
                    placeholder="Nhập lại mật khẩu" autocomplete="off" />
                <tds-error>
                  <span *ngIf="_form.controls['ConfirmPassword'].errors?.mustMatch; else mustMatch">Mật khẩu không khớp</span>
                  <ng-template #mustMatch>
                    <span>Vui lòng nhập lại mật khẩu</span>
                  </ng-template>
                </tds-error>
            </tds-form-field>
            <tds-form-field class="col-span-2">
                <tds-label> Phân quyền </tds-label>
                <tds-select [ngModel]="listSelectedRole" valueField="Id" textField="Name" [required]="true" [ngModelOptions]="{standalone: true}" [allowClear]="true"
                    placeholder='Chọn' (ngModelChange)="onChangeRole($event)" [data]="lstUserRole" mode="multiple">
                </tds-select>
            </tds-form-field>
        </div>
        <div class="w-full flex justify-end p-4" *tdsModalFooter>
            <button tds-button class="mr-2" color="secondary" (click)="cancel()">Hủy bỏ</button>
            <button tds-button type="submit" class="w-[87px]" color="primary" [disabled]="!_form?.valid" (click)="onSave()">Áp dụng</button>
        </div>
    </form>
</tds-spin>
