<tds-spin [spinning]="isLoading">
  <div class="w-full h-full text-body-2" autocomplete="off">
    <div class="w-full h-full pb-4 px-4">
        <div class="flex flex-col w-full h-full bg-white rounded-xl">
            <div class="flex flex-row items-center justify-between px-4 py-3">
                <div class="flex flex-row items-center">
                    <button tds-flat-button-icon size="md" (click)="backToMain()">
                        <span class="flex items-center">
                            <i class="tdsi-back-fill text-xl leading-5"></i>
                        </span>
                    </button>
                    <span class="text-neutral-1-900 text-header-1 font-semibold pl-2.5">PHÂN QUYỀN QUẢN LÝ PAGE</span>
                </div>
                <button tds-button color="primary" (click)="onSave()" class="w-[72px]">
                    <span class="text-body-2 font-semibold">Lưu</span>
                </button>
            </div>
            <div class="h-full w-full">
                <ng-container *ngIf="data">
                    <tds-table #tablePermission [listData]="data" [showPagination]="false"
                        [scroll]="{y:'auto'}">
                        <thead>
                            <tr>
                                <th class="text-center">Trang Facebook</th>
                                <th width="75%">
                                    <div class="flex w-full">
                                        <div class="w-1/2">
                                            <span>Tên Page</span>
                                        </div>
                                        <div class="w-1/2">
                                            <span>Nhân viên</span>
                                        </div>
                                    </div>
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <ng-template ngFor let-data [ngForOf]="tablePermission.data">
                                <tr>
                                    <td class="border-r border-neutral-2-100">
                                        <div class="flex w-full h-full flex-col gap-x-2.5 justify-center items-center ">
                                            <!-- <tds-avatar class="bg-white  text-white" [size]="108" [tdsSrc]="data.urlImg"> -->
                                            <!-- </tds-avatar> -->
                                            <tpage-avatar-facebook class="text-white" [fbid]="data?.Facebook_ASUserId" [token]="data?.Facebook_UserToken"
                                            [size]="108">
                                            </tpage-avatar-facebook>
                                            <div>
                                                <span class="font-semibold">{{data.Name}}</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="!p-0 align-top">
                                        <div [ngClass]="data.Childs!.length <= 2?'border-b border-neutral-2-100':''"
                                            class="flex w-full h-full justify-start flex-col divide-y divide-neutral-2-100">
                                            <div *ngFor="let child of data.Childs; let ind = index"
                                                class="flex p-2 items-center">
                                                <div class="flex w-1/2">
                                                    <span>{{child.Name}}</span>
                                                </div>
                                                <div class="w-1/2">
                                                    <tds-form-field class="w-full">
                                                        <tds-select valueField="Id" textField="Name"
                                                            placeholder='Chọn nhân viên' [(ngModel)]="child.Users" [allowClear]="true"
                                                            (ngModelChange)="onModelChangePermission($event)"
                                                            [data]="lstUsers" mode="multiple" [valuePrimitive]="false">
                                                        </tds-select>
                                                    </tds-form-field>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </tbody>
                    </tds-table>
                </ng-container>
            </div>
        </div>
    </div>
  </div>
</tds-spin>

