<div class="flex flex-wrap items-start">

    <div *ngFor="let image of imageList; let i = index">
      <div class="relative">
        <!-- image source -->
        <tds-avatar class="rounded-lg border border-neutral-2-200 mr-2 mt-2" [shape]="'square'" [size]="112"
          [tdsSrc]="image.url" [isAvatar]="false" 
          (click)="image.isPopup = true">
        </tds-avatar>
        <!-- delete button -->
        <i *ngIf="allowUpload" class="tdsi-error-fill text-error-400 absolute top-3 right-3 cursor-pointer" (click)="removeImage(i)"></i>
      </div>
      <!-- image name -->
      <div *ngIf="showName" class="text-center" [ngStyle]="{'width': size + 'px'}">
        <span class="text-neutral-1-900 font-regular text-caption-1 mt-2" >{{image.name}}</span>
      </div>
      <!-- pop up modal-->
      <tds-modal *ngIf="showPopUpModal" 
        [visible]="image.isPopup"
        [content]="modalContent"
        [footer]="null"
        (onCancel)="image.isPopup = false">
      </tds-modal>

      <ng-template #modalContent>
        <img [src]="image.url" [ngStyle]="{ width: '100%' }" />
      </ng-template>
    </div>

    <div *ngIf="allowUpload" class="flex flex-col items-center">
      <label for="fileInputImages" class="text-neutral-1-300 cursor-pointer rounded-lg border border-neutral-2-200 border-dashed flex flex-col items-center justify-center mt-2" 
        [ngStyle]="{'height': size + 'px','width': size + 'px'}">
        <div class="flex items-center justify-center" >
            <span class="tdsi-images-fill text-xl leading-5"></span>
        </div>
        <div class="mt-2 text-body-2 font-regular">Upload</div>
      </label>
    </div>

    <input id="fileInputImages" type='file' class="hidden" (change)="onSelectFile($event)">
</div>
