<tds-spin [spinning]="isLoading">
    <div class="p-4 flex flex-col items-center w-full justify-center text-body-2 text-neutral-1-900">
        <div class="w-3/4 flex flex-col rounded-xl bg-white">
            <div class="flex justify-between px-4 py-2.5 border-x border-transparent">
                <span class="text-header-1 flex items-center text-neutral-1-900 font-semibold">
                    Thông tin cá nhân
                </span>
                <div class="flex gap-x-2">
                    <button tds-button-outline color="primary" (click)="changePassword()">
                        <i class="tdsi-lock-fill text-xl leading-none mr-2"></i>Đổi mật khẩu
                    </button>
                    <button tds-button color="primary" (click)="changeInfoUser()">
                        <i class="tdsi-edit-fill text-xl leading-none mr-2"></i>Chỉnh sửa thông tin
                    </button>
                </div>
            </div>
            <div class="flex h-full w-full p-4">
                <div class="w-1/3 flex flex-col gap-y-2 items-center justify-center border-r border-neutral-2-200">
                    <div>
                        <tds-avatar class="text-white bg-neutral-3-50" [size]="207"
                            [tdsSrc]="userInit?.Avatar">
                        </tds-avatar>
                    </div>
                    <!-- <div *ngIf="isChangeInfoUser">
                        <tds-upload [beforeUpload]="beforeUpload" [showUploadList]="false">
                            <div class="w-full relative group hover:opacity-40">
                                <tds-avatar class="text-white bg-neutral-3-50 relative" [size]="207" [tdsSrc]="userInit?.Avatar">
                                </tds-avatar>
                                <div class="absolute inset-0 justify-center items-center group-hover:flex flex-col hidden text-white">
                                    <span class="tdsi-camera-fill text-2xl leading-none"></span>
                                    <span class="text-caption-2">Cập nhật avatar</span>
                                </div>
                            </div>
                        </tds-upload>
                    </div> -->
                    <span class="text-caption-2 font-semibold text-neutral-1-300">Avatar đã cập nhật từ ngày 10-12-2021</span>
                </div>
                <div class="flex-auto flex flex-col pl-16 justify-center">
                    <div class="flex flex-col w-full gap-y-8">
                        <div class="w-full flex gap-x-2">
                            <span class="w-1/3 text-neutral-900">Họ & tên:</span>
                            <div class="flex-auto">
                                <span class="text-neutral-900 font-semibold">{{userInit?.Name}}</span>
                            </div>
                        </div>
                        <div class="w-full flex gap-x-2">
                            <span class="w-1/3 text-neutral-900">Điện thoại:</span>
                            <div class="flex-auto">
                                <span class="text-neutral-900 font-semibold">{{userInit?.PhoneNumber}}</span>
                            </div>
                        </div>
                        <div class="w-full flex gap-x-2">
                            <span class="w-1/3 text-neutral-900">Email:</span>
                            <div class="flex-auto ">
                                <span class="text-neutral-900 font-semibold">{{userInit?.Email}}</span>
                            </div>
                        </div>
                        <div class="w-full flex gap-x-2">
                            <span class="w-1/3 text-neutral-900">Website:</span>
                            <div class="flex-auto">
                                <span class="text-neutral-900 font-semibold">{{userInit?.Website?userInit.Website:'...'}}</span>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</tds-spin>