<div class="p-4 flex w-full justify-center">
    <div class="w-3/4 flex flex-col gap-y-4 rounded-xl">
        <div class="p-4 bg-white flex flex-col gap-y-5 rounded-xl">
            <div class="flex justify-between">
                <span class="text-header-2 flex items-center text-neutral-600 font-semibold">
                    <i class="tdsi-user-line mr-2"></i>Thông tin cơ bản
                </span>
                <button *ngIf="!isChangeInfoUser" tds-button color="primary" (click)="changeInfoUser()">
                    <span class="flex items-center">
                        <i class="tdsi-edit-fill text-lg leading-none mr-2"></i>Thay đổi thông tin
                    </span>
                </button>
                <div *ngIf="isChangeInfoUser" class="flex gap-x-4">
                    <button tds-button color="primary" (click)="onSubmitUser()">
                        <span class="flex items-center">
                            Lưu thay đổi
                        </span>
                    </button>
                    <button tds-button color="primary" (click)="cancelChangeInfoUser()">
                        <span class="flex items-center">
                            Hủy bỏ
                        </span>
                    </button>
                </div>
            </div>
            <div class="flex h-full">
                <div class="h-full  pr-6">
                    <tds-avatar class="bg-accent-4  text-white " [size]="104"
                        [tdsSrc]="userInit?.Avatar">
                    </tds-avatar>
                </div>
                <form *ngIf="formUser" [formGroup]="formUser" (ngSubmit)="onSubmitUser()"
                    class="flex flex-col w-full gap-y-4 pl-6 border-l border-neutral-200">
                    <div class="flex gap-x-4">
                        <div class="w-1/5"><span class="text-body-2 text-neutral-900 font-regular">Họ & tên:</span>
                        </div>
                        <div class="w-4/5">
                            <span *ngIf="!isChangeInfoUser"
                                class="text-body-2 text-neutral-900 font-semibold">{{formUser?.value?.name}}</span>
                            <tds-form-field *ngIf="isChangeInfoUser" class="w-full">
                                <input tdsInput autocomplete="off" placeholder="Nhập tên" formControlName="name" />
                            </tds-form-field>
                        </div>

                    </div>
                    <div class="flex gap-x-4">
                        <div class="w-1/5"><span class="text-body-2 text-neutral-900 font-regular">Điện thoại:</span>
                        </div>
                        <div class="w-4/5">
                            <span *ngIf="!isChangeInfoUser"
                                class="text-body-2 text-neutral-900 font-semibold">{{formUser?.value?.phone}}</span>
                            <tds-form-field *ngIf="isChangeInfoUser" class="w-full">
                                <input tdsInput autocomplete="off" placeholder="Nhập số điện thoại"
                                    formControlName="phone" />
                            </tds-form-field>
                        </div>
                    </div>
                    <div class="flex gap-x-4">
                        <div class="w-1/5"><span class="text-body-2 text-neutral-900 font-regular">Email:</span></div>
                        <div class="w-4/5">
                            <span *ngIf="!isChangeInfoUser"
                                class="text-body-2 text-neutral-900 font-semibold">{{formUser?.value?.email}}</span>
                            <tds-form-field *ngIf="isChangeInfoUser" class="w-full">
                                <input tdsInput autocomplete="off" placeholder="Nhập email" formControlName="email" />
                            </tds-form-field>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Password -->
        <div class="p-4 bg-white flex flex-col gap-y-5 rounded-xl">
            <div class="flex justify-between">
                <span class="text-header-2 flex items-center text-neutral-600 font-semibold">
                    <i class="tdsi-lock-line mr-2"></i>Bảo mật
                </span>
                <button *ngIf="!isChangeInfoPassword" tds-button color="primary" (click)="changePassword()">
                    <span class="flex items-center">
                        <i class="tdsi-edit-fill text-lg leading-none mr-2"></i>Đổi mật khẩu
                    </span>
                </button>
                <div *ngIf="isChangeInfoPassword" class="flex gap-x-4">
                    <button tds-button color="primary" (click)="onSubmitPassword()">
                        <span class="flex items-center">
                            Lưu thay đổi
                        </span>
                    </button>
                    <button tds-button color="primary" (click)="cancelChangeInfoPassword()">
                        <span class="flex items-center">
                            Hủy bỏ
                        </span>
                    </button>
                </div>
            </div>
            <form [formGroup]="formPassword" (ngSubmit)="onSubmitPassword()" class="flex flex-col gap-y-4">
                <div class="flex gap-x-4">
                    <div class="w-1/6"><span class="text-body-2 text-neutral-900 font-semibold">Mật khẩu cũ:</span>
                    </div>
                    <div *ngIf="!isChangeInfoPassword" class="w-5/6">
                        <span class="text-body-2 text-neutral-1-400 font-semibold">**********</span>
                    </div>
                    <div *ngIf="isChangeInfoPassword" class="w-5/6">
                        <tds-form-field class="w-full">
                            <input tdsInput autocomplete="off" type="password" placeholder="Xác nhận mật khẩu hiện tại"
                                formControlName="passwordOld" />
                        </tds-form-field>
                    </div>
                </div>
                <div class="flex gap-x-4">
                    <div class="w-1/6"><span class="text-body-2 text-neutral-900 font-semibold">Mật khẩu mới:</span>
                    </div>
                    <div *ngIf="!isChangeInfoPassword" class="w-5/6">
                        <span class="text-body-2 text-neutral-1-400 font-semibold">**********</span>
                    </div>
                    <div *ngIf="isChangeInfoPassword" class="w-5/6">
                        <tds-form-field class="w-full">
                            <input tdsInput autocomplete="off" type="password" placeholder="Nhập mật khẩu mới"
                                formControlName="passwordNew" />
                        </tds-form-field>
                    </div>
                </div>
                <div class="flex gap-x-4">
                    <div class="w-1/6"><span class="text-body-2 text-neutral-900 font-semibold">Xác nhận mật khẩu
                            mới:</span></div>
                    <div *ngIf="!isChangeInfoPassword" class="w-5/6">
                        <span class="text-body-2 text-neutral-1-400 font-semibold">**********</span>
                    </div>
                    <div *ngIf="isChangeInfoPassword" class="w-5/6">
                        <tds-form-field class="w-full">
                            <input tdsInput autocomplete="off" type="password" placeholder="Nhập mật khẩu mới"
                                formControlName="passwordNewConfirm" />
                        </tds-form-field>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>