<tds-spin [spinning]="isLoading" class="w-full h-full">
    <form [formGroup]="_form"  class="flex flex-col w-full h-full">

      <div class="bg-white flex justify-between items-center py-2.5 px-4">
        <div class="flex flex-col gap-y-1">
          <tds-breadcrumb tds-page-header-breadcrumb class="px-0 pt-0 pb-0">
              <tds-breadcrumb-item (click)="directPage('live-campaign')">Chiến dịch live</tds-breadcrumb-item>
              <tds-breadcrumb-item>{{liveCampaignId ? 'Sao chép' : 'Thêm mới'}}</tds-breadcrumb-item>
          </tds-breadcrumb>
          <div class="">
              <span class="text-header-1 text-neutral-1-900 font-semibold">{{ liveCampaignId ? 'Sao chép chiến dịch' : 'Thêm mới chiến dịch' }}</span>
          </div>
        </div>

        <div class="flex gap-x-2">
            <!-- <button tds-button color="secondary" type="button" (click)="showModalSelectFileProduct()">
              <span class="flex items-center">
                <i class="tdsi-upload-fill text-lg leading-none text-neutral-1-500 mr-2"></i>Chọn sản phẩm từ file
              </span>
            </button> -->
            <button tds-button class="w-[100px]" color="primary" type="button" (click)="onSave()">Lưu lại</button>
            <button tds-button class="w-[100px]" color="secondary" type="button" (click)="onBack()">Hủy bỏ</button>
        </div>
      </div>

      <div class="flex flex-col h-full gap-y-4 pb-4 p-4">
        <div class="bg-white rounded-xl">
          <tds-collapse [expandIconPosition]="'right'" class="bg-white rounded-xl w-full">
            <tds-collapse-panel [header]="header" [disabled]=false [(active)]="isShowFormInfo"
              [expandedIcon]="icon" bordered="false">

              <!-- Header -->
              <ng-template #header>
                  <span class="text-neutral-1-900 text-xl font-semibold">Thông tin</span>
              </ng-template>

              <!-- Header Icon -->
              <ng-template #icon>
                  <div *ngIf="!isShowFormInfo" class="tdsi-arrow-up-line p-2 text-neutral-1-500 text-xl"></div>
                  <div *ngIf="isShowFormInfo" class="tdsi-arrow-down-line p-2 text-neutral-1-500 text-xl"></div>
              </ng-template>

              <!-- Content -->
              <div class="w-full h-full grid grid-cols-3 gap-4 2xl:text-body-2 xl:text-caption-1 text-neutral-1-900">
                <div class="flex gap-x-4 items-center">
                  <span class="font-semibold w-1/4">
                    Tên chiến dịch
                    <span class="text-error-500 text-body-2 font-semibold">*</span>
                  </span>
                  <tds-form-field class="w-3/4">
                    <input tdsInput placeholder="Nhập tên chiến dịch" class="text-neutral-1-900 text-body-2 font-regular" formControlName="Name"
                      [required]='true'/>
                      <tds-error>Vui lòng nhập tên chiến dịch</tds-error>
                  </tds-form-field>
                </div>

                <div class="grid grid-cols-4 gap-x-4 items-center">
                  <tds-label>Mẫu tin chốt đơn</tds-label>
                  <div class="col-span-3 flex flex-row gap-x-2">
                    <tds-form-field class="w-full truncate">
                      <tds-select valueField="Id" textField="Name" placeholder='Chọn mẫu tin' formControlName="ConfirmedOrder_Template"
                          [valuePrimitive]="false" [allowClear]="true" [data]="lstQuickReplies"
                          [allowClear]="true" (ngModelChange)="onChangeConfirmedOrder_Template($event)">
                      </tds-select>
                    </tds-form-field>
                    <div class="w-[34px]">
                      <button type="button" tds-button-icon color="secondary" (click)="showModalAddQuickReply()">
                        <i class="tdsi-plus-circle-fill text-primary-1"></i>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="flex gap-x-4 items-center">
                  <tds-label class="w-1/4">Đặt cọc bắt buộc</tds-label>
                  <tds-form-field class="w-3/4">
                    <tds-input-number [min]='0' [step]="1000" placeholder="0" formControlName="MaxAmountDepositRequired"
                      (ngModelChange)="onChangeDeposit($event)"
                      [formatter]="numberWithCommas" [parser]="parserComas">
                    </tds-input-number>
                  </tds-form-field>
                </div>

                <div class="flex gap-x-4 items-center">
                  <tds-label class="w-1/4">Chốt đơn xác nhận</tds-label>
                  <tds-form-field class="w-3/4">
                    <tds-select valueField="value" textField="text"
                        placeholder='Trạng thái chốt đơn' [valuePrimitive]="false" formControlName="ConfigObject"
                        disabledField="isActive" [data]="lstConfig" [allowClear]="false" (ngModelChange)="onChangeConfig($event)">
                    </tds-select>
                  </tds-form-field>
                </div>

                <div class="grid grid-cols-4 gap-x-4 items-center">
                  <tds-label>Mẫu tin dự bị</tds-label>
                  <tds-form-field class="col-span-3">
                    <tds-select valueField="Id" textField="Name"
                        placeholder='Chọn mẫu tin' [valuePrimitive]="false"  formControlName="Preliminary_Template"
                        disabledField="isActive" [data]="lstQuickReplies" [allowClear]="true" (ngModelChange)="onChangePreliminary_Template($event)">
                    </tds-select>
                  </tds-form-field>
                </div>

                <div class="flex flex-col justify-start gap-y-1 relative">
                  <div class="flex gap-x-4 items-center">
                    <tds-label class="w-1/4">Đặt cọc tối thiểu</tds-label>
                    <tds-form-field class="w-3/4" [color]="isDepositChange && _form.value.MinAmountDeposit == 0 ? 'error' : 'default'">
                        <tds-input-number [min]="0" [step]="1000" placeholder="0" formControlName="MinAmountDeposit"
                          [formatter]="numberWithCommas" [parser]="parserComas" class="text-neutral-1-900 text-body-2 font-regular"></tds-input-number>
                    </tds-form-field>
                  </div>
                  <span *ngIf="isDepositChange" class="text-error-400 text-caption-2 absolute -bottom-4 right-0">
                    *Nếu tiền đặt cọc bắt buộc nhỏ hơn tổng tiền giỏ hàng thì trường này là bắt buộc
                  </span>
                </div>

                <div class="flex gap-x-4 items-center">
                  <tds-label class="w-1/4">Nhân viên chốt đơn</tds-label>
                  <tds-form-field class="w-3/4">
                    <tds-select valueField="Id" textField="Name"
                        placeholder='Chọn nhân viên chốt đơn' [valuePrimitive]="false" mode="multiple" formControlName="Users"
                        disabledField="isActive" [data]="(lstUser$ | async) || []" [allowClear]="true">
                    </tds-select>
                  </tds-form-field>
                </div>

                <div class="grid grid-cols-4 gap-x-4 items-center">
                  <tds-label>Thời gian tổng hợp (phút)</tds-label>
                  <tds-form-field class="col-span-3">
                      <tds-input-number [min]="0" class="text-neutral-1-900 text-body-2 font-regular" formControlName="ResumeTime" [formatter]="numberWithCommas" [parser]="parserComas"></tds-input-number>
                  </tds-form-field>
                </div>

                <div class="row-span-2 flex flex-col gap-y-4 items-center pt-3">
                  <div class="flex justify-between items-center w-full">
                    <tds-label>Bật xử lý chốt đơn tự động</tds-label>
                    <tds-checkbox formControlName="IsEnableAuto"></tds-checkbox>
                  </div>
                  <div class="flex justify-between items-center w-full">
                    <tds-label>Bật số lượng</tds-label>
                    <tds-checkbox formControlName="EnableQuantityHandling"></tds-checkbox>
                  </div>
                  <div class="flex justify-between items-center w-full">
                    <tds-label>Tổng hợp đơn hàng trong thời gian ca làm việc</tds-label>
                    <tds-checkbox formControlName="IsShift"></tds-checkbox>
                  </div>
                  <div class="flex justify-between items-center w-full">
                    <tds-label>Không cho phép gán nhân viên vào cuộc hội thoại</tds-label>
                    <tds-checkbox formControlName="IsAssignToUserNotAllowed"></tds-checkbox>
                  </div>
                </div>

                <div class="flex gap-x-4 items-baseline">
                  <tds-label class="w-1/4">Ghi chú</tds-label>
                  <tds-form-field class="w-3/4">
                    <textarea class="resize-none h-[66px]" tdsInput placeholder="Nhập ghi chú" formControlName="Note"></textarea>
                  </tds-form-field>
                </div>

                <div class="grid grid-cols-4 gap-x-4">
                  <tds-label>Thời gian gửi tin tự động</tds-label>
                  <tds-form-field class="col-span-3">
                    <tds-range-picker [(ngModel)]="datePicker" showTime="{format: 'HH:mm'}" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChangeDate($event)"></tds-range-picker>
                  </tds-form-field>
                </div>

              </div>
            </tds-collapse-panel>
          </tds-collapse>
        </div>

        <div class="flex-auto flex gap-x-4">
          <div class="h-full w-1/3">
              <list-product-tmp-v2 [type]="'liveCampaign'" (onLoadProductToLiveCampaign)="onLoadProduct($event)"></list-product-tmp-v2>
          </div>

          <div class="w-2/3">
            <div class="rounded-xl bg-white h-full flex-col flex">
              <div class="p-3 w-full flex gap-x-2 font-semibold text-base items-center relative">
                  <span class="tdsi-product-fill text-neutral-1-400"></span>
                  <span class="text-neutral-1-900 ml-2">Sản phẩm
                      <span *ngIf="_form.controls['Details'].value">({{_form.controls['Details'].value.length}})</span>
                  </span>
              </div>

              <div class="w-full flex-auto text-body-2 text-neutral-1-900">
                <tds-table #tableProduct [showSizeChanger]="true" [frontPagination]="false" [scroll]="{ y: 'auto' }" [listData]="_form.controls['Details'].value">
                  <thead>
                    <tr>
                        <th [width]="'64px'" class="text-center">STT</th>
                        <th [width]="'320px'">
                          <div customFilter class="flex justify-between items-center w-full gap-x-2">
                            <span class="w-1/4 py-2"> Sản phẩm </span>
                            <div class="flex-auto flex justify-end">
                              <button *ngIf="!visible; else menu" style="width: 30%; text-align: end;" (click)="onOpenSearchvalue()">
                                <span class="tdsi-search-fill p-1 rounded text-neutral-1-500 text-xl leading-none relative"
                                  tds-tooltip tooltipTitle="Tìm kiếm sản phẩm trong danh sách">
                                </span>
                              </button>
                            </div>

                            <ng-template #menu>
                              <div class="flex-auto">
                                  <tds-form-field class="w-full">
                                      <input type="text" tdsInput placeholder="Nhập tên, mã code..." [tdsInputDebounce]="500" (inputKeyup)="onSearch()"
                                        autocomplete="off" [(ngModel)]="innerTextValue" [ngModelOptions]="{standalone: true}"/>
                                      <span tdsSuffix (click)="onReset()"><i class="tdsi-close-fill"></i></span>
                                  </tds-form-field>
                              </div>
                          </ng-template>
                        </div>
                        </th>
                        <th [width]="'80px'">Ẩn/ hiện</th>
                        <th [width]="'120px'">Số lượng</th>
                        <th [width]="'120px'">Giới hạn trên đơn</th>
                        <th [width]="'120px'">Giá bán</th>

                        <th [width]="'92px'" class="text-center">
                          <button type="button" size="sm"  tds-button-icon color="secondary" (click)="onDeleteAll()" tds-tooltip tooltipTitle="Xóa tất cả sản phẩm"
                           [disabled]="_form.controls['Details'].value.length == 0 ? true : false">
                              <span class="flex items-center">
                                <i class="tdsi-trash-fill text-lg leading-none text-neutral-1-500"></i>
                              </span>
                          </button>

                          <button *ngIf="innerTextValue" type="button" class="ml-1" tds-button-icon color="secondary" size="sm" (click)="onReset()" tds-tooltip tooltipTitle="Reload">
                            <span class="flex items-center text-neutral-1-500">
                                <i class="tdsi-loading-fill"></i>
                            </span>
                          </button>
                        </th>
                    </tr>
                  </thead>
                  <tbody formArrayName="Details">
                    <tr *ngFor="let detail of detailsForm.controls | simpleSearchV2: searchValue"  [formGroupName]="detail.value | indexSimpleDetailLiveCampain: detailsForm.controls" [ngClass]="detail?.value.Id ? '' : 'bg-primary-3'">

                      <!-- Số TT -->
                      <td class="text-center"> {{ (detail.value | indexSimpleDetailLiveCampain: detailsForm.controls) + 1 }} </td>

                      <!-- Sản phẩm -->
                      <td>
                        <div class="flex gap-x-2 items-center">
                          <div class="w-1/5">
                              <tds-avatar size="xl" [shape]="'square'" [isAvatar]="false" class="bg-white h-[60px] w-[60px]" [tdsSrc]="detail?.value.ImageUrl">
                              </tds-avatar>
                          </div>

                          <div class="flex flex-col gap-y-1 cursor-pointer w-4/5">
                              <span class="font-semibold text-[14px]"> {{detail?.value.ProductNameGet || detail?.value.ProductName}}</span>

                              <!-- Tags -->
                              <div class="flex items-center gap-x-1">
                                <span *ngIf="detail?.value.Tags.length <= 0" class="text-info-500 font-normal text-sm cursor-pointer"
                                    (click)="openTag(detail.value)" tds-popover [popoverVisible]="indClickTag == (detail.value | indexSimpleDetailLiveCampain: detailsForm.controls)" popoverTrigger="click"
                                    [popoverContent]="contentAddtag" [popoverFooter]="footerAddTag" [popoverBackdrop]="true" [popoverAutoClose]="true" popoverPlacement="left">+Thêm cú pháp chốt đơn</span>

                                  <div class="flex flex-wrap items-center" *ngIf="detail?.value.Tags.length > 0">
                                      <div *ngFor="let item of (detail.value.Tags | stringToStringArray)" tds-tooltip [tooltipTitle]="item">
                                          <tds-tag class="mr-1 mb-1 cursor-pointer text-[13px]" status='primary'>{{ item | truncateString }}</tds-tag>
                                      </div>

                                      <button (click)="openTag(detail.value)" tds-popover [popoverVisible]="indClickTag == (detail.value | indexSimpleDetailLiveCampain: detailsForm.controls)" popoverTrigger="click"
                                          [popoverContent]="contentAddtag" [popoverFooter]="footerAddTag" [popoverBackdrop]="true" [popoverAutoClose]="true" popoverPlacement="left"
                                          tds-tooltip tooltipTitle="Thêm cú pháp chốt đơn"
                                          color="custom" size="sm" class="bg-transparent border-0 focus:ring-transparent">

                                          <div class="w-5 h-5 relative">
                                              <i class="tdsi-tag-fill text-neutral-1-500 text-base leading-4 select-all absolute top-0 left-0"></i>
                                              <svg class="border border-white bg-white rounded-full absolute bottom-0 right-0" width="12"
                                                height="12" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                  <path d="M6.00263 0.185353C5.78089 0.14704 5.55607 0.129611 5.3311 0.133295C3.96134 0.134421 2.64803 0.680863 1.67966 1.65259C0.711296 2.62431 0.167057 3.94186 0.166496 5.3158C0.162824 5.54146 0.180199 5.76697 0.218396 5.98938C0.342953 6.94846 0.732804 7.85338 1.34378 8.60162C1.95476 9.34986 2.76244 9.91151 3.67532 10.2229C4.5882 10.5344 5.56979 10.5831 6.50889 10.3637C7.44798 10.1443 8.30703 9.66541 8.98873 8.98138C9.67042 8.29736 10.1475 7.4355 10.3659 6.49346C10.5843 5.55142 10.5354 4.56685 10.2246 3.65129C9.91374 2.73574 9.3535 1.92579 8.60732 1.31322C7.86114 0.70065 6.95883 0.309939 6.00263 0.185353ZM8.09029 5.79283H5.80879V8.08342H4.85553V5.79283H2.57403V4.83665H4.85764V2.53756H5.81091V4.83878H8.09452L8.09029 5.79283Z" fill="#28A745" />
                                              </svg>
                                          </div>
                                      </button>
                                  </div>

                                <!-- button thêm nhãn -->
                                <ng-template #contentAddtag>
                                    <div class="w-[360px]">
                                        <tds-form-field>
                                            <tds-select [(ngModel)]="modelTags" [ngModelOptions]="{standalone: true}" placeholder='Nhập và chọn Tag' mode="tags"
                                              [allowClear]="true" [autoClose]="true" [valuePrimitive]="false"
                                              [data]="(detail.value.Tags | stringToStringArray)">
                                            </tds-select>
                                        </tds-form-field>
                                    </div>
                                </ng-template>

                                <ng-template #footerAddTag>
                                    <div class="flex justify-end pt-2">
                                        <button tds-button-icon color="secondary" type="button" class="mr-2" size="sm" (click)="onCloseTag()">
                                            <span class="flex items-center">
                                                <i class="tdsi-close-fill"></i>
                                            </span>
                                        </button>
                                        <button tds-button-icon size="sm" type="button" color="primary" (click)="onSaveTag(detail.value)">
                                            <span class="flex items-center">
                                                <i class="tdsi-checkbox-check-fill"></i>
                                            </span>
                                        </button>
                                    </div>
                                </ng-template>
                              </div>
                              <p class="text-[13px]">Đơn vị: {{detail.value.UOMName}}</p>
                          </div>
                        </div>
                      </td>

                      <!-- Ẩn/ hiện -->
                      <td>
                          <tds-switch size="md" formControlName="IsActive" (ngModelChange)="onChangeIsActive($event, detail.value)"></tds-switch>
                      </td>

                      <!-- Số lượng -->
                      <td>
                        <tds-form-field>
                            <tds-input-number [min]="0" [step]="1" formControlName="Quantity" (ngModelChange)="onChangeQuantity($event, detail.value)"
                               [formatter]="numberWithCommas" [parser]="parserComas">
                            </tds-input-number>
                        </tds-form-field>
                      </td>

                      <!-- Giới hạn trên đơn -->
                      <td>
                        <tds-form-field>
                          <tds-input-number [min]="0" [step]="1" formControlName="LimitedQuantity" (ngModelChange)="onChangeLimitedQuantity($event, detail.value)"
                              [formatter]="numberWithCommas" [parser]="parserComas">
                          </tds-input-number>
                        </tds-form-field>
                      </td>

                      <!-- Giá bán -->
                      <td>
                        <tds-form-field>
                          <tds-input-number [min]="0" [step]="1000" formControlName="Price" (ngModelChange)="onChangePrice($event, detail.value)"
                             [formatter]="numberWithCommas" [parser]="parserComas">
                          </tds-input-number>
                        </tds-form-field>
                      </td>

                      <!-- Thao tác -->
                      <td class="text-center">
                        <button tds-button-icon color="secondary" size="sm" type="button" (click)="removeDetail(detail.value)" tds-tooltip tooltipTitle="Xóa sản phẩm">
                            <span class="flex items-center">
                                <i class="tdsi-trash-fill text-neutral-1-500"></i>
                            </span>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </tds-table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </tds-spin>
