<tds-spin [spinning]="isLoading">
  <div class="w-full flex flex-col max-h-[calc(65vh)] text-body-2 text-neutral-1-900">
    <div class="flex gap-2" *ngIf="currentTab == getTabs().List">
      <tds-form-field class="w-full">
        <input tdsInput placeholder="Tìm kiếm" autocomplete="off" [(ngModel)]="keyFilterMail" [ngModelOptions]="{standalone: true}" [tdsInputDebounce]="750" (inputKeyup)="searchMail()"/>
        <span tdsPrefix><i class="text-neutral-1-500 tdsi-search-fill"></i></span>
      </tds-form-field>
      <button tds-button color="primary" (click)="onAddTemplate()" type="button">
        <span class="flex items-center">
          <i class="tdsi-plus-circle-fill text-lg leading-none mr-2"></i>Thêm mẫu mới
        </span>
      </button>
    </div>

    <div class="flex flex-col h-full pt-4 flex-auto  overflow-hidden">
      <div class="w-full h-full overflow-hidden flex" *ngIf="currentTab == getTabs().List">
          <div class="w-full max-h-full  overflow-hidden flex gap-x-4">
            <div class="w-2/5 overflow-y-auto tds-custom-scroll rounded-lg border border-neutral-2-100">
              <div *ngFor="let item of lstMessage; let idx = index"
                class="h-10 px-3 group hover:bg-neutral-3-50 cursor-pointer flex justify-between items-center border-neutral-2-200 border-b overflow-hidden" >
                <div [ngClass]="indexClick == idx?'w-3/4':''" class="group-hover:w-3/4 h-full py-3" (click)="onPreview(item.BodyPlain,idx)">
                  <div class="text-sm truncate"> {{item.Name}} </div>
                </div>
                <button [ngClass]="indexClick == idx?'block':'hidden'" class="group-hover:block bg-primary-1 text-white rounded-md text-caption-1 px-2.5 py-0.5 truncate" (click)="onMessage(item)">Gửi tin</button>
              </div>
              <span *ngIf="lstMessage.length == 0" class="h-10 p-3">Không có tên mẫu cần tìm</span>
            </div>
            <div class="w-3/5 bg-light-100 rounded-lg flex flex-row-reverse justify-center items-end">
              <div class="w-4/5 bg-white min-h-[400px] rounded-t-20 border-x-8 border-t-8 border-light-200 flex p-4 justify-end">
                <div class="w-5/6">
                  <div class="rounded-l-xl rounded-t-xl bg-light-100 p-4">
                    <span class=""> {{messagePreview}} </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>

      <div class="w-full max-h-full rounded flex overflow-hidden" *ngIf="currentTab == getTabs().Send && messageSelect">
        <div class="overflow-y-auto tds-custom-scroll w-full flex flex-col gap-y-2">
          <div class="flex justify-between items-center py-1">
            <p class="text-neutral-1-600 text-lg font-semibold">Tên mô tả: {{messageSelect.Name}}</p>
            <div class="flex gap-x-2 items-center pr-1">
              <button tds-button-icon color="secondary" tds-tooltip="Chỉnh sửa" size="sm">
                <i class="tdsi-edit-fill text-neutral-1-500"></i>
              </button>
              <button tds-button-icon color="secondary" tds-tooltip="Xóa" size="sm">
                <i class="tdsi-trash-fill text-neutral-1-500"></i>
              </button>
            </div>
          </div>
          <div class="text-sm font-normal bg-neutral-3-50 mt-4 p-4">
            {{messageSelect.BodyPlain}}
          </div>
          <div class="hover:bg-neutral-3-50 p-2 cursor-pointer flex justify-between items-center" *ngFor="let item of messageContent; let index = index" tds-tooltip [tooltipTitle]="tooltipTitleMessage">
            <div class="flex flex-col">
              <p class="font-semibold">{{index + 1}}. {{item.PartnerName}}</p>
              <span >{{item.OrderCode || item.SaleCode}}</span>
            </div>
            <div>
              <button tds-button-icon color="secondary" tds-tooltip="Xóa dòng" size="sm" (click)="onRemove(index)">
                <i class="tdsi-trash-fill text-neutral-1-500"></i>
              </button>
            </div>
            <ng-template #tooltipTitleMessage>
              <div class="max-w-[320px]">
                {{item.Content}}
              </div>
            </ng-template>
          </div>
          <div *ngIf="isLoading" class="w-full flex items-center justify-center">
            <tds-spinner [color]="'primary'" class="mr-1 h-8 w-8"> </tds-spinner>
          </div>
        </div>
      </div>

      <div class="w-full max-h-full rounded flex overflow-hidden" *ngIf="currentTab == getTabs().Add">
        <div  class="flex flex-col w-full gap-y-4 overflow-y-auto tds-custom-scroll p-1">
          <div class="">
            <p class="text-neutral-1-600 text-lg font-semibold">Thêm mẫu mới</p>
          </div>

          <form [formGroup]="formAddTemplate">
            <div class="grid grid-cols-1">
              <div class="grid grid-cols-3 gap-x-4 mt-4">
                <div class="">
                  <tds-label> Loại </tds-label>
                </div>
                <div class="col-span-2">
                  <p class="text-info-400 font-semibold"> Messenger </p>
                </div>
              </div>
              <div class="grid grid-cols-3 gap-x-4 mt-4">
                <div class="">
                  <tds-label> Tên mô tả </tds-label>
                </div>
                <div class="col-span-2">
                  <tds-form-field>
                    <input tdsInput placeholder="Tên mô tả" formControlName="Name" />
                </tds-form-field>
                </div>
              </div>
              <div class="grid grid-cols-3 gap-x-4 mt-4">
                <div class="">
                  <tds-label> Nội dung mẫu </tds-label>
                </div>
                <div class="col-span-2">
                  <tds-form-field>
                    <div class="flex items-start h-16">
                      <input tdsInput autocomplete="off" placeholder="Nội dung mẫu" formControlName="BodyPlain"/>
                    </div>
                  </tds-form-field>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>

    </div>
  </div>

  <div class="w-full flex justify-end p-4" *tdsModalFooter >
    <div class=" justify-end" *ngIf="currentTab == getTabs().List">
        <button tds-button class="mr-2" type="button" color="secondary" (click)="onCancel()">Đóng</button>
    </div>

    <div class="w-full flex justify-between" *ngIf="currentTab == getTabs().Send">
      <div>
        <button tds-button class="mr-2" type="button" color="secondary" (click)="onBack()">
          <span class="flex items-center gap-x-2">
            <i class="tdsi-back-fill text-xl leading-5"></i> Quay lại
          </span>
        </button>
      </div>
      <div>
        <button tds-button class="mr-2" type="button" color="secondary" (click)="onCancel()">Đóng</button>
        <button tds-button type="submit" color="primary" [disabled]="isLoading" (click)="onSendMessage()">Gửi</button>
      </div>
    </div>

    <div class="w-full flex justify-between" *ngIf="currentTab == getTabs().Add">
      <div>
        <button tds-button class="mr-2" type="button" color="secondary" (click)="onBack()">
          <span class="flex items-center gap-x-2">
            <i class="tdsi-back-fill text-xl leading-5"></i> Quay lại danh sách
          </span>
        </button>
      </div>
      <div>
        <button tds-button class="mr-2" type="button" color="secondary" (click)="onCancel()">Đóng</button>
        <button tds-button [disabled]="!formAddTemplate.valid" class="mr-2" type="submit" color="info" (click)="onSave()">Lưu mẫu mới</button>
        <button tds-button [disabled]="!formAddTemplate.valid" type="button" color="primary" (click)="onSave('use')">Lưu mẫu và gửi</button>
      </div>
    </div>
  </div>
</tds-spin>
