<tds-spin [spinning]="isLoading" *ngIf="dataModel">
    <tds-tabset class="border border-neutral-2-100 rounded-md">
    <tds-tab title="Thông tin chung">
        <form [formGroup]="_form" novalidate>
            <div class="flex flex-col w-full">
                <div class="mb-4">
                  <upload-pictures-wall [data]="[_form.controls['ImageUrl'].value]" [isArray]="false" (onLoadImage)="onLoadImage($event)"></upload-pictures-wall>
                </div>
                <tds-form-field class="mb-4">
                    <tds-label>Tên sản phẩm:</tds-label>
                    <input tdsInput formControlName="Name" placeholder="Nhập tên sản phẩm" class="text-neutral-1-900 text-body-2 font-regular"/>
                    <tds-error>
                        Vui lòng nhập tên sản phẩm
                    </tds-error>
                </tds-form-field>

                <tds-form-field class="mb-4">
                    <tds-label>Nhóm sản phẩm:</tds-label>
                    <tds-select valueField="Id" textField="Name" placeholder='Chọn nhóm sản phẩm'
                        disabledField="isActive" formControlName="CategId"
                        [data]="lstProductCategory" [allowClear]="true">
                    </tds-select>
                    <tds-error>
                        Vui lòng chọn nhóm sản phẩm
                    </tds-error>
                </tds-form-field>

                <tds-form-field class="mb-4">
                    <tds-label>Đơn vị mua:</tds-label>
                    <tds-select valueField="Id" textField="Name" placeholder='Chọn đơn vị mua'
                        disabledField="isActive" formControlName="UOMId"
                        [data]="lstProductUOM" [allowClear]="true">
                    </tds-select>
                    <tds-error>
                        Vui lòng chọn đơn vị mua
                    </tds-error>
                </tds-form-field>

                <tds-form-field>
                    <tds-label>Giá biến thể:</tds-label>
                    <tds-input-number formControlName="PriceVariant" [min]="0" class="text-neutral-1-900 text-body-2 font-regular"></tds-input-number>
                    <tds-error>
                        Vui lòng nhập giá biến thể
                    </tds-error>
                </tds-form-field>
            </div>
        </form>
    </tds-tab>
    <tds-tab title="Hình ảnh">
      <div class="w-full">
          <!-- <upload-pictures-wall [data]="dataModel.Images" [isArray]="true"></upload-pictures-wall> -->
      </div>
    </tds-tab>
    </tds-tabset>
</tds-spin>

<div class="w-full flex justify-end p-4" *tdsModalFooter>
    <button tds-button class="mr-2" color="secondary" (click)="cancel()">
        Hủy bỏ
    </button>
    <button tds-button type="button" [disabled]="!_form?.valid" color="primary" (click)="onSave()">
        Lưu thay đổi
    </button>
</div>
