
@import '~@ctrl/ngx-emoji-mart/picker';
.emoji-mart-emoji.emoji-mart-emoji-native.ng-star-inserted {
    span {
        top: -2.5px;
        left: -4px;
    }
}

ngx-emoji {
    button {
        span {
            cursor: pointer !important;
        }
    }
}

button.emoji-mart-search-icon {
    top: 7px
}

.emoji-mart-scroll {
    @extend .tds-custom-scroll;
}
