<div class="h-full w-full bg-white rounded-xl flex flex-col" *ngIf="lstOfData">
  <div class="w-full flex space-x-2 justify-end items-center px-4 py-2.5">
    <div class="w-1/4">
        <tds-form-field class="w-full">
            <input aria-colspan="" class="placeholder-neutral-1-400" placeholder="Tìm kiếm" tdsInput autocomplete="off"
                [(ngModel)]="innerText" [tdsInputDebounce]="750" (inputKeyup)="onSearch($event)" />
            <span tdsPrefix><i class="text-neutral-1-500 tdsi-search-fill text-base"></i></span>
            <span tdsSuffix class="cursor-pointer rounded-lg" title="Xóa tìm kiếm" (click)="onClearFilterSearch()" *ngIf="innerText">
                <i class="text-neutral-1-500 tdsi-close-fill"></i>
            </span>
        </tds-form-field>
    </div>

    <filter-option-campaign (onLoadOption)="onLoadOption($event)" [currentDateRanges]="currentDateRanges" [filterObj]="filterObj" ></filter-option-campaign>
    <config-column [columns]="hiddenColumns" (columnsChange)="columnsChange($event)"></config-column>
  </div>

  <div #viewChildWidthTable class="h-full pb-2.5" >
    <tds-table #rowSelectionTable [showSizeChanger]="true" [frontPagination]="false"
        [listData]="lstOfData" [(pageSize)]="pageSize" [(pageIndex)]="pageIndex" [total]="count"
        [scroll]="{y:'auto', x: '1200px'}" [loading]="isLoading" (clickRefresh)="refreshData()"
        (queryParams)="onQueryParamsChange($event)"
        [widthConfig]="['44px','266px','100px','100px','100px','100px','100px','100px','300px','155px','155px','155px']">
        <thead>
            <tr>
                <th class="border-r" [tdsLeft]="true" rowspan="2"></th>
                <th [tdsLeft]="true" class="border-r" rowspan="2" *ngIf="isHidden('Name')">Tên chiến dịch</th>
                <th class="text-center border-r border-b" colspan="3" *ngIf="isHidden('Order')">Đơn hàng</th>
                <th class="text-center border-r border-b" colspan="3" *ngIf="isHidden('Product')">Sản phẩm</th>
                <th class="border-r" rowspan="2" *ngIf="isHidden('ResumeTime')">Thống kê gửi tin</th>
                <th class="border-r text-center" rowspan="2" *ngIf="isHidden('IsActive')">Hoạt động</th>
                <th class="border-r text-center" rowspan="2" *ngIf="isHidden('DateCreated')">Ngày tạo</th>
                <th class="border-r text-center" [tdsRight]="true" rowspan="2">Thao tác</th>
            </tr>
            <tr>
                <th class="border-r text-center" *ngIf="isHidden('Order')">Chờ chốt</th>
                <th class="border-r text-center" *ngIf="isHidden('Order')">Đã chốt</th>
                <th class="border-r text-center" *ngIf="isHidden('Order')">Đã hủy</th>
                <th class="border-r text-center" *ngIf="isHidden('Product')">Chờ chốt</th>
                <th class="border-r text-center" *ngIf="isHidden('Product')">Đã chốt</th>
                <th class="border-r text-center" *ngIf="isHidden('Product')">Đã hủy</th>
            </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-data [ngForOf]="rowSelectionTable.data" let-odd='odd' let-index="index">
            <tr class="text-body-2 text-neutral-900 font-regular">

                <td [expand]="expandSet.has(data.Id)" class="border-r text-center"
                    (expandChange)="onExpandChange(data.Id, $event)" [tdsLeft]="true"
                    [style]="setOfCheckedId.has(data.Id) ? 'background-color:#F2FCF5' : '' ">
                </td>

                <!-- Tên chiến dịch -->
                <td [tdsLeft]="true" class="border-r" *ngIf="isHidden('Name')">
                    <div class="w-full">
                        <span>{{data.Name}}</span>
                    </div>
                </td>

                <!-- Đơn hàng -->
                <td class="border-r text-center" *ngIf="isHidden('Order')">
                    <div class="w-full">
                        <span>{{data.SumOrderWaitCheckOut | numberCustom }}</span>
                    </div>
                </td>
                <td class="border-r text-center" *ngIf="isHidden('Order')">
                    <div class="w-full">
                        <span>{{data.SumOrderCheckOut | numberCustom }}</span>
                    </div>
                </td>
                <td class="border-r text-center"  *ngIf="isHidden('Order')">
                    <div class="w-full">
                        <span class="text-error-400"> {{data.SumOrderCancelCheckOut | numberCustom }}</span>
                    </div>
                </td>

                <!-- Sản phẩm -->
                <td class="border-r text-center" *ngIf="isHidden('Product')">
                    <div class="w-full">
                        <span> {{data.SumQtyWaitCheckOut | numberCustom }}</span>
                    </div>
                </td>
                <td class="border-r text-center" *ngIf="isHidden('Product')">
                  <div class="w-full">
                      <span> {{data.SumQtyCheckOut | numberCustom }}</span>
                  </div>
                </td>
                <td class="border-r text-center"  *ngIf="isHidden('Product')">
                    <div class="w-full">
                        <span class="text-error-400"> {{data.SumCancelCheckout | numberCustom }}</span>
                    </div>
                </td>

                <!-- Thống kê gửi tin -->
                <td class="border-r"  *ngIf="isHidden('ResumeTime')">
                    <div class="w-full">
                        <div class="w-full">
                            <span class="font-semibold mr-2">Tổng hợp:</span>
                            <span class="text-info-400"> {{data.ResumeTime || 0}} phút </span>
                        </div>
                        <div class="mt-1">{{data.StartDate | date:'dd/MM/yyyy HH:mm'}} - {{data.EndDate | date:'dd/MM/yyyy HH:mm'}}</div>
                    </div>
                </td>

                <!-- Hoạt động -->
                <td class="border-r"  *ngIf="isHidden('IsActive')">
                    <div class="text-left w-full flex justify-center">
                        <tds-switch size="md" [checked]="data.IsActive" (change)="onChangeActive($event, data)"></tds-switch>
                    </div>
                </td>

                <!-- Ngày tạo -->
                <td class="border-r" *ngIf="isHidden('DateCreated')">
                    <div class="w-full flex justify-center">
                        <span>{{data.DateCreated | date:'dd/MM/yyyy HH:mm'}}</span>
                    </div>
                </td>

                <!-- Thao tác -->
                <td [tdsRight]="true" class="border-r"
                    [style]="setOfCheckedId.has(data.Id)?'background-color:#F2FCF5' : '' ">
                    <div class="flex gap-x-2 w-full justify-center">
                        <button tds-button-icon color="secondary" size="sm" (click)="onDetail(data.Id)" tds-tooltip tooltipTitle="Xem chi tiết">
                            <span class="flex items-center">
                                <i class="tdsi-eye-open-fill text-neutral-1-500"></i>
                            </span>
                        </button>

                        <button tds-button-icon color="secondary" size="sm" (click)="onEdit(data.Id)" tds-tooltip tooltipTitle="Chỉnh sửa chiến dịch">
                            <span class="flex items-center">
                                <i class="tdsi-edit-fill text-neutral-1-500"></i>
                            </span>
                        </button>

                        <button tds-button-icon color="secondary" size="sm" tds-dropdown trigger="click" [tdsDropdownMenu]="menu">
                            <span class="flex items-center">
                                <i class="tdsi-three-dots-horizon-fill text-neutral-1-500"></i>
                            </span>
                        </button>

                        <tds-dropdown-menu #menu="tdsDropdownMenu">
                            <div class="w-full">
                                <div tds-dropdown-item (click)="onCopyCampaign(data.Id)">
                                    <a> Sao chép chiến dịch </a>
                                </div>
                                <div tds-dropdown-item (click)="showModalRemove(data)">
                                    <a class="text-error-400"> Xóa chiến dịch </a>
                                </div>
                            </div>
                        </tds-dropdown-menu>
                    </div>
                </td>
            </tr>
            <!-- expand  details -->
            <tr [expand]="expandSet.has(data.Id)" class="border-b border-neutral-2-100 text-neutral-1-900 bg-light-50 w-full">
              <expand-live-campaign class="w-full p-3 block" *ngIf="expandSet.has(data.Id)" [liveCampaignId]="data.Id"></expand-live-campaign>
            </tr>
          </ng-template>
        </tbody>
    </tds-table>
  </div>
</div>
