<div class="w-full" *tdsModalTitle>
  <div class="flex gap-x-4 w-full items-center">
    <button type="button"
      class="bg-neutral-3-50 justify-center flex !rounded-full h-[38px] w-[38px] items-center text-xl"
      (click)="onBack()">
      <i class="tdsi-sort-arrow-down-fill rotate-90"></i>
    </button>
    <div class="flex flex-col gap-y-2">
      <span class="font-semibold text-xl">Title</span>
      <span class="text-neutral-1-700">DateCreated</span>
    </div>
  </div>
</div>

<div class="h-[650px] w-full bg-slate-100 p-4 rounded-b-lg">
  ádfghádfghádfgh
</div>
