<div class="p-4 flex flex-col items-center w-full justify-center text-body-2 h-full notification-custom text-neutral-1-900">
  <div class="w-3/4 flex flex-col rounded-xl bg-white h-full">
    <div class="h-full w-full">
      <tds-spin [spinning]="isLoading" class="h-full w-full flex flex-col items-center">
        <div class="flex flex-col w-full h-full overflow-hidden">
          <div class="w-full border-b border-neutral-200 p-4">
            <div class="flex gap-x-4 w-full items-center">
              <div class="px-2">
                <button type="button" class="bg-neutral-3-50 justify-center flex !rounded-full h-[38px] w-[38px] items-center text-xl" (click)="onBack()">
                  <i class="tdsi-sort-arrow-down-fill rotate-90"></i>
                </button>
              </div>
              <div class="flex flex-col gap-y-2">
                <span class="font-semibold text-xl">Title</span>
                <span class="text-neutral-1-700">DateCreated</span>
              </div>
            </div>
          </div>

          <div class="p-4 flex flex-col gap-y-6 flex-auto overflow-hidden overflow-y-auto tds-panel-scroll">
            <div class="w-full flex flex-col items-center gap-y-2 justify-center">
              <div class="w-1/2 flex justify-center">
                <!-- <img [src]="data.Image" class="max-w-full max-h-[373px]" alt=""> -->
              </div>
              <span class="text-caption-2 text-center">Title</span>
            </div>
            <div class="flex-auto flex flex-col gap-y-2 ">
              <!-- <pre class="pre content-message_format" *ngIf="data?.Content" [innerHTML]="data.Content"></pre> -->
              <!-- <span *ngIf="data?.Description">{{data.Description}}</span> -->
              <div class="flex flex-col gap-y-2">
                <!-- <div *ngFor="let topic of data.Topics" class="flex flex-col gap-y-2">
                  <a href="{{topic.Url}}">
                    <p>Chủ đề: {{topic.Title}}</p>
                  </a>
                  <span>{{topic.Description}}</span>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </tds-spin>
    </div>
  </div>
</div>
