<div class="w-full h-full flex flex-col text-body-2">
    <tds-page-header title="Chiến dịch live" class="bg-white pt-4">
        <tds-page-header-extra class="flex space-x-8 items-center">
            <button tds-button color="primary">
                <span class="flex items-center">
                    <i class="tdsi-plus-circle-fill text-lg leading-none mr-2"></i>Thêm mới
                </span>
            </button>
            <div class="flex">
                <div class="text-neutral-1-400 my-auto">Hiển thị tổng quan:</div>
                <button tds-button color="secondary" tds-dropdown trigger="click" [tdsDropdownMenu]="menu"
                    class="border-0 hover:bg-transparent focus:ring-0">
                    <span class="flex items-center text-primary-1">
                        Tuần này <i class="tdsi-arrow-down-fill text-lg leading-none ml-2 text-neutral-1-500"></i>
                    </span>
                </button>
                <tds-dropdown-menu #menu="tdsDropdownMenu">
                    <div class="w-full">
                        <div tds-dropdown-item>
                            <a> 7 ngày qua </a>
                        </div>
                        <div tds-dropdown-item>
                            <a> 30 ngày qua </a>
                        </div>
                        <div tds-dropdown-item>
                            <a> Tuần này </a>
                        </div>
                        <div tds-dropdown-item>
                            <a> Tháng này </a>
                        </div>
                        <div tds-dropdown-item>
                            <a> Tháng trước </a>
                        </div>
                    </div>
                </tds-dropdown-menu>
            </div>
        </tds-page-header-extra>
    </tds-page-header>
    <div class="h-full w-full flex flex-col space-y-4 p-4">
        <div class="grid grid-cols-3 gap-6">
            <div class="bg-white rounded-xl p-6 flex space-x-6">
                <div><img src="assets/images/live-campaign/product.svg" alt=""></div>
                <div class="w-full flex flex-col space-y-2">
                    <div class="flex justify-between items-center">
                        <div class="text-neutral-1-500">Tổng số lượng sản phẩm</div>
                        <div class="text-header-1 font-semibold text-neutral-1-900">1200</div>
                    </div>
                    <div class="flex justify-between items-center">
                        <div class="text-neutral-1-500">Số lượng đã chốt</div>
                        <div class="text-header-1 font-semibold text-neutral-1-900">200</div>
                    </div>
                    <div class="flex justify-between items-center">
                        <div class="text-neutral-1-500">Số lượng bị hủy</div>
                        <div class="text-header-1 font-semibold text-error-400">8</div>
                    </div>
                </div>
            </div>
            <div class="bg-white rounded-xl p-6 flex space-x-6">
                <div><img src="assets/images/live-campaign/order.svg" alt=""></div>
                <div class="w-full flex flex-col space-y-2">
                    <div class="flex justify-between items-center">
                        <div class="  text-neutral-1-500">Tổng đơn chờ chốt</div>
                        <div class="text-header-1 font-semibold text-neutral-1-900">50</div>
                    </div>
                    <div class="flex justify-between items-center">
                        <div class="  text-neutral-1-500">Tổng đơn đã chốt</div>
                        <div class="text-header-1 font-semibold text-neutral-1-900">3</div>
                    </div>
                    <div class="flex justify-between items-center">
                        <div class="  text-neutral-1-500">Tổng đơn bị hủy</div>
                        <div class="text-header-1 font-semibold text-error-400">1</div>
                    </div>
                </div>
            </div>
            <div class="bg-white rounded-xl p-6 flex space-x-6">
                <div><img src="assets/images/live-campaign/money.svg" alt=""></div>
                <div class="w-full flex flex-col space-y-2">
                    <div class="flex justify-between items-center">
                        <div class="  text-neutral-1-500">Tiền chờ chốt</div>
                        <div class="text-header-1 font-semibold text-neutral-1-900">200.000.000</div>
                    </div>
                    <div class="flex justify-between items-center">
                        <div class="  text-neutral-1-500">Tiền chờ thanh toán</div>
                        <div class="text-header-1 font-semibold text-neutral-1-900">1.000.000</div>
                    </div>
                    <div class="flex justify-between items-center">
                        <div class="  text-neutral-1-500">Tiền đã thanh toán</div>
                        <div class="text-header-1 font-semibold text-error-400">200.000</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="h-full w-full bg-white rounded-xl flex flex-col">
            <div class="w-full flex space-x-2 justify-end items-center px-4 py-2.5">
                <div class="w-1/4">
                    <tds-form-field class="w-full">
                        <input aria-colspan="" class="placeholder-neutral-1-400" placeholder="Tìm kiếm chiến dịch"
                            tdsInput />
                        <span tdsPrefix><i class="text-neutral-1-500 tdsi-search-fill text-base"></i></span>
                    </tds-form-field>
                </div>
                <button tds-button-icon color="secondary">
                    <span class="flex items-center">
                        <i class="tdsi-filter-2-line"></i>
                    </span>
                </button>
                <button tds-button-icon color="secondary">
                    <span class="flex items-center">
                        <i class="tdsi-column-setting-fill"></i>
                    </span>
                </button>
            </div>
            <div class="h-full pb-2.5">
                <tds-table class="table-vertical-line" #table [listData]="listOfData" [scroll]="{y:'auto'}"
                    [pageSize]="20" showPagination showSizeChanger>
                    <thead>
                        <tr>
                            <th rowSpan="2" width="68px"></th>
                            <th rowSpan="2">Tên chiến dịch</th>
                            <th colSpan="3" class="text-center">Đơn hàng</th>
                            <th colSpan="3" class="text-center">Sản phẩm</th>
                            <th rowSpan="2">Thống kê gửi tin</th>
                            <th rowSpan="2">Hoạt động</th>
                            <th rowSpan="2">Ngày tạo</th>
                            <th rowSpan="2">Thao tác</th>
                        </tr>
                        <tr class="">
                            <th>Chờ chốt</th>
                            <th>Đã chốt</th>
                            <th>Đã hủy</th>
                            <th>Chờ chốt</th>
                            <th>Đã chốt</th>
                            <th>Đã hủy</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let data of table.data">
                            <tr>
                                <td [expand]="expandSet.has(data.id)" (expandChange)="onExpandChange(data.id, $event)">
                                </td>
                                <td>{{ data.name }}</td>
                                <td>4</td>
                                <td>4</td>
                                <!-- style chỉnh sửa sau -->
                                <td style="color: red;">5</td>
                                <td>9</td>
                                <td>9</td>
                                <!-- style chỉnh sửa sau -->
                                <td style="color: red;">5</td>
                                <td>
                                  <div class="flex space-x-1 font-semibold">
                                    <span>Tổng hợp: </span>
                                    <span style="color: blue;">0 phút</span>
                                  </div>
                                  <div class="mt-1">
                                    <span>31/05/2022</span>
                                  </div>
                                </td>
                                <td>
                                  <div>
                                    <tds-switch size="md"></tds-switch>
                                  </div>
                                </td>
                                <td>06/10/2022</td>
                                <td>
                                    <div class="flex space-x-2">
                                        <button tds-button-icon color="secondary" size="sm">
                                            <span class="flex items-center">
                                                <i class="tdsi-eye-open-fill"></i>
                                            </span>
                                        </button>
                                        <button tds-button-icon color="secondary" size="sm">
                                            <span class="flex items-center">
                                                <i class="tdsi-edit-fill"></i>
                                            </span>
                                        </button>
                                        <button tds-button-icon color="secondary" size="sm" tds-dropdown trigger="click" [tdsDropdownMenu]="menu">
                                            <span class="flex items-center">
                                                <i class="tdsi-three-dots-horizon-fill"></i>
                                            </span>
                                        </button>
                                        <tds-dropdown-menu #menu="tdsDropdownMenu">
                                            <div class="w-full">
                                                <div tds-dropdown-item>
                                                    <a> Sao chép chiến dịch </a>
                                                </div>
                                                <div tds-dropdown-item>
                                                    <a class="text-error-400"> Xóa chiến dịch </a>
                                                </div>
                                            </div>
                                        </tds-dropdown-menu>
                                    </div>
                                </td>
                            </tr>
                            <tr [expand]="expandSet.has(data.id)" class="bg-neutral-3-50">
                                <div class="w-full bg-white rounded-md">
                                    <tds-tabset class="bg-transparent">
                                        <tds-tab [title]="titleTemplate" clsContent="h-full w-full pb-2.5">
                                            <ng-template #titleTemplate let-active="active">
                                                <div class="p-4 font-semibold  border-b-3 cursor-pointer group flex items-center"
                                                    [ngClass]='{"border-primary-1":active,"border-transparent text-neutral-1-400  hover:border-primary-1":!active}'>
                                                    <span class="mr-2">Chi tiết</span>
                                                    <div class="text-caption-2 font-semibold py-0.5 px-1.5 rounded-full flex"
                                                        [ngClass]="{'text-white bg-primary-1':active,'text-neutral-1-500 bg-neutral-3-100 group-hover:text-white group-hover:bg-primary-1':!active}">
                                                        10
                                                    </div>
                                                </div>
                                            </ng-template>
                                            <div class="h-60">
                                                <tds-table #rowSelectionTable showPagination showSizeChanger
                                                    [listData]="listOfData" [scroll]="{y:'auto'}">
                                                    <thead>
                                                        <tr class="bg-neutral-3-50">
                                                            <th>STT</th>
                                                            <th>Sản phẩm</th>
                                                            <th>Đơn vị tính</th>
                                                            <th>Số lượng</th>
                                                            <th>Đơn giá</th>
                                                            <th>Hoạt động</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <ng-container *ngFor="let data of table.data">
                                                            <tr>
                                                                <td>{{ data.name }}</td>
                                                                <td>{{ data.name }}</td>
                                                                <td>{{ data.name }}</td>
                                                                <td>{{ data.name }}</td>
                                                                <td>{{ data.age }}</td>
                                                                <td>
                                                                  <div>
                                                                    <tds-switch size="md"></tds-switch>
                                                                  </div>
                                                                </td>
                                                            </tr>
                                                        </ng-container>
                                                    </tbody>
                                                </tds-table>
                                            </div>
                                        </tds-tab>
                                        <tds-tab title="Thông tin" clsContent="bg-white p-4 border-t rounded-b-md">
                                          <div class="w-full grid grid-cols-3 gap-8">
                                            <div class="grid grid-cols-3 gap-4">
                                              <div>Tên chiến dịch:</div>
                                              <div class="col-span-2 font-semibold">Live123</div>
                                              <div>Ghi chú:</div>
                                              <div class="col-span-2 font-semibold">Live hè</div>
                                              <div>Nhân viên chốt đơn:</div>
                                              <div class="col-span-2 font-semibold">admin</div>
                                            </div>
                                            <div class="grid grid-cols-3 gap-4">
                                              <div>Facebook:</div>
                                              <div class="col-span-2 font-semibold text-blue-500">Test Tpos</div>
                                              <div>Live ID:</div>
                                              <div class="col-span-2 font-semibold">102062215768068_1041277296511325</div>
                                              <div>Đặt cọc tối thiểu:</div>
                                              <div class="col-span-2 font-semibold">10.000 đ</div>
                                            </div>
                                            <div class="grid grid-cols-3 gap-4">
                                              <div>Đặt cọc bắt buộc:</div>
                                              <div class="col-span-2 font-semibold">0 đ</div>
                                            </div>
                                          </div>
                                        </tds-tab>
                                        <tds-tab [title]="titleTemplate2" clsContent="bg-neutral-3-50 p-4">
                                            <ng-template #titleTemplate2 let-active="active">
                                                <div class="p-4 font-semibold  border-b-3 cursor-pointer group flex items-center"
                                                    [ngClass]='{"border-primary-1":active,"border-transparent text-neutral-1-400  hover:border-primary-1":!active}'>
                                                    <span class="mr-2">Danh sách bài viết</span>
                                                    <div class="text-caption-2 font-semibold py-0.5 px-1.5 rounded-full flex" [ngClass]="{'text-white bg-primary-1':active,'text-neutral-1-500 bg-neutral-3-100 group-hover:text-white group-hover:bg-primary-1':!active}">
                                                        2
                                                    </div>
                                                </div>
                                            </ng-template>
                                            <div class="w-full grid grid-cols-3 gap-8">
                                                <div class="bg-white p-4 rounded-lg flex space-x-4">
                                                  <div class="flex flex-col space-y-3">
                                                    <div><img src="assets/images/live-campaign/post-img.svg" alt=""></div>
                                                    <div class="flex space-x-4 text-neutral-1-400">
                                                      <div class="flex items-center">
                                                        <i class="tdsi-like-line text-base"></i>
                                                        <span class="ml-1">10</span>
                                                      </div>
                                                      <div class="flex items-center">
                                                        <i class="tdsi-livechat-line text-base"></i>
                                                        <span class="ml-1">10</span>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="w-full">
                                                    <div class="text-error-400 font-semibold">Wiki Bot đang phát trực tiếp</div>
                                                    <div class="mt-1">
                                                      <p tds-typography ellipsis [ellipsisRows]="2" class="w-full">
                                                        Hàng công nghệ xả kho giá sốc hàng công nghệ xả kho giá rẻ mua 1 tặng 3,
                                                        mua nào bà con ơi...
                                                      </p>
                                                    </div>
                                                    <div class="mt-2 text-neutral-1-400">2 giờ trước</div>
                                                  </div>
                                                </div>
                                                <div class="bg-white p-4 rounded-lg flex space-x-4">
                                                  <div class="flex flex-col space-y-3">
                                                    <div><img src="assets/images/live-campaign/post-img.svg" alt=""></div>
                                                    <div class="flex space-x-4 text-neutral-1-400">
                                                      <div class="flex items-center">
                                                        <i class="tdsi-like-line text-base"></i>
                                                        <span class="ml-1">10</span>
                                                      </div>
                                                      <div class="flex items-center">
                                                        <i class="tdsi-livechat-line text-base"></i>
                                                        <span class="ml-1">10</span>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="w-full">
                                                    <div class="mt-1">
                                                      <p tds-typography ellipsis [ellipsisRows]="2" class="w-full">
                                                        Hàng công nghệ xả kho giá sốc hàng công nghệ xả kho giá rẻ mua 1 tặng 3,
                                                        mua nào bà con ơi...
                                                      </p>
                                                    </div>
                                                    <div class="mt-2 text-neutral-1-400">2 giờ trước</div>
                                                  </div>
                                                </div>
                                            </div>
                                        </tds-tab>
                                    </tds-tabset>
                                </div>
                            </tr>
                        </ng-container>
                    </tbody>
                </tds-table>
            </div>
        </div>
    </div>
</div>
