<tds-spin [spinning]="isLoading" *ngIf="data" class="h-full w-5/6 flex flex-col p-4 gap-y-4">
  <div class="bg-info-400 rounded-md flex justify-between px-4 py-3 text-body-2 text-white items-center" [ngClass]="deviceToken ? 'hidden' : '' ">
    <div class="flex gap-x-2.5 items-center">
      <i class="tdsi-information-fill text-white text-xl leading-none"></i>
      <span>Tùy chỉnh nhận thông báo cho thiết bị của bạn!</span>
    </div>
    <div class="h-7 flex items-center cursor-pointer" (click)="requestPermission()">
      <span class="font-semibold">Đăng kí thiết bị</span>
    </div>
  </div>

  <div class="h-full w-full flex gap-x-4">
    <div class="w-1/4 h-full flex flex-col bg-white rounded-xl">
      <div class="flex justify-between items-center p-4">
        <span class="text-title-1 font-semibold">Thông báo</span>
        <button tds-button-icon color="custom" (click)="modalGetNotifications()" [ngClass]="deviceToken ? '' : 'hidden'"
          class="text-neutral-1-500 border-0 border-transparent ring-0 ring-transparent bg-transparent hover:text-neutral-1-500 hover:bg-neutral-3-50 focus:text-neutral-1-500 focus:bg-neutral-3-50">
          <i class="tdsi-gear-2-fill"></i>
        </button>
      </div>
      <div class="w-full h-full pb-3">
        <div class="flex flex-col h-full w-full">
          <virtual-scroller #scroll [items]="data" (vsEnd)="vsEnd($event)" [enableUnequalChildrenSizes]="true" [scrollAnimationTime]="750"
            class="h-full w-full p-2 text-caption-1 overflow-hidden overflow-y-auto tds-custom-scroll bg-white flex flex-col gap-y-2">

            <div *ngFor="let item of scroll.viewPortItems" (click)="onDetail(item)"
              class="flex flex-auto justify-between items-start overflow-hidden cursor-pointer hover:bg-neutral-3-50 border-l-3"
              [ngClass]="item.id == dataDetail.id ? 'border-blue-500 bg-secondary-3': 'border-transparent bg-white'">
              <div class="flex gap-x-4 p-4 justify-between w-full overflow-hidden">
                <div class="w-full flex gap-x-4" [ngClass]="item.dateRead ? 'text-neutral-1-400' : ''">
                  <tds-avatar [shape]="'square'" [size]="63" tdsSrc="{{ item?.notification?.thumbnail }}"
                    [isAvatar]="false" class="rounded min-w-[63px]"></tds-avatar>
                  <div class="w-full flex flex-col flex-auto overflow-hidden">
                    <span class="text-body-2 font-semibold truncate break-words">{{ item?.notification?.title }}</span>
                    <span class="truncate text-body-2 break-words">{{ item?.notification?.shortContent }}</span>
                    <span class="text-caption-2 font-semibold" [ngClass]="item.dateRead ? '' : 'text-info-400'">{{
                      item?.dateCreated | yiDiffDateTime }} - {{ item?.dateCreated | date: 'dd/MM/yyyy' }}</span>
                  </div>
                </div>
              </div>
              <div class="pt-2 pr-2" [ngClass]="item?.dateRead ? 'hidden' : ''">
                <span class="tdsi-radio-circle-fill text-info-400 text-xs"></span>
              </div>
            </div>
            <div *ngIf="isLoadingNextdata" class="p-4 bg-white">
              <tds-skeleton [tdsActive]="true" [tdsAvatar]="true" [tdsParagraph]="{ rows: 2 }"></tds-skeleton>
            </div>
          </virtual-scroller>
        </div>
      </div>
    </div>
    <div class="h-full w-3/4 rounded-xl flex flex-col bg-white">
      <div class="w-full items-center flex p-4">
        <div class="flex flex-col gap-y-2">
          <span class="font-semibold text-header-2 text-neutral-1-900">{{ dataDetail?.notification?.title }}</span>
          <span class="text-caption-2 text-neutral-1-700 w-full">{{ dataDetail?.dateCreated | yiDiffDateTime }} - {{
            dataDetail?.dateCreated | date: 'dd/MM/yyyy' }}</span>
        </div>
      </div>

      <div class="w-full h-full border-t border-neutral-2-200 p-4">
        <div class="">
          {{ dataDetail?.notification?.shortContent }}
        </div>
      </div>
    </div>
  </div>
</tds-spin>
