
<div class="w-full h-full flex flex-col">
    <label class="flex w-full">
        <input type="file" class="form-control hidden" (change)="handleFileInput($event)"/>
        
        <div class="cursor-pointer inline-flex w-full">
            <div class="bg-white rounded-l rounded-bl border border-neutral-2-200 h-[34px] flex items-center px-3 hover:bg-neutral-3-50 active:neutral-3-50">
                <span class="flex items-center font-semibold">
                <i class="tdsi-upload-fill text-lg text-neutral-1-500 leading-none mr-2"></i>Upload File
                </span>
            </div>
            <div class="bg-white col-span-2 flex flex-auto items-center rounded-r rounded-br border border-l-0 border-neutral-2-200 h-[34px]">
                <input tdsInput [(ngModel)]="fileName" placeholder="chưa có file được chọn" disabled="true">
            </div>
        </div>
    </label>
    <div *ngFor="let err  of messageError" class="w-full flex flex-col col-span-3 gap-y-1 mt-4 max-h-[80px] overflow-auto tds-panel-scroll">
        <span class="text-error-400 w-full">{{err}}</span>
    </div>
</div>

<!-- footer -->
<div class="w-full flex justify-end gap-2 p-4" *tdsModalFooter>
  <button tds-button color="secondary" type="button" (click)="onSave()">
      Import
  </button>

  <a tds-button  type="submit" color="primary" type="button" (click)="openUrlSample()">
      Tải file mẫu
  </a>
  <button tds-button  type="submit" color="primary" type="button" (click)="onClose()">
      Đóng
  </button>
</div>