<div class="w-full h-full bg-white rounded-xl text-body-2 text-neutral-1-900 flex flex-col">
  <div class="p-4 font-semibold text-xl flex gap-x-3 justify-end">
    <tds-form-field class="w-[320px]">
      <input tdsInput placeholder="Tìm kiếm" autocomplete="off"
        [(ngModel)]="filterObj.searchText"
        [tdsInputDebounce]="750"
        (inputKeyup)="onSearch($event)" />
      <span tdsPrefix><i class="text-neutral-1-500 tdsi-search-fill"></i></span>
    </tds-form-field>
    <bill-filter-options (onLoadOption)="onLoadOption($event)"></bill-filter-options>
    <config-column [columns]="hiddenColumns" (columnsChange)="columnsChange($event)"></config-column>
  </div>

  <div class="h-full pb-2.5">
    <tds-table #table
      [showSizeChanger]="true"
      [frontPagination]="false"
      [(pageSize)]="pageSize"
      [(pageIndex)]="pageIndex"
      [listData]="lstOfData"
      [scroll]="{y:'auto'}"
      [loading]="isLoading"
      [total]="count"
      [scroll]="{y:'auto'}"
      (clickRefresh)="refreshData()"
      (queryParams)="onQueryParamsChange($event)">
      <thead>
        <tr>
          <th [tdsLeft]="true" [width]="'44px'" [(checked)]="checked" [indeterminate]="indeterminate" class="border-r">
          </th>
          <th [tdsLeft]="true" [align]="'center'" [width]="'57px'" class="border-r">STT</th>
          <th *ngIf="isHidden('IRAttachmentUrl')" [tdsLeft]="true" [width]="'200px'" class="border-r">Hình thanh toán</th>
          <th *ngIf="isHidden('Number')" [tdsLeft]="true" [width]="'200px'" class="border-r">Số HĐ</th>
          <th *ngIf="isHidden('PartnerDisplayName')" [width]="'160px'" class="border-r">Khách hàng</th>
          <th *ngIf="isHidden('AmountDeposit')" [width]="'130px'" [align]="'right'" class="border-r">Tiền cọc</th>
          <th *ngIf="isHidden('Residual')" [width]="'130px'" [align]="'right'" class="border-r">Còn nợ</th>
          <th *ngIf="isHidden('AmountTotal')" [width]="'130px'" [align]="'right'" class="border-r">Tổng tiền</th>
          <th *ngIf="isHidden('CashOnDelivery')" [width]="'130px'" [align]="'right'" class="border-r">Tiền thu hộ</th>
          <th *ngIf="isHidden('ShowState')" [width]="'130px'" class="border-r">Trạng thái</th>
          <th *ngIf="isHidden('UserName')" [width]="'150px'" class="border-r">Nhân viên</th>
          <th *ngIf="isHidden('DateCreated')" [align]="'center'" [width]="'150px'" class="border-r">
            <div class="flex gap-x-1">
              <span>Ngày cập nhật</span>
              <span class=" flex flex-col p-0.5 cursor-pointer" (click)="onChangeFilterDate()" tds-tooltip [tooltipTitle]="filterDate | sortDateName">
                <i [ngClass]="filterDate | sortDateClass" class="text-primary-1 tdsi-sort-up-down-fill active text-base leading-4"></i>
              </span>
            </div>
          </th>
          <th [tdsRight]="true" [width]="'130px'">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="table.data" let-index="index">
          <tr>
            <td [tdsLeft]="true" [checked]="setOfCheckedId.has(data.Id)" class="border-r"></td>

            <td [tdsLeft]="true" [align]="'center'" class="border-r">
              {{ index | numericalOrder:pageSize:pageIndex }}
            </td>

            <!-- Hình thanh toán -->
            <td *ngIf="isHidden('IRAttachmentUrl')" [tdsLeft]="true" class="border-r">
              <div class="w-[154px] h-[104px] image-payment relative">
                <img src="{{ data.IRAttachmentUrl }}" class="rounded-lg min-w-[154px] max-w-[154px] min-h-[104px] max-h-[104px] object-cover"/>
                <div class="w-full h-full inset-0 absolute bg-white/[0.9] rounded-lg items-center justify-center hidden show-img-payment">
                  <div class="rounded px-2 py-1 text-caption-2 text-primary-1 font-semibold border border-primary-1 cursor-pointer" (click)="showModalDeposit(data)">
                    Xác nhận cọc
                  </div>
                </div>
              </div>
            </td>

            <!-- Số HĐ -->
            <td *ngIf="isHidden('Number')" [tdsLeft]="true" class="border-r">
              <div class="flex flex-col gap-y-2">
                <div>
                  <span *ngIf="!data.IsDeposited" class="text-xs text-error-400">Chưa xác nhận cọc</span>
                  <span *ngIf="data.IsDeposited" class="text-xs text-accent-9">Đã xác nhận cọc</span>
                </div>

                <div class="w-full flex font-semibold text-center">
                  <span [ngClass]="data.Number ? 'text-info-400' : 'text-error-500'">{{data.Number || 'N/A'}}</span>
                </div>

                <!-- Nhãn -->
                <div class="flex items-center gap-x-1 w-full">
                  <div *ngIf="data.Tags" class="flex flex-wrap gap-x-2 gap-y-1 items-center w-fit">
                    <div *ngFor="let item of data.Tags | prettyjson">
                      <tds-tag class="truncate" status='primary'>{{item.Name}}</tds-tag>
                    </div>
                  </div>

                  <button (click)="openTag(data.Id, data.Tags)" tds-button-icon tds-popover
                    [popoverVisible]="indClickTag == data.Id" popoverTrigger="click" [popoverFooter]="footerAddTag"
                    [popoverContent]="contentAddtag" [popoverBackdrop]="true" popoverPlacement="left" color="secondary" size="sm"
                    class=" border-0">
                    <div class="w-5 h-5 relative">
                      <i class="tdsi-tag-fill text-base text-neutral-1-500 leading-4 select-all absolute top-0 left-0"></i>
                      <svg class="border border-white bg-white rounded-full absolute bottom-0 right-0" width="12" height="12" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6.00263 0.185353C5.78089 0.14704 5.55607 0.129611 5.3311 0.133295C3.96134 0.134421 2.64803 0.680863 1.67966 1.65259C0.711296 2.62431 0.167057 3.94186 0.166496 5.3158C0.162824 5.54146 0.180199 5.76697 0.218396 5.98938C0.342953 6.94846 0.732804 7.85338 1.34378 8.60162C1.95476 9.34986 2.76244 9.91151 3.67532 10.2229C4.5882 10.5344 5.56979 10.5831 6.50889 10.3637C7.44798 10.1443 8.30703 9.66541 8.98873 8.98138C9.67042 8.29736 10.1475 7.4355 10.3659 6.49346C10.5843 5.55142 10.5354 4.56685 10.2246 3.65129C9.91374 2.73574 9.3535 1.92579 8.60732 1.31322C7.86114 0.70065 6.95883 0.309939 6.00263 0.185353ZM8.09029 5.79283H5.80879V8.08342H4.85553V5.79283H2.57403V4.83665H4.85764V2.53756H5.81091V4.83878H8.09452L8.09029 5.79283Z" fill="#28A745"/>
                      </svg>
                    </div>
                  </button>

                  <!-- button thêm nhãn -->
                  <ng-template #contentAddtag>
                    <div class="w-96">
                      <tds-form-field>
                        <tds-select valueField="Id" textField="Name" placeholder='Chọn các tag' [(ngModel)]="modelTags"
                          [allowClear]="true" [valuePrimitive]="false" [data]="lstTags" [autoClose]="true" mode="multiple">
                        </tds-select>
                      </tds-form-field>
                    </div>
                  </ng-template>

                  <ng-template #footerAddTag>
                    <div class="flex justify-end pt-2">
                      <button tds-button-icon color="secondary" class="mr-2" size="sm" (click)="closeTag()">
                        <span class="flex items-center">
                          <i class="tdsi-close-fill"></i>
                        </span>
                      </button>
                      <button tds-button-icon size="sm" (click)="assignTags(data.Id, modelTags)">
                        <span class="flex items-center">
                          <i class="tdsi-tick-fill"></i>
                        </span>
                      </button>
                    </div>
                  </ng-template>
                </div>
              </div>
            </td>

            <!-- Khách hàng -->
            <td *ngIf="isHidden('PartnerDisplayName')" class="border-r">
              <div class="flex flex-col gap-y-1">
                <span>{{data.PartnerDisplayName}}</span>
                <span class="text-neutral-1-500">{{data.PartnerPhone}}</span>
              </div>
            </td>

            <!-- Tiền cọc -->
            <td *ngIf="isHidden('AmountDeposit')" [align]="'right'" class="border-r">{{ data.AmountDeposit || 0 | numberCustom }} đ</td>

            <!-- Còn nợ -->
            <td *ngIf="isHidden('Residual')" [align]="'right'" class="border-r">{{ data.Residual || 0 | numberCustom }} đ</td>

            <!-- Tổng tiền -->
            <td *ngIf="isHidden('AmountTotal')" [align]="'right'" class="border-r">{{ data.AmountTotal || 0 | numberCustom }} đ</td>

            <!-- Tiền thu hộ -->
            <td *ngIf="isHidden('CashOnDelivery')" [align]="'right'" class="border-r">{{ data.CashOnDelivery || 0 | numberCustom }} đ</td>

            <!-- Trạng thái -->
            <td *ngIf="isHidden('ShowState')" class="border-r">
              <div class="w-full">
                <tds-tag [status]="data.State |  getColorStatusState" size="sm" type="outline">{{data.ShowState}}</tds-tag>
                <p *ngIf="data.PaymentMessageCount" class="text-neutral-1-400 text-xs pt-2">Đã gửi yêu cầu thanh toán</p>
              </div>
            </td>

            <!-- Nhân viên -->
            <td *ngIf="isHidden('UserName')" class="border-r">{{ data.UserName }}</td>

            <!-- Ngày cập nhật -->
            <td *ngIf="isHidden('DateCreated')" [align]="'center'" class="border-r">{{ data.DateCreated | date:"dd/MM/yyyy" }}</td>

            <!-- Thao tác -->
            <td [tdsRight]="true">
              <div class="flex gap-x-2">
                <button tds-button-icon color="secondary" size="sm" (click)="onEdit(data.Id)">
                  <span class="flex items-center text-neutral-1-500">
                    <i class="tdsi-edit-fill"></i>
                  </span>
                </button>
                <button tds-button-icon color="secondary" size="sm" (click)="openMiniChat(data)">
                  <span class="flex items-center text-neutral-1-500">
                    <i class="tdsi-messenger-fill"></i>
                  </span>
                </button>
                <button tds-button-icon color="primary" size="sm" (click)="showModalPayment(data.Id, data.State)" tds-tooltip tooltipTitle="Thanh toán">
                  <span class="flex items-center">
                    <i class="tdsi-earning-fill text-lg leading-none"></i>
                  </span>
                </button>
              </div>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </tds-table>
  </div>
  <tds-drawer [visible]="isOpenDrawer"
  [bodyStyle]="{'background-color':'rgb(235 237 239)','overflow':'hidden','display': 'flex','flex-direction': 'column','padding': '0'}"
  [placement]="'right'" [title]="titleMessage" (onClose)="closeDrawer()" [width]="'890px'">
    <ng-template #titleMessage>
      <span class="flex w-full items-center text-title-1 font-semibold text-neutral-900">
        Gửi tin nhắn Facebook
      </span>
    </ng-template>
    <ng-container *tdsDrawerContent>
      <div class="w-full h-full flex flex-col overflow-hidden text-body-2">
        <div class="w-full h-full flex overflow-hidden bg-neutral-3-200" cdkScrollable>
          <div *ngIf="currentConversation && currentMappingTeam?.team" class="w-full">
            <shared-tds-conversations class="flex w-full h-full" [team]="currentMappingTeam?.team"
              [data]="currentConversation" [type]="'all'">
            </shared-tds-conversations>
          </div>
        </div>
      </div>
    </ng-container>
  </tds-drawer>
</div>
