<tds-spin [spinning]="isLoading" class="w-full h-full">
  <form [formGroup]="_form"  class="flex flex-col w-full h-full">

    <div class="bg-white flex justify-between items-center py-2.5 px-4">
      <div class="flex flex-col gap-y-1">
        <tds-breadcrumb tds-page-header-breadcrumb class="px-0 pt-0 pb-0">
            <tds-breadcrumb-item (click)="directPage('live-campaign')">Chiến dịch</tds-breadcrumb-item>
            <tds-breadcrumb-item>{{liveCampaignId ? 'Chỉnh sửa' : 'Thêm mới'}}</tds-breadcrumb-item>
        </tds-breadcrumb>
        <div class="">
            <span class="text-header-1 text-neutral-1-900 font-semibold">{{liveCampaignId ? 'Chỉnh sửa chiến dịch' : 'Thêm mới chiến dịch'}}</span>
        </div>
      </div>

      <div class="flex gap-x-2">
          <button tds-button color="info" type="button" (click)="onSave(true)" *ngIf="liveCampaignId">Cập nhật cấu hình bài viết</button>
          <button tds-button class="w-[100px]" color="primary" type="button" (click)="onSave()">Lưu lại</button>
          <button tds-button class="w-[100px]" color="secondary" type="button" (click)="onBack()">Hủy bỏ</button>
      </div>
    </div>

    <div class="flex flex-col h-full gap-y-4 pb-4 p-4">
      <div class="bg-white rounded-xl">
        <tds-collapse [expandIconPosition]="'right'" class="bg-white rounded-xl w-full">
          <tds-collapse-panel [header]="header" [disabled]=false [(active)]="isShowFormInfo"
            [expandedIcon]="icon" bordered="false" >

            <!-- Header -->
            <ng-template #header>
                <span class="text-neutral-1-900 text-xl font-semibold">Thông tin</span>
            </ng-template>

            <!-- Header Icon -->
            <ng-template #icon>
                <div *ngIf="!isShowFormInfo" class="tdsi-arrow-up-line p-2 text-neutral-1-500 text-xl"></div>
                <div *ngIf="isShowFormInfo" class="tdsi-arrow-down-line p-2 text-neutral-1-500 text-xl"></div>
            </ng-template>

            <!-- Content -->
            <div class="w-full h-full grid grid-cols-3 gap-4 2xl:text-body-2 xl:text-caption-1 text-neutral-1-900">
              <div class="flex gap-x-4 items-center">
                <span class="font-semibold w-1/4">
                  Tên chiến dịch
                  <span class="text-error-500 text-body-2 font-semibold">*</span>
                </span>
                <tds-form-field class="w-3/4">
                  <input tdsInput placeholder="Nhập tên chiến dịch" class="text-neutral-1-900 text-body-2 font-regular" formControlName="Name"
                    [required]='true'/>
                    <tds-error>Vui lòng nhập tên chiến dịch</tds-error>
                </tds-form-field>
              </div>

              <div class="grid grid-cols-4 gap-x-4 items-center">
                <tds-label>Mẫu tin chốt đơn</tds-label>
                <div class="col-span-3 flex flex-row gap-x-2">
                  <tds-form-field class="w-full truncate">
                    <tds-select valueField="Id" textField="Name" placeholder='Chọn mẫu tin' formControlName="ConfirmedOrder_Template"
                        [valuePrimitive]="false" [allowClear]="true" [data]="lstQuickReplies"
                        [allowClear]="true">
                    </tds-select>
                  </tds-form-field>
                  <div class="w-[34px]">
                    <button type="button" tds-button-icon color="secondary" (click)="showModalAddQuickReply()">
                      <i class="tdsi-plus-circle-fill text-primary-1"></i>
                    </button>
                  </div>
                </div>
              </div>

              <div class="flex gap-x-4 items-center">
                <tds-label class="w-1/4">Số tiền cọc bắt buộc</tds-label>
                <tds-form-field class="w-3/4">
                  <tds-input-number [min]='0' [step]="1000" formControlName="MaxAmountDepositRequired" [formatter]="formatterVND"> 
                  </tds-input-number>
                </tds-form-field>
              </div>

              <div class="flex gap-x-4 items-center">
                <tds-label class="w-1/4">Chốt đơn xác nhận</tds-label>
                <tds-form-field class="w-3/4">
                  <tds-select valueField="value" textField="text"
                      placeholder='Trạng thái chốt đơn' [valuePrimitive]="false"  formControlName="Config"
                      disabledField="isActive" [data]="lstConfig" [allowClear]="true">
                  </tds-select>
                </tds-form-field>
              </div>

              <div class="grid grid-cols-4 gap-x-4 items-center">
                <tds-label>Mẫu tin dự bị</tds-label>
                <tds-form-field class="col-span-3">
                  <tds-select valueField="Id" textField="Name"
                      placeholder='Chọn mẫu tin' [valuePrimitive]="false"  formControlName="Preliminary_Template"
                      disabledField="isActive" [data]="lstQuickReplies" [allowClear]="true">
                  </tds-select>
                </tds-form-field>
              </div>

              <div class="flex gap-x-4 items-center">
                <tds-label class="w-1/4">Số tiền tối thiểu đặt cọc</tds-label>
                <tds-form-field class="w-3/4">
                    <tds-input-number [min]="0" [step]="1000" class="text-neutral-1-900 text-body-2 font-regular" formControlName="MinAmountDeposit" [formatter]="formatterVND"
                    ></tds-input-number>
                </tds-form-field>
              </div>

              <div class="flex gap-x-4 items-center">
                <tds-label class="w-1/4">Nhân viên chốt đơn</tds-label>
                <tds-form-field class="w-3/4">
                  <tds-select valueField="Id" textField="Name"
                      placeholder='Chọn nhân viên chốt đơn' [valuePrimitive]="false" mode="multiple" formControlName="Users"
                      disabledField="isActive" [data]="(lstUser$ | async) || []" [allowClear]="true">
                  </tds-select>
                </tds-form-field>
              </div>

              <div class="grid grid-cols-4 gap-x-4 items-center">
                <tds-label>Thời gian tổng hợp (phút)</tds-label>
                <tds-form-field class="col-span-3">
                    <tds-input-number [min]="0" class="text-neutral-1-900 text-body-2 font-regular" formControlName="ResumeTime" ></tds-input-number>
                </tds-form-field>
              </div>

              <div class="row-span-2 flex flex-col gap-y-4 items-center pt-3">
                <div class="flex justify-between items-center w-full">
                  <tds-label class="w-1/3">Bật xử lý chốt đơn tự động</tds-label>
                  <tds-checkbox formControlName="IsEnableAuto"></tds-checkbox>
                </div>
                <div class="flex justify-between items-center w-full">
                  <tds-label>Bật số lượng</tds-label>
                  <tds-checkbox formControlName="EnableQuantityHandling"></tds-checkbox>
                </div>
                <div class="flex justify-between items-center w-full">
                  <tds-label>Tổng hợp đơn hàng trong thời gian ca làm việc</tds-label>
                  <tds-checkbox formControlName="IsShift"></tds-checkbox>
                </div>
                <div class="flex justify-between items-center w-full">
                  <tds-label>Không cho phép gán nhân viên vào cuộc hội thoại</tds-label>
                  <tds-checkbox formControlName="IsAssignToUserNotAllowed"></tds-checkbox>
                </div>
              </div>

              <div class="flex gap-x-4 items-baseline">
                <tds-label class="w-1/4">Ghi chú</tds-label>
                <tds-form-field class="w-3/4">
                  <textarea class="resize-none h-[66px]" tdsInput placeholder="Nhập nội dung" formControlName="Note"></textarea>
                </tds-form-field>
              </div>

              <div class="grid grid-cols-4 gap-x-4">
                <tds-label>Thời gian gửi tin tự động</tds-label>
                <tds-form-field class="col-span-3">
                  <tds-range-picker [(ngModel)]="datePicker" showTime="{format: 'HH:mm'}" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChangeDate($event)"></tds-range-picker>
                </tds-form-field>
              </div>

            </div>
          </tds-collapse-panel>
        </tds-collapse>
      </div>

      <div class="flex-auto flex gap-x-4">
        <div class="h-full w-1/3">
            <list-product-tmp [inLiveCampaign]="true" (onLoadProductToLiveCampaign)="onLoadProduct($event)"></list-product-tmp>
        </div>

        <div class="h-full w-2/3">
          <div class="rounded-xl bg-white h-full flex-col flex">
            <div class="p-4 w-full flex gap-x-2 font-semibold text-base items-center">
              <span class="tdsi-product-fill text-neutral-1-400"></span>
              <span class="text-neutral-1-900">Sản phẩm</span>
            </div>

            <div class="w-full flex-auto text-body-2 text-neutral-1-900">
              <tds-table #tableProduct [showSizeChanger]="true" [frontPagination]="false" [listData]="_form.controls['Details'].value" [scroll]="{y:'auto'}">
                <thead>
                  <tr>
                      <th [width]="'64px'">STT</th>
                      <th [width]="'365px'">Sản phẩm</th>
                      <th [width]="'80px'">Ẩn/ hiện</th>
                      <th [width]="'163px'">Số lượng</th>
                      <th [width]="'163px'">Giới hạn trên đơn</th>
                      <th [width]="'163px'">Giá bán</th>
                      <th [width]="'64px'" class="text-center">
                        <button type="button" tds-button-icon color="secondary" (click)="onDeleteAll()">
                          <span class="flex items-center">
                            <i class="tdsi-trash-fill text-lg leading-none text-neutral-1-500"></i>
                          </span>
                        </button>
                      </th>
                  </tr>
                </thead>
                <tbody formArrayName="Details">
                  <tr *ngFor="let detail of detailsForm.controls; let index = index"  [formGroupName]="index">
                      
                    <td> {{ index + 1 }} </td>

                    <!-- Sản phẩm -->
                    <td>
                      <div class="flex gap-x-2 items-center">
                        <div class="w-1/5">
                          <tds-avatar size="xl" [shape]="'square'" [isAvatar]="false" class="bg-white h-[60px] w-[60px]" [tdsSrc]="detail?.value.ImageUrl">
                          </tds-avatar>
                        </div>
                        <div class="flex flex-col gap-y-1 cursor-pointer w-4/5">
                          <span class="font-semibold text-sm">
                            {{detail?.value.ProductNameGet || detail?.value.ProductName}}
                            <span *ngIf="detail?.value.UOMName">({{detail?.value.UOMName}})</span>
                          </span>

                          <!-- Tags -->
                          <div class="flex w-full gap-x-2 items-center" (click)="openTag(index)" tds-popover
                              [popoverVisible]="indClickTag == index" popoverTrigger="click"
                              [popoverContent]="contentAddTag" [popoverBackdrop]="true" popoverPlacement="left">
                            <span *ngIf="detail?.value.Tags.length <= 0" class="text-info-500 font-normal text-sm">+Thêm cú pháp chốt đơn</span>
                            <div *ngIf="detail?.value.Tags.length > 0" class="flex w-full flex-wrap gap-2">
                              <tds-tag *ngFor="let item of (detail.value.Tags | stringToStringArray)" status='primary' tds-tooltip [tooltipTitle]="item" >
                                <div class="truncate max-w-[100px]">
                                  {{item}}
                                </div>
                              </tds-tag>
                            </div>
                          </div>

                           <!-- Template thêm nhãn -->
                          <ng-template #contentAddTag>
                            <div class="w-96 flex flex-col gap-y-4">
                              <tds-form-field>
                                <tds-select placeholder='Nhập và chọn Tag' [valuePrimitive]="false" valueField="id" textField="name" formControlName="Tags"
                                  [allowClear]="true" [data]="(detail.value.Tags | stringToStringArray)"  mode="tags">
                                </tds-select>
                              </tds-form-field>
                              <div class="flex gap-x-2 justify-end">
                                <button tds-button-icon color="error" type="button" (click)="onCloseTag()">
                                  <span class="flex items-center text-white">
                                      <i class="tdsi-close-fill"></i>
                                  </span>
                                </button>
                                <button tds-button-icon color="primary" type="button" (click)="onSaveTag()">
                                  <span class="flex items-center text-white">
                                      <i class="tdsi-checkbox-check-fill"></i>
                                  </span>
                                </button>
                              </div>
                            </div>
                          </ng-template>

                        </div>
                      </div>
                    </td>

                    <!-- Ẩn/ hiện -->
                    <td>
                      <tds-switch size="md" formControlName="IsActive"></tds-switch>
                    </td>

                    <!-- Số lượng -->
                    <td>
                      <tds-form-field>
                        <tds-input-number [min]="0" [step]="1" formControlName="Quantity">
                        </tds-input-number>
                      </tds-form-field>
                    </td>

                    <!-- Giới hạn trên đơn -->
                    <td>
                      <tds-form-field>
                        <tds-input-number [min]="0" [step]="1" formControlName="LimitedQuantity">
                        </tds-input-number>
                      </tds-form-field>
                    </td>

                    <!-- Giá bán -->
                    <td>
                      <tds-form-field>
                        <tds-input-number [min]="0" [step]="1000" formControlName="Price">
                        </tds-input-number>
                      </tds-form-field>
                    </td>

                    <!-- Thao tác -->
                    <td class="text-center">
                      <button tds-button-icon color="secondary" size="sm" (click)="removeDetail(index, detail)">
                        <span class="flex items-center">
                          <i class="tdsi-trash-fill text-neutral-1-500"></i>
                        </span>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </tds-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</tds-spin>
