<div class="w-full text-body-2 text-neutral-1-900 h-[473px]">
  <tds-table #basicTable
    [listData]="lstOfData"
    [scroll]="{ y:'auto' }"
    [showSizeChanger]="true"
    [frontPagination]="false"
    [(pageSize)]="pageSize"
    [(pageIndex)]="pageIndex"
    [loading]="isLoading"
    [total]="count"
    (queryParams)="onQueryParamsChange($event)"
    (clickRefresh)="onRefresh()">
    <thead>
      <tr>
        <th [width]="'10%'" [align]="'center'">STT</th>
        <th [width]="'15%'">Khách hàng</th>
        <th [width]="'15%'">Mã đơn hàng</th>
        <th [width]="'15%'" [align]="'center'">Số lượng sản phẩm</th>
        <th [width]="'15%'" [align]="'center'">Ngày tạo</th>
        <th [width]="'15%'">Trạng thái</th>
        <th [width]="'15%'">Chi tiết</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; let index = index">
        <!-- STT-->
        <td [align]="'center'">
          {{ index | numericalOrder:pageSize:pageIndex }}
        </td>

        <!-- Khách hàng -->
        <td>
          {{ data.Facebook_UserName || '---' }}
        </td>

        <!-- Mã đơn hàng -->
        <td>
          <div class="mb-2">{{ data.Code || '---' }}</div>
          <div *ngIf="data.IsOrderPriority != null">
            <div class="flex flex-auto mt-0.5">
              <div class="px-2 py-0.5 rounded text-white font-semibold text-caption-2" [ngClass]="data.IsOrderPriority == true ? 'bg-primary-1' : 'bg-neutral-1-300' ">
                <span *ngIf="data.IsOrderPriority == false">Dự bị</span>
                <span *ngIf="data.IsOrderPriority == true">Ưu tiên</span>
              </div>
            </div>
          </div>
        </td>

        <!-- Số lượng sản phẩm -->
        <td [align]="'center'">
          {{ data.Quantity || 0 }}
        </td>

        <!-- Ngày tạo -->
        <td [align]="'center'">
          {{ (data.DateCreated | yiDateTimeFormat) || '---' }}
        </td>

        <!-- Trạng thái -->
        <td>
          <tds-tag type="outline" [status]="data.StatusText | getColorStatusText">
            {{ data.StatusText }}
          </tds-tag>
        </td>

        <!-- Xem chi tiết -->
        <td>
          <button tds-button type="submit" color="primary" (click)="showModelInfoOrder(data.OrderId)">
            Xem chi tiết
          </button>
        </td>
      </tr>
    </tbody>
  </tds-table>
</div>

<div class="w-full flex justify-end p-4" *tdsModalFooter>
  <button tds-button class="min-w-[100px]" color="secondary" (click)="onCancel()">Đóng</button>
</div>
