
<tds-spin [spinning]="isLoading">
  <form class="flex flex-col max-h-[calc(72vh)]" [formGroup]="_form" >
      <div action="" class="grid grid-cols-1">
          <div class="w-full grid grid-cols-2 gap-x-8">
              <div class="flex gap-x-4">
                  <div class="w-1/3">
                      <upload-pictures-wall (getResult)="getUrl($event)" [isAvatar]="true" [size]="84" [data]="partnerId ? _form.controls['ImageUrl'].value : _form.controls['Image'].value">
                      </upload-pictures-wall>
                  </div>
                  <div class="w-2/3 flex flex-col gap-y-4">
                      <tds-form-field>
                          <tds-label>Tên Khách hàng</tds-label>
                          <input tdsInput autocomplete="off" placeholder="Nhập tên Khách hàng" [required]='true' formControlName="Name" />
                          <tds-error>Vui lòng nhập tên khách hàng</tds-error>
                      </tds-form-field>
                      <tds-radio-group formControlName="CompanyType">
                          <label class="mr-10" tds-radio value="person"> Cá nhân </label>
                          <label class="" tds-radio value="company"> Công ty </label>
                      </tds-radio-group>
                  </div>
              </div>
          </div>
          <div class="grid grid-cols-2 gap-x-8">
              <div>
                  <div class="grid grid-cols-3 gap-x-4 mt-4">
                      <div class="flex items-center">
                          <tds-label>Mã</tds-label>
                      </div>
                      <div class="col-span-2">
                          <tds-form-field>
                              <input tdsInput placeholder="Để trống sẽ phát sinh tự động" formControlName="Ref" />
                          </tds-form-field>
                      </div>
                  </div>
                  <div class="grid grid-cols-3 gap-x-4 mt-4">
                      <div class="flex items-center">
                          <tds-label>Ngày sinh</tds-label>
                      </div>
                      <div class="col-span-2">
                          <tds-date-picker formControlName="BirthDay" placeholder="Chọn ngày" class="!w-full">
                          </tds-date-picker>
                      </div>
                  </div>
                  <div class="grid grid-cols-3 gap-x-4 mt-4">
                      <div class="flex items-center">
                          <tds-label>Nhóm</tds-label>
                      </div>
                      <div class="col-span-2">
                        <tds-form-field>
                          <tds-select valueField="Id" textField="Name" placeholder='Chọn nhóm'
                              formControlName="Categories" mode="multiple" [valuePrimitive]="false"
                              disabledField="isActive" [data]="lstCategory" [allowClear]="true">
                          </tds-select>
                        </tds-form-field>
                      </div>
                  </div>
                  <div class="grid grid-cols-3 gap-x-4 mt-4">
                      <div class="flex items-center">
                          <tds-label>Trạng thái</tds-label>
                      </div>
                      <div class="col-span-2">
                          <tds-select valueField="Id" textField="Name" placeholder='Chọn trạng thái' [valuePrimitive]="false" [allowClear]="false"
                              formControlName="StatusText" disabledField="isActive" [data]="lstStatus">
                          </tds-select>
                      </div>
                  </div>
              </div>
              <div>
                  <div class="grid grid-cols-3 gap-x-4 mt-4">
                      <div class="flex items-center">
                          <tds-label>Điện thoại</tds-label>
                          <span class="ml-1 text-error-500 text-body-2 font-semibold ng-tns-c193-48 ng-star-inserted">*</span>
                      </div>
                      <div class="col-span-2 flex">
                          <tds-form-field class="w-full">
                            <div tdsAddOnRight tds-tooltip="Gợi ý địa chỉ từ TPos" (click)="checkAddressByPhone()"><i class="tdsi-search-fill text-xl leading-none"></i></div>
                            <input tdsInput placeholder="Nhập số điện thoại" [required]='true' formControlName="Phone"/>
                            <tds-error>{{ getErrorMessage() }}</tds-error>
                        </tds-form-field>
                      </div>
                  </div>
                  <div class="grid grid-cols-3 gap-x-4 mt-4">
                      <div class="flex items-center">
                          <tds-label>Email</tds-label>
                      </div>
                      <div class="col-span-2 flex">
                          <tds-form-field class="w-full rounded-br-none rounded-tr-none">
                              <input tdsInput placeholder="Nhập email" formControlName="Email" />
                          </tds-form-field>
                      </div>
                  </div>
                  <div class="grid grid-cols-3 gap-x-4 mt-4">
                      <div class="flex items-center">
                          <tds-label>Zalo</tds-label>
                      </div>
                      <div class="col-span-2 flex">
                          <tds-form-field class="w-full rounded-br-none rounded-tr-none">
                              <input tdsInput placeholder="Nhập zalo" formControlName="Zalo" />
                          </tds-form-field>
                      </div>
                  </div>
                  <div class="grid grid-cols-3 gap-x-4 mt-4">
                      <div class="flex items-center">
                          <tds-label>Facebook</tds-label>
                      </div>
                      <div class="col-span-2 flex">
                          <tds-form-field class="w-full rounded-br-none rounded-tr-none">
                              <input tdsInput placeholder="Nhập facebook" formControlName="Facebook" />
                          </tds-form-field>
                      </div>
                  </div>
              </div>
              <div>
                  <div *ngIf="_form.controls.CompanyType.value == 'company'" class="grid grid-cols-3 gap-x-4 mt-4">
                    <div class="flex items-center">
                        <tds-label>Mã số thuế</tds-label>
                    </div>
                    <div class="col-span-2 flex">
                        <tds-form-field class="w-full rounded-br-none rounded-tr-none">
                            <input tdsInput placeholder="Nhập mã số thuế" formControlName="TaxCode" />
                        </tds-form-field>
                    </div>
                  </div>
                  <div class="grid grid-cols-3 gap-x-4 mt-4 w-full">
                      <div class="flex">
                          <tds-label>Địa chỉ</tds-label>
                      </div>
                      <div class="col-span-2 flex gap-x-2">
                        <tds-form-field class="w-full">
                          <input tdsInput placeholder="Tìm kiếm địa chỉ ..." [(ngModel)]="innerText" [ngModelOptions]="{standalone: true}"/>
                        </tds-form-field>
                        <button tds-button-icon color="primary" type="button" tds-tooltip [tooltipTitle]="innerText ? 'Kiểm tra địa chỉ' : 'Tìm kiếm địa chỉ'" (click)="showModalSuggestAddress()">
                            <span class="flex items-center">
                              <i class="tdsi-location-fill"></i>
                            </span>
                        </button>
                      </div>
                  </div>
              </div>
              <div>
                <div class="grid grid-cols-3 gap-x-4 mt-4">
                  <div class="flex items-center">
                      <tds-label>Website</tds-label>
                  </div>
                  <div class="col-span-2 flex">
                      <tds-form-field class="w-full rounded-br-none rounded-tr-none">
                          <input tdsInput placeholder="Nhập website" formControlName="Website" />
                      </tds-form-field>
                  </div>
                </div>
                <div class="grid grid-cols-3 gap-x-4 mt-4">
                  <div class="flex items-center">
                      <tds-label>Active</tds-label>
                  </div>
                  <div class="col-span-2 flex">
                      <tds-checkbox formControlName="Active"></tds-checkbox>
                  </div>
                </div>
              </div>
          </div>
      </div>
      <div class="mt-6 rounded-xl border border-light-50">
          <tds-tabset>
              <tds-tab title="Bán & mua hàng">
                  <div class="grid grid-cols-2 gap-x-12">
                      <div class="grid grid-cols-1">
                          <div>
                              <h2 class="text-header-2 text-neutral-600 font-semibold">Bán hàng</h2>
                          </div>
                          <div class="grid grid-cols-5 gap-x-4 mt-4">
                              <div class=" col-span-2 flex items-center">
                                  <tds-label>Là khách hàng</tds-label>
                              </div>
                              <div class="col-span-3">
                                  <tds-checkbox formControlName="Customer"></tds-checkbox>
                              </div>
                          </div>
                          <div class="grid grid-cols-5 gap-x-4 mt-4">
                              <div class=" col-span-2 flex items-center">
                                  <tds-label>Bảng giá</tds-label>
                              </div>
                              <div class="col-span-3">
                                <!-- (FocusChange)="openlstPrice()" -->
                                <tds-select valueField="Id" textField="Name" placeholder='Chọn bảng giá'
                                    [valuePrimitive]="false" [allowClear]="true" [ngModel]="price"
                                    formControlName="PropertyProductPricelist" [data]="lstPrice"
                                    [allowClear]="true">
                                </tds-select>
                              </div>
                          </div>
                          <div class="grid grid-cols-5 gap-x-4 mt-4">
                              <div class=" col-span-2 flex items-center">
                                  <tds-label>Chiết khấu mặc định(%)</tds-label>
                              </div>
                              <div class="col-span-3">
                                  <tds-input-number [min]="1" [max]="100" [step]="1" formControlName="Discount" [formatter]="formatterPercent">
                                  </tds-input-number>
                              </div>
                          </div>
                          <div class="grid grid-cols-5 gap-x-4 mt-4">
                              <div class=" col-span-2 flex items-center">
                                  <tds-label>Chiết khấu mặc định (số tiền)</tds-label>
                              </div>
                              <div class="col-span-3">
                                  <tds-input-number [min]="1" [step]="1" [formControlName]="'AmountDiscount'" [formatter]="formatterVND">
                                  </tds-input-number>
                              </div>
                          </div>
                      </div>
                      <div class="flex flex-col">
                          <div>
                              <h2 class="text-header-2 text-neutral-600 font-semibold">Mua hàng</h2>
                          </div>
                          <div class="grid grid-cols-5 gap-x-4 mt-4">
                              <div class=" col-span-2 flex items-center">
                                  <tds-label>Là nhà cung cấp</tds-label>
                              </div>
                              <div class="col-span-3">
                                  <tds-checkbox formControlName="Supplier"></tds-checkbox>
                              </div>
                          </div>
                      </div>
                  </div>
              </tds-tab>
              <tds-tab title="Danh sách địa chỉ ({{_form.controls['Addresses'].value.length}})">
                  <div class="flex flex-col gap-y-4">
                      <div>
                          <button tds-button color="primary" type="button" (click)="showModalAddAddress()">
                              <span class="flex items-center">
                                  <i class="tdsi-add-fill text-lg leading-none mr-2"></i>Thêm mới
                              </span>
                          </button>
                      </div>
                      <div>
                          <tds-table #basicTable [listData]="_form.controls['Addresses'].value" [showPagination]="false">
                              <thead>
                                  <tr>
                                      <th>STT</th>
                                      <th>Địa chỉ</th>
                                      <th>Thao tác</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <ng-template ngFor let-data let-i="index" [ngForOf]="basicTable.data">
                                      <tr>
                                          <td class="text-body-2">{{ i + 1 }}</td>
                                          <td class="text-body-2">{{ data.Street }}</td>
                                          <td>
                                              <div class="flex gap-x-2">
                                                  <button tds-button-icon type="button" color="secondary" size="sm" (click)="openItemAddresses(data, i)"
                                                  tds-tooltip tooltipTitle="Chỉnh sửa địa chỉ">
                                                      <span class="flex items-center">
                                                          <i class="tdsi-edit-fill text-neutral-1-500"></i>
                                                      </span>
                                                  </button>
                                                  <button tds-button-icon type="button" color="secondary" size="sm" (click)="selectItem(data)"
                                                  tds-tooltip tooltipTitle="Chọn làm địa chỉ">
                                                      <span class="flex items-center">
                                                          <i class="tdsi-information-fill text-neutral-1-500"></i>
                                                      </span>
                                                  </button>
                                                  <button tds-button-icon type="button" color="secondary" size="sm" (click)="removeAddresses(i)"
                                                  tds-tooltip tooltipTitle="Xóa địa chỉ">
                                                      <span class="flex items-center">
                                                          <i class="tdsi-trash-fill text-neutral-1-500"></i>
                                                      </span>
                                                  </button>
                                              </div>
                                          </td>
                                      </tr>
                                  </ng-template>
                              </tbody>
                          </tds-table>
                      </div>
                  </div>
              </tds-tab>
          </tds-tabset>
      </div>
      <div class="w-full flex justify-end p-4" *tdsModalFooter>
          <button tds-button class="mr-2 min-w-[100px]" type="button" color="secondary" (click)="onCancel()">Hủy</button>
          <button tds-button type="button" class="min-w-[100px]" color="primary" (click)="onSave()"> Áp dụng </button>
      </div>
  </form>
</tds-spin>
