<tds-spin [spinning]="isLoading" [formGroup]="_form">
    <div class="grid grid-cols-2 gap-20">
      <div class="flex justify-between items-center">
        <tds-label>Địa điểm</tds-label>
        <tds-form-field class="w-[440px]">
          <tds-select valueField="Id" textField="NameGet" placeholder='Chọn địa điểm'
              [(ngModel)]="locationAll"
              [ngModelOptions]="{standalone: true}"
              [allowClear]="true"
              [valuePrimitive]="false"
              [data]="lstLocation">
          </tds-select>
        </tds-form-field>
      </div>
      <div class="flex items-center gap-x-2">
        <tds-label class="mr-6 w-[60px]">Số lượng</tds-label>
        <div class="flex-auto">
          <tds-input-number class="w-full" [formatter]="numberWithCommas" [parser]="parserComas"
          [(ngModel)]="initAll"
          [ngModelOptions]="{standalone: true}"
          [min]="0">
      </tds-input-number>
        </div>
        <button tds-button class="ml-2 min-w-[120px] text-primary-1 bg-white hover:border-primary-1 focus:border-primary-1 focus:ring-2 focus:ring-primary-1/20" color="custom" size="md" (click)="updateForAll()">
          <span class="flex items-center w-full truncate">
              Áp dụng tất cả
          </span>
        </button>
      </div>
    </div>

    <div class="w-full max-h-[500px] h-[500px] border border-neutral-1-50 rounded-md mt-4" *ngIf="lstData" formArrayName="datas">
        <div class="text-title-1 font-semibold px-4 py-2.5">Danh sách đơn hàng</div>
        <tds-table #rowSelectionTable class="w-full h-full" [scroll]="{ y:'auto', x: 'auto' }" [listData]="lstData" [frontPagination]="false" [showPagination]="false">
            <thead>
                <tr class="bg-neutral-3-50">
                    <th class="text-body-2" width="7%">STT</th>
                    <th class="text-body-2" width="31%">Sản phẩm</th>
                    <th class="text-body-2" width="31%">Số lượng thực tế</th>
                    <th class="text-body-2" width="31%">Địa điểm</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of dataArray.controls; let i = index" [formGroupName]="i">
                    <td class="text-body-2">{{ i + 1 }}</td>
                    <td class="text-body-2">
                        {{ item.value.Product?.NameGet || '' }}
                    </td>
                    <td class="text-body-2">
                        <tds-form-field class="w-full">
                            <tds-input-number formControlName="NewQuantity" [formatter]="numberWithCommas" [parser]="parserComas"
                                [min]="0" class="text-neutral-1-900 text-body-2 font-regular"></tds-input-number>
                        </tds-form-field>
                    </td>
                    <td class="text-body-2">
                        <tds-form-field class="w-full">
                            <tds-select valueField="Id" textField="NameGet" placeholder='Chọn địa điểm'
                                formControlName="Location"
                                [valuePrimitive]="false"
                                [allowClear]="false"
                                [data]="lstLocation"
                                (selectChange)="updateLocationId($event, i)">
                            </tds-select>
                        </tds-form-field>
                    </td>
                </tr>
            </tbody>
        </tds-table>
    </div>

    <div class="w-full flex justify-end p-4" *tdsModalFooter>
        <button tds-button class="mr-2 w-[100px]" type="button" color="secondary" (click)="onCancel()">Đóng</button>
        <button tds-button class=" w-[88px]" type="submit" color="primary" (click)="onSave()">Lưu</button>
    </div>
</tds-spin>
