<tds-spin [spinning]="isLoading" [formGroup]="_form">
    <div class="flex justify-end items-center gap-x-2 mb-4">
        <tds-form-field>
            <tds-select valueField="Id" textField="NameGet" placeholder='Chọn địa điểm' 
                [(ngModel)]="locationAll"
                [ngModelOptions]="{standalone: true}"
                [allowClear]="true" 
                [valuePrimitive]="false"
                [data]="lstLocation">
            </tds-select>
        </tds-form-field>

        <tds-form-field>
            <tds-input-number  
                [(ngModel)]="initAll"
                [ngModelOptions]="{standalone: true}"
                [min]="0" 
                [formatter]="numberWithCommas"
                [parser]="parserComas"></tds-input-number>
        </tds-form-field>

        <button tds-button color="primary" size="md" (click)="updateForAll()">
            <span class="flex items-center">
                Áp dụng tất cả
            </span>
        </button>
    </div>

    <div class="w-full" *ngIf="lstData" formArrayName="datas">
        <tds-table #rowSelectionTable [listData]="lstData" [frontPagination]="false" [showPagination]="false">
            <thead>
                <tr class="bg-neutral-3-50">
                    <th class="text-body-2" width="6%">STT</th>
                    <th class="text-body-2" width="24%">Sản phẩm</th>
                    <th class="text-body-2" width="20%">Số lượng thực tế</th>
                    <th class="text-body-2" width="40%">Địa điểm</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of dataArray.controls; let i = index" [formGroupName]="i">
                    <td class="text-body-2">{{ i + 1 }}</td>
                    <td class="text-body-2">
                        {{ item.value.Product?.NameGet || '' }}
                    </td>
                    <td class="text-body-2">
                        <tds-form-field class="w-full">
                            <tds-input-number formControlName="NewQuantity" 
                                [min]="0" 
                                [formatter]="numberWithCommas"
                                [parser]="parserComas" class="text-neutral-1-900 text-body-2 font-regular"></tds-input-number>
                        </tds-form-field>
                    </td>
                    <td class="text-body-2">
                        <tds-form-field class="w-full">
                            <tds-select valueField="Id" textField="NameGet" placeholder='Chọn địa điểm'
                                formControlName="Location" 
                                [valuePrimitive]="false" 
                                [allowClear]="false" 
                                [data]="lstLocation"
                                (selectChange)="updateLocationId($event, i)">
                            </tds-select>
                        </tds-form-field>
                    </td>
                </tr>
            </tbody>
        </tds-table>
    </div>

    <div class="w-full flex justify-end p-4" *tdsModalFooter>
        <button tds-button class="mr-2 w-[100px]" type="button" color="secondary" (click)="onCancel()">Đóng</button>
        <button tds-button class=" w-[100px]" type="submit" color="primary" (click)="onSave()">Áp dụng</button>
    </div>
</tds-spin>