
<button tds-button-icon color="secondary" [backdrop]="true" tds-dropdown trigger="click"
    [tdsDropdownMenu]="menu"  [autoClose]="false"
    size="md" class="relative" [(visible)]="isVisible" tds-tooltip tooltipTitle="Lọc dữ liệu">
  <span class="flex items-center">
      <i class="tdsi-filter-2-line text-lg leading-none text-neutral-1-500"></i>
  </span>
  <span *ngIf="isActive" class="tdsi-success-fill absolute text-primary-1 text-body-2 top-[-11px] right-[-6px]" style="font-size: 22px"></span>
</button>
<tds-dropdown-menu #menu="tdsDropdownMenu" >
  <div class="w-[400px] p-4 text-body-2 text-neutral-1-900">
      <div class="mb-4">
          <p class="mb-2 font-semibold">TÌM THEO NGÀY</p>
          <div>
             <tds-range-picker  [(ngModel)]="datePicker" (ngModelChange)="onChangeDate($event)"> </tds-range-picker>
          </div>
      </div>
      <div class="w-full mb-4">
        <p class="mb-2 font-semibold">CHỌN CHIẾN DỊCH</p>
        <div class="w-full">
          <tds-form-field >
            <tds-select valueField="Id" textField="Name" [(ngModel)]="lstSelectLive"
                placeholder='Chọn chiến dịch' [valuePrimitive]="false" (selectChange)="onSearch($event)"
                disabledField="isActive" [data]="(lstLiveCampaigns | async)?.value || []" [allowClear]="true" mode="multiple">
            </tds-select>
          </tds-form-field>
        </div>
      </div>
      <div class="w-full mb-4">
          <p class="mb-2 font-semibold text-[#5A6271] size-[14px]">TRẠNG THÁI HOẠT ĐỘNG</p>
          <div class="flex gap-2 flex-wrap">
            <div *ngFor="let item of activities">
              <tds-tag mode="checkable" [checked]="filterObj.isActive == item.value" (checkedChange)="selectActive(item)">
                {{item.text}}
              </tds-tag>
            </div>
          </div>
      </div>
      <hr>
      <div class="w-full flex align-center justify-between mt-4">
          <button tds-button color="primary" size="sm" (click)="onCancel()">
              <span class="flex items-center">
                  <i class="tdsi-close-fill text-sm leading-none mr-2"></i> Bỏ lọc
              </span>
          </button>
          <div>
            <button tds-button color="secondary" size="sm" (click)="closeMenu()">Đóng</button>
            <button tds-button color="primary"  class="ml-2" size="sm" (click)="onApply()">Áp dụng</button>
          </div>
      </div>
  </div>
</tds-dropdown-menu>
