<div class="p-4 flex w-full justify-center">
    <div class="w-3/4 bg-white rounded-md">
        <tds-card>
            <tds-card-header class="border-b border-light-200">Chọn gói dịch vụ sản phẩm phù hợp với nhu cầu của bạn.
            </tds-card-header>
            <tds-card-content>
                <div class="p-2 flex w-full gap-x-6 text-neutral-900 ">
                    <div *ngFor="let item of array; let indx = index"
                    (click)="focusData(indx)"
                    class="w-1/4 p-4 flex flex-col gap-y-8 rounded-md border border-neutral-2-200 group hover:bg-primary-1 hover:text-white"
                    >
                        <div class="flex flex-col gap-y-2">
                            <span class="text-title-1 font-semibold">BASIC</span>
                            <div class="flex items-center gap-x-2">
                                <span class="text-header-1 font-semibold group-hover:text-white text-primary-1" >200.000</span>
                                <span class="text-caption-2 font-regular group-hover:text-white text-neutral-400" >VNĐ/ Tháng</span>
                            </div>
                            <span class="text-body-2 font-regular">Đăng ký gói cược này bạn sẽ nhận thêm được các gói ưu đãi như sau:</span>
                        </div>
                        <div class="flex flex-col gap-y-4 text-body-2 font-regular" >
                            <span><i class="tdsi-checkbox-check-fill mr-6 group-hover:text-white text-primary-1" ></i>Feature Product</span>
                            <span><i class="tdsi-checkbox-check-fill mr-6 group-hover:text-white text-primary-1" ></i>Feature Product</span>
                            <span><i class="tdsi-checkbox-check-fill mr-6 group-hover:text-white text-primary-1" ></i>Feature Product</span>
                            <span><i class="tdsi-checkbox-check-fill mr-6 group-hover:text-white text-primary-1" ></i>Feature Product</span>
                            <span><i class="tdsi-checkbox-check-fill mr-6 group-hover:text-white text-primary-1"></i>Feature Product</span>
                        </div>
                        <div class="flex flex-col justify-center gap-y-4">
                            <div class="flex justify-center">
                                <a class="text-caption-2 group-hover:text-white text-info-500" routerLink="">Xem chi tiết sản phẩm</a>
                            </div>
                            <button tds-button color="secondary" class="group-hover:text-primary-1">Đăng ký</button>
                        </div>
                    </div>
                </div>
            </tds-card-content>
            <tds-card-actions>
                <div class="py-2 justify-end flex">
                  <button tds-button color="secondary" (click)="clickBackPageInfoData()">Trở về</button>
                </div>
              </tds-card-actions>
        </tds-card>
    </div>
</div>