<tds-button-group>
  <button tds-button-icon color="secondary"
    tds-dropdown
    trigger="click"
    [placement]="'bottomRight'"
    [tdsDropdownMenu]="menu"
    [autoClose]="false"
    tds-tooltip
    tooltipPlacement="topRight"
    tooltipTitle="Ẩn hiện cột dữ liệu">
    <span class="flex items-center">
      <i class="tdsi-column-setting-fill text-lg leading-none text-neutral-1-500"></i>
    </span>
  </button>
  <tds-dropdown-menu #menu="tdsDropdownMenu">
    <div class="max-h-[600px] w-full overflow-hidden overflow-y-auto tds-panel-scroll">
        <ng-container *ngFor="let column of columns">
          <div class="p-2">
            <tds-checkbox [checked]="column.isChecked" (change)="onChecked($event, column)">{{column.name}}</tds-checkbox>
          </div>
        </ng-container>
    </div>
  </tds-dropdown-menu>
</tds-button-group>
