<form [formGroup]="addProductForm" autocomplete="off">
    <div class="w-full pb-4 px-4">
        <div class="flex flex-col w-full bg-white rounded-xl">
            <div class="flex flex-row items-center justify-between px-4 py-3">
                <div class="flex flex-row items-center">
                    <button tds-flat-button-icon size="md" type="button"
                        (click)="backToMain()">
                        <span class="flex items-center">
                            <i class="tdsi-back-fill text-xl leading-5"></i>
                        </span>
                    </button>
                    <span class="text-neutral-1-900 text-header-1 font-semibold pl-2.5">THÊM MỚI BIẾN THỂ SẢN PHẨM</span>
                </div>
                <button tds-button color="primary" type="submit" class="w-[100px]" 
                  [disabled]="!addProductForm.valid" 
                  (click)="onSubmit()">
                    <span class="text-body-2 font-semibold">Lưu</span>
                </button>
            </div>
            <div class="flex flex-col p-4">
                <div class="flex flex-row items-center justify-start w-1/2 pb-6">
                    <div class="flex mr-12">
                        <tds-upload
                            listType="picture-card" 
                            [(fileList)]="fileList"
                            [showButton]="fileList.length == 0 " 
                            [preview]="handlePreview" 
                            [customRequest]="handleUpload"
                            class="rounded-lg tds-upload-image">
                            
                            <div class="text-neutral-1-300 mx-2">
                                <div class="flex items-center justify-center" >
                                    <span class="tdsi-image-1-fill text-6xl leading-5"></span>
                                </div>
                            </div>
                        </tds-upload>
                        
                        <tds-modal [visible]="previewVisible" [content]="modalContent" 
                            [footer]="null" (onCancel)="previewVisible = false">
                            <ng-template #modalContent>
                                <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
                            </ng-template>
                        </tds-modal>
                    </div>

                    <div class="flex flex-col w-full">
                        <tds-form-field>
                            <tds-label>Nhập tên sản phẩm</tds-label>
                            <input tdsInput formControlName="name" placeholder="Nhập tên sản phẩm" class="text-neutral-1-900 text-body-2 font-regular" [required]='true'/>
                            <tds-error>
                                Vui lòng nhập tên sản phẩm
                            </tds-error>
                        </tds-form-field>

                        <div class="grid grid-cols-2 gap-y-4 text-neutral-1-900 text-body-2 font-regular pt-4">
                            <tds-checkbox formControlName="sellable">Có thể bán</tds-checkbox>
                            <tds-checkbox formControlName="buyable">Có thể mua</tds-checkbox>
                            <tds-checkbox formControlName="active">Hiệu lực</tds-checkbox>
                            <tds-checkbox formControlName="pointOfSale">Hiện trên điểm bán hàng</tds-checkbox>
                        </div>
                    </div>
                </div>
                <div class="w-full border border-neutral-2-100 rounded-md">
                    <tds-tabset clsTab="tds-add-product-form">
                        <tds-tab title="Thông tin chung">
                            <div class="grid grid-cols-2 gap-y-4 gap-x-8">
                              <div class="grid grid-cols-3 gap-y-4 gap-x-6 items-center">
                                <tds-label>Loại sản phẩm:</tds-label>
                                <tds-form-field class="w-full col-span-2">
                                  <tds-select valueField="id" textField="name" placeholder='Chọn loại sản phẩm'
                                      disabledField="isActive" formControlName="type" [required]='true'
                                      [data]="productTypeList" [allowClear]="true">
                                  </tds-select>
                                  <tds-error>
                                      Vui lòng chọn loại sản phẩm
                                  </tds-error>
                                </tds-form-field>

                                <tds-label>Mã sản phẩm:</tds-label>
                                <tds-form-field class="w-full col-span-2">
                                  <input tdsInput formControlName="productCode" placeholder="" class="text-neutral-1-900 text-body-2 font-regular"/>
                                  <tds-error>
                                      Vui lòng nhập mã sản phẩm
                                  </tds-error>
                                </tds-form-field>

                                <tds-label>Mã vạch:</tds-label>
                                <tds-form-field class="w-full col-span-2">
                                  <input tdsInput formControlName="QRCode" placeholder="" class="text-neutral-1-900 text-body-2 font-regular"/>
                                  <tds-error>
                                      Vui lòng nhập mã vạch
                                  </tds-error>
                                </tds-form-field>

                                <tds-label>Nhóm sản phẩm:</tds-label>
                                <tds-form-field class="w-full col-span-2">
                                  <tds-select valueField="id" textField="name" placeholder='Chọn nhóm sản phẩm'
                                  disabledField="isActive" formControlName="group" [required]='true'
                                  [data]="productGroupList" [allowClear]="true">
                                  </tds-select>
                                  <tds-error>
                                      Vui lòng chọn nhóm sản phẩm
                                  </tds-error>
                                </tds-form-field>

                                <tds-label>Thuộc tính:</tds-label>
                                <tds-form-field class="w-full col-span-2">
                                  <input tdsInput formControlName="attribute" placeholder="" class="text-neutral-1-900 text-body-2 font-regular"/>
                                  <tds-error>
                                      Vui lòng nhập thuộc tính
                                  </tds-error>
                                </tds-form-field>
                              </div>

                              <div class="grid grid-cols-3 gap-y-4 gap-x-6 items-center">
                                <tds-label>Giá biến thể:</tds-label>
                                <tds-form-field class="w-full col-span-2">
                                  <tds-input-number formControlName="variantPrice" [min]="0" class="text-neutral-1-900 text-body-2 font-regular"></tds-input-number>
                                        <tds-error>
                                            Vui lòng nhập giá biến thể
                                        </tds-error>
                                </tds-form-field>

                                <tds-label>Giá vốn:</tds-label>
                                <tds-form-field class="w-full col-span-2">
                                  <tds-input-number formControlName="capital" [min]="0" class="text-neutral-1-900 text-body-2 font-regular"></tds-input-number>
                                  <tds-error>
                                      Vui lòng nhập giá vốn
                                  </tds-error>
                                </tds-form-field>

                                <tds-label>Đơn vị mặc định:</tds-label>
                                <tds-form-field class="w-full col-span-2">
                                  <tds-select valueField="id" textField="name" placeholder='Nhập đơn vị'
                                  disabledField="isActive" formControlName="defaultUnit" [required]='true'
                                  [data]="productUnitList" [allowClear]="true">
                                  </tds-select>
                                  <tds-error>
                                      Vui lòng chọn đơn vị mặc định
                                  </tds-error>
                                </tds-form-field>

                                <tds-label>Đơn vị mua:</tds-label>
                                <tds-form-field class="w-full col-span-2">
                                  <tds-select valueField="id" textField="name" placeholder='Nhập đơn vị'
                                  disabledField="isActive" formControlName="unit" [required]='true'
                                  [data]="productUnitList" [allowClear]="true">
                                  </tds-select>
                                  <tds-error>
                                      Vui lòng chọn đơn vị mua
                                  </tds-error>
                                </tds-form-field>

                                <tds-label>Kiểm soát hóa đơn mua hàng:</tds-label>
                                <tds-radio-group class="grid grid-cols-1 w-full col-span-2" formControlName="inventory">
                                  <label tds-radio value="1" class="mb-2">Trên số lượng đặt hàng</label>
                                  <label tds-radio value="2">Trên số lượng nhận hàng</label>
                                </tds-radio-group>
                              </div>
                            </div>
                        </tds-tab>
                        <tds-tab title="Tồn kho">
                            <div class="grid grid-cols-2 gap-y-4 gap-x-8">
                              <div class="grid grid-cols-3 gap-y-4 gap-x-6 items-center">
                                <tds-label>Khối lượng tịnh:</tds-label>
                                <tds-form-field class="w-full col-span-2">
                                  <tds-input-number formControlName="netWeight" [min]="0" class="text-neutral-1-900 text-body-2 font-regular"></tds-input-number>
                                  <tds-error>
                                    Vui lòng nhập khối lượng
                                  </tds-error>
                                </tds-form-field>
                              </div>
                            </div>
                        </tds-tab>
                        <tds-tab title="Bán hàng">
                          <div class="grid grid-cols-2 gap-y-4 gap-x-8 items-center text-neutral-1-600 text-header-2 font-semibold">
                            <span>Chính sách bán hàng</span>
                            <span>Điểm bán hàng</span>
                          </div>
                          
                          <div class="grid grid-cols-2 gap-y-4 gap-x-8 mt-4">
                            <div class="grid grid-cols-3 gap-y-4 gap-x-6 items-center">
                              <tds-label>Thời gian chờ:</tds-label>
                              <tds-form-field class="w-full col-span-2">
                                <tds-input-number formControlName="timeOut" [min]="0" class="text-neutral-1-900 text-body-2 font-regular"></tds-input-number>
                                <tds-error>
                                  Vui lòng nhập thời gian chờ
                                </tds-error>
                              </tds-form-field>
                            </div>

                            <div class="grid grid-cols-3 gap-y-4 gap-x-6 items-center">
                              <tds-label>Nhóm Pos:</tds-label>
                              <tds-form-field class="w-full col-span-2">
                                <tds-select valueField="id" textField="name" placeholder='Chọn nhóm Pos'
                                  disabledField="isActive" formControlName="PosGroup" [required]='true'
                                  [data]="PosGroupList" [allowClear]="true">
                                </tds-select>
                                <tds-error>
                                  Vui lòng chọn nhóm Pos
                                </tds-error>
                              </tds-form-field>
                            </div>
                          </div>
                        </tds-tab>
                        <tds-tab title="Hóa đơn">
                            <div class="grid grid-cols-2 gap-y-4 gap-x-8">
                              <div class="grid grid-cols-3 gap-y-4 gap-x-6 items-center">
                                <tds-label>Chính sách hóa đơn:</tds-label>
                                <tds-radio-group class="grid grid-cols-1 w-full col-span-2" formControlName="salePolicy">
                                  <label tds-radio value="1" class="mb-2">Trên số lượng đặt hàng</label>
                                  <label tds-radio value="2">Trên số lượng đã giao</label>
                              </tds-radio-group>
                              </div>
                            </div>
                        </tds-tab>
                    </tds-tabset>
                </div>
            </div>
        </div>
    </div>
</form>