<div class="relative">
  <tds-avatar [tdsSrc]="avatarUrl ? avatarUrl : url" [size]="size" [shape]="shape"
      [ngStyle]="{ 'outline-style': 'solid', 'outline-width.px': 2, 'outline-color': statusColor || 'transparent', 'outline-offset.px': 2 }">
  </tds-avatar>
  <!-- <div class="absolute inset-0 {{isLoading? 'ring-1 border-dashed border-neutral-1-400 border-4 rounded-full m-auto bg-white bg-opacity-70 z-50': ''}}" 
    [style.width.px]=" size | sizeAvatarPipe " [style.height.px]=" size | sizeAvatarPipe ">
  </div> -->
  <!-- <div class="absolute inset-0  {{isLoading? 'lds-dual-ring opacity-70': 'hidden'}}">
  </div> -->
  <div class="animate-pulse absolute inset-0 {{isLoading? 'inline-block':'hidden'}}">
    <span class="rounded-full inline-block align-top bg-neutral-2-100 dark:bg-d-neutral-2-200" [style.width.px]=" size | sizeAvatarPipe " [style.height.px]=" size | sizeAvatarPipe "></span>
  </div>
</div>
