<tds-spin [spinning]="isLoading">
  <form [formGroup]="_form">
    <tds-tabset [tabBarStyle]="{'padding-right':'0px','padding-left':'0px'}">
      <tds-tab title="Thông tin" clsContent="p-4 border-t border-neutral-2-200">
        <div class="w-full h-full grid grid-cols-2 gap-y-4 gap-x-8">
          <div class="grid grid-cols-3 gap-y-4 gap-x-3">

            <tds-label>Tên chiến dịch</tds-label>
              <tds-form-field class="col-span-2 w-full">
                <input tdsInput placeholder="Nhập tên chiến dịch" [required]='true' formControlName="Name" />
                <tds-error>
                    Vui lòng nhập tên chiến dịch
                </tds-error>
            </tds-form-field>

            <tds-label>Chốt đơn xác nhận</tds-label>
              <tds-form-field class="col-span-2 w-full">
                <tds-select valueField="value" textField="text"
                    placeholder='Trạng thái chốt đơn' [valuePrimitive]="false" formControlName="Config"
                    disabledField="isActive" [data]="lstConfig" [allowClear]="true">
                </tds-select>
            </tds-form-field>

            <tds-label>Nhân viên chốt đơn</tds-label>
              <tds-form-field class="col-span-2 w-full">
                <tds-select valueField="Id" textField="Name"
                    placeholder='Chọn nhân viên chốt đơn' [valuePrimitive]="false" mode="multiple" formControlName="Users"
                    disabledField="isActive" [data]="lstUser" [allowClear]="true">
                </tds-select>
            </tds-form-field>

            <tds-label>Ghi chú</tds-label>
            <tds-form-field class="col-span-2 w-full">
              <input tdsInput placeholder="Nhập ghi chú" formControlName="Note" />
            </tds-form-field>

            <tds-label>Mẫu tin chốt đơn</tds-label>
              <tds-form-field class="col-span-2 w-full">
                <tds-select valueField="Id" textField="Name"
                    placeholder='Chọn mẫu tin' [valuePrimitive]="false" formControlName="ConfirmedOrder_Template"
                    disabledField="isActive" [data]="(lstQuickReplies$ | async) || []" [allowClear]="true">
                </tds-select>
            </tds-form-field>

            <tds-label>Mẫu tin dự bị</tds-label>
              <tds-form-field class="col-span-2 w-full">
                <tds-select valueField="Id" textField="Name"
                    placeholder='Chọn mẫu tin' [valuePrimitive]="false" formControlName="Preliminary_Template"
                    disabledField="isActive" [data]="(lstQuickReplies$ | async) || []" [allowClear]="true">
                </tds-select>
            </tds-form-field>
          </div>

          <div class="grid grid-cols-3 gap-y-4 gap-x-3">
            <tds-label>Thời gian tổng hợp (phút)</tds-label>
              <tds-form-field class="col-span-2 w-full">
                  <tds-input-number [min]="0" class="text-neutral-1-900 text-body-2 font-regular" formControlName="ResumeTime"
                    [formatter]="numberWithCommas" [parser]="parserComas"></tds-input-number>
            </tds-form-field>

            <tds-label>Ngày bắt đầu</tds-label>
              <tds-form-field class="col-span-2 w-full">
                  <tds-date-picker placeholder="Chọn ngày bắt đầu" showTime [ngModel]="_form.value.StartDate" [ngModelOptions]="{standalone: true}" [disabledDate]="disabledDate"
                  (ngModelChange)="onChangeDate($event,0)">
                  </tds-date-picker>
            </tds-form-field>

            <tds-label>Ngày kết thúc</tds-label>
              <tds-form-field class="col-span-2 w-full">
                  <tds-date-picker placeholder="Chọn ngày kết thúc" showTime [ngModel]="_form.value.EndDate" [ngModelOptions]="{standalone: true}" [disabledDate]="disabledDate"
                  (ngModelChange)="onChangeDate($event,1)">
                  </tds-date-picker>
            </tds-form-field>

            <tds-label>Số tiền cọc bắt buộc</tds-label>
              <tds-form-field class="col-span-2 w-full">
                  <tds-input-number [min]="0"  [step]="1000" class="text-neutral-1-900 text-body-2 font-regular" formControlName="MaxAmountDepositRequired"
                    [formatter]="numberWithCommas" [parser]="parserComas"></tds-input-number>
            </tds-form-field>

            <tds-label>Số tiền tối thiểu đặt cọc</tds-label>
              <tds-form-field class="col-span-2 w-full">
                  <tds-input-number [min]="0" [step]="1000" class="text-neutral-1-900 text-body-2 font-regular" formControlName="MinAmountDeposit"
                    [formatter]="numberWithCommas" [parser]="parserComas"></tds-input-number>
            </tds-form-field>

            <div class="col-span-3 w-full grid grid-cols-2 gap-x-6">
              <div class="flex justify-between gap-x-3">
                <tds-label>Bật xử lý chốt đơn tự động</tds-label>
                <tds-checkbox formControlName="IsEnableAuto"></tds-checkbox>
              </div>

              <div class="flex justify-between gap-x-3">
                <tds-label>Bật số lượng</tds-label>
                <tds-checkbox formControlName="EnableQuantityHandling"></tds-checkbox>
              </div>
            </div>

            <div class="col-span-3 w-full grid grid-cols-2 gap-x-6">
              <div class="flex justify-between gap-x-3">
                <tds-label>Tổng hợp đơn hàng trong thời gian ca làm việc</tds-label>
                <tds-checkbox formControlName="IsShift"></tds-checkbox>
              </div>

              <div class="flex justify-between gap-x-3">
                <tds-label>Không cho phép gán nhân viên vào cuộc hội thoại</tds-label>
                <tds-checkbox formControlName="IsAssignToUserNotAllowed"></tds-checkbox>
              </div>
            </div>

          </div>
        </div>
      </tds-tab>
      <tds-tab title="Sản phẩm" clsContent="p-4 border-t border-neutral-2-200">
        <div class="w-full h-full flex flex-col gap-y-2">

          <div class="w-full">
            <div class="w-1/2 flex gap-x-2">
              <div class="relative w-full">
                <tds-form-field>
                  <input tdsInput placeholder="Tìm kiếm sản phẩm" autocomplete="off" [tdsInputDebounce]="750"
                      [(ngModel)]="textSearchProduct" [ngModelOptions]="{standalone: true}"
                      (inputKeyup)="onSearchProduct($event)">

                  <span tdsPrefix><i class="text-neutral-1-500 tdsi-search-fill"></i></span>

                  <span *ngIf="textSearchProduct" tdsSuffix>
                    <i (click)="closeSearchProduct()" class="text-neutral-1-500 tdsi-close-fill"></i>
                  </span>
                </tds-form-field>

                <div *ngIf="textSearchProduct && lstProductSearch.length > 0; else noDataProduct"
                  class="absolute left-0 right-0 -bottom-2 top-full p-2 h-56 text-caption-1 overflow-hidden overflow-y-auto tds-panel-scroll z-10 bg-white flex flex-col gap-y-2 shadow-md">
                  <tds-spin [spinning]="isLoadingProduct">
                      <span *ngFor="let item of lstProductSearch" (click)="selectProduct(item)"
                          class="p-2 cursor-pointer hover:bg-neutral-3-50 rounded-md flex gap-x-2">

                          <span class="text-info-400"> {{ item.NameGet }} - {{ item.Price | number:'1.0-3'  }}đ </span>

                          <div *ngIf="lstInventory && lstInventory[item.Id]">
                              <span class="text-neutral-1-400">Tồn kho: </span>
                              <span class="text-primary-1">{{lstInventory[item.Id] ? lstInventory[item.Id].QtyAvailable : 0}}</span>/
                              <span class="text-neutral-1-400">Tồn dự báo: </span>
                              <span class="text-primary-1">{{lstInventory[item.Id] ? lstInventory[item.Id].VirtualAvailable : 0}}</span>
                          </div>
                      </span>
                  </tds-spin>
                </div>

                <ng-template #noDataProduct>
                  <div *ngIf="textSearchProduct"
                    class="absolute left-0 right-0 -bottom-2 top-full p-2 h-44 overflow-hidden z-10 bg-white shadow-md">
                    <tds-spin [spinning]="isLoadingProduct">
                      <tds-empty></tds-empty>
                    </tds-spin>
                  </div>
                </ng-template>
              </div>

              <button tds-button color="primary" size="md" (click)="createProduct()">
                <span class="flex items-center">
                  <i class="tdsi-plus-fill text-lg leading-none mr-2"></i>Thêm mới
                </span>
              </button>
            </div>
          </div>

          <div class="w-full mt-4 rounded-md" >
            <div class="w-full h-full">
              <tds-table class="tds-table-rounded" #detailTable [bordered]="true" [listData]="detailsFormGroups.value" [showPagination]="false" [scroll]="{y:'240px'}">
                <thead class="rounded">
                    <tr>
                        <th width="6%">STT</th>
                        <th width="37%">Sản phẩm</th>
                        <th width="15%">Số lượng</th>
                        <th width="15%">Giới hạn trên đơn</th>
                        <th width="15%">Giá bán</th>
                        <th width="13%" class="text-center">
                          <button tds-button-icon color="secondary" size="sm" (click)="removeAllDetail()">
                            <span class="flex items-center">
                              <i class="tdsi-trash-fill"></i>
                            </span>
                          </button>
                        </th>
                    </tr>
                </thead>
                <tbody formArrayName="Details">
                      <tr *ngFor="let detail of detailsFormGroups.controls; let index = index" [formGroupName]="index">

                          <td> {{ index + 1 }} </td>

                          <!-- Sản phẩm -->
                          <td>
                            <div class="flex gap-x-2 items-center">
                              <tds-avatar size="xl" [shape]="'square'" class="bg-accent-4 text-white h-[60px] w-[60px]" tdsSrc="{{ detail?.value?.ImageUrl }}">
                              </tds-avatar>
                              <div class="flex flex-col gap-y-1">
                                <span class="font-semibold text-sm">
                                  {{detail?.value.ProductNameGet || detail?.value.ProductName}}
                                  <span *ngIf="detail?.value?.UOMName">({{detail?.value?.UOMName}})</span>
                                </span>
                                <span class="text-info-500 font-normal text-sm">+Thêm cú pháp chốt đơn</span>
                              </div>
                            </div>
                          </td>

                          <!-- Số lượng -->
                          <td>
                            <tds-form-field>
                              <tds-input-number [min]="1" [step]="1" [(ngModel)]="detail.value.Quantity" [formatter]="numberWithCommas" [parser]="parserComas" [ngModelOptions]="{standalone: true}">
                              </tds-input-number>
                            </tds-form-field>
                          </td>

                          <!-- Giới hạn trên đơn -->
                          <td>
                            <tds-form-field>
                              <tds-input-number [min]="0" [step]="1" [(ngModel)]="detail.value.LimitedQuantity" [formatter]="numberWithCommas" [parser]="parserComas" [ngModelOptions]="{standalone: true}">
                              </tds-input-number>
                            </tds-form-field>
                          </td>

                          <!-- Giá bán -->
                          <td>
                            <tds-form-field>
                              <tds-input-number [min]="0" [step]="1000" [(ngModel)]="detail.value.Price" [formatter]="numberWithCommas" [parser]="parserComas" [ngModelOptions]="{standalone: true}">
                              </tds-input-number>
                            </tds-form-field>
                          </td>

                          <!-- Thao tác -->
                          <td class="text-center">
                            <button tds-button-icon color="secondary" size="sm" (click)="removeDetail(index, detail.value)">
                              <span class="flex items-center">
                                <i class="tdsi-trash-fill"></i>
                              </span>
                            </button>
                          </td>
                      </tr>
              </tbody>
              </tds-table>
            </div>
          </div>

        </div>
      </tds-tab>
    </tds-tabset>

    <div class="w-full flex justify-end p-4 gap-x-2" *tdsModalFooter>
      <button tds-button class="w-[100px]" color="secondary" (click)="onCannel()">Đóng</button>
      <button tds-button class="w-[100px]" type="submit" color="primary" (click)="onSave()">Lưu</button>
    </div>

  </form>
</tds-spin>




