<div class="w-full h-full flex flex-col overflow-hidden relative">
    <div class="p-4 w-full bg-white">
      <div class="w-full">
        <h1 class="flex cursor-pointer items-center group whitespace-pre-wrap font-semibold">
          <span class="text-neutral-1-900 text-header-1 font-semibold font-sans"> Tổng quan </span>
        </h1>
      </div>
    </div>
    <tds-flex flex="row" class="w-full h-full py-2.5 px-4 overflow-auto">
        <tds-flex flex="col" class="w-2/3 h-full pr-4">
            <div class="bg-white w-full h-full mb-4 rounded-md">
                <div class="border-b flex flex-row align-center justify-between p-4">
                    <tds-flex flex="row" class="w-full" alignItems="center">
                        <tds-avatar class="bg-primary-1 text-white mr-2.5" icon="tdsi-dashboard-fill"></tds-avatar>
                        <span class="text-neutral-1-900 text-header-1 font-semibold">TỔNG QUAN</span>
                    </tds-flex>
                    <tds-flex flex="row" alignItems="center" class="border rounded w-[200px]">
                        <i class="tdsi-calendar-fill mx-2 h-5 w-5"></i>
                        <tds-select valueField="id" textField="name" [ngModel]="currentFilter"
                            [placeholder]="currentFilter" [data]="filterList" [border]="false"
                            (ngModelChange)="onChangeFilter($event)" size="md" class="truncate ...">
                        </tds-select>
                    </tds-flex>
                </div>
                <div *ngIf="dashboardData;else emptyData" class="flex flex-row justify-between w-full px-4 py-9">
                    <tds-flex flex="col" alignItems="center" class="pl-24">
                        <span class="flex items-center justify-center bg-gradient-to-r from-[#F25D27] to-[#FB921B] h-10 w-10 rounded-full">
                            <i class="tdsi-email-fill text-xl leading-none text-white"></i>
                        </span>
                        <span class="text-neutral-1-900 text-title-1 font-semibold font-sans text-center py-4">2500</span>
                        <span class="text-neutral-1-900 text-body-2 font-regular font-sans text-center">Tương tác</span>
                      </tds-flex>
                      <tds-flex flex="col" alignItems="center" justifyContent="between">
                        <span class="flex items-center justify-center bg-gradient-to-r from-[#28A745] to-[#77BE26] h-10 w-10 rounded-full">
                            <i class="tdsi-user-fill text-xl leading-none text-white"></i>
                        </span>
                        <span class="text-neutral-1-900 text-title-1 font-semibold font-sans text-center py-4">150</span>
                        <span class="text-neutral-1-900 text-body-2 font-regular font-sans text-center">Khách hàng</span>
                      </tds-flex>
                      <tds-flex flex="col" alignItems="center" justifyContent="between">
                        <span class="flex items-center justify-center bg-gradient-to-r from-[#2EB2E8] to-[#2EB7EF95] h-10 w-10 rounded-full">
                            <i class="tdsi-order-fill text-xl leading-none text-white"></i>
                        </span>
                        <span class="text-neutral-1-900 text-title-1 font-semibold font-sans text-center py-4">5</span>
                        <span class="text-neutral-1-900 text-body-2 font-regular font-sans text-center">Phiếu bán hàng</span>
                      </tds-flex>
                      <tds-flex flex="col" alignItems="center" justifyContent="between" class="pr-24">
                        <span class="flex items-center justify-center bg-gradient-to-r from-[#024DBE] to-[#2270E594] h-10 w-10 rounded-full">
                            <i class="tdsi-box-fill text-xl leading-none text-white"></i>
                        </span>
                        <span class="text-neutral-1-900 text-title-1 font-semibold font-sans text-center py-4">200</span>
                        <span class="text-neutral-1-900 text-body-2 font-regular font-sans text-center">Đơn hàng</span>
                      </tds-flex>
                </div>
            </div>
            <div class="bg-white w-full h-full mb-4 rounded-md">
                <div class="border-b flex flex-row align-center justify-between p-4">
                    <tds-flex flex="row" class="w-full" alignItems="center">
                        <tds-avatar class="bg-primary-1 text-white mr-2.5" icon="tdsi-facebook-2-fill"></tds-avatar>
                        <span class="text-neutral-1-900 text-header-1 font-semibold">THỐNG KÊ TRANG FACEBOOK</span>
                    </tds-flex>
                    <tds-flex flex="row" alignItems="baseline">
                        <tds-flex alignItems="center" class="border rounded w-[200px] mr-2.5">
                            <tds-select valueField="id" textField="name" [ngModel]="currentPage"
                            [placeholder]="currentPage" [data]="pageList" [border]="false" class="truncate ..."
                            (ngModelChange)="onChangeFilter($event)" size="md">
                            </tds-select>
                        </tds-flex>
                        <tds-flex flex="row" alignItems="center" class="border rounded w-[200px]">
                            <i class="tdsi-calendar-fill mx-2 h-5 w-5"></i>
                            <tds-select valueField="id" textField="name" [ngModel]="currentFilter"
                                [placeholder]="currentFilter" [data]="filterList" [border]="false" class="truncate ..."
                                (ngModelChange)="onChangeFilter($event)" size="md">
                            </tds-select>
                        </tds-flex>
                        </tds-flex>
                </div>
                <div *ngIf="facebookData;else emptyData" class="flex flex-col w-full px-4 py-9">
                    <div class="flex flex-row justify-between w-full px-[113px]">
                        <tds-flex flex="col" alignItems="center">
                        <span class="text-neutral-1-900 text-body-2 font-regular font-sans text-center py-2">Tổng lượt thích</span>
                        <span class="text-secondary-1 text-heading-4 font-semibold font-sans text-center">65 k</span>
                        </tds-flex>
                        <tds-flex flex="col" alignItems="center">
                            <span class="text-neutral-1-900 text-body-2 font-regular font-sans text-center py-2">Tổng bình luận</span>
                            <span class="text-secondary-1 text-heading-4 font-semibold font-sans text-center">500</span>
                        </tds-flex>
                        <tds-flex flex="col" alignItems="center">
                            <span class="text-neutral-1-900 text-body-2 font-regular font-sans text-center py-2">Tổng tin nhắn</span>
                            <span class="text-secondary-1 text-heading-4 font-semibold font-sans text-center">65 k</span>
                        </tds-flex>
                        <tds-flex flex="col" alignItems="center">
                            <span class="text-neutral-1-900 text-body-2 font-regular font-sans text-center py-2">Tổng bài viết</span>
                            <span class="text-secondary-1 text-heading-4 font-semibold font-sans text-center">20</span>
                        </tds-flex>
                        <tds-flex flex="col" alignItems="center">
                            <span class="text-neutral-1-900 text-body-2 font-regular font-sans text-center py-2">Tổng bài viết</span>
                            <span class="text-secondary-1 text-heading-4 font-semibold font-sans text-center">20</span>
                        </tds-flex>
                    </div>
                    <div class="w-full">
                        <div echarts [options]="fbReportOption" [size]="['auto',300]"></div>
                    </div>
                </div>
            </div>
            <div class="bg-white w-full h-full mb-4 rounded-md">
                <div class="border-b flex flex-row align-center justify-between p-4">
                    <tds-flex flex="row" class="w-full" alignItems="center">
                        <tds-avatar class="bg-primary-1 text-white mr-2.5" icon="tdsi-tag-fill"></tds-avatar>
                        <span class="text-neutral-1-900 text-header-1 font-semibold">THỐNG KÊ THEO NHÃN</span>
                    </tds-flex>
                    <tds-flex flex="row" alignItems="center" class="border rounded w-[200px]">
                        <i class="tdsi-calendar-fill mx-2 h-5 w-5"></i>
                        <tds-select valueField="id" textField="name" [ngModel]="currentFilter"
                            [placeholder]="currentFilter" [data]="filterList" [border]="false"
                            (ngModelChange)="onChangeFilter($event)" size="md" class="truncate ...">
                        </tds-select>
                    </tds-flex>
                </div>
                <div *ngIf="labelData;else emptyData" class="flex flex-row justify-between w-full px-5 py-6">
                  <div class="grid grid-cols-4 gap-y-6 gap-x-9 h-full w-full">
                    <tds-flex flex="col" class="h-[112px]">
                        <tds-flex flex="row" alignItems="center" justifyContent="between" class="w-full h-3/4 px-5 bg-light-50">
                            <span class="text-neutral-1-900 text-heading-4 font-semibold font-sans">230</span>
                            <span class="text-primary-1 text-body-2 font-normal text-center font-sans">25%<i class="tdsi-chart-up-line"></i></span>
                            <span class="text-neutral-1-400 text-body-2 font-normal font-sans text-center">Tháng này</span>
                        </tds-flex>
                        <tds-flex alignItems="center" class="w-full h-1/4 px-5 bg-primary-1 text-white text-body-2 font-normal font-sans">Đã giao hàng</tds-flex>
                    </tds-flex>
                    <tds-flex flex="col" class="h-[112px]">
                        <tds-flex flex="row" alignItems="center" justifyContent="between" class="w-full h-3/4 px-5 bg-light-50">
                            <span class="text-neutral-1-900 text-heading-4 font-semibold font-sans">230</span>
                            <span class="text-primary-1 text-body-2 font-normal text-center font-sans">25%<i class="tdsi-chart-up-line"></i></span>
                            <span class="text-neutral-1-400 text-body-2 font-normal font-sans text-center">Tháng này</span>
                        </tds-flex>
                        <tds-flex alignItems="center" class="w-full h-1/4 px-5 bg-error-400 text-white text-body-2 font-normal font-sans">Bom hàng</tds-flex>
                    </tds-flex>
                    <tds-flex flex="col" class="h-[112px]">
                        <tds-flex flex="row" alignItems="center" justifyContent="between" class="w-full h-3/4 px-5 bg-light-50">
                            <span class="text-neutral-1-900 text-heading-4 font-semibold font-sans">230</span>
                            <span class="text-primary-1 text-body-2 font-normal text-center font-sans">25%<i class="tdsi-chart-up-line"></i></span>
                            <span class="text-neutral-1-400 text-body-2 font-normal font-sans text-center">Tháng này</span>
                        </tds-flex>
                        <tds-flex alignItems="center" class="w-full h-1/4 px-5 bg-warning-400 text-white text-body-2 font-normal font-sans">Hết hàng</tds-flex>
                    </tds-flex>
                    <tds-flex flex="col" class="h-[112px]">
                        <tds-flex flex="row" alignItems="center" justifyContent="between" class="w-full h-3/4 px-5 bg-light-50">
                            <span class="text-neutral-1-900 text-heading-4 font-semibold font-sans">230</span>
                            <span class="text-primary-1 text-body-2 font-normal text-center font-sans">25%<i class="tdsi-chart-up-line"></i></span>
                            <span class="text-neutral-1-400 text-body-2 font-normal font-sans text-center">Tháng này</span>
                        </tds-flex>
                        <tds-flex alignItems="center" class="w-full h-1/4 px-5 bg-neutral-1-300 text-white text-body-2 font-normal font-sans">Thẻ khác</tds-flex>
                    </tds-flex>
                    <tds-flex flex="col" class="h-[112px]">
                        <tds-flex flex="row" alignItems="center" justifyContent="between" class="w-full h-3/4 px-5 bg-light-50">
                            <span class="text-neutral-1-900 text-heading-4 font-semibold font-sans">230</span>
                            <span class="text-primary-1 text-body-2 font-normal text-center font-sans">25%<i class="tdsi-chart-up-line"></i></span>
                            <span class="text-neutral-1-400 text-body-2 font-normal font-sans text-center">Tháng này</span>
                        </tds-flex>
                        <tds-flex alignItems="center" class="w-full h-1/4 px-5 bg-neutral-1-300 text-white text-body-2 font-normal font-sans">Thẻ khác</tds-flex>
                    </tds-flex>
                    <tds-flex flex="col" class="h-[112px]">
                        <tds-flex flex="row" alignItems="center" justifyContent="between" class="w-full h-3/4 px-5 bg-light-50">
                            <span class="text-neutral-1-900 text-heading-4 font-semibold font-sans">230</span>
                            <span class="text-primary-1 text-body-2 font-normal text-center font-sans">25%<i class="tdsi-chart-up-line"></i></span>
                            <span class="text-neutral-1-400 text-body-2 font-normal font-sans text-center">Tháng này</span>
                        </tds-flex>
                        <tds-flex alignItems="center" class="w-full h-1/4 px-5 bg-neutral-1-300 text-white text-body-2 font-normal font-sans">Thẻ khác</tds-flex>
                    </tds-flex>
                  </div>
                </div>
            </div>
            <div class="bg-white w-full h-full mb-4 rounded-md">
                <div class="border-b flex flex-row align-center justify-between p-4">
                    <tds-flex flex="row" class="w-full" alignItems="center">
                        <tds-avatar class="bg-primary-1 text-white mr-2.5" icon="tdsi-report-fill"></tds-avatar>
                        <span class="text-neutral-1-900 text-header-1 font-semibold">BÁO CÁO DOANH THU ĐƠN HÀNG</span>
                    </tds-flex>
                    <tds-flex flex="row" alignItems="center" class="border rounded w-[200px]">
                        <i class="tdsi-calendar-fill mx-2 h-5 w-5"></i>
                        <tds-select valueField="id" textField="name" [ngModel]="currentFilter"
                            [placeholder]="currentFilter" [data]="filterList" [border]="false"
                            (ngModelChange)="onChangeFilter($event)" size="md" class="truncate ...">
                        </tds-select>
                    </tds-flex>
                </div>
                <div *ngIf="revenueData;else emptyData">
                    <div class="flex flex-row items-center justify-center w-full px-4 py-8">
                        <tds-flex flex="col" alignItems="center" class="pr-24">
                            <span class="text-neutral-1-900 text-body-2 font-regular font-sans text-center py-2">Tổng doanh thu</span>
                            <span class="text-primary-1 text-heading-4 font-semibold font-sans text-center">500,000,000</span>
                        </tds-flex>
                        <tds-flex flex="col" alignItems="center">
                            <span class="text-neutral-1-900 text-body-2 font-regular font-sans text-center py-2">Tổng lợi nhuận</span>
                            <span class="text-secondary-1 text-heading-4 font-semibold font-sans text-center">200,000,000</span>
                        </tds-flex>
                    </div>
                    <div echarts [options]="revenueOption" [size]="['auto',300]"></div>
                </div>
            </div>
            <div class="bg-white w-full h-full mb-4 rounded-md">
                <div class="border-b flex flex-row align-center justify-between p-4">
                    <tds-flex flex="row" class="w-full" alignItems="center">
                        <tds-avatar class="bg-primary-1 text-white mr-2.5" icon="tdsi-report-fill"></tds-avatar>
                        <span class="text-neutral-1-900 text-header-1 font-semibold">TỈ LỆ CHUYỂN ĐỔI</span>
                    </tds-flex>
                    <tds-flex flex="row" alignItems="center" class="border rounded w-[200px]">
                        <i class="tdsi-calendar-fill mx-2 h-5 w-5"></i>
                        <tds-select valueField="id" textField="name" [ngModel]="currentFilter"
                            [placeholder]="currentFilter" [data]="filterList" [border]="false"
                            (ngModelChange)="onChangeFilter($event)" size="md" class="truncate ...">
                        </tds-select>
                    </tds-flex>
                </div>
                <div *ngIf="changingData;else emptyData">
                    <div class="flex flex-col justify-center w-full px-4 py-9">
                        <div class="flex flex-row items-center justify-center">
                            <tds-flex flex="col" alignItems="center" class="pr-5">
                                <span class="text-neutral-1-900 text-body-2 font-regular font-sans text-center py-2">Tổng khách hàng mới</span>
                                <span class="text-secondary-1 text-heading-4 font-semibold font-sans text-center">500</span>
                            </tds-flex>
                            <tds-flex flex="col" alignItems="center" class="px-5">
                                <span class="py-2">Tổng khách mua hàng</span>
                                <span class="text-secondary-1 text-heading-4 font-semibold font-sans text-center">25</span>
                            </tds-flex>
                            <tds-flex flex="col" alignItems="center" class="pl-5">
                                <span class="py-2">Tỉ lệ chuyển đổi</span>
                                <span class="text-secondary-1 text-heading-4 font-semibold font-sans text-center">5%</span>
                            </tds-flex>
                        </div>
                        <div class="w-full">
                            <div echarts [options]="changeRateOption" [size]="['auto',300]"></div>
                        </div>
                    </div>
                </div>
            </div>
        </tds-flex>
        <tds-flex flex="col" class="w-1/3  h-full">
            <div class="bg-white w-full h-full mb-4 rounded-md">
                <div class="border-b flex flex-row align-center items-center p-4">
                    <tds-avatar class="bg-primary-1 text-white mr-2.5" icon="tdsi-report-fill"></tds-avatar>
                    <span class="text-neutral-1-900 text-header-1 font-semibold">THỐNG KÊ TRONG NGÀY</span>
                </div>
                <div *ngIf="dailyData;else emptyData" class="border-b flex flex-col p-4">
                    <span class="px-2">Thống kê lượt tương tác trong ngày</span>
                    <div class="w-full">
                        <div echarts [options]="dailyOption" [size]="['auto',250]"></div>
                    </div>
                    <tds-flex flex="row" justifyContent="between" class="w-full">
                        <tds-flex flex="col" class="w-7/12">
                            <tds-flex flex="row" alignItems="start" justifyContent="between" class="w-full pb-4">
                                <tds-flex class="row" alignItems="center">
                                    <span class="text-primary-1 text-body-2 font-semibold font-sans pr-2">50</span>
                                    <span class="text-black text-body-2 font-regular font-sans">Khách hàng mới</span>
                                </tds-flex>
                                <span class="text-primary-1 text-body-2 font-normal text-center font-sans">
                                    25%
                                    <i class="tdsi-chart-up-line"></i>
                                </span>
                            </tds-flex>
                            <tds-flex flex="row" alignItems="start" justifyContent="between" class="w-full pb-4">
                                <tds-flex class="row" alignItems="center">
                                    <span class="text-secondary-1 text-body-2 font-semibold font-sans pr-2">20</span>
                                    <span class="text-black text-body-2 font-regular font-sans">Tin nhắn mới</span>
                                </tds-flex>
                                <span class="text-primary-1 text-body-2 font-normal text-center font-sans">
                                    25%
                                    <i class="tdsi-chart-up-line"></i>
                                </span>
                            </tds-flex>
                            <tds-flex flex="row" alignItems="start" justifyContent="between" class="w-full">
                                <tds-flex class="row" alignItems="center">
                                    <span class="text-accent-4 text-body-2 font-semibold font-sans pr-2">20</span>
                                    <span class="text-black text-body-2 font-regular font-sans">Bình luận mới</span>
                                </tds-flex>
                                <span class="text-primary-1 text-body-2 font-normal text-center font-sans">
                                    25%
                                    <i class="tdsi-chart-up-line"></i>
                                </span>
                            </tds-flex>
                        </tds-flex>
                        <tds-flex flex="row" justifyContent="end" class="w-5/12">
                            <tds-avatar tdsSrc="assets/images/Avatar-user.png" class="mr-2"></tds-avatar>
                            <tds-avatar tdsSrc="assets/images/Avatar-user.png" class="mr-2"></tds-avatar>
                            <tds-avatar tdsSrc="assets/images/Avatar-user.png" class="mr-2"></tds-avatar>
                            <tds-avatar text="+10" class="text-primary-1 bg-primary-3 text-center text-header-2 font-semibold font-sans"></tds-avatar>
                        </tds-flex>
                    </tds-flex>
                </div>
            </div>
            <div class="bg-white w-full h-full mb-4 rounded-md">
                <div class="border-b flex flex-row align-center justify-between p-4">
                    <tds-flex flex="row" class="w-full" alignItems="center">
                        <tds-avatar class="bg-primary-1 text-white mr-2.5" icon="tdsi-report-fill"></tds-avatar>
                        <span class="text-neutral-1-900 text-header-1 font-semibold">THỐNG KÊ THEO NHÂN VIÊN</span>
                    </tds-flex>
                    <tds-flex flex="row" alignItems="center" class="border rounded w-[250px]">
                        <i class="tdsi-calendar-fill mx-2 h-5 w-5"></i>
                        <tds-select valueField="id" textField="name" [ngModel]="currentFilter"
                            [placeholder]="currentFilter" [data]="filterList" [border]="false"
                            (ngModelChange)="onChangeFilter($event)" size="md" class="truncate ...">
                        </tds-select>
                    </tds-flex>
                </div>
                <div *ngIf="staffData;else emptyData" class="flex flex-col justify-center w-full px-4 py-9">
                    <div echarts [options]="staffOption" [size]="['auto',400]"></div>
                </div>
            </div>
            <div class="bg-white w-full h-full mb-4 rounded-md">
                <div class="border-b flex flex-row align-center justify-between p-4">
                    <tds-flex flex="row" class="w-full" alignItems="center">
                        <tds-avatar class="bg-primary-1 text-white mr-2.5" icon="tdsi-report-fill"></tds-avatar>
                        <span class="text-neutral-1-900 text-header-1 font-semibold">THỐNG KÊ THEO SẢN PHẨM</span>
                    </tds-flex>
                    <tds-flex flex="row" alignItems="center" class="border rounded w-[250px]">
                        <i class="tdsi-calendar-fill mx-2 h-5 w-5"></i>
                        <tds-select valueField="id" textField="name" [ngModel]="currentFilter"
                            [placeholder]="currentFilter" [data]="filterList" [border]="false"
                            (ngModelChange)="onChangeFilter($event)" size="md" class="truncate ...">
                        </tds-select>
                    </tds-flex>
                </div>
                <div *ngIf="productData;else emptyData" class="flex flex-col justify-center w-full">
                  <div echarts [options]="productOption" [size]="['auto',500]"></div>
                </div>
            </div>
            <div class="bg-white w-full h-full mb-4 rounded-md">
                <div class="border-b flex flex-row align-center justify-between p-4">
                    <tds-flex flex="row" class="w-full" alignItems="center">
                        <tds-avatar class="bg-primary-1 text-white mr-2.5" icon="tdsi-report-fill"></tds-avatar>
                        <span class="text-neutral-1-900 text-header-1 font-semibold">THỐNG KÊ SỐ TRANG KẾT NỐI</span>
                    </tds-flex>
                    <tds-flex flex="row" alignItems="center" class="border rounded w-[250px]">
                        <i class="tdsi-calendar-fill mx-2 h-5 w-5"></i>
                        <tds-select valueField="id" textField="name" [ngModel]="currentFilter"
                            [placeholder]="currentFilter" [data]="filterList" [border]="false"
                            (ngModelChange)="onChangeFilter($event)" size="md" class="truncate ...">
                        </tds-select>
                    </tds-flex>
                </div>
                <div *ngIf="connectPageData;else emptyData" class="p-4">
                  <div class="grid grid-cols-2 gap-4">
                    <tds-flex flex="col" class="bg-light-50 h-24">
                        <tds-flex flex="row" alignItems="center" class="h-1/3">
                            <div class="rounded bg-primary-1 w-3 h-3 ml-4 mr-2"></div>
                            <span class="text-neutral-1-900 text-body-2 font-normal text-center font-sans">Tài khoản kết nối</span>
                        </tds-flex>
                        <tds-flex flex="row" alignItems="center" class="h-2/3">
                            <span class="text-primary-1 text-heading-2 font-normal text-center font-sans pl-4 pr-2">100</span>
                            <span class="text-primary-1 text-body-2 font-normal text-center font-sans">
                                60%
                                <i class="tdsi-chart-up-line"></i>
                            </span>
                        </tds-flex>
                    </tds-flex>
                    <tds-flex flex="col" class="bg-light-50 h-24">
                        <tds-flex flex="row" alignItems="center" class="h-1/3">
                            <div class="rounded bg-blue-500 w-3 h-3 ml-4 mr-2"></div>
                            <span class="text-neutral-1-900 text-body-2 font-normal text-center font-sans">Số Page kết nối</span>
                        </tds-flex>
                        <tds-flex flex="row" alignItems="center" class="h-2/3">
                            <span class="text-blue-500 text-heading-2 font-normal text-center font-sans pl-4 pr-2">100</span>
                            <span class="text-primary-1 text-body-2 font-normal text-center font-sans">
                                60%
                                <i class="tdsi-chart-up-line"></i>
                            </span>
                        </tds-flex>
                    </tds-flex>
                    <tds-flex flex="col" class="bg-light-50 h-24">
                        <tds-flex flex="row" alignItems="center" class="h-1/3">
                            <div class="rounded bg-tertiary-1 w-3 h-3 ml-4 mr-2"></div>
                            <span class="text-neutral-1-900 text-body-2 font-normal text-center font-sans">Số Page gia hạn</span>
                        </tds-flex>
                        <tds-flex flex="row" alignItems="center" class="h-2/3">
                            <span class="text-tertiary-1 text-heading-2 font-normal text-center font-sans pl-4 pr-2">100</span>
                            <span class="text-primary-1 text-body-2 font-normal text-center font-sans">
                                60%
                                <i class="tdsi-chart-up-line"></i>
                            </span>
                        </tds-flex>
                    </tds-flex>
                    <tds-flex flex="col" class="bg-light-50 h-24">
                        <tds-flex flex="row" alignItems="center" class="h-1/3">
                            <div class="rounded bg-accent-3 w-3 h-3 ml-4 mr-2"></div>
                            <span class="text-neutral-1-900 text-body-2 font-normal text-center font-sans">Số Page hết hạn</span>
                        </tds-flex>
                        <tds-flex flex="row" alignItems="center" class="h-2/3">
                            <span class="text-accent-3 text-heading-2 font-normal text-center font-sans pl-4 pr-2">100</span>
                            <span class="text-primary-1 text-body-2 font-normal text-center font-sans">
                                60%
                                <i class="tdsi-chart-up-line"></i>
                            </span>
                        </tds-flex>
                    </tds-flex>
                  </div>
                </div>
            </div>
        </tds-flex>
    </tds-flex>
</div>
<ng-template #emptyData>
    <div class="flex items-center justify-center w-full h-[204px]">
        <tds-empty notFoundImage="assets/images/Group.svg" [notFoundContent]="null"></tds-empty>
    </div>
</ng-template>
