<div class="w-full h-full bg-white rounded-xl">
  <div class="flex flex-col gap-y-4">
    <div class="p-4 font-semibold text-xl">
      <button tds-button type="button" color="info">
        <i class="tdsi-print-fill"></i>
        In danh sách
      </button>
      <tds-form-field class="w-full">
        <input tdsInput placeholder="Tìm kiếm" autocomplete="off"/>
        <span tdsPrefix><i class="text-neutral-1-500 tdsi-search-fill"></i></span>
      </tds-form-field>
    </div>

    <div class="flex-auto">

    </div>
  </div>
</div>
