<ng-container *ngIf="parentIsHeaderCpm; else conversation">
    <div class="w-full flex items-center justify-center" tds-dropdown [clickHide]="false" [(visible)]="visible"
        [tdsDropdownMenu]="dropdownTeam" trigger="click">
        <div>
            <tpage-avatar-facebook [fbid]="currentTeam?.Facebook_PageId || currentTeam?.Facebook_ASUserId"
                [token]="currentTeam?.Facebook_PageToken || currentTeam?.Facebook_UserToken">
            </tpage-avatar-facebook>
        </div>
        <div class="px-2  flex-auto text-body-2 font-regular text-d-neutral-1-700 truncate">
            {{currentTeam?.Name}}
        </div>
        <div class="text-d-neutral-1-700">
            <i class="text-base leading-4 tdsi-arrow-down-fill"></i>
        </div>
    </div>
</ng-container>
<ng-template #conversation>
    <div class="w-full cursor-pointer border-2 border-neutral-2-50 border-solid rounded-lg py-2.5 px-3.5 flex justify-center items-center">
        <div tds-dropdown [clickHide]="false" [(visible)]="visible" [tdsDropdownMenu]="dropdownTeam" trigger="click" class="flex-auto flex items-center">
           <div class="w-full flex items-center">
            <div>
                <tpage-avatar-facebook [fbid]="currentTeam?.Facebook_PageId || currentTeam?.Facebook_ASUserId"
                    [token]="currentTeam?.Facebook_PageToken || currentTeam?.Facebook_UserToken">
                </tpage-avatar-facebook>
            </div>
            <div class="flex-auto flex pr-4">
                <div class="flex-auto relative  font-regular text-neutral-1-900">
                   <div class="absolute inset-0 pl-3 pr-1 text-body-2 truncate">
                    {{currentTeam?.Name}}
                   </div>
                </div>
                <div class="text-neutral-1-400">
                    <i class="text-base leading-4 tdsi-arrow-down-line"></i>
                </div>
                
            </div>
           </div>
        </div>
        <button class="p-1">
            <span class="flex justify-center items-center text-neutral-1-200">
                <i class="tdsi-reload-fill text-xl leading-5"></i>
            </span>
        </button>
    </div>
</ng-template>
<tds-dropdown-menu #dropdownTeam="tdsDropdownMenu">
    <ng-container *ngIf="parentIsHeaderCpm; else dropDownconversation">
        <div class="w-80 max-h-[500px] overflow-hidden overflow-y-auto tds-custom-scroll">
            <div class="w-full py-1">
                <ng-container *ngIf="data$ | async as data">
                    <tds-collapse [expandIconPosition]="'right'" [bordered]="false">
                        <ng-template ngFor let-item [ngForOf]="data.Items" let-i="index">
                            <tds-collapse-panel [header]="headerTpl" [active]="true" [disabled]="false"
                                [expandedIcon]="'tdsi-arrow-up-line'" [tdsClass]="'p-0'">
                                <ng-template #headerTpl>
                                    <div class="w-full flex items-center justify-center">
                                        <div>
                                            <tpage-avatar-facebook
                                                [fbid]="item.Facebook_PageId || item.Facebook_ASUserId"
                                                [token]="item.Facebook_PageToken || item.Facebook_UserToken">
                                            </tpage-avatar-facebook>
                                        </div>
                                        <div class="flex-auto pl-4 text-body-2 font-semibold">
                                            {{item.Name}}
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template ngFor let-child [ngForOf]="item.Childs" let-i="index">
                                    <div class="w-full px-6 cursor-pointer" (click)="onClick($event,child)">
                                        <div class="flex items-center justify-center p-2" [ngClass]="{
                                            'bg-neutral-3-50 rounded-full': currentTeam?.Id == child.Id
                                        }">
                                            <div>
                                                <tpage-avatar-facebook size="sm"
                                                    [fbid]="child.Facebook_PageId || child.Facebook_ASUserId"
                                                    [token]="child.Facebook_PageToken || child.Facebook_UserToken">
                                                </tpage-avatar-facebook>
                                            </div>
                                            <div class="flex-auto pl-4 text-body-2 ">
                                                {{child.Name}}
                                            </div>
                                            <div *ngIf="currentTeam?.Id == child.Id">
                                                <span
                                                    class="text-xl leading-5 tdsi-success-fill text-success-400"></span>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>



                            </tds-collapse-panel>
                        </ng-template>
                    </tds-collapse>
                </ng-container>
            </div>
        </div>
    </ng-container>

</tds-dropdown-menu>
<ng-template #dropDownconversation>
    <div class="w-full py-1 max-h-[500px] overflow-hidden overflow-y-auto tds-custom-scroll">
        <ng-container *ngIf="data$ | async as data">
            <tds-collapse [expandIconPosition]="'right'" [bordered]="false">
                <ng-template ngFor let-item [ngForOf]="data.Items" let-i="index" let-last="last">
                    <tds-collapse-panel [header]="headerTpl" [active]="true" [disabled]="false"
                        [expandedIcon]="'tdsi-arrow-up-line'" [tdsClass]="last ? '' :'p-0 pb-2 border-b-2 border-neutral-2-50'">
                        <ng-template #headerTpl>
                            <div class="w-full flex items-center justify-center ">
                                <div>
                                    <tpage-avatar-facebook [fbid]="item.Facebook_PageId || item.Facebook_ASUserId"
                                        [token]="item.Facebook_PageToken || item.Facebook_UserToken">
                                    </tpage-avatar-facebook>
                                </div>
                                <div class="flex-auto pl-4 text-body-2 font-semibold">
                                    {{item.Name}}
                                </div>
                            </div>
                        </ng-template>
                        <ng-template ngFor let-child [ngForOf]="item.Childs" let-i="index">
                            <div class="w-full px-6 cursor-pointer" (click)="onClick($event,child)">
                                <div class="flex items-center justify-center p-2" [ngClass]="{
                                    'bg-neutral-3-50 rounded-full': currentTeam?.Id == child.Id
                                }">
                                    <div>
                                        <tds-badge [count]="iconTemplate1">
                                            <tpage-avatar-facebook size="sm"
                                                [fbid]="child.Facebook_PageId || child.Facebook_ASUserId"
                                                [token]="child.Facebook_PageToken || child.Facebook_UserToken">
                                            </tpage-avatar-facebook>
                                        </tds-badge>
                                        <ng-template #iconTemplate1>
                                            <div class="absolute top-0 left-4   flex items-center justify-center ">
                                                <div class="rounded-full border border-white">
                                                    <span class="block bg-accent-3 w-2 h-2 rounded-full "></span>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </div>
                                    <div class="flex-auto pl-4 text-body-2 ">
                                        {{child.Name}}
                                    </div>
                                    <div *ngIf="currentTeam?.Id == child.Id">
                                        <span class="text-xl leading-5 tdsi-success-fill text-success-400"></span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </tds-collapse-panel>
                </ng-template>
            </tds-collapse>
        </ng-container>
    </div>
</ng-template>
