<div class="h-full w-full grid grid-cols-4 gap-x-4">
  <div class="col-span-3 bg-white rounded-xl p-4">
    sdfhgklsjdhgfk
  </div>
  <div>
    <!-- Đã đăng nhập tài khoản -->
    <!-- <div class="bg-white rounded-xl p-4 pt-10 flex flex-col items-center">
      <div class="h-[136px] w-[136px] rounded-full bg-white border-2 border-info-500 flex items-center justify-center">
        <tds-avatar [size]="126" tdsSrc="https://randomuser.me/api/portraits/women/68.jpg"></tds-avatar>
      </div>
      <span class="mt-4 text-header-1 font-semibold text-neutral-1-900">Xin chào, Tpos.vn!</span>
      <span class="mt-2 text-body-2 text-neutral-1-400">tmt30.tpos.vn</span>
      <span class="mt-6 text-title-1 font-semibold text-success-400">Số trang Facebook đang quản lí</span>
      <tds-avatar-group class="mt-2">
        <tds-avatar tdsSrc="https://randomuser.me/api/portraits/women/68.jpg"></tds-avatar>
        <tds-avatar tdsSrc="https://randomuser.me/api/portraits/women/67.jpg"></tds-avatar>
        <tds-avatar tdsSrc="https://randomuser.me/api/portraits/women/66.jpg"></tds-avatar>
        <tds-avatar tdsSrc="https://randomuser.me/api/portraits/women/65.jpg"></tds-avatar>
        <tds-avatar
            class="bg-primary-3 text-primary-1 text-caption-2 font-semibold" text="+5">
        </tds-avatar>
      </tds-avatar-group>
      <button tds-button color="secondary" class="w-full mt-6">
        <span class="flex items-center">
          <i class="tdsi-log-out-fill text-lg text-neutral-1-500 leading-none mr-2"></i>Đăng xuất
        </span>
      </button>
    </div> -->

    <!-- Chưa đăng nhập tài khoản -->
    <div class="bg-white rounded-xl p-4 flex flex-col">
      <span class="text-header-2 font-semibold text-neutral-1-900">Kết nối tài khoản</span>
      <div class="mt-4 w-full h-[254px] rounded-xl">
        <img src="/assets/imagesv2/facebook/facebook-img.svg" alt="" >
      </div>
      <span class="mt-4 text-body-2 font-regular text-neutral-1-900 text-center px-6">Kết nối tài khoản Facebook của bạn để đồng bộ tin nhắn, bình luận, bài viết về TPage</span>
      <button tds-button color="custom" class="w-full mt-4 text-white focus:ring-2 focus:ring-secondary-1/20 border-secondary-1
        bg-secondary-1 hover:bg-secondary-2 focus:bg-secondary-1 focus:border-secondary-1">
        <span class="flex items-center">
          <i class="tdsi-facebook-2-fill text-lg leading-none mr-2"></i>Kết nối với tài khoản Facebook
        </span>
      </button>
    </div>
  </div>
</div>

<!-- empty -->
<!-- <div class="h-full w-full bg-white rounded-xl pt-[64px] justify-center">
  <tds-empty notFoundImage="/assets/imagesv2/facebook/synchronize.svg" [notFoundContent]="contentTpl"
    [notFoundFooter]="footerTpl">
    <ng-template #contentTpl>
      <div class="mt-3 flex flex-col items-center gap-x-2">
        <span class="text-heading-3 font-semibold text-neutral-1-900">Chưa có kênh kết nối</span>
        <span class="text-body-2 font-regular text-neutral-1-300">Kết nối tài khoản TShop của bạn để đồng bộ tin nhắn,
          bình luận, bài viết về T-page</span>
      </div>
    </ng-template>

    <ng-template #footerTpl>
      <button tds-button color="custom" class="text-white focus:ring-2 focus:ring-secondary-1/20 border-secondary-1
      bg-secondary-1 hover:bg-secondary-2 focus:bg-secondary-1 focus:border-secondary-1 mt-3">
        <span class="flex items-center">
          <i class="tdsi-facebook-2-fill text-lg leading-none mr-2"></i>Kết nối với tài khoản Facebook
        </span>
      </button>
    </ng-template>
  </tds-empty>
</div> -->
