<div class="bg-white flex flex-col rounded-xl px-4">
    <div class="flex flex-row items-center justify-between border-b border-neutral-2-200 py-4">
        <span class="text-neutral-1-900 text-header-1 font-semibold font-sans">Tổng quan</span>
        <div class="flex flex-row items-center">
            <span class="text-neutral-1-400 text-body-2 font-regular font-sans">Hiển thị:</span>
            <tds-select valueField="name" textField="name" [ngModel]="currentFilter" [border]="false"
                [data]="filterList" size="md" class="text-primary-1 text-body-2 font-semibold font-sans w-[120px] truncate ..."
                (ngModelChange)="onChangeFilter($event)" classIcon="tdsi-arrow-down-fill">
            </tds-select>
        </div>
    </div>
    <div class="flex flex-row items-center justify-between py-6">
        <div class="flex flex-row items-center justify-center py-4 w-full">
            <span class="bg-[#C9FCFF] border border-transparent rounded-2xl p-2">
                <img src="assets/images/dashboard-customers-icon.svg">
            </span>
            <div class="flex flex-col pl-6">
                <span class="text-neutral-1-900 text-heading-4 font-semibold font-sans pb-1">{{labelData.customer.value|number:'2.0-0'}} Khách hàng</span>
                <div class="flex flex-row items-center">
                    <span class="border-transparent rounded-full text-body-2 font-regular font-sans text-center px-2 mr-2"
                        [class]="labelData.customer.decrease ? 'text-error-400 bg-[#FCE6EA]' : 'text-success-400 bg-[#F2FCF5]' ">
                        {{labelData.customer.percent}}%
                        <i [class]="labelData.customer.decrease ? 'tdsi-chart-down-line' : 'tdsi-chart-up-line' "></i>
                    </span>
                    <span class="text-neutral-1-400 text-body-2 font-regular font-sans">{{currentFilter}}</span>
                </div>
            </div>
        </div>
        <div class="flex flex-row items-center justify-center py-4 w-full">
            <span class="bg-[#F2EDFF] border border-transparent rounded-2xl p-2">
                <img src="assets/images/dashboard-messenger-icon.svg">
            </span>
            <div class="flex flex-col pl-6">
                <span class="text-neutral-1-900 text-heading-4 font-semibold font-sans pb-1">{{labelData.reaction.value|number:'2.0-0'}} Tương tác</span>
                <div class="flex flex-row items-center">
                    <span class="border-transparent rounded-full text-body-2 font-regular font-sans text-center px-2 mr-2"
                        [class]="labelData.reaction.decrease ? 'text-error-400 bg-[#FCE6EA]' : 'text-success-400 bg-[#F2FCF5]' ">
                        {{labelData.reaction.percent}}%
                        <i [class]="labelData.reaction.decrease ? 'tdsi-chart-down-line' : 'tdsi-chart-up-line' "></i>
                    </span>
                    <span class="text-neutral-1-400 text-body-2 font-regular font-sans">{{currentFilter}}</span>
                </div>
            </div>
        </div>
        <div class="flex flex-row items-center justify-center py-4 w-full">
            <span class="bg-[#DCEAFF] border border-transparent rounded-2xl p-2">
                <img src="assets/images/dashboard-bill-icon.svg">
            </span>
            <div class="flex flex-col pl-6">
                <span class="text-neutral-1-900 text-heading-4 font-semibold font-sans pb-1">{{labelData.bill.value|number:'2.0-0'}} Phiếu bán hàng</span>
                <div class="flex flex-row items-center">
                    <span class="border-transparent rounded-full text-body-2 font-regular font-sans text-center px-2 mr-2"
                        [class]="labelData.bill.decrease ? 'text-error-400 bg-[#FCE6EA]' : 'text-success-400 bg-[#F2FCF5]' ">
                        {{labelData.bill.percent}}%
                        <i [class]="labelData.bill.decrease ? 'tdsi-chart-down-line' : 'tdsi-chart-up-line' "></i>
                    </span>
                    <span class="text-neutral-1-400 text-body-2 font-regular font-sans">{{currentFilter}}</span>
                </div>
            </div>
        </div>
        <div class="flex flex-row items-center justify-center py-4 w-full">
            <span class="bg-[#FFEEB9] border border-transparent rounded-2xl p-2">
                <img src="assets/images/dashboard-orders-icon.svg">
            </span>
            <div class="flex flex-col pl-6">
                <span class="text-neutral-1-900 text-heading-4 font-semibold font-sans pb-1">{{labelData.order.value|number:'2.0-0'}} Đơn hàng</span>
                <div class="flex flex-row items-center">
                    <span class="border-transparent rounded-full text-body-2 font-regular font-sans text-center px-2 mr-2"
                        [class]="labelData.order.decrease ? 'text-error-400 bg-[#FCE6EA]' : 'text-success-400 bg-[#F2FCF5]' ">
                        {{labelData.order.percent}}%
                        <i [class]="labelData.order.decrease ? 'tdsi-chart-down-line' : 'tdsi-chart-up-line' "></i>
                    </span>
                    <span class="text-neutral-1-400 text-body-2 font-regular font-sans">{{currentFilter}}</span>
                </div>
            </div>
        </div>
    </div>
</div>