<tds-badge [count]="iconTemplate">
  <button tds-flat-button-icon size="md" tds-dropdown trigger="click" tds-tooltip="Thông báo" [clickHide]="false" [(visible)]="visible"
    [tdsDropdownMenu]="dropdownNotification">
    <span class="flex items-center">
      <i class="tdsi-bell-line text-xl leading-5 text-white"></i>
    </span>
  </button>
</tds-badge>
<ng-template #iconTemplate>
  <div class="absolute top-0.5 left-3.5 flex justify-center" *ngIf="getRead">
    <div class="rounded-full border border-white">
      <span class="block bg-green-400 w-1 h-1 rounded-full "></span>
    </div>
  </div>
</ng-template>

<tds-dropdown-menu #dropdownNotification="tdsDropdownMenu">
  <ng-container>
    <div class="flex flex-col">
      <div class="w-full py-3 px-4 flex items-center justify-between border-b border-neutral-200">
        <span class="font-semibold">Thông báo</span>
        <span class="text-info-400 font-semibold cursor-pointer flex items-center gap-x-2" (click)="onAll()">
          <span>Xem tất cả</span>
          <span class="tdsi-arrow-right-line"></span>
        </span>
      </div>

      <div class="w-full">
        <virtual-scroller #scroll [items]="data" (vsEnd)="vsEnd($event)" [enableUnequalChildrenSizes]="true" [scrollAnimationTime]="750"
        class="w-[336px] h-[500px] overflow-hidden overflow-y-auto tds-custom-scroll">
          <div *ngFor="let item of scroll.viewPortItems" (click)="onDetail(item)"
            class="flex gap-x-4 py-2.5 px-4 relative w-full cursor-pointer hover:bg-neutral-3-200">
            <div class="w-full flex gap-x-4" [ngClass]="item?.dateRead ? 'text-neutral-1-400' : ''">
              <tds-avatar [shape]="'square'" [size]="63" tdsSrc="{{ item?.notification?.thumbnail }}" [isAvatar]="false" class="rounded min-w-[63px]"></tds-avatar>
              <div class=" w-full relative">
                <div class="flex flex-col flex-auto gap-y-1 inset-0 absolute" *ngIf="item?.dateRead; else notRead">
                   <span class="text-body-2 font-semibold w-full text-neutral-1-900 truncate">{{item.notification.title}}</span>
                   <span class="text-caption-2 w-full text-neutral-1-900 truncate">{{item.notification.shortContent}}</span>
                   <span class="text-caption-2 font-semibold w-full text-neutral-1-400">{{item.dateCreated | yiDiffDateTime}} - {{item.dateCreated | date: 'dd/MM/yyyy'}}</span>
                </div>

                <ng-template #notRead>
                  <div class="flex flex-col flex-auto gap-y-1 inset-0 absolute">
                    <span class="text-body-2 font-semibold w-full text-neutral-1-900 truncate">{{item.notification.title}}</span>
                    <span class="text-caption-2 w-full text-neutral-1-900 truncate">{{item.notification.shortContent}}</span>
                    <span class="text-caption-2 font-semibold w-full text-info-400">{{ item.dateCreated | yiDiffDateTime}} - {{item.dateCreated | date: 'dd/MM/yyyy' }}</span>
                  </div>
                </ng-template>
              </div>

              <span class="tdsi-radio-circle-fill text-info-400 absolute top-1 right-1 text-xs" *ngIf="!item?.dateRead"></span>
            </div>
            <!-- <div class="pt-2 pr-2" [ngClass]="item?.dateRead ? 'hidden' : ''">
              <span class="tdsi-radio-circle-fill text-info-400 text-xs"></span>
            </div> -->
          </div>
          <div *ngIf="isLoadingNextdata" class="p-4 bg-white">
            <tds-skeleton [tdsActive]="true" [tdsAvatar]="true" [tdsParagraph]="{ rows: 2 }"></tds-skeleton>
          </div>
        </virtual-scroller>
      </div>
    </div>
  </ng-container>
</tds-dropdown-menu>
