<div class="w-full h-full px-4 overflow-auto tds-custom-scroll">
    <div class="w-full bg-white rounded-xl">
        <div class="flex flex-row items-center justify-between px-4 py-3">
            <div class="flex flex-row items-center">
                <tds-avatar class="bg-primary-1 text-white" icon="tdsi-setting-print-fill"></tds-avatar>
                <span class="text-neutral-1-900 text-header-1 font-semibold pl-2.5">KẾT NỐI/ CẤU HÌNH IN ĐƠN HÀNG</span>
            </div>
        </div>
        <div class="p-4">
            <tds-tabset>
                <tds-tab title="Kết nối in">
                    <div class="text-body-2 font-semibold text-info-500">
                        Hỗ trợ kết nối in đơn khi cấu hình chốt đơn tự động.
                        Chỉ nên kết nối trên một thiết bị có kết nối máy in duy nhất, để tránh lỗi in trùng đơn.
                    </div>
                    <div class="flex flex-row items-center pt-6 pb-4">
                        <tds-switch size="md" [(ngModel)]="isEnablePrint" (ngModelChange)="onPrintSwitchChange($event)"></tds-switch>
                        <span class="text-neutral-1-900 text-body-2 font-semibold pl-2">Bật in</span>
                    </div>

                    <div class="flex items-center mb-4">
                        <button *ngIf="!isConnected" tds-button color="primary" (click)="onConnectPrinter('connect')">
                            <span class="flex items-center">
                              <i class="tdsi-setting-print-fill text-lg leading-none mr-2"></i>
                              <span class="text-body-2 font-semibold {{ printHubConnected ? 'text-info-500' : ''}}">Kết nối máy in</span>
                            </span>
                        </button>
                        <span class="ml-3" *ngIf="printHubConnected">Đang kết nối ({{ printHubSaleOnlineOrderCount | number }})</span>

                        <button *ngIf="isConnected" tds-button color="primary" (click)="onConnectPrinter('disconnect')">
                            <span class="flex items-center">
                              <i class="tdsi-setting-print-fill text-lg leading-none mr-2"></i>
                              <span class="text-body-2 font-semibold {{ printHubConnected ? 'text-info-500' : ''}}">Ngắt kết nối</span>
                            </span>
                        </button>
                    </div>

                    <div class="flex flex-col" *ngIf="connectedUsers">
                        <span class="text-neutral-1-900 text-title-1 font-semibold py-4">Danh sách kết nối</span>
                        <div *ngFor="let item of connectedUsers; let i= index">
                            <div class="flex flex-row items-center justify-between pb-4">
                                <div class="flex flex-row items-center">
                                    <div class="flex flex-col pl-3">
                                        <span class="text-neutral-1-900 text-body-2 font-semibold">{{ item.connectionId }}</span>
                                        <span class="text-neutral-1-400 text-body-2 font-regular">{{item.connectionId ? 'Đã kết nối' : 'Chưa kết nối'}}</span>
                                    </div>
                                </div>
                                <button tds-flat-button (click)="forceDisconnect($event, i)" *ngIf="isConnected && item.connectionId != connectionId">
                                    <span class="flex items-center text-error-400 text-caption-1 font-semibold">
                                        <i class="tdsi-trash-line leading-none mr-2"></i>
                                        Xoá thiết bị
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="connectedUsers?.length == 0">
                      <tds-alert type="info" message="Chưa có thiết bị nào được kết nối"> </tds-alert>
                    </div>

                </tds-tab>
                <tds-tab title="Lịch sử đơn hàng đã in">
                    <tds-table templateMode>
                      <thead>
                          <tr>
                              <th>STT</th>
                              <th>Mã ĐH</th>
                              <th>Lỗi in</th>
                              <th>In lại</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let item of saleOnlineOrders; let i=index;">
                              <td>{{i+1}}</td>
                              <td>{{item.Code || 'N/A'}}</td>
                              <td>{{item.printErrorMessage || 'In thành công'}}</td>
                              <td>
                                <button (click)="printAgain(item)" [disabled]="item.isPrinting" type="button" tds-button size="sm" color="primary">In phiếu</button>
                              </td>
                          </tr>
                          <tr>
                            <td colspan="4">
                                <tds-alert type="success" message="Chưa có đơn hàng nào"></tds-alert>
                            </td>
                          </tr>
                      </tbody>
                    </tds-table>
                </tds-tab>
            </tds-tabset>
        </div>
    </div>
</div>
