<div class="rounded-md border border-light-50">
    <tds-table #basicTable [listData]="listSampleMessage" [showPagination]="false">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên mẫu</th>
                <th>Nội dung</th>
            </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-data [ngForOf]="basicTable.data">
                <tr>
                    <td>{{ data.id }}</td>
                    <td>{{ data.name }}</td>
                    <td>{{ data.content }}</td>
                </tr>
            </ng-template>
        </tbody>
    </tds-table>
</div>
<div class="w-full flex justify-end p-4" *tdsModalFooter>
    <button tds-button class="mr-2" type="button" color="secondary" (click)="cancel()">Đóng</button>

</div>