<div class="p-4 flex w-full justify-center">
    <div class="w-full bg-white rounded-xl">
        <tds-card>
            <tds-card-header class="border-b border-light-200">Thông tin gia hạn</tds-card-header>
            <tds-card-content>
                <div class="p-2 flex flex-col gap-y-4 font-semibold">
                    <div class="grid grid-cols-2 gap-x-12 gap-y-4 text-body-2 text-neutral-900">
                        <div class="flex gap-x-6 items-center">
                            <div class="w-1/3"><span class="truncate">Số tháng gia hạn:</span></div>
                            <div class="w-2/3">
                                <tds-form-field>
                                    <tds-select valueField="id" textField="value" placeholder='Số tháng gia hạn'
                                        disabledField="isActive" [formControl]="chooseMonth"
                                        [data]="contactOptions" (selectChange)="selectMonthChange()">
                                    </tds-select>
                                    <tds-error>Validation message text</tds-error>
                                </tds-form-field>
                            </div>
                        </div>
                        <div class="flex gap-x-4 items-center">
                            <div><span class="text-body-2 text-neutral-900 truncate">Mã giảm giá:</span></div>
                            <tds-form-field class="w-full">
                                <input tdsInput autocomplete="off" placeholder=""
                                     />
                            </tds-form-field>
                            <button tds-button color="primary">Xác nhận</button>
                        </div>
                        <div class="flex gap-x-6">
                            <div class="w-1/3"><span class="truncate">Gói hiện tại:</span></div>
                            <div class="w-2/3"><span class="font-semibold">{{tenantInfo?.Tenant?.PackageGroup}}</span></div>
                        </div>
                        <div class="flex gap-x-6">
                            <div class="w-1/3"><span class="truncate">Giá	</span></div>
                            <div class="w-2/3"><span class="font-semibold">{{currentPackage?.price | numberCustom}} VNĐ</span></div>
                        </div>
                        <div class="flex gap-x-6">
                            <div class="w-1/3"><span class="truncate">Ngày bắt đầu:</span></div>
                            <div class="w-2/3"><span class="font-semibold">{{tenantInfo?.Tenant?.DateExpired | date: 'dd/MM/yyyy'}}</span></div>
                        </div>
                        <div class="flex gap-x-6">
                            <div class="w-1/3"><span class="truncate">Ngày kết thúc:</span></div>
                            <div class="w-2/3"><span class="font-semibold">{{getDateExpired ? (getDateExpired | date: 'dd/MM/yyyy') : ''}}</span></div>
                        </div>
                    </div>
                </div>
                <div class="flex w-full justify-end">
                    <div class="w-1/3 flex gap-x-6 text-right pt-12 items-center">
                        <div class="w-1/3"><span class="truncate font-semibold">Tổng tiền:</span></div>
                        <div class="w-2/3">
                          <span class="font-semibold text-accent-3 text-header-1">
                            {{getTotalAmount | numberCustom }} VNĐ
                          </span>
                        </div>
                    </div>
                </div>
            </tds-card-content>
            <tds-card-actions>
                <div class="py-2 justify-end flex">
                    <button tds-button color="secondary" (click)="onBack()">Trở về</button>
                    <button tds-button color="success" class="ml-3" (click)="onNext()">Tiếp tục</button>
                </div>
            </tds-card-actions>
        </tds-card>
    </div>
</div>
