<div class="w-full h-full px-4 overflow-auto tds-custom-scroll">
  <div class="w-full">
    <!-- CẤU HÌNH TƯƠNG TÁC TỰ ĐỘNG -->
    <tds-spin [spinning]="isLoading">
      <form [formGroup]="_form">
        <div class="w-full h-full bg-white rounded-xl p-4 mb-4">
          <div class="flex flex-row items-center pb-4">
              <tds-avatar class="bg-primary-1 text-white" icon="tdsi-gear-2-fill"></tds-avatar>
              <span class="text-neutral-1-900 text-header-1 font-semibold pl-2.5">TƯƠNG TÁC TỰ ĐỘNG</span>
          </div>

          <!-- Cấu hình nội dung mẫu chốt đơn -->
          <div class="flex flex-col pb-4">
              <span class="text-neutral-1-900 text-title-1 font-semibold pt-4">Cấu hình nội dung mẫu chốt đơn</span>
              <div class="flex flex-row items-center pt-4">
                  <tds-switch size="md" formControlName="IsEnableOrder"></tds-switch>
                  <span class="text-neutral-1-900 text-body-2 pl-2">Phản hồi tự động khi chốt đơn?</span>
              </div>
              <div *ngIf="_form.controls['IsEnableOrder'].value == true" class="flex flex-col bg-neutral-3-50 rounded-md p-4 mt-4">
                  <div class="flex flex-col pb-4">
                      <span class="text-neutral-1-900 text-body-2 font-semibold pb-2">Nội dung mẫu</span>
                      <tds-editor [height]="104" [comment]="true" class="bg-white" formControlName="OrderTemplate"></tds-editor>
                  </div>
                  <div class="flex flex-col">
                      <div class="flex flex-row items-center pb-4">
                          <div class="flex flex-col mr-6">
                              <span class="text-neutral-1-900 text-body-2 font-semibold">Bật giỏ hàng?</span>
                              <span class="text-neutral-1-400 text-body-2 font-semibold">Cho phép khách hàng kiểm tra giỏ hàng, cập nhật thông tin xác nhận giỏ hàng.</span>
                          </div>
                          <tds-switch size="md" formControlName="IsEnableShopLink"></tds-switch>
                      </div>
                      <div *ngIf="_form.controls['IsEnableShopLink'].value == true" class="flex flex-col border-l border-neutral-2-100 ml-1 pl-4">
                          <tds-form-field class="w-1/3 pb-4">
                              <tds-label class="text-neutral-1-900 text-body-2 font-semibold">Tiêu đề nút</tds-label>
                              <input tdsInput autocomplete="off" placeholder="Tiêu đề nút xem giỏ hàng" formControlName="ShopLabel" />
                          </tds-form-field>
                          <tds-form-field class="w-1/3">
                              <tds-label class="text-neutral-1-900 text-body-2 font-semibold">Tiêu đề nút 2</tds-label>
                              <input tdsInput autocomplete="off" placeholder="Tiêu đề nút xác nhận đồng ý" formControlName="ShopLabel2" />
                          </tds-form-field>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Cấu hình nội dung mẫu tạo hóa đơn -->
          <div class="flex flex-col pb-4">
              <span class="text-neutral-1-900 text-title-1 font-semibold pt-4">Cấu hình nội dung mẫu tạo hóa đơn</span>
              <div class="flex flex-row items-center pt-4">
                  <tds-switch size="md" formControlName="IsEnableBill"></tds-switch>
                  <span class="text-neutral-1-900 text-body-2 pl-2">Phản hồi tự động khi tạo hóa đơn?</span>
              </div>
              <div *ngIf="_form.controls['IsEnableBill'].value == true" class="flex flex-col bg-neutral-3-50 rounded-md p-4 mt-4 gap-y-4">
                  <div class="flex flex-row items-center">
                      <tds-switch size="md" formControlName="IsUsingProviderTemplate"></tds-switch>
                      <span class="text-neutral-1-900 text-body-2 font-semibold pl-2">Sử dụng mẫu nhà cung cấp?</span>
                  </div>
                  <div *ngIf="_form.controls['IsUsingProviderTemplate'].value == true" class="flex flex-col">
                      <span class="text-neutral-1-900 text-body-2 font-semibold pb-2">Nội dung mẫu</span>
                      <tds-editor [height]="104" [comment]="true" class="bg-white" formControlName="BillTemplate"></tds-editor>
                  </div>
              </div>
          </div>

          <!-- Trạng thái vận chuyển -->
          <div class="flex flex-col pb-4">
              <span class="text-neutral-1-900 text-title-1 font-semibold pt-4">Trạng thái vận chuyển</span>
              <div class="flex flex-row items-center pt-4">
                  <tds-switch size="md" formControlName="IsEnableShipping"></tds-switch>
                  <span class="text-neutral-1-900 text-body-2 pl-2">Thông báo khi có sự thay đổi trạng thái vận đơn?</span>
              </div>
              <div *ngIf="_form.controls['IsEnableShipping'].value == true" class="flex flex-col bg-neutral-3-50 rounded-md p-4 mt-4">
                  <tds-form-field class="pb-4">
                      <tds-label class="text-neutral-1-900 text-body-2 font-semibold">Chọn trạng thái gửi</tds-label>
                      <tds-select valueField="Code" textField="Name" placeholder='Chọn trạng thái gửi'
                          formControlName="ShippingStatues" mode="multiple"
                          [data]="lstShippingStatues" [allowClear]="true" >
                      </tds-select>
                  </tds-form-field>
                  <div class="flex flex-col">
                      <span class="text-neutral-1-900 text-body-2 font-semibold pb-2">Nội dung mẫu</span>
                      <tds-editor [height]="104" [comment]="true" class="bg-white" formControlName="ShippingTemplate"></tds-editor>
                  </div>
              </div>
          </div>

          <div class="flex flex-row items-center justify-end">
              <button tds-button color="secondary" class="mr-2.5">
                  <span class="text-neutral-1-900 text-body-2 font-semibold">Hủy</span>
              </button>
              <button tds-button color="primary" (click)="onSave()" type="button">
                  <span class="flex items-center">
                    <i class="tdsi-save-fill text-lg leading-none mr-2"></i>
                    <span class="text-white text-body-2 font-semibold">Lưu thay đổi</span>
                  </span>
              </button>
          </div>
        </div>
      </form>
    </tds-spin>
  </div>
</div>
