<div class="p-4 flex w-full justify-center text-body-2">
  <div class="w-3/4 flex flex-col rounded-xl bg-white">
    <div class="px-4 py-2.5 border-x border-transparent">
      <span class="text-header-1 flex items-center text-neutral-1-900 font-semibold">
        Chọn gói dịch vụ sản phẩm phù hợp với nhu cầu của bạn.
      </span>
    </div>
    <div class="flex p-4 justify-between items-center bg-primary-3">
      <div class="flex items-center">
        <div>Gói cước đang dùng:</div>
        <div class="ml-4 font-semibold">Livestream 1000k</div>
        <div class="ml-1">
          <i tds-popover [popoverContent]="contentTemplate"
            class="tdsi-info-line text-xl text-info-400"></i>
          <ng-template #contentTemplate>
            <div class="flex flex-wrap text-body-2 text-neutral-900 gap-y-4">
              <div class="w-1/2 flex">
                <div class="w-1/3"><span class="font-regular">Địa chỉ gian hàng:</span></div>
                <div class="w-2/3"><span class="font-semibold">Test.tpos.dev</span></div>
              </div>
              <div class="w-1/2 flex">
                <div class="w-1/3"><span class="font-regular">Ngày bắt đầu:</span></div>
                <div class="w-2/3"><span class="font-semibold">30/06/2022</span></div>
              </div>
              <div class="w-1/2 flex">
                <div class="w-1/3"><span class="font-regular">Gói cước đang dùng:</span></div>
                <div class="w-2/3"><span class="font-semibold">Livestream 1000k</span></div>
              </div>
              <div class="w-1/2 flex">
                <div class="w-1/3"><span class="font-regular">Ngày kết thúc:</span></div>
                <div class="w-2/3"><span class="font-semibold">30/12/2022</span></div>
              </div>
              <div class="w-1/2 flex">
                <div class="w-1/3"><span class="font-regular">Thời gian sử dụng(Còn):</span></div>
                <div class="w-2/3"><span class="font-semibold">6 tháng</span></div>
              </div>
              <div class="w-1/2 flex">
                <div class="w-1/3"><span class="font-regular">Tổng hoá đơn trên tháng:</span></div>
                <div class="w-2/3"><span class="font-semibold">80</span></div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
      <div>
        <button tds-button color="primary" routerLink="/user/pack-of-data/extend">Gia hạn</button>
      </div>
    </div>
    <div class="flex h-full p-6 gap-x-6 text-neutral-900">
      <div *ngFor="let item of array; let indx = index" (click)="focusData(indx)"
        class="w-1/4 p-4 flex flex-col gap-y-8 rounded-md border border-neutral-2-200 group hover:bg-primary-1 hover:text-white">
        <div class="flex flex-col gap-y-2">
          <span class="text-title-1 font-semibold">BASIC</span>
          <div class="flex items-center gap-x-2">
            <span class="text-header-1 font-semibold group-hover:text-white text-primary-1">200.000</span>
            <span class="text-caption-2 font-regular group-hover:text-white text-neutral-400">VNĐ/ Tháng</span>
          </div>
          <span class="text-body-2 font-regular">Đăng ký gói cược này bạn sẽ nhận thêm được các gói ưu đãi như
            sau:</span>
        </div>
        <div class="flex flex-col gap-y-4 text-body-2 font-regular">
          <span><i class="tdsi-checkbox-check-fill mr-6 group-hover:text-white text-primary-1"></i>Feature
            Product</span>
          <span><i class="tdsi-checkbox-check-fill mr-6 group-hover:text-white text-primary-1"></i>Feature
            Product</span>
          <span><i class="tdsi-checkbox-check-fill mr-6 group-hover:text-white text-primary-1"></i>Feature
            Product</span>
          <span><i class="tdsi-checkbox-check-fill mr-6 group-hover:text-white text-primary-1"></i>Feature
            Product</span>
          <span><i class="tdsi-checkbox-check-fill mr-6 group-hover:text-white text-primary-1"></i>Feature
            Product</span>
        </div>
        <div class="flex flex-col justify-center gap-y-4">
          <div class="flex justify-center">
            <a class="text-caption-2 group-hover:text-white text-info-500" routerLink="">Xem chi tiết sản phẩm</a>
          </div>
          <button tds-button color="secondary" class="group-hover:text-primary-1"
            routerLink="/user/pack-of-data/extend">Đăng ký</button>
        </div>
      </div>
    </div>
    <div class="pt-8 px-4 pb-4 justify-end flex">
      <button tds-button color="secondary" class="min-w-[98px]" (click)="clickBackPageInfoData()"
        routerLink="/user/pack-of-data/info">Trở về</button>
    </div>
  </div>
</div>
