<form class="flex flex-col"[formGroup]="formAddCategory">
    <div class="w-full text-body-2 text-neutral-1-900">
        <div class="grid grid-cols-3 gap-x-8">
            <div class="flex items-center">
                <tds-label>Tên</tds-label>
            </div>
            <div class="col-span-2">
                <tds-form-field class="w-full">
                    <input tdsInput placeholder="Nhập tên" formControlName="Name" />
                </tds-form-field>
            </div>
        </div>
        <div class="grid grid-cols-3 gap-x-8 mt-4">
            <div class="flex items-center">
                <tds-label>Nhóm cha</tds-label>
            </div>
            <div class="col-span-2">
                <tds-form-field>
                    <tds-select valueField="Id" textField="Name" placeholder='Chọn nhóm cha' formControlName="Parent"
                        disabledField="isActive" [required]='true' [data]="lstParent" [allowClear]="true">
                    </tds-select>
                </tds-form-field>
            </div>
        </div>
        <div class="grid grid-cols-3 gap-x-8 mt-4">
            <div class="flex items-center">
                <tds-label>Thứ tự</tds-label>
            </div>
            <div class="col-span-2">
                <tds-form-field>
                    <tds-input-number [min]="1" [step]="1" formControlName="Sequence">
                    </tds-input-number>
                </tds-form-field>
            </div>
        </div>
        <div class="grid grid-cols-3 gap-x-8 mt-4">
            <div class="flex items-center">
                <tds-label  ds-label>Phương pháp giá</tds-label>
            </div>
            <div class="col-span-2">
                <tds-form-field>
                    <tds-select valueField="type" textField="text" placeholder='Chọn phương pháp giá' formControlName="PropertyCostMethod"
                        disabledField="isActive" [required]='true' [data]="lstPropertyCostMethod" [allowClear]="true">
                    </tds-select>
                </tds-form-field>
            </div>
        </div>
        <div class="grid grid-cols-3 gap-x-8 mt-4">
            <div class="flex items-center">
                <tds-label>Hiển thị trên điểm bán hàng</tds-label>
            </div>
            <div class="col-span-2">
                <tds-checkbox formControlName="IsPos"></tds-checkbox>
            </div>
        </div>
    </div>
</form>
<div class="w-full flex justify-end p-4 items-center" *tdsModalFooter>
  <div class="flex gap-x-4">
    <button tds-button class="min-w-[100px]" type="button" color="secondary">Đóng</button>
    <button tds-button class="w-[100px]" type="button" color="primary">Lưu</button>
  </div>
</div>
