<form  class="flex flex-col" [formGroup]="formCreateBillFast" >
  <div class="flex items-center gap-x-6">
    <div class="w-1/5">
      <tds-label>Đối tác giao hàng</tds-label>
    </div>
    <div class="w-2/5 flex flex-col">
      <tds-form-field>
        <tds-select valueField="Id" textField="Name" placeholder='Chọn đối tác giao hàng'
            [allowClear]="true" [valuePrimitive]="false" formControlName="carrier"
            [data]="lstCarriers" (selectChange)="changeCarrierAll()">
        </tds-select>
      </tds-form-field>
      <span class="flex text-info-500 text-xs pt-1" *ngIf="formCreateBillFast.controls['carrier'].value">
        *Phần mềm sẽ tự chọn đối tác với số tiền ship thấp nhất</span>
    </div>
    <div class="w-2/5">
      <tds-checkbox formControlName="isPromotion">Áp dụng khuyến mãi</tds-checkbox>
    </div>
  </div>

  <div class="w-full mt-4 rounded-md h-[240px]">
    <div class="w-full h-full ">
      <tds-table class="tds-table-rounded" #productTable [bordered]="true" [listData]="lstData" [showPagination]="false">
        <thead class="rounded">
            <tr>
                <th width="5%">STT</th>
                <th width="25%">Khách hàng</th>
                <th width="17%">Đối tác giao hàng</th>
                <th width="12%">Tiền hàng</th>
                <th width="12%">Phí ship</th>
                <th width="12%">KL ship (g)</th>
                <th width="9%">Thanh toán</th>
                <th width="8%">Thao tác</th>
            </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-data [ngForOf]="productTable.data" let-index="index">
              <tr>
                  <td class="align-top"> {{ index + 1 }} </td>
                  <!-- Khách hàng -->
                  <td class="align-top">
                    <div class="flex flex-col gap-y-2 text-sm">
                      <div class="flex">
                        {{ data.Partner.Name }}
                      </div>
                      <div class="flex items-baseline gap-x-2">
                        <span class="tdsi-call-fill text-md text-white bg-green-400 p-0.5 rounded-md"></span>
                        <span>{{data.Partner.Phone}}</span>
                      </div>
                      <div class="flex items-baseline gap-x-2">
                        <span class="tdsi-pin-fill text-md text-white bg-orange-500 p-0.5 rounded-md"></span>
                        <span>{{data.Partner.Street}}</span>
                      </div>
                    </div>
                  </td>
                  <!-- Đối tác -->
                  <td class="align-top">
                    <tds-form-field>
                      <tds-select valueField="Id" textField="Name" placeholder='Chọn đối tác'
                          [allowClear]="true" [valuePrimitive]="false" [(ngModel)]="data.Carrier" [ngModelOptions]="{standalone: true}"
                          [data]="lstCarriers" (onChange)="onChangeCarrier($event, data)">
                      </tds-select>
                    </tds-form-field>
                  </td>
                  <!-- Tiền hàng -->
                  <td class="align-top">
                    <tds-form-field>
                      <tds-input-number [min]="0" [step]="1000"
                        [(ngModel)]="data.AmountTotal" [ngModelOptions]="{standalone: true}">
                      </tds-input-number>
                    </tds-form-field>
                  </td>
                  <!-- Phí ship -->
                  <td class="align-top">
                    <tds-form-field>
                      <tds-input-number [min]="0" [step]="1000"
                        [(ngModel)]="data.DeliveryPrice" [ngModelOptions]="{standalone: true}">
                      </tds-input-number>
                    </tds-form-field>
                  </td>
                  <!-- Khối lượng -->
                  <td class="align-top">
                    <tds-form-field>
                      <tds-input-number [min]="0" [step]="1"
                        [(ngModel)]="data.ShipWeight" [ngModelOptions]="{standalone: true}">
                      </tds-input-number>
                    </tds-form-field>
                  </td>
                  <!-- Thanh toán -->
                  <td class="align-top">
                    <tds-checkbox></tds-checkbox>
                  </td>
                  <!-- Thao tác -->
                  <td class="align-top">
                    <div class="flex gap-x-2">
                      <button tds-button-icon color="secondary" size="sm" (click)="onEdit(index)">
                        <span class="flex items-center">
                          <i class="tdsi-edit-fill"></i>
                        </span>
                      </button>
                      <button tds-button-icon color="secondary" size="sm" (click)="onRemoveLine(index)">
                        <span class="flex items-center">
                          <i class="tdsi-trash-fill"></i>
                        </span>
                      </button>
                    </div>
                  </td>
              </tr>
              <tr>
                <td colspan="8">
                  <tds-label>Danh sách sản phẩm</tds-label>
                  <tds-table class="tds-table-rounded" #orderLinesTable [bordered]="true" [listData]="data.OrderLines" [showPagination]="false">
                    <thead class="rounded">
                        <tr>
                            <th width="5%">STT</th>
                            <th width="22">Sản phẩm</th>
                            <th width="14%">Số lượng</th>
                            <th width="14%">Số tiền</th>
                            <th width="14%">Tổng tiền</th>
                            <th width="22%">Ghi chú</th>
                            <th width="7%">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                      <ng-template ngFor let-orderLines [ngForOf]="orderLinesTable.data" let-i="index">
                          <tr>
                              <td> {{ i + 1 }} </td>
                              <!-- Sản phẩm -->
                              <td>
                                <p class="text-sm">
                                  {{ orderLines.ProductName }}
                                </p>
                              </td>
                              <!-- Số lượng -->
                              <td>
                                <tds-form-field>
                                  <tds-input-number [min]="0" [step]="1000" (ngModelChange)="changeQuantityProduct($event,i,index)"
                                    [(ngModel)]="orderLines.ProductUOMQty" [ngModelOptions]="{standalone: true}">
                                  </tds-input-number>
                                </tds-form-field>
                              </td>
                              <!-- Số tiền -->
                              <td>
                                <tds-form-field>
                                  <tds-input-number [min]="0" [step]="1000" (ngModelChange)="changePriceProduct($event, index, i)"
                                    [(ngModel)]="orderLines.PriceUnit" [ngModelOptions]="{standalone: true}">
                                  </tds-input-number>
                                </tds-form-field>
                              </td>
                              <!-- Tổng tiền -->
                              <td>
                                <!-- <tds-form-field>
                                  <tds-input-number [min]="0" [step]="1000"
                                    [(ngModel)]="orderLines.PriceSubTotal" [ngModelOptions]="{standalone: true}">
                                  </tds-input-number>
                                </tds-form-field> -->
                                {{ orderLines.PriceSubTotal }}
                              </td>
                              <!-- Ghi chú -->
                              <td>
                                <tds-form-field>
                                  <input tdsInput autocomplete="off" placeholder="Nhập ghi chú" [(ngModel)]="orderLines.Note" [ngModelOptions]="{standalone: true}" />
                                </tds-form-field>
                              </td>
                              <!-- Thao tác -->
                              <td>
                                <div class="flex gap-x-2">
                                  <!-- <button tds-button-icon color="secondary" size="sm">
                                    <span class="flex items-center">
                                      <i class="tdsi-edit-fill"></i>
                                    </span>
                                  </button> -->
                                  <button tds-button-icon color="secondary" size="sm" (click)="onRemoveProduct(index, i)">
                                    <span class="flex items-center">
                                      <i class="tdsi-trash-fill"></i>
                                    </span>
                                  </button>
                                </div>
                              </td>
                          </tr>
                      </ng-template>
                    </tbody>
                  </tds-table>
                </td>
              </tr>
          </ng-template>
        </tbody>
      </tds-table>
    </div>
  </div>

  <div class="w-full flex justify-between p-4" *tdsModalFooter>
    <div class="flex justify-between gap-x-2">
      <tds-checkbox formControlName="isPrint">In phiếu</tds-checkbox>
      <tds-checkbox formControlName="isPrintShip">In phiếu ship</tds-checkbox>
    </div>
    <div class="flex justify-between gap-x-2">
      <button tds-button class="w-[100px]" type="button" color="secondary" (click)="onCancel()">Đóng</button>
      <button tds-button class="w-[170px]" type="submit" color="info" (click)="onSave('confirm')">
          Lưu và xác nhận
      </button>
      <button tds-button class="w-[100px]" type="submit" color="primary" (click)="onSave()">Lưu</button>
    </div>
  </div>
</form>
