<div class="w-full h-full pb-4 px-4">
  <div class="flex flex-col flex-auto w-full h-full pb-4 overflow-hidden rounded-xl">
    <div class="flex flex-row items-center justify-between px-4 py-3 bg-white rounded-t-xl h-[60px]">
      <div class="flex flex-row items-center">
        <tds-avatar class="bg-primary-1 text-white" icon="tdsi-transport-fill"></tds-avatar>
        <span class="text-neutral-1-900 text-header-1 font-semibold pl-2.5">ĐỐI TÁC GIAO HÀNG</span>
      </div>
    </div>
    <div class="flex flex-row items-center justify-between py-2.5 px-4 bg-white rounded-b-xl h-[54px]">
      <span class="text-neutral-1-900 text-title-1 font-semibold">Danh sách đối tác</span>
      <tds-form-field class="w-[368px] mr-2">
        <input tdsInput placeholder="Tìm kiếm ..." autocomplete="off" [tdsInputDebounce]="750"
          (inputKeyup)="onInputKeyup($event)" />
        <span tdsPrefix><i class="text-neutral-1-500 tdsi-search-fill"></i></span>
      </tds-form-field>
    </div>
    <div class="flex flex-col w-full h-full mt-2">
      <div class="w-full h-full">
        <tds-spin [spinning]="isLoading">
          <div *ngIf="dataFilter && dataFilter.length > 0" class="tds-panel-scroll"
            style="max-height: calc(80vh - 8px); overflow: auto;">
            <div *ngFor="let item of dataFilter; let index = index" class="pr-4 py-2">
              <tds-collapse [expandIconPosition]="'right'" class="bg-white rounded-xl w-full">
                <tds-collapse-panel [header]="header" [active]="false" tdsClass="p-0" bordered="false"
                  [expandedIcon]="'tdsi-arrow-down-line'" [extra]="icon" (activeChange)="onChangeCollapse(index, $event)"
                  [active]="expandSet.has(index)">
                  <ng-template #header>
                    <div class="flex gap-4 items-center bg-neutral-3-500">
                      <div class="relative">
                        <tds-avatar
                          class="bg-base-white-100 dark:bg-d-base-white-100 justify-self-center text-base-white-500 dark:text-d-base-white-500"
                          [shape]="'square'" [size]="90" [tdsSrc]="item.UrlLogo">
                        </tds-avatar>
                      </div>
                      <div class="flex flex-col gap-1">
                        <div class="text-title-1 font-sans font-semibold"> {{item.Name}} </div>
                        <div *ngIf="dataItems[item.Type]?.['@odata.count'] > 0" class="flex gap-x-2 items-center">
                          <span class="text-caption-2 text-neutral-1-400">Đã kết nối</span>
                          <span class="text-primary-1 text-caption-2 font-semibold">{{ dataItems[item.Type]?.['@odata.count'] }}</span>
                        </div>
                        <span *ngIf="dataItems[item.Type]?.['@odata.count'] == 0" class="text-caption-2 text-neutral-1-400">Chưa kết nối</span>
                        <!-- <div *ngIf="deliveryDataSource.length == 0" class="flex gap-x-2 items-center">
                          <span class="text-caption-2 text-neutral-1-400">Chưa kết nối</span>
                        </div> -->
                        <!-- <div class="font-regular font-sans text-xs flex gap-x-2">
                          <p class="text-success-400 font-semibold" *ngIf="item.Description">
                            {{item.Description}}
                          </p>
                        </div> -->
                      </div>
                    </div>
                  </ng-template>
                  <!-- Header Icon -->
                  <ng-template #icon>
                    <div class="flex gap-4 items-center">
                      <button tds-button color="primary" [routerLink]="['/configs/delivery/connect']"
                        [queryParams]="{type: item.Type}">
                        <span class="flex items-center">
                          <i class="tdsi-link-fill text-lg leading-none mr-2"></i>Kết nối
                        </span>
                      </button>
                    </div>
                  </ng-template>
                  <tds-spin [spinning]="isLoading1">
                    <div *ngIf="item.Values" class="flex flex-col divide-y w-full">
                      <ng-template ngFor let-data let-i="index" [ngForOf]="item.Values" let-odd='odd'>
                        <div class="py-4 pl-4 pr-8 flex items-center">
                          <div class="flex flex-col gap-y-1.5 w-1/2">
                            <div class="font-semibold">{{ data.Name }}</div>
                            <div class="flex items-center gap-x-2">
                              <i
                                class="{{ data.Active ? 'tdsi-success-fill text-success-400':'tdsi-error-fill text-error-400' }} text-xl"></i>
                              <div *ngIf="data.Active == true">
                                Có hiệu lực
                              </div>
                              <div *ngIf="data.Active == false">
                                Không có hiệu lực
                              </div>
                            </div>
                          </div>
                          <div class="flex flex-col gap-y-1.5 w-1/3 justify-center">
                            <div>Đối tác giao hàng</div>
                            <div class="font-semibold">{{ data.DeliveryType }}</div>
                          </div>
                          <div class="flex divide-x-2 font-semibold w-1/ justify-end">
                            <div class="pr-4 flex items-center text-neutral-1-500 hover:text-info-500">
                              <i class="tdsi-edit-fill text-xl leading-none mr-2"></i>
                              <span class="cursor-pointer" [routerLink]="['/configs/delivery/edit']"
                                [queryParams]="{id: data.Id}">Chỉnh sửa</span>
                            </div>
                            <div class="pl-4 flex items-center text-neutral-1-500 hover:text-error-500">
                              <i class="tdsi-trash-fill text-xl leading-none mr-2"></i>
                              <span class="cursor-pointer" (click)="onDeleteDelivery(data)">Xóa</span>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                      <!-- phân trang -->
                      <div class="flex items-end py-3 px-4">
                        <tds-pagination class="w-full" [pageSize]="pageSize" [showTotal]="rangeTemplate"
                            [pageIndex]="pageIndex" [total]="dataItems[item.Type]?.['@odata.count']"
                            (pageIndexChange)="changePageIndex($event, index)">
                        </tds-pagination>

                        <ng-template #rangeTemplate let-range="range" class="pr-4">
                          {{ range[0] }}-{{ range[1] }} of {{ dataItems[item.Type]?.['@odata.count'] }}
                      </ng-template>
                      </div>
                    </div>
                    <div *ngIf="item.Values?.length == 0">
                      <tds-empty notFoundImage="./assets/imagesv2/Table.svg"
                        [notFoundContent]="contentTpl" [notFoundFooter]="footerTpl">
                        <ng-template #contentTpl>
                          <span class="text-neutral-1-400 text-body-2 font-normal">Chưa có tài khoản {{ item.Name }} được kết nối</span>
                        </ng-template>

                        <ng-template #footerTpl>
                          <button tds-button color="primary" [routerLink]="['/configs/delivery/connect']"
                            [queryParams]="{type: item.Type}">
                            <span class="flex items-center">
                              <i class="tdsi-link-fill text-lg leading-none mr-2"></i>Kết nối
                            </span>
                          </button>
                        </ng-template>
                      </tds-empty>
                    </div>
                  </tds-spin>
                </tds-collapse-panel>
              </tds-collapse>
            </div>
          </div>
          <div *ngIf="(dataFilter && dataFilter.length === 0) || !dataFilter">
            <tds-empty></tds-empty>
          </div>
        </tds-spin>
      </div>
    </div>
  </div>
</div>
