<div class="w-full h-full pb-4 px-4">
  <div class="flex flex-col flex-auto w-full h-full pb-4 overflow-hidden rounded-xl">
    <div class="flex flex-row items-center justify-between px-4 py-3 bg-white rounded-t-xl h-[60px]">
      <div class="flex flex-row items-center">
        <tds-avatar class="bg-primary-1 text-white" icon="tdsi-transport-fill"></tds-avatar>
        <span class="text-neutral-1-900 text-header-1 font-semibold pl-2.5">ĐỐI TÁC GIAO HÀNG</span>
      </div>
    </div>

    <div class="flex flex-row items-center justify-between py-2.5 px-4 bg-white rounded-b-xl h-[54px]">
      <span class="text-neutral-1-900 text-title-1 font-semibold">Danh sách đối tác</span>
      <tds-form-field class="w-[368px] mr-2">
        <input tdsInput placeholder="Tìm kiếm ..." autocomplete="off" [tdsInputDebounce]="750" (inputKeyup)="onInputKeyup($event)" />
        <span tdsPrefix><i class="text-neutral-1-500 tdsi-search-fill"></i></span>
      </tds-form-field>
    </div>

    <div class="flex flex-col w-full h-full mt-2">
      <div class="w-full h-full">
        <tds-spin [spinning]="isLoading">
          <div *ngIf="dataFilter && dataFilter.length > 0" class="tds-panel-scroll"
            style="max-height: calc(80vh - 8px); overflow: auto;">
            <div *ngFor="let item of dataFilter; let index = index" class="pr-4 py-2" (click)="openCollapse(item.Type)">
              <delivery-list [lenght]="dataItems[item.Type]?.['@odata.count']" [data]="item" [typeCollapse]="typeCollapse"></delivery-list>
            </div>
          </div>

          <div *ngIf="(dataFilter && dataFilter.length === 0) || !dataFilter">
            <tds-empty></tds-empty>
          </div>
        </tds-spin>
      </div>
    </div>
  </div>
</div>
