<tds-spin [spinning]="isLoading" class="w-full h-full">
    <tds-tabset class="border border-neutral-2-100 rounded-md h-full w-full" *ngIf="dataModel && _form">
        <tds-tab title="Thông tin chung">
            <form [formGroup]="_form" novalidate>
                <div class="flex flex-col w-full">
                    <div class="mb-4">
                        <upload-pictures-wall
                            [isArray]="false"
                            [data]="[_form.controls['ImageUrl'].value || dataModel.ImageUrl]"
                            (onLoadImage)="onLoadImage($event)">
                        </upload-pictures-wall>
                    </div>
                    <tds-form-field class="mb-4">
                        <tds-label>Tên sản phẩm:</tds-label>
                        <input tdsInput formControlName="Name" placeholder="Nhập tên sản phẩm"
                            class="text-neutral-1-900 text-body-2 font-regular" />
                        <tds-error>
                            Vui lòng nhập tên sản phẩm
                        </tds-error>
                    </tds-form-field>

                    <tds-form-field class="mb-4">
                        <tds-label>Nhóm sản phẩm:</tds-label>
                        <tds-select valueField="Id" textField="Name" placeholder='Chọn nhóm sản phẩm'
                            formControlName="Categ" [data]="lstProductCategory" [valuePrimitive]="false"
                            [allowClear]="true" >
                        </tds-select>
                        <tds-error>
                            Vui lòng chọn nhóm sản phẩm
                        </tds-error>
                    </tds-form-field>

                    <tds-form-field class="mb-4">
                        <tds-label>Mã chốt đơn:</tds-label>
                        <tds-select placeholder='Nhập mã vận đơn' [valuePrimitive]="false" formControlName="OrderTag"
                            [allowClear]="true" [data]="_form.controls['OrderTag'].value | stringToStringArray" mode="tags" 
                            (selectChange)="onChangeOrderTag($event)">
                        </tds-select>
                    </tds-form-field>

                    <!-- <tds-form-field class="mb-4">
                        <tds-label>Đơn vị mặc định:</tds-label>
                        <tds-select valueField="Id" textField="Name" placeholder='Chọn đơn vị mặc định'
                            formControlName="UOM" [data]="lstProductUOM" [valuePrimitive]="false" [allowClear]="true">
                        </tds-select>
                        <tds-error>
                            Vui lòng chọn đơn vị mua
                        </tds-error>
                    </tds-form-field> -->

                    <tds-form-field class="mb-4">
                        <tds-label>Đơn vị mua:</tds-label>
                        <tds-select valueField="Id" textField="Name" placeholder='Chọn đơn vị mặc định'
                            formControlName="UOMPO" [data]="lstProductUOM" [valuePrimitive]="false" [allowClear]="true">
                        </tds-select>
                        <tds-error>
                            Vui lòng chọn đơn vị mua
                        </tds-error>
                    </tds-form-field>

                    <tds-form-field>
                        <tds-label>Giá biến thể:</tds-label>
                        <tds-input-number formControlName="PriceVariant" [min]="0" [step]="1000" [formatter]="numberWithCommas" [parser]="parserComas" class="text-neutral-1-900 text-body-2 font-regular">
                        </tds-input-number>
                        <tds-error>
                            Vui lòng nhập giá biến thể
                        </tds-error>
                    </tds-form-field>
                </div>
            </form>
        </tds-tab>
        <tds-tab title="Hình ảnh">
            <div class="w-full">
                <upload-pictures-wall [isArray]="true" [data]="_form.controls.Images.value|convertListUrl" (onLoadImage)="onLoadImage($event)"></upload-pictures-wall>
            </div>
        </tds-tab>
    </tds-tabset>
</tds-spin>

<div class="w-full flex justify-end p-4" *tdsModalFooter>
    <button tds-button type="button" class="mr-2" color="secondary" (click)="cancel()">Hủy bỏ</button>
    <button tds-button type="submit" color="primary" (click)="onSave()">Lưu thay đổi</button>
</div>
