<form [formGroup]="addMadeInForm" autocomplete="off" (ngSubmit)="onSubmit()">
    <div class="grid grid-cols-4 gap-y-4 items-center">
      <tds-label>Tên</tds-label>
      <tds-form-field class="w-full col-span-3">
        <input tdsInput formControlName="nationName" autocomplete="off" placeholder="Nhập tên xuất xứ"/>
        <tds-error>
            Vui lòng nhập tên xuất xứ
        </tds-error>
      </tds-form-field>

      <tds-label>Mã</tds-label>
      <tds-form-field class="w-full col-span-3">
        <input tdsInput formControlName="nationCode" autocomplete="off" placeholder="Nhập mã xuất xứ"/>
        <tds-error>
          Vui lòng nhập mã xuất xứ
      </tds-error>
      </tds-form-field>

      <tds-label>Địa chỉ</tds-label>
      <tds-form-field class="w-full col-span-3">
        <input tdsInput formControlName="note" autocomplete="off" placeholder="Nhập ghi chú"/>
        <tds-error>
          Vui lòng nhập ghi chú
      </tds-error>
      </tds-form-field>
    </div>
</form>
<!-- footer -->
<div class="w-full flex justify-end p-4" *tdsModalFooter>
    <button tds-button class="mr-2" color="secondary" (click)="cancel()">
        Hủy bỏ
    </button>
    <button tds-button type="submit" [disabled]="!addMadeInForm.valid" color="primary" (click)="save()">
        Lưu thay đổi
    </button>
</div>