<div class="w-full flex flex-col items-center">
  <span class="text-header-2 font-semibold mb-2">Chuyển đổi trang Facebook</span>
  <span class="text-body-2 font-regular">Trang Facebook <span class="font-semibold">“Mèo nhạt nhẽo”</span> bạn quản lý đang được sử dụng cho một trang khác!</span>
  <span class="text-body-2 font-regular">Bạn có muốn chuyển đổi trang Facebook đang dùng?</span>
</div>
<div class="w-full flex justify-center items-center p-4" *tdsModalFooter>
  <button tds-button color="secondary" (click)="onCancel()" class="min-w-[100px] mr-4">
    Đóng
  </button>
  <button tds-button color="primary" (click)="onSubmit()" class="min-w-[100px]">
    Hoàn tất
  </button>
</div>
