<div class="w-full min-h-[50px] max-h-[184px] h-[184px] text-body-2 bg-white rounded-lg border">
  <tds-table class="min-h-[50px]" [scroll]="{y:'auto'}" #basicTable [listData]="dataExpand" [noResult]="emptyTable"
    [showPagination]="false" [loading]="isLoading">
    <thead class="rounded">
      <tr>
        <th width="5%" [align]="'center'">STT</th>
        <th width="7%">Hình ảnh</th>
        <th width="20%">Tên</th>
        <th width="10%">Đơn vị</th>
        <th width="10%" [align]="'right'">Số lượng</th>
        <th width="15%" [align]="'right'">Giá bán</th>
        <th width="15%" [align]="'center'">Hiệu lực</th>
        <th width="15%" [align]="'center'">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="basicTable.data" let-index="index">
        <tr>
          <td [align]="'center'">{{ index + 1 }}</td>
          <td>
            <tds-avatar class="rounded-lg" [shape]="'square'" [size]="44" [tdsSrc]="data.ImageUrl"
              [isAvatar]="false"></tds-avatar>
          </td>
          <td>{{ data?.NameGet }}</td>
          <td>{{ data?.UOMName }}</td>
          <td [align]="'right'">
            <div class="flex flex-row items-center justify-end">
              <span tds-tooltip tooltipTitle="{{ data?.ShopQuantity | numberCustom }}" class="truncate mr-2">{{
                data?.ShopQuantity }}</span>
              <div class="text-info-400 hover:bg-info-100 active:bg-info-100 rounded-md w-[26px] h-[26px]" tds-popover
                [popoverVisible]="indClickQuantity == data?.Id" popoverTrigger="click" [popoverFooter]="footerQuantity"
                [popoverContent]="contentQuantity" [popoverBackdrop]="true" popoverPlacement="bottom"
                [popoverAutoClose]="false" tds-tooltip tooltipTitle="Chỉnh sửa số lượng"
                (click)="openQuantityPopover(data)">
                <span class="flex items-center justify-center">
                  <i class="tdsi-edit-1-line text-base"></i>
                </span>
              </div>
              <!-- button thêm nhãn -->
              <ng-template #contentQuantity>
                <div class="w-[304px]">
                  <tds-form-field>
                    <tds-input-number [min]='0' [step]="1" [(ngModel)]="currentQuantity"
                      (ngModelChange)="changeQuantity($event)" [ngModelOptions]="{standalone: true}">
                    </tds-input-number>
                  </tds-form-field>
                </div>
              </ng-template>

              <ng-template #footerQuantity>
                <div class="flex justify-end pt-2">
                  <button tds-button-icon type="button" color="secondary" class="mr-2" size="sm"
                    (click)="closeQuantityPopover()">
                    <span class="flex items-center">
                      <i class="tdsi-close-fill"></i>
                    </span>
                  </button>
                  <button tds-button-icon type="button" size="sm" color="primary" (click)="saveChangeQuantity(data)">
                    <span class="flex items-center">
                      <i class="tdsi-tick-fill"></i>
                    </span>
                  </button>
                </div>
              </ng-template>
            </div>
          </td>
          <td [align]="'right'">{{ data?.Price | numberCustom }} đ</td>
          <td [align]="'center'">
            <span class="flex items-center justify-center">
              <i
                class="{{ data.Active ? 'tdsi-success-fill text-success-400':'tdsi-error-fill text-error-400' }} text-xl"></i>
            </span>
          </td>
          <td [align]="'center'">
            <button tds-button-icon color="secondary" type="button" size="sm" tds-tooltip="Xóa"
              (click)="onDelete(data)">
              <span class="flex items-center">
                <i class="tdsi-trash-fill text-neutral-1-500 text-xl leading-none"></i>
              </span>
            </button>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </tds-table>
  <ng-template #emptyTable>
    <div class="w-full">
      <tds-empty></tds-empty>
    </div>
  </ng-template>
</div>
