<tds-spin [spinning]="isLoading" class="w-full h-full">
    <div *ngIf="data && data.length > 0" class="h-full w-full flex gap-x-4 p-4">
  
      <div class="w-3/4 h-full flex flex-col gap-y-4">
        <div *ngFor="let team of data; let i = index" class="bg-white rounded-xl w-full border border-neutral-2-100">
          <tds-collapse [bordered]="false" [expandIconPosition]="'right'">
            <tds-collapse-panel [header]="header" 
              [tdsClass]="'p-0'" 
              [showArrow]="team.Childs && team.Childs?.length && team.Childs.length > 0 ? true : false"
              [active]="team.Childs && team.Childs?.length && team.Childs.length > 0 ? true : false">
  
              <!--TODO: Thông tin tài khoản -->
              <ng-template #header>
                <div class="flex w-full h-full justify-between items-center pr-4">
                  <div class="flex gap-4 items-center">
                    <div class="relative">
                      <div class="h-[70px] w-[70px] rounded-full bg-white border border-info-500 flex items-center justify-center">
                        <tds-avatar *ngIf="team?.OwnerAvatar || team?.ChannelAvatar" [tdsSrc]="team | getChannelAvatar" [size]="64" class="tiktok-avatar"></tds-avatar>
                        <tpage-avatar-facebook *ngIf="!(team?.OwnerAvatar || team.ChannelAvatar)" [size]="'xl'" [fbid]="team?.OwnerId" [token]="team?.OwnerToken"></tpage-avatar-facebook>
                      </div>
                      <div class="absolute right-0 bottom-0" *ngIf="team.Active">
                        <!-- TODO: hiện icon dưới avatar -->
                        <span *ngIf="team.Type == 'Facebook'">
                          <img src="../../../assets/imagesv2/facebook/icon-facebook.svg">
                        </span>
  
                      </div>
                    </div>
                    <div class="flex flex-col gap-1">
                      <div *ngIf="!team?.OwnerId" class="text-title-1 font-sans font-semibold"> {{ team.Name }} </div>
                      <a *ngIf="team?.OwnerId" class="text-title-1 font-sans font-semibold hover:text-info-500 hover:underline" tds-tooltip="Xem kênh của {{team.Name}}" 
                        href="https://www.tiktok.com/@{{team.OwnerId}}" target="_blank"> 
                        {{ team.Name }} </a>
  
                      <!--TODO: Kết nối trang -->
                      <div>
                        <div class="flex gap-x-2 items-center">
                          <span class="text-caption-2 text-neutral-1-400">Tài khoản</span>
                          <span class="text-caption-2 font-semibold"
                            [ngClass]="team.Active ? 'text-primary-1' : 'text-error-400'">{{ team.Active ? 'Đã kết nối' : 'Chưa kết nối' }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex gap-x-3 items-center">
                    <!-- <button tds-button-icon color="custom" tds-tooltip="Ẩn trang kết nối"
                      class="text-neutral-1-500 border-transparent hover:text-neutral-1-700 bg-transparent
                          hover:bg-neutral-3-50 focus:bg-neutral-3-100 focus:ring-0 focus:ring-transparent focus:border-transparent focus:text-neutral-1-700">
                      <i class="tdsi-eye-close-fill text-xl leading-none"></i>
                    </button> -->
  
                    <button tds-button-icon color="custom" tds-tooltip="Hủy kết nối" (click)="unconnectTeam(team)"
                      class="text-neutral-1-500 border-transparent hover:text-neutral-1-700 bg-transparent
                          hover:bg-neutral-3-50 focus:bg-neutral-3-100 focus:ring-0 focus:ring-transparent focus:border-transparent focus:text-neutral-1-700">
                      <i class="tdsi-break-link-fill text-xl leading-none"></i>
                    </button>
                  </div>
                </div>
              </ng-template>
  
              <div class="flex flex-col w-full gap-4 border-t border-neutral-2-100">
                <!--TODO: Danh sách page của tài khoản -->
                <div *ngIf="team.Childs" class="px-4 grid grid-cols-1 divide-y">
                  <div *ngFor="let child of team.Childs" class="flex justify-between items-center px-10 py-4">
                    <div class="flex gap-4 items-center">
                      <div class="relative">
                        <tds-avatar *ngIf="child?.ChannelAvatar || child.OwnerAvatar" [tdsSrc]="child | getChannelAvatar" [size]="48" class="tiktok-child-avatar"></tds-avatar>
                        <tpage-avatar-facebook *ngIf="!(child?.ChannelAvatar || child.OwnerAvatar)" [fbid]="child?.ChannelId" [token]="child?.ChannelToken" [size]="'lg'"></tpage-avatar-facebook>
                        <div class="absolute bottom-0 right-0 rounded-full bg-white flex items-center justify-center border-[1.5px] border-white">
                          <span><img [width]="16" [height]="16" src="../../../assets/imagesv2/tiktok/tiktok.svg"></span>
                        </div>
                      </div>
                      <div class="flex flex-col gap-1.5 justify-center">
                        <div class="text-neutral-1-900 font-sans font-semibold text-body-2">{{ child.Name }}</div>
                        <div class="flex gap-2 items-center">
                          <div class="text-primary-1 text-sm" [ngClass]=" child.Active ? 'tdsi-success-fill' : 'tdsi-break-link-fill' "></div>
                          <div class="text-body-2 text-neutral-1-900 font-regular">{{ child.Active ? 'Đã kết nối' : 'Chưa kết nối' }}</div>
                        </div>
                      </div>
                    </div>
  
                    <!-- TODO: button đã kết nối -->
                    <div *ngIf="child.Active" class="flex items-center">
                      <!-- <button tds-button color="custom" rounded="!rounded-full" class="text-primary-1 hover:text-primary-2 focus:ring-2 focus:ring-primary-1/20 border-primary-4
                            bg-primary-4 hover:bg-primary-4 focus:bg-primary-4 focus:border-primary-1"
                            *ngIf="team?.Facebook_ASUserId == userFBLogin?.id"
                            (click)="refreshPageToken(team.Id, child.Id)">
                        <span class="flex items-center">
                          <i class="tdsi-reload-fill text-xl leading-none mr-2"></i>Làm mới Token
                        </span>
                      </button> -->
                      <button tds-button color="custom" (click)="unconnectTeam(child)" rounded="!rounded-full"
                        class="text-neutral-1-500 border-transparent hover:text-error-400 bg-transparent
                            focus:ring-0 focus:ring-transparent focus:border-transparent focus:text-error-400 focus:bg-transparent">
                        <span class="flex items-center">
                          <i class="tdsi-break-link-fill text-xl leading-none mr-2"></i>Hủy kết nối
                        </span>
                      </button>
                    </div>
  
                    <!--TODO: button chưa kết nối -->
                    <!-- <div *ngIf="!child.Active" class="flex items-center">
                      <button tds-button color="primary" (click)="showModalAddPage(child)">
                        <span class="flex items-center">
                          <i class="tdsi-link-fill text-lg leading-none mr-2"></i>Kết nối
                        </span>
                      </button>
                    </div> -->
                  </div>
                </div>
  
                <!--TODO: Danh sách page rỗng (chưa có page kết nối) -->
                <!-- <div *ngIf="!team.Childs || team.Childs.length == 0" class="w-full p-4">
                  <tds-empty notFoundImage="/assets/imagesv2/facebook/flag.png" [notFoundContent]="contentTpl">
                    <ng-template #contentTpl>
                      <div class="flex flex-col items-center justify-center gap-y-2">
                        <span class="text-neutral-1-400 text-body-2 font-normal">Tài khoản chưa có trang Tiktok nào</span>
                        <button tds-button color="primary" (click)="verifyConnect(team)">
                          <span class="flex items-center">
                            <i class="tdsi-link-fill text-lg leading-none mr-2"></i>Kết nối trang
                          </span>
                        </button>
                      </div>
                    </ng-template>
                  </tds-empty>
                </div> -->
              </div>
            </tds-collapse-panel>
          </tds-collapse>
          <!--TODO Page chưa kết nối -->
          <!-- <div class="p-4 border-t border-neutral-2-100" *ngIf="team.Childs && team.Childs.length > 0">
            <span class="cursor-pointer text-success-400 text-xs" (click)="verifyConnect(team)">Xem thêm Page chưa kết nối</span>
          </div> -->
        </div>
      </div>
  
      <div class="w-1/4 sticky">
        <!--TODO Giao diện empty khi chưa đăng nhập -->
        <div class="bg-white rounded-xl p-4 flex flex-col" *ngIf="!userTiktokLogin || !userTiktokLogin.Id; else userLoggedTiktok">
            <span class="text-heading-3 font-semibold text-neutral-1-900">Kết nối với Tiktok Live</span>
            
            <div class="mt-4 w-full h-[254px] flex justify-center items-center rounded-xl">
                <div class="rounded-full overflow-hidden">
                    <img src="../../../assets/imagesv2/tiktok/tiktok-live-streaming.svg" alt="">
                </div>
            </div>

            <span class="mt-4 text-body-2 font-regular text-neutral-1-900 text-center px-6 mb-4">Nhập <span class="font-semibold">@username</span> của tài khoản đang live để 
                kết nối với bài live trên Tiktok</span>
                <tds-form-field class="w-full mb-2">
                  <input tdsInput autocomplete="off" placeholder="@uniqueId" [(ngModel)]="uniqueId"/>
                </tds-form-field>

                <tds-form-field class="w-full">
                  <input tdsInput autocomplete="off" placeholder="@sessionId" [(ngModel)]="sessionId"/>
                </tds-form-field>

                <button tds-button color="custom" class="text-white focus:ring-2 focus:ring-secondary-1/20 border-neutral-1-900
                    bg-neutral-1-900 hover:bg-neutral-1-800 focus:bg-neutral-1-900 focus:border-neutral-1-900 mt-3" 
                    (click)="tiktokSignIn()">
                    <span class="flex items-center">
                    <i class="tdsi-tiktok-fill text-lg leading-none mr-2"></i>Kết nối với Tiktok Live
                    </span>
                </button>
          </div>
    
           <!--TODO: Đã đăng nhập tài khoản -->
           <ng-template #userLoggedTiktok>
            <div class="bg-white rounded-xl p-4 pt-10 flex flex-col items-center justify-center">
              <div class="h-[136px] w-[136px] rounded-full bg-white border-2 border-info-500 flex items-center justify-center">
                <tds-avatar [size]="126" [tdsSrc]="userTiktokLogin?.Avatar"></tds-avatar>
              </div>
              <span class="mt-4 text-header-1 font-semibold text-neutral-1-900">Xin chào, {{ userTiktokLogin?.Name }}!</span>
              <span class="mt-2 text-body-2 text-neutral-1-400">{{ userTiktokLogin?.Email }}</span>
    
              <button tds-button color="secondary" class="w-full mt-6" (click)="tiktokSignOut()">
                <span class="flex items-center">
                  <i class="tdsi-log-out-fill text-lg text-neutral-1-500 leading-none mr-2"></i>Đăng xuất
                </span>
              </button>
            </div>
          </ng-template>
    
          <!--TODO: thêm tài khoản vào danh sách -->
          <!-- <div class="pt-4" *ngIf="userTiktokLogin != null" (click)="onTiktokConnected()">
            <button tds-button class="w-full" color="primary">Thêm vào TPage</button>
          </div> -->
        </div>
    </div>
  
    <!-- TODO: Giao diện empty khi danh sách kênh rỗng -->
    <div *ngIf="!data || data.length < 1" class="px-4 pt-4 w-full h-full">
      <div class="h-full w-full bg-white rounded-xl pt-16 justify-center">
        <tds-empty notFoundImage="/assets/imagesv2/facebook/synchronize.svg" [notFoundContent]="contentTpl" [notFoundFooter]="footerTpl">
          <ng-template #contentTpl>
            <div class="mt-3 flex flex-col items-center gap-y-2">
              <span class="text-body-2 font-regular text-neutral-1-300">Nhập @username của tài khoản đang live để kết nối với bài live trên Tiktok</span>
              <tds-form-field class="w-[364px] mb-2">
                <input tdsInput autocomplete="off" placeholder="@uniqueId" [(ngModel)]="uniqueId"/>
              </tds-form-field>

              <tds-form-field class="w-[364px]">
                <input tdsInput autocomplete="off" placeholder="@sessionId" [(ngModel)]="sessionId"/>
              </tds-form-field>
            </div>
          </ng-template>
  
          <ng-template #footerTpl>
            <button tds-button color="custom" class="text-white focus:ring-2 focus:ring-secondary-1/20 border-neutral-1-900
              bg-neutral-1-900 hover:bg-neutral-1-800 focus:bg-neutral-1-900 focus:border-neutral-1-900 mt-3" 
              (click)="tiktokSignIn()">
              <span class="flex items-center">
                <i class="tdsi-tiktok-fill text-lg leading-none mr-2"></i>Kết nối với Tiktok Live
              </span>
            </button>
          </ng-template>
        </tds-empty>
      </div>
    </div>
  </tds-spin>