<div class="w-full h-full pb-2">
  <tds-table #table class="w-full h-full"
    [showSizeChanger]="true"
    [frontPagination]="false"
    [listData]="lstOfData"
    [scroll]="{y:'auto'}"
    [loading]="isLoading"
    [total]="count"
    [scroll]="{y:'auto'}"
    (clickRefresh)="refreshData()"
    (queryParams)="onQueryParamsChange($event)">
    <thead>
      <tr>
        <th>Số hóa đơn</th>
        <th>Tên khách hàng</th>
        <th>Số lượng sản phẩm</th>
        <th>Ngày tạo</th>
        <th>Trạng thái</th>
        <th>
          <button tds-button-icon color="secondary" size="sm" (click)="refreshData()">
            <span class="flex items-center">
              <i class="tdsi-reload-fill"></i>
            </span>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of table.data">
        <td>
          <div class="text-info-400 font-semibold">
            {{ data.FSOrderCode }}
          </div>
        </td>
        <td>{{ data.PartnerName }}</td>
        <td>{{ data.TotalQuantity }}</td>
        <td>{{ data.DateCreated | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td>
          <tds-tag [status]="data.State | getColorStatusState" size="sm" type="outline">{{data.ShowState}}</tds-tag>
        </td>
        <td>
          <button tds-button color="primary" size="sm" (click)="showModelHistory(data.OrderId)">Xem lịch sử</button>
        </td>
      </tr>
    </tbody>
  </tds-table>
</div>
