<div *ngIf="data && data.Notification && data.EventName == 'chatomni.on-message'" class="bg-white flex gap-x-4 text-body-2 text-neutral-1-900 py-1 cursor-pointer pr-4" (click)="getLink(data)" >
    <span class="tdsi-information-fill text-info-400 text-heading-4"></span>
    <div class="flex flex-col gap-y-2 whitespace-pre-line break-words">
        <div class="text-body-2" [innerHTML]="data.Notification.Title"></div>

        <!-- Tin nhắn nội dung -->
        <div *ngIf="data.Notification.Message && data.Data?.Message?.Message && !(data.Notification.Attachments && data.Notification.Attachments?.data && data.Notification.Attachments?.data![0]?.image_data)">
            <div class=" text-body-2 line-clamp" [innerHTML]="data.Notification.Message | jsonPayload | formatIconLike | bbcodeConvert | safeHtml"></div>
        </div>

        <!-- Tin nhắn hình ảnh -->
        <div *ngIf="data.Notification.Attachments && data.Notification.Attachments.data">
            <div *ngIf="data.Notification.Attachments?.data!.length == 1 && data.Notification.Attachments?.data![0].image_data">
                <div *ngFor="let att of data.Notification.Attachments.data" class="flex gap-x-6 items-center">
                    <span class="text-body-2 text-neutral-1-900">Đã gửi hình ảnh</span>
                    <a *ngIf="att.image_data" class="relative w-12 h-12 flex">
                        <show-attachment class="w-full h-full" [type]="att.mime_type" [url]="att.image_data.url">
                        </show-attachment>
                    </a>

                    <a *ngIf="att.video_data">
                        <show-attachment [type]="att.mime_type" [url]="att.video_data?.url"
                            [width]="'48px'" [height]="'48px'" [isMuted]="false">
                        </show-attachment>
                    </a>

                    <a *ngIf="att.file_url" container="body">
                        <show-attachment [type]="att.mime_type" [url]="att.file_url">
                        </show-attachment>
                    </a>
                </div>
            </div>

            <div *ngIf="data.Notification.Attachments.data!.length > 1">
                <span class="text-body-2 text-neutral-1-900">Đã gửi {{data.Notification.Attachments.data!.length}} hình ảnh</span>
            </div>
        </div>
    </div>
</div>

<!-- Cập nhật tin nhắn lỗi -->
<div *ngIf="data && data.Notification && data.EventName == 'chatomni.on-update'" class="bg-white flex gap-x-4 text-body-2 text-neutral-1-900 py-1 cursor-pointer pr-4">
    <span class="tdsi-information-fill text-error-400 text-heading-4"></span>
    <div class="flex flex-col gap-y-2 whitespace-pre-line break-words">
        <div class="text-body-2 font-semibold" [innerHTML]="data.Notification.Title"></div>

        <!-- Tin nhắn nội dung -->
        <div *ngIf="data.Notification.Message">
            <div class=" text-body-2 line-clamp" [innerHTML]="data.Notification.Message | safeHtml"></div>
        </div>
    </div>
</div>

<!-- Notification cho đơn hàng -->
<div *ngIf="data && data.Notification && data.EventName == 'updated'" class="bg-white flex gap-x-4 text-body-2 text-neutral-1-900 py-1 cursor-pointer pr-4" >
    <span class="tdsi-information-fill text-info-400 text-heading-4"></span>
    <div class="flex flex-col gap-y-2 whitespace-pre-line break-words">
        <div class="text-body-2" [innerHTML]="data.Notification.Title"></div>

        <!-- Tin nhắn nội dung -->
        <div *ngIf="data.Notification.Message">
            <div class=" text-body-2 line-clamp" [innerHTML]="data.Notification.Message | formatIconLike | bbcodeConvert | safeHtml"></div>
        </div>

    </div>
</div>
