<div class="grid w-fyll grid-cols-1">
  <form [formGroup]="formAddress" class="flex flex-col gap-y-3">
    <div class="w-full flex gap-x-2 justify-between">
      <tds-form-field class="w-full">
        <input tdsInput placeholder="Số nhà, đường,..." [tdsInputDebounce]="200" (inputKeyup)="onchangeInputStreet($event)" formControlName="street" />
      </tds-form-field>
      <button tds-button-icon color="primary" (click)="onSelectStreet()">
        <span class="flex items-center">
          <i class="tdsi-location-fill"></i>
        </span>
      </button>
    </div>
    <div class="w-full " *ngIf="lstResultCheck.length != 0" >
      <ul class="">
          <li *ngFor="let item of lstResultCheck; index as i" (click)="setValueSelect(item, i)" class="{{index == i ? 'bg-primary-1 text-white' : 'bg-white'}}  flex tds-form-field-control w-full max-w-full border border-neutral-2-200 dark:bg-d-neutral-3-50 dark:border-d-neutral-2-200 p-2 cursor-pointer">
              <a class="text-body-2">{{item.Address}}</a>
          </li>
      </ul>
    </div>
    <div class="w-full flex">
      <tds-form-field class="w-full">
        <tds-select valueField="Code" textField="Name" placeholder='Tỉnh/Thành'
          [valuePrimitive]="false" [allowClear]="true"
          formControlName="city" disabledField="isActive" [data]="lstCity"
          [allowClear]="true" (selectChange)="onSelectCity($event)">
        </tds-select>
      </tds-form-field>
    </div>
    <div class="w-full flex">
      <tds-form-field class="w-full">
        <tds-select valueField="Code" textField="Name" placeholder='Quận/Huyện'
          [valuePrimitive]="false" [allowClear]="true"
          formControlName="district" disabledField="isActive" [data]="lstDistrict"
          [allowClear]="true" (selectChange)="onSelectDistrict($event)">
        </tds-select>
      </tds-form-field>
    </div>
    <div class="w-full flex">
      <tds-form-field class="w-full">
        <tds-select valueField="Code" textField="Name" placeholder='Phường/Xã'
          [valuePrimitive]="false" [allowClear]="true"
          formControlName="ward" disabledField="isActive" [data]="lstWard"
          [allowClear]="true" (selectChange)="onSelectWard($event)">
        </tds-select>
      </tds-form-field>
    </div>
  </form>
</div>
