<div class="w-full h-full flex flex-col">
    <div class="bg-white flex justify-between items-center">
        <div class="flex flex-col gap-y-1">
            <tds-breadcrumb tds-page-header-breadcrumb>
                <tds-breadcrumb-item>Phiếu bán hàng</tds-breadcrumb-item>
                <tds-breadcrumb-item>Lịch sử đối soát</tds-breadcrumb-item>
            </tds-breadcrumb>
            <div class="pl-4 pb-2.5">
                <span class="text-header-1 text-neutral-1-900 font-semibold">Lịch sử đối soát</span>
            </div>
        </div>

        <button tds-button color="secondary" class="mr-4" (click)="onBack()">Quay lại</button>
    </div>
    <div class="flex w-full h-full p-4">
        <div #tableWidth *ngIf="lstHistoryDS" class="rounded-md bg-white w-full h-full pb-3">
            <tds-table #table 
                [listData]="lstHistoryDS"
                [showSizeChanger]="true"
                [frontPagination]="false"
                [(pageSize)]="pageSize"
                [(pageIndex)]="pageIndex"
                [total]="count" 
                [scroll]="{y:'auto'}" 
                [loading]="isLoading"
                (queryParams)="onQueryParamsChange($event)"
                (clickRefresh)="refreshData()">
                <thead>
                    <tr>
                        <th [width]="'40px'" class="border-r" [tdsLeft]="true"></th>
                        <th [width]="'220px'" [align]="'center'" class="border-r" [tdsLeft]="true">Ngày</th>
                        <th [width]="'203px'" class="border-r">Đối tác</th>
                        <th [width]="'203px'" [align]="'right'" class="border-r">Tổng COD</th>
                        <th [width]="'203px'" [align]="'right'" class="border-r">Tổng COD ship</th>
                        <th [width]="'203px'" [align]="'right'" class="border-r">Thành công</th>
                        <th [width]="'203px'" [align]="'right'" class="border-r">Thất bại</th>
                        <th class="border-r">Ghi chú</th>
                        <th [width]="'92px'" [align]="'center'" [tdsRight]="true">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let data of table.data" >
                        <tr>
                            <td [expand]="expandSet.has(data.Id)" (expandChange)="onExpandChange(data.Id, $event)" class="border-r text-center" [tdsLeft]="true"></td>
                            <td class="border-r text-center" [tdsLeft]="true">{{ data.Date | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                            <td class="border-r">{{ data.CarrierName }}</td>
                            <td class="border-r text-right">{{ data.TotalCOD || 0 | number }} đ</td>
                            <td class="border-r text-right">{{ data.TotalCODShip || 0 | number }} đ</td>
                            <td class="border-r text-right">{{ data.CountSuccess || 0 | number }}</td>
                            <td class="border-r text-right">{{ data.CountError || 0 | number }}</td>
                            <td class="border-r">{{ data.Note }}</td>
                            <td class="border-r flex items-center justify-between" [tdsRight]="true">
                                <button tds-button-icon color="secondary" size="sm" (click)="showDetail(data.Id)">
                                    <span class="flex items-center">
                                      <i class="tdsi-category-fill"></i>
                                    </span>
                                </button>
                                <button tds-button-icon color="secondary" size="sm" (click)="deleteCrossChecking(data)">
                                    <span class="flex items-center">
                                      <i class="tdsi-trash-fill"></i>
                                    </span>
                                </button>
                            </td>
                        </tr>
                        <tr [expand]="expandSet.has(data.Id)" class="border-b border-neutral-2-100 text-neutral-1-900 bg-gray-200">
                            <div #detailHDS class="h-full w-full" [ngStyle]="{'max-width.px': tableWidth, 'margin-left.px': marginLeftCollapse}">
                                <history-delivery-status-detail *ngIf="expandSet.has(data.Id)" [historyDeliveryData]="data"></history-delivery-status-detail>
                            </div>
                        </tr>
                    </ng-container>
                </tbody>
            </tds-table>
        </div>
    </div>
</div>