<tds-spin [spinning]="isLoading" [formGroup]="_form">
  <div class="flex justify-end items-center gap-x-2 pr-4 mb-4">
    <tds-form-field class="w-1/6">
      <tds-select valueField="Text" textField="Text" formControlName="statusAll" placeholder='Chọn trạng thái'
          [allowClear]="true"
          [data]="lstStatus">
      </tds-select>
    </tds-form-field>
    <button tds-button color="primary" size="md" (click)="onAllStatus()">
      <span class="flex items-center">
          Áp dụng tất cả
      </span>
    </button>
  </div>

  <div class="w-full" *ngIf="listData" formArrayName="data">
    <tds-table #rowSelectionTable 
        [listData]="listData" 
        [frontPagination]="false" 
        [showPagination]="false"
        [scroll]="{y: '450px'}">
        <thead>
            <tr class="bg-neutral-3-50" >
                <th class="text-body-2" width="64px">STT</th>
                <th class="text-body-2" width="252px">Khách hàng</th>
                <th class="text-body-2" width="252px">Mã</th>
                <th class="text-body-2" width="252px">Số tiền</th>
                <th class="text-body-2" width="252px">Trạng thái đơn hàng</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of dataArray.controls; let i = index" [formGroupName]="i">
                <td class="text-body-2">{{ i + 1 }}</td>
                <td class="text-body-2">
                  {{ item.value.Name }}
                </td>
                <td class="text-body-2">
                  {{ item.value.Code }}
                </td>
                <td class="text-body-2">
                  {{ item.value.TotalAmount || 0 | number:'1.0-3' | numberCustom }}
                </td>
                <td>
                  <tds-form-field class="w-full">
                      <tds-select valueField="Text" textField="Text" placeholder='Chọn trạng thái'
                          formControlName="StatusText" [allowClear]="false"
                          [data]="lstStatus">
                      </tds-select>
                  </tds-form-field>
                </td>
            </tr>
        </tbody>
    </tds-table>
  </div>
  <div class="w-full flex justify-end p-4" *tdsModalFooter>
      <button tds-button class="mr-2 w-[100px]" type="button" color="secondary" (click)="onCancel(false)">Đóng</button>
      <button tds-button class=" w-[100px]" type="submit" color="primary" (click)="onSave()">Lưu</button>
  </div>
</tds-spin>
