<div class="grid">
    <div class="flex mb-4">
        <tds-label>Địa chỉ</tds-label>
    </div>
    <div>
        <tpage-check-address
            [streetText]="_street"
            [city]="_cities"
            [district]="_districts"
            [ward]="_wards"
            (onChangeAddress)="onChangeAddress($event)">
        </tpage-check-address>
    </div>
    <div class="w-full flex justify-end p-4" *tdsModalFooter>
        <button tds-button class="mr-2" type="button" color="secondary" (click)="onCancel()">Đóng</button>
        <button tds-button type="button" color="primary"(click)="onSave()"> Lưu </button>
    </div>
</div>
