<div class="w-full h-full bg-white rounded-md border border-neutral-2-100 text-body-2">
  <tds-tabset (selectedIndexChange)="onChangeTab($event)">
    <tds-tab [title]="titleItem1" clsContent="p-4 border-t">
      <ng-template #titleItem1 let-active="active">
        <div class="flex items-center justify-center font-semibold cursor-pointer text-body-2 px-3 py-4 relative group w-[94px]"
          [ngClass]='{"text-neutral-1-900":active,"text-neutral-1-400 hover:text-neutral-1-900":!active}'>
          <span>Thông tin</span>
          <div [ngClass]="{'block':active,'hidden group-hover:block':!active}"
            class="hidden border-b-3 border-primary-1 absolute left-0 right-0 bottom-0 bg-primary-1">
          </div>
        </div>
      </ng-template>
      <div class="flex gap-x-6">
        <div>
          <tds-avatar [tdsSrc]="dataModel?.ImageUrl" [size]="80" [isAvatar]="false" class="rounded-lg" [shape]="'square'">
          </tds-avatar>
        </div>
        <div class="grid 2xl:grid-cols-9 gap-x-4 gap-y-4 xl:grid-cols-6 items-center">
          <span class="text-neutral-1-900 text-body-2 font-regular">Mã sản phẩm:</span>
          <div class="w-full col-span-2">
            <span class="text-neutral-1-900 text-body-2 font-semibold ">
              {{ dataModel?.DefaultCode ? dataModel?.DefaultCode:'---' }}
            </span>
          </div>

          <span class="text-neutral-1-900 text-body-2 font-regular">Tên sản phẩm:</span>
          <div class="w-full col-span-2">
            <span class="text-neutral-1-900 text-body-2 font-semibold">
              {{ dataModel?.Name ? dataModel?.Name : '---' }}
            </span>
          </div>

          <span class="text-neutral-1-900 text-body-2 font-regular">Nhóm sản phẩm:</span>
          <div class="w-full col-span-2">
            <span class="text-neutral-1-900 text-body-2 font-semibold ">
              {{ dataModel?.CategName ? dataModel?.CategName : '---' }}
            </span>
          </div>

          <span class="text-neutral-1-900 text-body-2 font-regular">Loại sản phẩm:</span>
          <div class="w-full col-span-2">
            <span class="text-neutral-1-900 text-body-2 font-semibold">
              {{ dataModel?.ShowType ? dataModel?.ShowType : '---' }}
            </span>
          </div>

          <span class="text-neutral-1-900 text-body-2 font-regular">Giá bán mặc định:</span>
          <div class="w-full col-span-2">
            <span class="text-neutral-1-900 text-body-2 font-semibold">
              {{ ( dataModel?.ListPrice | numberCustom ) ?? '---' }}
            </span>
          </div>

          <span class="text-neutral-1-900 text-body-2 font-regular">Chiết khấu bán:</span>
          <div class="w-full col-span-2">
            <span class="text-neutral-1-900 text-body-2 font-semibold ">
              {{ dataModel?.DiscountSale ? dataModel?.DiscountSale : '---' }}
            </span>
          </div>

          <span class="text-neutral-1-900 text-body-2 font-regular">Cho phép bán ở công ty khác:</span>
          <div class="w-full col-span-2">
            <span class="text-neutral-1-900 text-body-2 font-semibold ">
              {{ dataModel?.EnableAll ? 'Có' : (dataModel?.EnableAll == false ? 'Không'
              : '---') }}
            </span>
          </div>

          <span class="text-neutral-1-900 text-body-2 font-regular">Công ty:</span>
          <div class="w-full col-span-2">
            <span class="text-neutral-1-900 text-body-2 font-semibold ">
              {{ dataModel?.CompanyName ? dataModel?.CompanyName : '---' }}
            </span>
          </div>

          <span class="text-neutral-1-900 text-body-2 font-regular">Đơn vị mặc định:</span>
          <div class="w-full col-span-2">
            <span class="text-neutral-1-900 text-body-2 font-semibold ">
              {{ dataModel?.UOMName ? dataModel?.UOMName : '---' }}
            </span>
          </div>

          <span class="text-neutral-1-900 text-body-2 font-regular">Giá mua:</span>
          <div class="w-full col-span-2">
            <span class="text-neutral-1-900 text-body-2 font-semibold ">
              {{ dataModel?.PurchasePrice ? dataModel?.PurchasePrice : '---' }}
            </span>
          </div>

          <span class="text-neutral-1-900 text-body-2 font-regular">Giá vốn:</span>
          <div class="w-full col-span-2">
            <span class="text-neutral-1-900 text-body-2 font-semibold ">
              {{ dataModel?.StandardPrice ? dataModel?.StandardPrice : '---' }}
            </span>
          </div>

          <span class="text-neutral-1-900 text-body-2 font-regular">Chiết khấu mua:</span>
          <div class="w-full col-span-2">
            <span class="text-neutral-1-900 text-body-2 font-semibold ">
              {{ dataModel?.DiscountPurchase ? dataModel?.DiscountPurchase : '---' }}
            </span>
          </div>

          <span class="text-neutral-1-900 text-body-2 font-regular">Đơn vị mua:</span>
          <div class="w-full col-span-2">
            <span class="text-neutral-1-900 text-body-2 font-semibold ">
              {{ dataModel?.UOMPOName ? dataModel?.UOMPOName : '---' }}
            </span>
          </div>

          <span class="text-neutral-1-900 text-body-2 font-regular">Khối lượng:</span>
          <div class="w-full col-span-2">
            <span class="text-neutral-1-900 text-body-2 font-semibold ">
              {{ dataModel?.Weight ? dataModel?.Weight : '---' }}
            </span>
          </div>

          <span class="text-neutral-1-900 text-body-2 font-regular">Nhà phân phối:</span>
          <div class="w-full col-span-2">
            <span class="text-neutral-1-900 text-body-2 font-semibold ">
              {{ dataModel?.DistributorName ? dataModel?.DistributorName : '---' }}
            </span>
          </div>

          <span class="text-neutral-1-900 text-body-2 font-regular">Nhà nhập khẩu:</span>
          <div class="w-full col-span-2">
            <span class="text-neutral-1-900 text-body-2 font-semibold ">
              {{ dataModel?.ImporterName ? dataModel?.ImporterName : '---' }}
            </span>
          </div>

          <span class="text-neutral-1-900 text-body-2 font-regular">Nhà sản xuất:</span>
          <div class="w-full col-span-2">
            <span class="text-neutral-1-900 text-body-2 font-semibold ">
              {{ dataModel?.ProducerName ? dataModel?.ProducerName : '---' }}
            </span>
          </div>

          <span class="text-neutral-1-900 text-body-2 font-regular">Xuất xứ:</span>
          <div class="w-full col-span-2">
            <span class="text-neutral-1-900 text-body-2 font-semibold ">
              {{ dataModel?.OriginCountryName ? dataModel?.OriginCountryName : '---' }}
            </span>
          </div>

          <span class="text-neutral-1-900 text-body-2 font-regular">Thành phần:</span>
          <div class="w-full col-span-2">
            <span class="text-neutral-1-900 text-body-2 font-semibold ">
              {{ dataModel?.IsCombo ? 'Là combo' : '---' }}
            </span>
          </div>

          <span class="text-neutral-1-900 text-body-2 font-regular">Thông số kỹ thuật:</span>
          <div class="w-full col-span-2">
            <span class="text-neutral-1-900 text-body-2 font-semibold ">
              {{ dataModel?.Specifications ? dataModel?.Specifications : '---' }}
            </span>
          </div>

          <span class="text-neutral-1-900 text-body-2 font-regular">Thông tin cảnh báo:</span>
          <div class="w-full col-span-2">
            <span class="text-neutral-1-900 text-body-2 font-semibold ">
              {{ dataModel?.InfoWarning ? dataModel?.InfoWarning : '---' }}
            </span>
          </div>
        </div>
      </div>
      <div *ngIf="dataModel" class="pt-4">
        <div class="text-body-1 font-semibold mb-2">*Biến thể</div>

        <tds-spin [spinning]="isLoading" class="pt-4">
          <tds-table #variantsTable [listData]="dataModel.ProductVariants" [showPagination]="false" class="min-h-[100px]">
            <thead>
              <tr>
                <th width="5%" [align]="'center'" class="border-r">STT</th>
                <th width="10%" class="border-r">Ảnh</th>
                <th width="10%" [align]="'center'" class="border-r">Mã</th>
                <th width="24%"  class="border-r">Tên</th>
                <th width="13%" [align]="'right'" class="border-r">Giá biến thể</th>
                <th width="13%" [align]="'right'" class="border-r">Giá vốn</th>
                <th width="10%" [align]="'center'" class="border-r">Số lượng</th>
                <th width="10%" [align]="'center'" class="border-r">Hoạt động</th>
                <!-- <th width="15%" [align]="'center'">Thao tác</th> -->
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let data of variantsTable.data; let i = index">
                <tr>
                  <td [align]="'center'" class="border-r">{{ 1 + i }}</td>
                  <td [align]="'center'" class="border-r">
                    <tds-avatar [tdsSrc]="data.ImageUrl" [size]="50" [isAvatar]="false" [shape]="'square'"></tds-avatar>
                  </td>

                  <td [align]="'center'" class="border-r">{{ data.DefaultCode }}</td>
                  <td class="border-r">
                    <div class="flex flex-col">
                      <span>{{ data.NameGet || data.NameTemplate || data.Name }}</span>
                      <div *ngIf="data.AttributeValues.length > 0">
                        <tds-tag *ngFor="let item of data.AttributeValues" status='secondary' rounded="rounded-full" class="mr-1">
                          {{item.NameGet || (item.AttributeName + ': ' + item.Name)}}
                        </tds-tag>
                      </div>
                    </div>
                  </td>
                  <td [align]="'right'" class="border-r">
                    <span>{{ data.PriceVariant | numberCustom }}đ</span>
                  </td>
                  <td [align]="'right'" class="border-r">
                    <span>{{ data.Price || 0 | numberCustom}}đ</span>
                  </td>
                  <td class="text-center border-r">
                    <span>
                      {{ data.QtyAvailable | numberCustom }}
                    </span>
                  </td>
                  <td class="border-r">
                    <span class="flex items-center justify-center">
                      <i class="{{ data.Active ? 'tdsi-success-fill text-success-400':'tdsi-error-fill text-error-400' }} text-xl"></i>
                    </span>
                  </td>
                  <!-- <td>
                    <div class="flex flex-row items-center justify-center w-full gap-x-1">
                      <button tds-button-icon color="secondary" type="button" size="sm" class=" mr-2"
                        (click)="showEditVariantsModal(data)" [disabled]="variantsTable.data.length == 1">
                        <span class="flex items-center">
                          <i class="tdsi-edit-fill text-xl text-neutral-1-500 leading-none"></i>
                        </span>
                      </button>
                    </div>
                  </td> -->
                </tr>
              </ng-container>
            </tbody>
          </tds-table>
        </tds-spin>
      </div>
    </tds-tab>

    <tds-tab [title]="titleItem2" clsContent="p-4 border-t">
      <ng-template #titleItem2 let-active="active">
        <div class="flex items-center justify-center font-semibold cursor-pointer text-body-2 px-3 py-4 relative group w-[90px]"
          [ngClass]='{"text-neutral-1-900":active,"text-neutral-1-400 hover:text-neutral-1-900":!active}'>
          <span>Hình ảnh</span>
          <div [ngClass]="{'block':active,'hidden group-hover:block':!active}"
            class="hidden border-b-3 border-primary-1 absolute left-0 right-0 bottom-0 bg-primary-1">
          </div>
        </div>
      </ng-template>
      <div class="flex flex-wrap items-center gap-x-4">
        <div *ngFor="let image of dataModel?.Images">
          <tds-avatar [shape]="'square'" [size]="108" class="rounded-10" [isAvatar]="false" [tdsSrc]="image.Url">
          </tds-avatar>
        </div>
      </div>
    </tds-tab>

    <tds-tab [title]="titleItem3" clsContent="pb-2.5 border-t">
      <ng-template #titleItem3 let-active="active">
        <div class="flex items-center justify-center font-semibold cursor-pointer text-body-2 px-3 py-4 relative group w-[84px]"
          [ngClass]='{"text-neutral-1-900":active,"text-neutral-1-400 hover:text-neutral-1-900":!active}'>
          <span>Thẻ kho</span>
          <div [ngClass]="{'block':active,'hidden group-hover:block':!active}"
            class="hidden border-b-3 border-primary-1 absolute left-0 right-0 bottom-0 bg-primary-1">
          </div>
        </div>
      </ng-template>
      <tds-table [listData]="lstStockMove" [loading]="isLoading_stockMove" [frontPagination]="false"
        [showSizeChanger]="true" [(pageSize)]="pageSize_stockMove"
        [(pageIndex)]="pageIndex_stockMove" [total]="count_stockMove" (queryParams)="onQueryParamsStockMove($event)"
        (clickRefresh)="refreshStockMoveTable()">
        <thead>
          <tr>
            <th [width]="'160px'" [tdsLeft]="true">Loại</th>
            <th [width]="'160px'" [tdsLeft]="true">PickingName</th>
            <th [width]="'160px'">Tham chiếu</th>
            <th [width]="'160px'">Nguồn</th>
            <th [width]="'160px'">Đến</th>
            <th [width]="'160px'" [align]="'center'">ĐVT</th>
            <th [width]="'160px'" [align]="'center'">Số lượng</th>
            <th [width]="'160px'">Ngày tạo</th>
          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-data [ngForOf]="lstStockMove">
            <tr>
              <td [tdsLeft]="true">{{ data.Type }}</td>
              <td [tdsLeft]="true">{{ data.PickingName }}</td>
              <td>{{ data.OrderName }}</td>
              <td>{{ data.LocationNameGet }}</td>
              <td>{{ data.LocationDestNameGet }}</td>
              <td [align]="'center'">{{ data.ProductUOMName }}</td>
              <td [align]="'center'">{{ data.ProductQty | numberCustom }}</td>
              <td>{{ data.Date | date:'dd/MM/yyy HH:mm' }}</td>
            </tr>
          </ng-template>
        </tbody>
      </tds-table>
    </tds-tab>

    <tds-tab [title]="titleItem4" clsContent="pb-2.5 border-t">
      <ng-template #titleItem4 let-active="active">
        <div class="flex items-center justify-center font-semibold cursor-pointer text-body-2 px-3 py-4 relative group w-[84px]"
          [ngClass]='{"text-neutral-1-900":active,"text-neutral-1-400 hover:text-neutral-1-900":!active}'>
          <span>Tồn kho</span>
          <div [ngClass]="{'block':active,'hidden group-hover:block':!active}"
            class="hidden border-b-3 border-primary-1 absolute left-0 right-0 bottom-0 bg-primary-1">
          </div>
        </div>
      </ng-template>
      <tds-table [listData]="lstProductInventory" [loading]="isLoading_inventory" [frontPagination]="false"
        [showSizeChanger]="true" [(pageSize)]="pageSize_inventory" [(pageIndex)]="pageIndex_inventory"
        [total]="count_inventory" (queryParams)="onQueryParamsInventory($event)"
        (clickRefresh)="refreshProductInventoryTable()">
        <thead>
          <tr>
            <th width="50%">Kho</th>
            <th width="50%">Tồn kho</th>
          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-data [ngForOf]="lstProductInventory">
            <tr>
              <td>{{ data.Name }}</td>
              <td>{{ data.Quantity }}</td>
            </tr>
          </ng-template>
        </tbody>
      </tds-table>
    </tds-tab>

    <tds-tab [title]="titleItem5" clsContent="p-4 border-t">
      <ng-template #titleItem5 let-active="active">
        <div class="flex items-center justify-center font-semibold cursor-pointer text-body-2 px-3 py-4 relative group w-[70px]"
          [ngClass]='{"text-neutral-1-900":active,"text-neutral-1-400 hover:text-neutral-1-900":!active}'>
          <span>Mô tả</span>
          <div [ngClass]="{'block':active,'hidden group-hover:block':!active}"
            class="hidden border-b-3 border-primary-1 absolute left-0 right-0 bottom-0 bg-primary-1">
          </div>
        </div>
      </ng-template>
      <span class="text-body-2">Nội dung đang cập nhật</span>
    </tds-tab>
  </tds-tabset>
</div>
