<div class="h-screen w-full flex justify-center items-center bg-gradient-to-b from-white to-[#E6F5EE]">
    <div class="w-1/2 flex">
        <div class="w-1/2 relative">
            <img class="w-full" src="assets/images/img_login.png" alt="">
            <div class="absolute top-0 left-0 h-full w-full flex flex-col">
                <div class="pt-6 px-4 h-1/2 flex flex-col justify-between">
                    <div class="flex ">
                        <img class="mr-3" src="assets/images/tpos-text-login.svg" alt="">
                        <img src="assets/images/Tag-t-page.svg" alt="">
                        <!-- <div class="bg-primary-1 rounded-xl py-0 px-2"><span class="text-caption-2 font-semibold text-white">T-PAGE</span></div> -->
                    </div>
                    <div class="flex flex-col gap-y-2.5">
                        <div class="flex">
                            <div class="bg-white bg-opacity-65 rounded-20 flex items-center gap-x-2 ">
                                <div class="relative py-1 pl-1">
                                    <img src="../../../assets/images/Avatar-login.svg" alt="">
                                    <img class="absolute bottom-0 right-0" src="../../../assets/images/messenger.svg"
                                        alt="">
                                </div>
                                <span class="text-body-2 font-regular pr-5">Tư vấn giúp mình ạ!</span>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="bg-white bg-opacity-65 rounded-20 flex items-center gap-x-2">
                                <div class="relative py-1 pl-1">
                                    <img src="../../../assets/images/Avatar-login.svg" alt="">
                                    <img class="absolute bottom-0 right-0" src="../../../assets/images/messenger.svg"
                                        alt="">
                                </div>
                                <span class="text-body-2 font-regular pr-5">0903254124</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-1/3 flex gap-x-1.5 justify-end pt-2.5">
                    <button class="bg-white rounded-full px-2 py-1"><i
                            class="tdsi-call-fill text-primary-1"></i></button>
                    <button class="bg-primary-1 rounded-full px-2 py-1"><i
                            class="tdsi-cart-fill-green-fill text-white"></i></button>
                </div>
            </div>
        </div>
        <div class="w-1/2 bg-white flex flex-col justify-between px-9 py-7">
            <div class="flex justify-center"><span class="text-heading-3 font-semibold pt-2.5">Đăng nhập</span></div>
            <form [formGroup]="loginForm" action="" class="mb-20" (ngSubmit)="onSubmit()">
                <tds-form-field class="mt-4">
                    <tds-label>Username</tds-label>
                    <input tdsInput autocomplete="off" formControlName="phoneNumber" placeholder="Nhập username" />
                    <tds-error>Vui lòng nhập Username</tds-error>
                </tds-form-field>
                <tds-form-field class="mt-4">
                    <tds-label>Password</tds-label>
                    <input tdsInput autocomplete="off" formControlName="password" type="password" placeholder="Nhập password" />
                    <tds-error>Vui lòng nhập password</tds-error>
                </tds-form-field>
                <div class="mt-4">
                    <tds-checkbox class="text-neutral-900">Nhớ mật khẩu</tds-checkbox>
                </div>
                <button class="mt-4 w-full" tds-button (click)="onSubmit()">Đăng nhập</button>
            </form>
            <div class="flex gap-x-2 justify-center text-body-2">
                <a routerLink="" class="text-neutral-400">Quên mật khẩu?</a>
                <a routerLink="" class="text-primary-1 font-semibold">Đăng ký</a>
            </div>
            
        </div>
    </div>
</div>