<tds-spin [spinning]="isLoading">
  <div class="p-4 flex w-full justify-center overflow-auto tds-custom-scroll">
    <div class="w-3/4 h-fit bg-white rounded-xl">
      <tds-card *ngIf="currentTab == getPackOfDataEnum.INFO">
        <info-pack-of-data [tenantInfo]="tenantInfo" [tenantUsed]="tenantUsed" [userTime]="userTime" (eventChangeTab)="onChangeTab($event)"></info-pack-of-data>
      </tds-card>
      <tds-card *ngIf="currentTab == getPackOfDataEnum.CHOOSE">
        <choose-pack-of-data [tenantInfo]="tenantInfo" [tenantUsed]="tenantUsed" [userTime]="userTime" [appPackage]="appPackage"
          (eventChangeTab)="onChangeTab($event)"></choose-pack-of-data>
      </tds-card>
      <tds-card *ngIf="currentTab == getPackOfDataEnum.EXPAND">
        <extend-pack-of-data [tenantInfo]="tenantInfo" [currentPackage]="currentPackage" [tenantUsed]="tenantUsed" [userTime]="userTime"
          (eventChangeTab)="onChangeTab($event)" (eventDataPayment)="onDataPayment($event)"></extend-pack-of-data>
      </tds-card>
      <tds-card *ngIf="currentTab == getPackOfDataEnum.PAYMENT">
        <info-payment-pack-of-data [tenantInfo]="tenantInfo" [dataPayment]="dataPayment" (eventChangeTab)="onChangeTab($event)"></info-payment-pack-of-data>
      </tds-card>
    </div>
  </div>
</tds-spin>
