<router-outlet *ngIf="isLoaded"></router-outlet>
<app-page-loading></app-page-loading>

<!-- Notification Tin nhắn mới -->
<ng-template #templateNotificationMessNew let-data="data">
    <notification-event-socket [data]="data"></notification-event-socket>
</ng-template>

<!-- <ng-template #templateFirebase>
  <div class="pr-4 bg-white h-full w-full">
      <p>Đăng ký nhận tin</p>
      <div class="flex items-center gap-x-2">
          <button tds-button color="info" type="button">Đăng ký</button>
          <button tds-button color="secondary" type="button">Hủy bỏ</button>
      </div>
  </div>
</ng-template> -->
