<router-outlet *ngIf="isLoaded">
</router-outlet>
<app-page-loading>
</app-page-loading>


<!-- Notification Tin nhắn mới -->
<ng-template #templateNotificationMessNew let-data="data">
    <div class="bg-white flex gap-x-4 text-body-2 text-neutral-1-900 py-1 cursor-pointer pr-4" (click)="getLink()">
        <span class="tdsi-information-fill text-info-400 text-heading-4"></span>
        <div class="flex flex-col gap-y-2 whitespace-pre-line break-words">
            <span class="font-semibold text-body-2">{{titleMessage}}</span>
            <div class=" text-body-2" [innerHTML]="data.Message.Message | formatIconLike | safeHtml"></div>
        </div>
    </div>
</ng-template>
