<tds-tabset>
    <tds-tab title="Thông tin">
      <div class="grid grid-cols-12 gap-x-8">
        <div class="w-full col-span-1">
          <img [src]="productTemplate.ImageUrl" class="w-full rounded-lg">
        </div>
        <div class="w-full col-span-11">
          <div class="grid grid-cols-3 gap-x-8 gap-y-4 items-center">
            <div class="grid grid-cols-3 gap-x-8 gap-y-4 items-center">
              <span class="text-neutral-1-900 text-body-2 font-regular">Mã sản phẩm:</span>
              <div class="w-full col-span-2">
                <span class="text-neutral-1-900 text-body-2 font-semibold ">
                  {{productTemplate.DefaultCode ? productTemplate.DefaultCode:'---'}}
                </span>
              </div>

              <span class="text-neutral-1-900 text-body-2 font-regular">Tên sản phẩm:</span>
              <div class="w-full col-span-2">
                <span class="text-neutral-1-900 text-body-2 font-semibold ">
                  {{productTemplate.Name ? productTemplate.Name:'---'}}
                </span>
              </div>

              <span class="text-neutral-1-900 text-body-2 font-regular">Nhóm sản phẩm:</span>
              <div class="w-full col-span-2">
                <span class="text-neutral-1-900 text-body-2 font-semibold ">
                  {{productTemplate.CategName ? productTemplate.CategName:'---'}}
                </span>
              </div>

              <span class="text-neutral-1-900 text-body-2 font-regular">Loại sản phẩm:</span>
              <div class="w-full col-span-2">
                <span class="text-neutral-1-900 text-body-2 font-semibold ">
                  {{productTemplate.ShowType ? productTemplate.ShowType:'---'}}
                </span>
              </div>

              <span class="text-neutral-1-900 text-body-2 font-regular">Giá bán mặc định:</span>
              <div class="w-full col-span-2">
                <span class="text-neutral-1-900 text-body-2 font-semibold ">
                  {{(productTemplate.ListPrice|number)??'---'}}
                </span>
              </div>

              <span class="text-neutral-1-900 text-body-2 font-regular">Chiết khấu bán:</span>
              <div class="w-full col-span-2">
                <span class="text-neutral-1-900 text-body-2 font-semibold ">
                  {{productTemplate.DiscountSale ? productTemplate.DiscountSale:'---'}}
                </span>
              </div>

              <span class="text-neutral-1-900 text-body-2 font-regular">Cho phép bán ở công ty khác:</span>
              <div class="w-full col-span-2">
                <span class="text-neutral-1-900 text-body-2 font-semibold ">
                  {{productTemplate.EnableAll?'Có':(productTemplate.EnableAll == false?'Không':'---')}}
                </span>
              </div>
            </div>

            <div class="grid grid-cols-3 gap-x-8 gap-y-4 items-center">
              <span class="text-neutral-1-900 text-body-2 font-regular">Công ty:</span>
              <div class="w-full col-span-2">
                <span class="text-neutral-1-900 text-body-2 font-semibold ">
                  {{productTemplate.CompanyName ? productTemplate.CompanyName:'---'}}
                </span>
              </div>

              <span class="text-neutral-1-900 text-body-2 font-regular">Đơn vị mặc định:</span>
              <div class="w-full col-span-2">
                <span class="text-neutral-1-900 text-body-2 font-semibold ">
                  {{productTemplate.UOMName ? productTemplate.UOMName:'---'}}
                </span>
              </div>

              <span class="text-neutral-1-900 text-body-2 font-regular">Giá mua:</span>
              <div class="w-full col-span-2">
                <span class="text-neutral-1-900 text-body-2 font-semibold ">
                  {{productTemplate.PurchasePrice ? productTemplate.PurchasePrice:'---'}}
                </span>
              </div>

              <span class="text-neutral-1-900 text-body-2 font-regular">Giá vốn:</span>
              <div class="w-full col-span-2">
                <span class="text-neutral-1-900 text-body-2 font-semibold ">
                  {{productTemplate.StandardPrice ? productTemplate.StandardPrice:'---'}}
                </span>
              </div>

              <span class="text-neutral-1-900 text-body-2 font-regular">Chiết khấu mua:</span>
              <div class="w-full col-span-2">
                <span class="text-neutral-1-900 text-body-2 font-semibold ">
                  {{productTemplate.DiscountPurchase ? productTemplate.DiscountPurchase:'---'}}
                </span>
              </div>

              <span class="text-neutral-1-900 text-body-2 font-regular">Đơn vị mua:</span>
              <div class="w-full col-span-2">
                <span class="text-neutral-1-900 text-body-2 font-semibold ">
                  {{productTemplate.UOMPOName ? productTemplate.UOMPOName:'---'}}
                </span>
              </div>

              <span class="text-neutral-1-900 text-body-2 font-regular">Khối lượng:</span>
              <div class="w-full col-span-2">
                <span class="text-neutral-1-900 text-body-2 font-semibold ">
                  {{productTemplate.Weight ? productTemplate.Weight:'---'}}
                </span>
              </div>
            </div>

            <div class="grid grid-cols-3 gap-x-8 gap-y-4 items-center">
              <span class="text-neutral-1-900 text-body-2 font-regular">Nhà phân phối:</span>
              <div class="w-full col-span-2">
                <span class="text-neutral-1-900 text-body-2 font-semibold ">
                  {{productTemplate.DistributorName ? productTemplate.DistributorName:'---'}}
                </span>
              </div>

              <span class="text-neutral-1-900 text-body-2 font-regular">Nhà nhập khẩu:</span>
              <div class="w-full col-span-2">
                <span class="text-neutral-1-900 text-body-2 font-semibold ">
                  {{productTemplate.ImporterName ? productTemplate.ImporterName:'---'}}
                </span>
              </div>

              <span class="text-neutral-1-900 text-body-2 font-regular">Nhà sản xuất:</span>
              <div class="w-full col-span-2">
                <span class="text-neutral-1-900 text-body-2 font-semibold ">
                  {{productTemplate.ProducerName ? productTemplate.ProducerName:'---'}}
                </span>
              </div>

              <span class="text-neutral-1-900 text-body-2 font-regular">Xuất xứ:</span>
              <div class="w-full col-span-2">
                <span class="text-neutral-1-900 text-body-2 font-semibold ">
                  {{productTemplate.OriginCountryName ? productTemplate.OriginCountryName:'---'}}
                </span>
              </div>

              <span class="text-neutral-1-900 text-body-2 font-regular">Thành phần:</span>
              <div class="w-full col-span-2">
                <span class="text-neutral-1-900 text-body-2 font-semibold ">
                  {{productTemplate.IsCombo ? 'Là combo':'---'}}
                </span>
              </div>

              <span class="text-neutral-1-900 text-body-2 font-regular">Thông số kỹ thuật:</span>
              <div class="w-full col-span-2">
                <span class="text-neutral-1-900 text-body-2 font-semibold ">
                  {{productTemplate.Specifications ? productTemplate.Specifications:'---'}}
                </span>
              </div>

              <span class="text-neutral-1-900 text-body-2 font-regular">Thông tin cảnh báo:</span>
              <div class="w-full col-span-2">
                <span class="text-neutral-1-900 text-body-2 font-semibold ">
                  {{productTemplate.InfoWarning ? productTemplate.InfoWarning:'---'}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tds-tab>
    <tds-tab title="Hình ảnh">
      <div class="flex flex-wrap items-center gap-x-4">
        <div *ngFor="let image of productTemplate.Images">
          <tds-avatar [shape]="'square'" [size]="108" class="rounded-10" [isAvatar]="false" [tdsSrc]="image.Url">
          </tds-avatar>
        </div>
      </div>
    </tds-tab>
    <tds-tab title="Thẻ kho" (tabClick)="getStockMoveProduct(pageSize_stockMove,pageIndex_stockMove)">
      <tds-table 
        [listData]="lstStockMove"
        [loading]="isLoading_stockMove"
        [showSizeChanger]="true"
        [(pageSize)]="pageSize_stockMove" 
        [(pageIndex)]="pageIndex_stockMove"
        (clickRefresh)="refreshStockMoveTable()">
        <thead>
              <tr>
                    <th>Loại</th>
                    <th>PickingName</th>
                    <th>Tham chiếu</th>
                    <th>Nguồn</th>
                    <th>Đến</th>
                    <th>ĐVT</th>
                    <th>Số lượng</th>
                    <th>Ngày tạo</th>
              </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-data [ngForOf]="lstStockMove" >
                <tr>
                    <td>{{ data.Type }}</td>
                    <td>{{ data.PickingName }}</td>
                    <td>{{ data.OrderName }}</td>
                    <td>{{ data.LocationNameGet }}</td>
                    <td>{{ data.LocationDestNameGet }}</td>
                    <td>{{ data.ProductUOMName }}</td>
                    <td>{{ data.ProductQty | number }}</td>
                    <td>{{ data.Date | date:'dd/MM/yyy HH:mm' }}</td>
                </tr>
            </ng-template>
        </tbody>
    </tds-table>
    </tds-tab>
    <tds-tab title="Tồn kho" (tabClick)="getProductInventory(pageSize_productInventory,pageIndex_productInventory)">
      <tds-table 
        [listData]="lstProductInventory"
        [loading]="isLoading_productInventory"
        [showPagination]="true"
        [showSizeChanger]="true"
        [(pageSize)]="pageSize_productInventory" 
        [(pageIndex)]="pageIndex_productInventory"
        (clickRefresh)="refreshProductInventoryTable()">
        <thead>
              <tr>
                    <th>Kho</th>
                    <th>Tồn kho</th>
              </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-data [ngForOf]="lstProductInventory" >
                <tr>
                    <td>{{ data.Name }}</td>
                    <td>{{ data.Quantity }}</td>
                </tr>
            </ng-template>
        </tbody>
    </tds-table>
    </tds-tab>
    <tds-tab title="Mô tả">
      Nội dung đang cập nhật
    </tds-tab>
  </tds-tabset>
