<form [formGroup]="_form" autocomplete="off">
    <div class="flex flex-row mb-4">
        <tds-form-field class="flex-auto col-span-3 mr-4">
            <tds-select valueField="Id" textField="Name" placeholder='Chọn thuộc tính' disabledField="isActive"
                formControlName="Attributes" [autoClose]="true" [data]="attributeList" [allowClear]="true"
                [mode]="'multiple'" [valuePrimitive]="false">
            </tds-select>
        </tds-form-field>
        <button tds-button color="primary" type="button" (click)="onSelectAttribute()">
            <span class="flex items-center">
                <i class="tdsi-tick-fill text-lg leading-none mr-2"></i>Thêm thuộc tính
            </span>
        </button>
    </div>
    <div>
        <tds-table #basicTable [listData]="dataModel" [showSizeChanger]="true" [frontPagination]="false" [loading]="isLoading"
            [noResult]="NoResultTable">
            <thead>
                <tr>
                    <th [width]="'160px'">Tên thuộc tính</th>
                    <th [width]="'492px'">Giá trị thuộc tính</th>
                    <th [width]="'116px'" [align]="'center'">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <ng-template ngFor let-data let-i="index" [ngForOf]="basicTable.data">
                    <tr>
                        <td [width]="'160px'">{{ data.Attribute.Name }}</td>
                        <td [width]="'492px'">
                            <tds-form-field>
                                <tds-select valueField="Id" textField="Name" placeholder='Chọn giá trị thuộc tính'
                                    disabledField="isActive" mode="multiple" [valuePrimitive]="false"
                                    [ngModel]="data.Values|selectMultipleValue" [ngModelOptions]="{standalone: true}"
                                    [data]="lstValue[i]?.Values || []" [autoClose]="true" [allowClear]="true"
                                    (selectChange)="onSelectValues($event,data.AttributeId)">
                                </tds-select>
                                <tds-error>
                                    Vui lòng chọn giá trị thuộc tính
                                </tds-error>
                            </tds-form-field>
                        </td>
                        <td [width]="'116px'" [align]="'center'">
                            <button tds-button-flat-icon type="button" size="sm" tds-tooltip="Xóa"
                                (click)="deleteAttribute(data.AttributeId)">
                                <span class="flex items-center">
                                    <i class="tdsi-trash-line text-error-400 text-xl leading-none"></i>
                                </span>
                            </button>
                        </td>
                    </tr>
                </ng-template>
            </tbody>
        </tds-table>
        <ng-template #NoResultTable>
            <div class="flex flex-col items-center justify-center w-full h-[150px]">
                <tds-avatar [tdsSrc]="'../../../assets/imagesv2/config/Empty_Table.svg'" [isAvatar]="false" [size]="90"
                    [shape]="'square'"></tds-avatar>
                <span class="text-neutral-1-400 text-body-2 text-center font-regular mt-3">Chưa có thuộc tính nào</span>
            </div>
        </ng-template>
    </div>
</form>
<!-- footer -->
<div class="w-full flex justify-end p-4" *tdsModalFooter>
    <button tds-button class="mr-2 min-w-[100px]" color="secondary" (click)="onCancel()">
        Hủy bỏ
    </button>
    <button tds-button type="submit" color="primary" class="min-w-[100px]" (click)="onSave()">
        Lưu
    </button>
</div>
