<tds-spin [spinning]="isLoading">
  <div *ngIf="dataItem && quickOrderModel" class="text-body-2 text-neutral-1-900  flex flex-col max-h-[calc(65vh)] overflow-hidden overflow-y-auto tds-custom-scroll">
    <div *tdsModalTitle>
      <span class="font-semibold text-title-1 pr-2">Sửa đơn hàng</span>
      <span class="text-primary-1 font-semibold text-title-1">{{dataItem.Code}}</span>
    </div>
    <form class="flex flex-col">
      <tds-tabset class="border border-neutral-2-200 rounded-md ">
        <tds-tab class="px-2" title="Thông tin liên hệ" clsContent="border-t border-neutral-2-200 w-full h-full">
          <div class="w-full p-4">
            <div class="w-full h-full grid grid-cols-2 gap-x-8">
              <!-- col 1 -->
              <div class="flex flex-col gap-y-4">
                <div class="grid grid-cols-4 gap-x-4">
                  <div class="flex justify-center items-center text-centefa-rotate-180">
                    <tds-avatar [size]="84" tdsSrc="error-link"></tds-avatar>
                  </div>
                  <div class="col-span-3 flex flex-col gap-y-2">
                    <tds-label>Tên Khách hàng</tds-label>
                    <tds-form-field>
                      <input tdsInput autocomplete="off" placeholder="Nhập tên khách hàng" [required]='true'
                        [(ngModel)]="quickOrderModel.Name" [ngModelOptions]="{standalone: true}" />
                      <tds-error>Vui lòng nhập tên khách hàng</tds-error>
                    </tds-form-field>
                    <div>
                      <tds-button-group>
                        <div tds-button color="secondary" tds-dropdown trigger="click" [tdsDropdownMenu]="menu"
                          class="rounded-md px-2"
                          [ngStyle]="getStatusColor(quickOrderModel.Partner.StatusText ) | buttonStatusColor: true">
                          <span class="flex items-center font-semibold font-sans cursor-pointer">
                            {{ quickOrderModel.Partner.StatusText || 'Bình thường' }} <i
                              class="tdsi-arrow-down-fill text-lg leading-none ml-1"></i>
                          </span>
                        </div>
                        <tds-dropdown-menu #menu="tdsDropdownMenu">
                          <div class="w-full">
                            <div tds-dropdown-item *ngFor="let status of lstPartnerStatus"
                              (click)="selectStatus(status)">
                              <a [ngStyle]="{'color': status.value }"> {{ status.text }} </a>
                            </div>
                          </div>
                        </tds-dropdown-menu>
                      </tds-button-group>
                    </div>
                  </div>
                </div>
                <div class="grid grid-cols-4 gap-x-4">
                  <div class="flex items-center">
                    <tds-label>Điện thoại</tds-label>
                  </div>
                  <div class="col-span-3">
                    <tds-form-field>
                      <input tdsInput placeholder="Để trống sẽ phát sinh tự động"
                        [(ngModel)]="quickOrderModel.Telephone" [ngModelOptions]="{standalone: true}" />
                    </tds-form-field>
                  </div>
                </div>
                <div class="grid grid-cols-4 gap-x-4">
                  <div class="flex items-center">
                    <tds-label>Email</tds-label>
                  </div>
                  <div class="col-span-3">
                    <tds-form-field>
                      <input tdsInput placeholder="Để trống sẽ phát sinh tự động" [(ngModel)]="quickOrderModel.Email"
                        [ngModelOptions]="{standalone: true}" />
                    </tds-form-field>
                  </div>
                </div>
                <div class="grid grid-cols-4 gap-x-4">
                  <div class="flex items-center">
                    <tds-label>Địa chỉ</tds-label>
                  </div>
                  <div class="col-span-3">
                    <suggest-address [_isBtnExtend]="true" [_isExpanded]="false" [_cities]="_cities"
                      [_districts]="_districts" [_wards]="_wards" [_street]="_street"
                      (onLoadSuggestion)="onLoadSuggestion($event)">
                    </suggest-address>
                  </div>
                </div>
                <div class="grid grid-cols-4 gap-x-4">
                  <div class="flex items-center">
                    <tds-label>Người bán</tds-label>
                  </div>
                  <div class="col-span-3">
                    <tds-form-field *ngIf="lstUser">
                      <tds-select valueField="Id" textField="Name" placeholder='Chọn người bán' [valuePrimitive]="false"
                        [allowClear]="true" [(ngModel)]="quickOrderModel.User" disabledField="isActive" [data]="lstUser"
                        [ngModelOptions]="{standalone: true}">
                      </tds-select>
                    </tds-form-field>
                  </div>
                </div>
              </div>

              <!-- col 2 -->
              <div>
                <div class="grid grid-cols-4 gap-x-4">
                  <div class="flex items-center">
                    <tds-label>Ghi chú</tds-label>
                  </div>
                  <div class="col-span-3">
                    <tds-form-field>
                      <textarea tdsInput placeholder="Nhập ghi chú giao hàng" [(ngModel)]="quickOrderModel.Note"
                      [ngModelOptions]="{standalone: true}" class="h-16 resize-none no-scrollbar">
                      </textarea>
                    </tds-form-field>
                  </div>
                </div>
                <div class="w-full mt-4">
                  <tds-collapse [expandIconPosition]="'right'">
                    <tds-collapse-panel [header]="headerTpl" header="Tất cả bình luận" [active]="true" [disabled]=false
                      [expandedIcon]="'tdsi-arrow-up-line'" tdsClass="p-0">
                      <ng-template #headerTpl>
                        <div class="flex items-center">
                          <span class="tdsi-comment-fill text-neutral-1-500 text-xl leading-none mr-3"></span>
                          <div class="font-semibold">Tất cả bình luận</div>
                        </div>
                      </ng-template>

                      <div *ngIf="lstComment" style="margin:0;"
                        class="overflow-auto tds-panel-scroll flex flex-col divide-neutral-2-200 divide-y max-h-60 pt-4">
                        <div *ngFor="let comment of lstComment; let index = index" class="mr-2 ml-4 flex justify-between items-center">
                          <div class="py-3 flex justify-between gap-x-4"
                            [ngStyle]="{'padding-top': !index ? '0px' : ''}">
                            <span>
                              {{comment.message}}<span class="text-info-400 ml-2">{{ comment.created_time | date:
                                "dd/MM/yyyy hh:mm:ss" }}</span>
                            </span>
                          </div>
                          <span *ngIf="quickOrderModel.Note.includes(comment.message)" class="tdsi-success-fill text-primary-1"></span>
                        </div>
                      </div>
                    </tds-collapse-panel>
                  </tds-collapse>
                </div>
              </div>
            </div>
          </div>
        </tds-tab>

        <tds-tab title="Sản phẩm ({{quickOrderModel.Details?.length}})" clsContent="border-t border-neutral-2-200 w-full h-full p-4 -mt-px">
          <div class="w-full">
            <div class="w-full flex gap-x-8">
              <div class="relative flex-auto">
                <tds-form-field class="w-full">
                    <input tdsInput placeholder="Tìm kiếm sản phẩm" autocomplete="off" [tdsInputDebounce]="750"
                        [(ngModel)]="textSearchProduct" [ngModelOptions]="{standalone: true}"
                        (inputKeyup)="onSearchProduct($event)">

                    <span tdsPrefix><i class="text-neutral-1-500 tdsi-search-fill"></i></span>

                    <span *ngIf="textSearchProduct" tdsSuffix>
                      <i (click)="closeSearchProduct()" class="text-neutral-1-500 tdsi-close-fill"></i>
                    </span>
                </tds-form-field>

                <div *ngIf="textSearchProduct && lstProductSearch.length > 0; else noDataProduct"
                  class="absolute left-0 right-0 -bottom-2 top-full p-2 h-56 overflow-hidden overflow-y-auto tds-panel-scroll z-10 bg-white flex flex-col gap-y-2 shadow-md">
                  <tds-spin [spinning]="isLoadingProduct">
                      <span *ngFor="let item of lstProductSearch" (click)="selectProduct(item)"
                          class="p-2 cursor-pointer hover:bg-neutral-3-50 rounded-md flex gap-x-2">

                          <span class="text-info-400"> {{ item.NameGet }} - {{item.Price | number}}đ </span>

                          <div class="fw-5" *ngIf="lstInventory && lstInventory[item.Id]">
                              <span class="text-neutral-1-400">Tồn kho: </span>
                              <span class="text-primary-1">{{lstInventory[item.Id] ? lstInventory[item.Id].QtyAvailable : 0}}</span>/
                              <span class="text-neutral-1-400">Tồn dự báo: </span>
                              <span class="text-primary-1">{{lstInventory[item.Id] ? lstInventory[item.Id].VirtualAvailable : 0}}</span>
                          </div>
                      </span>
                  </tds-spin>
                </div>
                <ng-template #noDataProduct>
                  <div *ngIf="textSearchProduct"
                    class="absolute left-0 right-0 -bottom-2 top-full p-2 h-44 overflow-hidden z-10 bg-white shadow-md">
                    <tds-spin [spinning]="isLoadingProduct">
                      <tds-empty></tds-empty>
                    </tds-spin>
                  </div>
                </ng-template>
              </div>
              <button tds-button type="button" size="md" color="primary" (click)="onAddProduct()">
                <span class="flex items-center">
                  <i class="tdsi-plus-circle-fill text-lg leading-none mr-2"></i> Thêm mẫu mới
                </span>
              </button>
            </div>
          </div>

          <div class="w-full mt-4 rounded-md h-[300px]" *ngIf="quickOrderModel.Details">
            <div class="w-full h-full ">
              <tds-table class="tds-table-rounded" #productTable [bordered]="true" [listData]="quickOrderModel.Details"
                [showPagination]="false" [scroll]="{y:'auto'}">
                <thead class="rounded">
                  <tr>
                    <th width="8%">STT</th>
                    <th width="26%">Sản phẩm</th>
                    <th width="13%">Số lượng</th>
                    <th width="13%">Số tiền</th>
                    <th width="22%">Ghi chú</th>
                    <th width="13%">Tổng tiền</th>
                    <th width="8%">Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor=" let data of quickOrderModel.Details; let index = index">
                    <td> {{ index + 1 }} </td>
                    <td>
                      <p class="text-sm font-semibold">
                        {{ data.ProductNameGet }}
                      </p>

                      <div class="text-sm font-normal" *ngIf="lstInventory && lstInventory[data.ProductId]">
                        <span class="text-muted text-neutral-1-400">Tồn kho: </span>
                        <span class="text-success-400">{{lstInventory[data.ProductId] ?
                          lstInventory[data.ProductId].QtyAvailable : 0}}</span>
                        -
                        <span class="text-muted text-neutral-1-400">Tồn dự báo: </span>
                        <span class="text-success-400">{{lstInventory[data.ProductId] ?
                          lstInventory[data.ProductId].VirtualAvailable : 0}}</span>
                      </div>

                    </td>
                    <td>
                      <tds-form-field>
                        <tds-input-number [min]="0" [step]="1" (ngModelChange)="onChangeQuantity($event, index)"
                          [(ngModel)]="data.Quantity" [ngModelOptions]="{standalone: true}" [parser]="parserComas">
                        </tds-input-number>
                      </tds-form-field>
                    </td>
                    <td>
                      <tds-form-field>
                        <tds-input-number [min]="0" [step]="1000" (ngModelChange)="onChangePrice($event, index)"
                          [(ngModel)]="data.Price" [ngModelOptions]="{standalone: true}" [parser]="parserComas">
                        </tds-input-number>
                      </tds-form-field>
                    </td>
                    <td>
                      <tds-form-field>
                        <input tdsInput autocomplete="off" placeholder="Nhập ghi chú" [(ngModel)]="data.Note"
                          [ngModelOptions]="{standalone: true}" [ngModelOptions]="{standalone: true}" />
                      </tds-form-field>
                    </td>
                    <td> {{ data.Price * data.Quantity | number }} </td>
                    <td>
                      <button tds-button-icon color="secondary" size="sm" (click)="onRemoveProduct(data, index)">
                        <span class="flex items-center text-neutral-1-500">
                          <i class="tdsi-trash-fill"></i>
                        </span>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="7">
                      <div class="flex items-center gap-x-4 justify-end">
                        <tds-label class="text-sm">Tổng tiền:</tds-label>
                        <tds-label class="text-xl text-success-400"> {{ quickOrderModel.TotalAmount | number: '1.0-3' }}
                        </tds-label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </tds-table>
            </div>
          </div>
        </tds-tab>

        <tds-tab title="Thông tin giao hàng" clsContent="border-t border-neutral-2-200 w-full h-full p-4 -mt-px" [disabled]="!isEnableCreateOrder">
          <ng-template tds-tab>
            <div class="w-full" *ngIf="saleModel">
              <div class="grid grid-cols-2 gap-x-8">
                <div>
                  <div class="grid grid-cols-3 gap-x-4 mt-4">
                    <div class="flex items-center">
                      <tds-label>Đối tác giao hàng</tds-label>
                    </div>
                    <div class="col-span-2">
                      <tds-form-field>
                        <tds-select valueField="Id" textField="Name" placeholder='Chọn đối tác giao hàng'
                          [valuePrimitive]="false" [allowClear]="true" disabledField="isActive"
                          [data]="(lstCarriers | async) || []" [(ngModel)]="saleModel.Carrier"
                          [ngModelOptions]="{standalone: true}" [allowClear]="true"
                          (selectChange)="onChangeCarrier($event)">
                        </tds-select>
                      </tds-form-field>
                    </div>
                  </div>
                  <div *ngIf="saleModel && saleModel.Carrier && !delivery_types.includes(saleModel.Carrier.DeliveryType)"
                    class="grid grid-cols-3 gap-x-4 mt-4">
                    <div class="flex items-center">
                      <tds-label>Phí ship (Đối tác):</tds-label>
                    </div>
                    <div class="col-span-2 flex gap-x-2 items-center">
                      <span class="text-primary-1 font-semibold mr-4">
                        {{saleModel.CustomerDeliveryPrice? (saleModel.CustomerDeliveryPrice | number:'1.0-3'): 0 }}
                      </span>
                      <button tds-button-icon color="secondary" (click)="calcFee()"><i class="tdsi-reload-fill text-neutral-1-500"></i></button>
                      <button tds-button-icon color="secondary"><i class="tdsi-three-dots-horizon-fill text-neutral-1-500"></i></button>
                    </div>
                  </div>
                  <div class="grid grid-cols-3 gap-x-4 mt-4">
                    <div class="flex items-center">
                      <tds-label>Phí giao hàng</tds-label>
                    </div>
                    <div class="col-span-2">
                      <tds-form-field>
                        <tds-input-number [min]="0" [step]="1000" [(ngModel)]="saleModel.DeliveryPrice"
                          [formatter]="numberWithCommas" [parser]="parserComas" [ngModelOptions]="{standalone: true}">
                        </tds-input-number>
                      </tds-form-field>
                    </div>
                  </div>
                  <div class="grid grid-cols-3 gap-x-4 mt-4">
                    <div class="flex items-center">
                      <tds-label>Khối lượng ship(g)</tds-label>
                    </div>
                    <div class="col-span-2">
                      <tds-form-field>
                        <tds-input-number [min]="0" [step]="100" [(ngModel)]="saleModel.ShipWeight"
                          [formatter]="numberWithCommas" [parser]="parserComas" [ngModelOptions]="{standalone: true}">
                        </tds-input-number>
                      </tds-form-field>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="grid grid-cols-3 gap-x-4 mt-4">
                    <div class="flex items-center">
                      <tds-label>Giao hàng thu tiền</tds-label>
                    </div>
                    <div class="col-span-2">
                      <tds-form-field>
                        <tds-input-number [min]="1" [step]="1000" [(ngModel)]="saleModel.CashOnDelivery"
                          [formatter]="numberWithCommas" [parser]="parserComas" [ngModelOptions]="{standalone: true}">
                        </tds-input-number>
                      </tds-form-field>
                    </div>
                  </div>
                  <div class="grid grid-cols-3 gap-x-4 mt-4">
                    <div class="flex items-center">
                      <tds-label>Tiền cọc</tds-label>
                    </div>
                    <div class="col-span-2">
                      <tds-form-field>
                        <tds-input-number [min]="0" [step]="1000" [(ngModel)]="saleModel.AmountDeposit"
                          [formatter]="numberWithCommas" [parser]="parserComas" [ngModelOptions]="{standalone: true}">
                        </tds-input-number>
                      </tds-form-field>
                    </div>
                  </div>

                  <div class="grid grid-cols-3 gap-x-4 mt-4">
                    <div class="flex pt-2">
                      <tds-label>Ghi chú giao hàng</tds-label>
                    </div>
                    <div class="col-span-2">
                      <tds-form-field>
                        <textarea tdsInput placeholder="Nhập ghi chú giao hàng" [(ngModel)]="saleModel.DeliveryNote"
                          [ngModelOptions]="{standalone: true}"  class="h-16 resize-none no-scrollbar">
                        </textarea>
                      </tds-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full pt-4">
              <tds-collapse>
                <tds-collapse-panel header="Dịch vụ của đối tác" [active]="true" [disabled]=false>
                  <div class="grid grid-cols-3 gap-4">
                    <div *ngIf="shipServices.length > 0" class="form-group flex flex-col gap-y-2 text-primary">
                      <div class="">
                        <label class="control-label">Dịch vụ</label>
                      </div>
                      <div class="">
                        <tds-form-field>
                          <tds-select valueField="ServiceId" textField="ServiceName" [valuePrimitive]="false"
                            [allowClear]="true" disabledField="isActive" [data]="shipServices"
                            [(ngModel)]="saleModel.Ship_ServiceId" [ngModelOptions]="{standalone: true}" [allowClear]="true"
                            (selectChange)="onSelectShipServiceId($event)">
                          </tds-select>
                        </tds-form-field>
                      </div>
                    </div>
                    <div *ngIf="saleModel && saleModel.Carrier" class="flex flex-col gap-y-2">
                      <div *ngIf="shipExtraServices && shipExtraServices.length > 0" class="flex flex-col gap-y-4">
                        <div *ngFor="let item of shipExtraServices" class="flex flex-col gap-y-2">
                          <label>
                            <tds-checkbox [(ngModel)]="item.IsSelected" (change)="onCheckExtraService(item)"
                              [ngModelOptions]="{standalone: true}"><i></i> {{item.ServiceName}}</tds-checkbox>
                            <p *ngIf="item.Fee && !saleModel.Ship_Extras.IsInsuranceEqualTotalAmount">
                              (<strong>{{item.Fee | number:'1.0-3'}}</strong>)
                            </p>
                          </label>
                          <div *ngIf="saleModel.Carrier?.DeliveryType == 'ViettelPost' && item.ServiceId == 'XMG' && item.IsSelected == true">
                            <tds-input-number [(ngModel)]="item.ExtraMoney" [ngModelOptions]="{standalone: true}"
                              [min]="0" [step]="100">
                            </tds-input-number>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="enableInsuranceFee">
                        <div> Giá trị hàng hóa: [<span class="cursor-pointer" (click)="signAmountTotalToInsuranceFee()">= Tổng hóa đơn</span>]</div>
                          <div class="flex gap-x-2 pt-2">
                            <tds-input-number [(ngModel)]="saleModel.Ship_InsuranceFee" [ngModelOptions]="{standalone: true}"
                              [min]="0" [step]="100">
                            </tds-input-number>
                            <button tds-button-icon color="secondary" (click)="onUpdateInsuranceFee()">
                              <i class="tdsi-tick-fill text-primary-1"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                </tds-collapse-panel>
              </tds-collapse>

            </div>
          </ng-template>
        </tds-tab>

        <tds-tab title="Đơn hàng" clsContent="border-t border-neutral-2-200 w-full h-full p-4 -mt-px">
          <div class="w-full flex flex-col gap-y-4">
            <div class="w-full">
              <tds-form-field class="w-full">
                <input tdsInput placeholder="Tìm kiếm phiếu bán hàng" autocomplete="off" />
                <span tdsPrefix><i class="text-neutral-1-500 tdsi-search-fill"></i></span>
              </tds-form-field>
            </div>
            <div class="w-full h-full">
              <tds-table class="tds-table-rounded" #productTable [bordered]="true" [listData]="quickOrderModel.Details"
                [showPagination]="false" [scroll]="{y:'auto'}">
                <thead class="rounded">
                  <tr>
                    <th >STT</th>
                    <th >Số HĐ</th>
                    <th >Thông tin</th>
                    <th >Ngày tạo đơn</th>
                    <th >Đối tác giao hàng</th>
                    <th >Mã vận đơn</th>
                    <th >Tổng tiền</th>
                    <th >Còn nợ</th>
                    <th >Trạng thái</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                  </tr>
                </tbody>
              </tds-table>
            </div>
          </div>
        </tds-tab>

        <tds-tab title="Phiếu bán hàng" clsContent="border-t border-neutral-2-200 w-full h-full p-4 -mt-px">
          <div class="w-full flex flex-col gap-y-4">
            <div class="w-full">
              <tds-form-field class="w-full">
                <input tdsInput placeholder="Tìm kiếm đơn hàng" autocomplete="off" />
                <span tdsPrefix><i class="text-neutral-1-500 tdsi-search-fill"></i></span>
              </tds-form-field>
            </div>
            <div class="w-full h-full">
              <tds-table class="tds-table-rounded" #productTable [bordered]="true" [listData]="quickOrderModel.Details"
                [showPagination]="false" [scroll]="{y:'auto'}">
                <thead class="rounded">
                  <tr>
                    <th >STT</th>
                    <th >Sản phẩm</th>
                    <th >Kênh kết nối</th>
                    <th >Tổng tiền</th>
                    <th >Tổng SL</th>
                    <th >Ngày tạo đơn</th>
                    <th >Trạng thái</th>
                    <th >Nhân viên</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                  </tr>
                </tbody>
              </tds-table>
            </div>
          </div>
        </tds-tab>
      </tds-tabset>

      <div class="w-full flex justify-between p-4 items-center" *tdsModalFooter>
        <div class="flex">
          <tds-checkbox [(ngModel)]="isEnableCreateOrder" [ngModelOptions]="{standalone: true}"
            (change)="onEnableCreateOrder($event)">
            Tạo phiếu bán hàng
          </tds-checkbox>
        </div>

        <div class="flex gap-x-2">
          <button tds-button class="w-[100px]" type="button" color="secondary" (click)="onCancel()">Đóng</button>
          <button tds-button class="w-[126px]" type="button" color="info" (click)="onSave('print')">
            <span class="tdsi-print-fill"></span>
            Lưu và in
          </button>
          <button *ngIf="isEnableCreateOrder" tds-button class="w-[170px]" type="button" color="info"
            (click)="onSave('print_ship')">
            <span class="tdsi-print-fill"></span>
            Lưu và in phiếu ship
          </button>
          <button tds-button class="w-[100px]" type="button" color="primary" (click)="onSave('null')">Lưu</button>
        </div>
      </div>
    </form>
  </div>
</tds-spin>
