<div class="w-full h-full">
  <tds-spin [spinning]="isLoading">
    <tds-tabset class="bg-white h-full"
      [tabBarStyle]="{'padding-right':'0px','padding-left':'0px'}">

      <tds-tab [title]="'Thông tin chung'" clsContent="border-t p-4 flex border-neutral-2-200 h-full -mt-px">
        <div class="w-1/2 grid grid-cols-1 gap-y-4">
          <div class="flex gap-x-4 items-baseline">
            <span class="text-sm font-normal w-1/3">Tên</span>
            <div class="text-sm flex flex-col gap-y-2 font-semibold w-2/3">
              <div class="text-sm font-semibold">{{ data?.PartnerName }}</div>
              <div class="flex items-center gap-x-2">
                <div class="bg-info-100 text-base rounded px-2 py-1 flex items-center gap-x-2">
                  <div class="tdsi-facebook-2-fill text-[#1973EC]"></div>
                  <span class="text-caption-2 font-semibold">{{ data?.Facebook_UserName }}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="flex gap-x-4 items-baseline">
            <span class="text-sm font-normal w-1/3">Số điện thoại</span>
            <span class="text-sm font-semibold w-2/3">{{ data?.Telephone }}</span>
          </div>

          <div class="flex gap-x-4 items-baseline">
            <span class="text-sm font-normal w-1/3">Email</span>
            <span class="text-sm font-semibold w-2/3">{{ data?.Email }}</span>
          </div>

          <div class="flex gap-x-4 items-baseline">
            <span class="text-sm font-normal w-1/3">Địa chỉ</span>
            <span class="text-sm font-semibold w-2/3">{{ data?.Address }}</span>
          </div>
        </div>
        <div class="w-1/2">
          <div class="grid grid-cols-1 gap-y-4">
            <div class="flex gap-x-4 items-baseline">
              <span class="text-sm font-normal w-1/3">Người bán</span>
              <span class="text-sm font-semibold w-2/3">{{ data?.User?.Name }}</span>
            </div>

            <div class="flex gap-x-4 items-baseline">
              <span class="text-sm font-normal w-1/3">Ghi chú giao hàng</span>
              <span class="text-sm font-semibold w-2/3">{{ data?.Note }}</span>
            </div>

            <div class="flex gap-x-4 items-baseline">
              <span class="text-sm font-normal w-1/3">Tổng tiền</span>
              <span class="text-sm font-semibold w-2/3">{{ data?.TotalAmount || 0 | numberCustom}}</span>
            </div>
          </div>
        </div>
      </tds-tab>
      <!-- Sản phẩm ({{ data?.Details?.length }}) -->
      <tds-tab [title]="productTitle" clsContent="border-t border-neutral-2-200 h-full -mt-px flex flex-col">
        <ng-template #productTitle let-active="active">
          <div class="p-4 font-semibold text-body-2 border-b-3 cursor-pointer group flex items-center"
            [ngClass]='{"border-primary-1":active,"border-transparent text-neutral-1-400 hover:border-primary-1":!active}'>
            <span class="mr-2">Sản phẩm</span>
            <div class="text-caption-2 font-semibold py-0.5 px-1.5 rounded-full flex"
              [ngClass]="{'text-white bg-primary-1':active,'text-neutral-1-500 bg-neutral-3-100 group-hover:text-white group-hover:bg-primary-1':!active}">
              {{data?.Details?.length}}
            </div>
          </div>
        </ng-template>
        <div class="w-full flex-auto text-body-2 text-neutral-1-900 h-[193px]">
          <tds-table #table [showSizeChanger]="true" [frontPagination]="false" [listData]="data?.Details || []" [scroll]="{y:'auto'}">
            <thead>
              <tr>
                  <th [width]="'5%'">STT</th>
                  <th [width]="'32%'">Sản phẩm</th>
                  <th [width]="'32%'">Giá bán</th>
                  <th [width]="'32%'">Số lượng</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of table.data; let index=index">
                <td> {{ index + 1 }} </td>
                <td>
                  <div class="flex gap-x-2 items-center">
                    <div class="w-1/5">
                      <tds-avatar size="xl" [shape]="'square'" [isAvatar]="false" class="text-white h-[60px] w-[60px]" tdsSrc="{{ data.ImageUrl }}">
                      </tds-avatar>
                    </div>

                    <div class="flex flex-col gap-y-1 cursor-pointer w-4/5">
                      <span class="font-semibold text-sm">
                        {{data.ProductNameGet}}
                        <span *ngIf="data?.UOMName">({{data?.UOMName}})</span>
                      </span>
                    </div>
                  </div>
                </td>
                <td>
                  {{data.Price | numberCustom}}
                </td>
                <td>
                  {{data.Quantity}}
                </td>
              </tr>
            </tbody>
          </tds-table>
        </div>
      </tds-tab>

    </tds-tabset>
  </tds-spin>
</div>

<div class="w-full flex justify-end p-4" *tdsModalFooter>
  <button tds-button class="min-w-[100px]" color="secondary" (click)="onCancel()">Đóng</button>
</div>
