<div class="w-full h-full pb-4 px-4">
    <div class="flex flex-col w-full h-full bg-white rounded-xl">
        <div class="flex flex-row items-center justify-between px-4 py-3">
            <div class="flex flex-row items-center">
                <tds-avatar class="bg-primary-1 text-white" icon="tdsi-variant-fill"></tds-avatar>
                <span class="text-neutral-1-900 text-header-1 font-semibold pl-2.5">BIẾN THỂ SẢN PHẨM</span>
            </div>
            <button tds-button color="primary" (click)="createVariant()">
                <span class="flex items-center">
                    <i class="tdsi-plus-circle-fill text-lg leading-none mr-2"></i>
                    <span class="text-body-2 font-semibold">Thêm mới</span>
                </span>
            </button>
        </div>
        <div class="w-full relative">
            <tds-filter-status [(ngModel)]='selected' (selectChange)="onSelectChange($event)"
                class="h-full tds-tab-config">
                <tds-filter-status-item name="Tất cả" [disabled]="isLoading" [value]="0" class="h-full">
                </tds-filter-status-item>
                <tds-filter-status-item name="Kênh kết nối ({{team ? team.Name : 'Chưa chọn kênh'}})"
                    [disabled]="isLoading" [value]="1">
                </tds-filter-status-item>
            </tds-filter-status>
            <div class="absolute top-0 right-4 pt-3 w-1/3 flex flex-row items-center justify-end">
                <tds-button-group class="mr-2">
                    <button tds-button color="secondary" tds-dropdown trigger="click" [tdsDropdownMenu]="menu"
                        [placement]="'bottomRight'">
                        <span class="flex items-center">
                            Thao tác<i class="tdsi-arrow-down-fill text-lg leading-none ml-2"></i>
                        </span>
                    </button>
                    <tds-dropdown-menu #menu="tdsDropdownMenu">
                        <div class="w-full">
                            <div tds-dropdown-item class="px-3 py-4" (click)="exportExcel()">
                                <a class="text-neutral-1-900 text-body-2 font-regular">Xuất excel kiểm kho</a>
                            </div>
                        </div>
                        <div class="w-full">
                            <div tds-dropdown-item class="px-3 py-4" (click)="setActive('active')">
                                <a class="text-neutral-1-900 text-body-2 font-regular">Mở hiệu lực</a>
                            </div>
                        </div>
                        <div class="w-full">
                            <div tds-dropdown-item class="px-3 py-4" (click)="setActive('unactive')">
                                <a class="text-neutral-1-900 text-body-2 font-regular">Hết hiệu lực</a>
                            </div>
                        </div>
                        <div class="w-full">
                            <div tds-dropdown-item class="px-3 py-4" (click)="addProductToPageFB()">
                                <a class="text-neutral-1-900 text-body-2 font-regular">Thêm SP vào Page</a>
                            </div>
                        </div>
                        <div class="w-full">
                            <div tds-dropdown-item class="px-3 py-4" (click)="deleteProductToPageFB()">
                                <a class="text-neutral-1-900 text-body-2 font-regular">Xóa SP trong Page</a>
                            </div>
                        </div>
                    </tds-dropdown-menu>
                </tds-button-group>
                <tds-form-field class="w-2/3">
                    <input tdsInput class="text-neutral-1-900" [(ngModel)]="filterObj.searchText"
                        [tdsInputDebounce]="750" (inputKeyup)="onSearch($event)" placeholder="Tìm kiếm sản phẩm"
                        autocomplete="off" [ngModelOptions]="{standalone: true}" />
                    <span tdsPrefix><i class="text-neutral-1-500 tdsi-search-fill"></i></span>
                </tds-form-field>
            </div>
        </div>
        <div class="w-full h-full pb-2.5">
            <tds-table #rowSelectionTable [listData]="lstOfData" [showSizeChanger]="true" [frontPagination]="false"
                [loading]="isLoading" [scroll]="{y:'auto'}" [pageSize]="pageSize" [pageIndex]="pageIndex"
                [total]="count" (clickRefresh)="refreshData()" (queryParams)="onQueryParamsChange($event)">
                <thead>
                    <tr class="text-neutral-1-900 text-body-2 font-semibold">
                        <th width="44px" class="hover:bg-neutral-3-100" [checked]="checked" [tdsLeft]="true"
                            [indeterminate]="indeterminate" (checkedChange)="onAllChecked($event)">
                        </th>
                        <th width="68px" [tdsLeft]="true">Ảnh</th>
                        <th width="268px" [tdsLeft]="true">Tên</th>
                        <th width="168px">Đơn vị</th>
                        <th width="168px">Mã vạch</th>
                        <th width="168px">Giá bán</th>
                        <th width="168px">Hiệu lực</th>
                        <th width="168px" [tdsRight]="true">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-template ngFor let-data let-i="index" [ngForOf]="rowSelectionTable.data" let-odd='odd'>
                        <tr
                            class="text-neutral-1-900 text-body-2 font-regular {{setOfCheckedId.has(data.Id) ? 'bg-background-6':''}}">
                            <td [checked]="setOfCheckedId.has(data.Id)" [tdsLeft]="true"
                                (checkedChange)="onItemChecked(data.Id, $event)"></td>
                            <td [tdsLeft]="true">
                                <tds-avatar class="rounded-lg" [shape]="'square'" [size]="44"
                                    [tdsSrc]="data.ImageUrl?data.ImageUrl:(data.Images?data.Images[0].Url:'')"
                                    [isAvatar]="false"></tds-avatar>
                            </td>
                            <td [tdsLeft]="true">{{ data.NameGet }}</td>
                            <td>{{ data.UOMName }}</td>
                            <td>{{ data.DefaultCode }}</td>
                            <td>{{ data.PriceVariant | numberCustom  }}</td>
                            <td>
                                <span class="flex items-center">
                                    <i
                                        class="{{ data.Active ? 'tdsi-success-fill text-success-400':'tdsi-error-fill text-error-400' }} text-xl"></i>
                                </span>
                            </td>
                            <td [tdsRight]="true">
                                <button tds-button-icon color="secondary" size="sm" class="mr-2" tds-tooltip="Chỉnh sửa"
                                    (click)="showEditModal(data.Id)">
                                    <span class="flex items-center">
                                        <i class="tdsi-edit-fill text-neutral-1-500 text-xl leading-none"></i>
                                    </span>
                                </button>
                                <button tds-button-icon color="secondary" size="sm" tds-tooltip="Xóa"
                                    (click)="showRemoveModal(data.Id)">
                                    <span class="flex items-center">
                                        <i class="tdsi-trash-fill text-neutral-1-500 text-xl leading-none"></i>
                                    </span>
                                </button>
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </tds-table>
        </div>
    </div>
</div>
