<div class="w-full text-body-2 text-neutral-1-900">
    <div class="grid grid-cols-2 gap-x-8 gap-y-4">
        <div class="col-span-1 row-span-2 flex gap-x-6 items-center">
            <div class="px-4">
                <tds-avatar class="rounded-lg" [shape]="'square'" [size]="84"
                    tdsSrc="https://randomuser.me/api/portraits/women/68.jpg">
                </tds-avatar>
            </div>
            <div class="w-full">
                <tds-form-field>
                    <tds-label>Tên sản phẩm</tds-label>
                    <input tdsInput autocomplete="off" placeholder="Nhập tên sản phẩm" />
                </tds-form-field>
            </div>
        </div>
        <div class="flex items-center">
            <tds-label class="w-1/3">Tên sản phẩm</tds-label>
            <div class="w-2/3">
                <tds-input-number [min]="1" [max]="100" [step]="1">
                </tds-input-number>
            </div>
        </div>
        <div class="flex items-center">
            <tds-label class="w-1/3">Chiết khấu bán (%)</tds-label>
            <div class="w-2/3">
                <tds-input-number [min]="1" [max]="100" [step]="1">
                </tds-input-number>
            </div>
        </div>
        <div class="flex items-center">
            <tds-label class="w-1/3">Loại sản phẩm</tds-label>
            <div class="w-2/3">
                <tds-form-field>
                    <tds-select valueField="id" textField="name" placeholder='Chọn loại sản phẩm'
                        disabledField="isActive" [required]='true' [data]="optionsProduct" [allowClear]="true">
                    </tds-select>
                </tds-form-field>
            </div>
        </div>
        <div class="flex items-center">
            <tds-label class="w-1/3">Giá mua mặc định</tds-label>
            <div class="w-2/3">
                <tds-input-number [min]="1" [max]="100" [step]="1">
                </tds-input-number>
            </div>
        </div>
        <div class="flex items-center">
            <tds-label class="w-1/3">Mã sản phẩm</tds-label>
            <div class="w-2/3">
                <tds-form-field>
                    <input tdsInput autocomplete="off" placeholder="Để trống sẽ phát sinh tự động" />
                </tds-form-field>
            </div>
        </div>
        <div class="flex items-center">
            <tds-label class="w-1/3">Chiết khấu mua (%)</tds-label>
            <div class="w-2/3">
                <tds-input-number [min]="1" [max]="100" [step]="1">
                </tds-input-number>
            </div>
        </div>
        <div class="flex items-center">
            <tds-label class="w-1/3">Mã vạch</tds-label>
            <div class="w-2/3">
                <tds-form-field>
                <input tdsInput autocomplete="off" placeholder="Nhập mã vạch" />
                </tds-form-field>
            </div>
        </div>
        <div class="flex items-center">
            <tds-label class="w-1/3">Giá vốn</tds-label>
            <div class="w-2/3">
                <tds-input-number [min]="1" [max]="100" [step]="1">
                </tds-input-number>
            </div>
        </div>
        <div class="flex items-center">
            <tds-label class="w-1/3">Nhóm sản phẩm</tds-label>
            <div class="w-2/3 flex gap-x-2">
                <div class="w-full">
                    <tds-form-field>
                        <tds-select valueField="id" textField="name" placeholder='Chọn nhóm sản phẩm'
                            disabledField="isActive" [required]='true' [data]="optionsProduct" [allowClear]="true">
                        </tds-select>
                    </tds-form-field>
                </div>
                <button tds-button-icon color="primary" size="md">
                    <span class="flex items-center">
                        <i class="tdsi-plus-fill"></i>
                    </span>
                </button>
            </div>
        </div>
        <div class="flex items-center">
            <tds-label class="w-1/3">Đơn vị mặc định</tds-label>
            <div class="w-2/3 flex gap-x-2">
                <div class="w-full">
                    <tds-form-field>
                        <tds-select valueField="id" textField="name" placeholder='Chọn đơn vị mặc định'
                            disabledField="isActive" [required]='true' [data]="optionsProduct" [allowClear]="true">
                        </tds-select>
                    </tds-form-field>
                </div>
                <button tds-button-icon color="secondary" size="md">
                    <span class="flex items-center">
                        <i class="tdsi-search-fill"></i>
                    </span>
                </button>
            </div>
        </div>
        <div class="flex items-center">
            <tds-label class="w-1/3">Khối lượng (kg)</tds-label>
            <div class="w-2/3">
                <tds-input-number [min]="1" [max]="100" [step]="1">
                </tds-input-number>
            </div>
        </div>
        <div class="flex items-center">
            <tds-label class="w-1/3">Đơn vị mua</tds-label>
            <div class="w-2/3 flex gap-x-2">
                <div class="w-full">
                    <tds-form-field>
                        <tds-select valueField="id" textField="name" placeholder='Chọn đơn vị mua'
                            disabledField="isActive" [required]='true' [data]="optionsProduct" [allowClear]="true">
                        </tds-select>
                    </tds-form-field>
                </div>
                <button tds-button-icon color="secondary" size="md">
                    <span class="flex items-center">
                        <i class="tdsi-search-fill"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="w-full flex justify-end p-4" *tdsModalFooter>
        <button tds-button class="mr-2" color="secondary" (click)="cancel()">Đóng</button>
        <button tds-button type="submit" color="primary" (click)="save()">Xác nhận</button>
    </div>
</div>