<tds-button-group>
  <button tds-button color="secondary" tds-dropdown trigger="click" [tdsDropdownMenu]="menu">
    <span class="flex items-center">
      Thao tác <i class="tdsi-arrow-down-fill text-lg leading-none ml-2"></i>
    </span>
  </button>
  <tds-dropdown-menu #menu="tdsDropdownMenu">
    <div class="w-full">
      <div tds-dropdown-item>
        <a>Gửi yêu cầu thanh toán </a>
      </div>
      <div tds-dropdown-item>
        <a> In phiếu </a>
      </div>
      <div tds-dropdown-item>
        <a> In phiếu ship </a>
      </div>
      <div tds-dropdown-item>
        <a> In phiếu giao hàng </a>
      </div>
      <div tds-dropdown-item>
        <a (click)="exportExcel('excels')"> Xuất excel </a>
      </div>
      <div tds-dropdown-item>
        <a (click)="exportExcel('details')"> Xuất excel chi tiết </a>
      </div>
      <div tds-dropdown-item>
        <a>Xuất excel chi tiết sản phẩm </a>
      </div>
      <div tds-dropdown-item>
        <a>Gửi tin nhắn Facebook </a>
      </div>
      <div tds-dropdown-item>
        <a>Gửi lại mã vận đơn </a>
      </div>
      <div tds-dropdown-item>
        <a>Xác nhận bán hàng </a>
      </div>
      <div tds-dropdown-item>
        <a>Xác nhận thanh toán </a>
      </div>
      <div tds-dropdown-item>
        <a>Thanh toán </a>
      </div>
      <div tds-dropdown-item>
        <a>Trả hàng hành loạt </a>
      </div>
      <div tds-dropdown-item>
        <a>Cập nhật đối soát giao hàng từ file </a>
      </div>
      <div tds-dropdown-item>
        <a>Cập nhật thông tin giao hàng từ file</a>
      </div>
      <div tds-dropdown-item>
        <a>Cập nhật mã vận đơn từ file</a>
      </div>
      <div tds-dropdown-item>
        <a>Chọn và cập nhật trạng thái giao hàng</a>
      </div>
      <div tds-dropdown-item>
        <a>Chọn và cập nhật trạng thái đối soát</a>
      </div>
      <div tds-dropdown-item>
        <a>Lịch sử đối soát</a>
      </div>
      <div tds-dropdown-item>
        <a>Hủy vận đơn</a>
      </div>
      <div tds-dropdown-item>
        <a>Hủy hóa đơn</a>
      </div>
      <div tds-dropdown-item>
        <a>Xóa</a>
      </div>
    </div>
  </tds-dropdown-menu>
</tds-button-group>
