.tds-report-filter{
    .tds-value{
        .text-neutral-1-900{
            color:#2C333A;
            font-weight:600;
            font-size: 14px;
            font-style: normal;
            line-height: 20px;
            font-family: 'Segoe UI';
        }
    }
}

.tds-report-table{
    .tds-spin-container{
        .ng-star-inserted{
            padding: 0;
        }
    }
}