<form [formGroup]="sendingData" autocomplete="off">
    <tds-tabset>
        <tds-tab title="Thông tin chương trình">
            <div class="grid grid-cols-2 gap-y-4 gap-x-8 text-neutral-1-600 text-header-2 font-semibold">
                <span>Điều kiện áp dụng</span>
                <span>Giá trị</span>
            </div>

            <div class="grid grid-cols-2 gap-y-4 gap-x-8 mt-4">
                <div class="grid grid-cols-3 gap-y-4 items-center">
                    <tds-label>Nhóm sản phẩm</tds-label>
                    <tds-form-field class="w-full col-span-2">
                        <tds-select valueField="id" textField="name" placeholder='Chọn nhóm sản phẩm'
                            disabledField="isActive" formControlName="prductGroup" [required]='true'
                            [data]="productGroupList" [allowClear]="true"
                            (ngModelChange)="getData()">
                        </tds-select>
                        <tds-error>
                            Vui lòng chọn nhóm sản phẩm
                        </tds-error>
                    </tds-form-field>
                </div>

                <div class="grid grid-cols-3 gap-y-4 items-center">
                    <tds-label>Sử dụng cho</tds-label>
                    <tds-form-field class="w-full col-span-2">
                        <tds-input-number formControlName="useFor" [min]="0" class="text-neutral-1-900 text-body-2 font-regular"
                        (ngModelChange)="getData()"></tds-input-number>
                        <tds-error>
                            Vui lòng nhập giá trị
                        </tds-error>
                    </tds-form-field>
                </div>

                <div class="grid grid-cols-3 gap-y-4 items-center">
                    <tds-label>Số lượng</tds-label>
                    <tds-form-field class="w-full col-span-2">
                        <tds-input-number formControlName="quantity" [min]="0" class="text-neutral-1-900 text-body-2 font-regular"
                            (ngModelChange)="getData()"></tds-input-number>
                        <tds-error>
                            Vui lòng nhập số lượng
                        </tds-error>
                    </tds-form-field>
                </div>

                <div class="grid grid-cols-3 gap-y-4 items-center">
                    <tds-label>Ngày bắt đầu</tds-label>
                    <tds-form-field class="w-full col-span-2">
                        <tds-date-picker formControlName="startDate" placeholder="Chọn ngày bắt đầu" [required]='true'>
                        </tds-date-picker>
                        <tds-error>Vui lòng nhập ngày bắt đầu</tds-error>
                    </tds-form-field>
                </div>
            </div>

            <div class="grid grid-cols-2 gap-y-4 gap-x-8 mt-4">
                <div class="grid grid-cols-3 gap-y-4 items-center">
                    <tds-label>Số tiền tối thiểu</tds-label>
                    <tds-form-field class="w-full col-span-2">
                        <tds-input-number formControlName="minimumPrice" [min]="0" class="text-neutral-1-900 text-body-2 font-regular"
                        (ngModelChange)="getData()"></tds-input-number>
                        <tds-error>
                            Vui lòng nhập số tiền tối thiểu
                        </tds-error>
                    </tds-form-field>
                </div>

                <div class="grid grid-cols-3 gap-y-4 items-center">
                    <tds-label>Ngày kết thúc</tds-label>
                    <tds-form-field class="w-full col-span-2">
                        <tds-date-picker formControlName="endDate" placeholder="Chọn ngày kết thúc" [required]='true'>
                        </tds-date-picker>
                        <tds-error>Vui lòng nhập ngày kết thúc</tds-error>
                    </tds-form-field>
                </div>

                <div class="grid grid-cols-3 gap-y-4 items-center">
                    <tds-label>Công ty</tds-label>
                    <tds-form-field class="w-full col-span-2">
                        <tds-select valueField="id" textField="name" placeholder='Chọn công ty'
                            disabledField="isActive" formControlName="companyName" [required]='true'
                            [data]="companyList" [allowClear]="true"
                            (ngModelChange)="getData()">
                        </tds-select>
                        <tds-error>
                            Chọn công ty
                        </tds-error>
                    </tds-form-field>
                </div>

                <div class="grid grid-cols-3 gap-y-4 items-center">
                    <tds-label>Hiệu lực</tds-label>
                    <div class="w-full col-span-2">
                        <tds-switch size="md" formControlName="active"
                        (ngModelChange)="getData()"></tds-switch>
                    </div>
                </div>
            </div>
        </tds-tab>
        <tds-tab title="Chi tiết khuyến mãi">
            <div class="flex flex-col w-full">
                <!-- bonus type -->
                <div class="flex flex-row items-start justify-between w-1/2 mt-2">
                    <span class="text-neutral-1-900 text-body-2 font-semibold">
                        Loại phần thưởng
                    </span>
                    <tds-radio-group class="flex flex-row w-2/3" formControlName="bonusType"
                        (ngModelChange)="getData()">
                        <label tds-radio value="discount" class="w-1/2">Chiết khấu</label>
                        <label tds-radio value="gift" class="w-1/2">Quà tặng</label>
                    </tds-radio-group>
                </div>
                <!-- apply for -->
                <div class="flex flex-row items-start justify-between w-1/2 mt-4">
                    <span class="text-neutral-1-900 text-body-2 font-semibold">
                        Áp dụng
                    </span>
                    <tds-radio-group class="flex flex-row w-2/3" formControlName="applyFor"
                        (ngModelChange)="getData()">
                        <label tds-radio value="1" class="w-1/2">Áp dụng trên đơn hàng hiện tại</label>
                    </tds-radio-group>
                </div>
                <!-- discount for -->
                <div *ngIf=" sendingData.value.bonusType === 'discount'" class="flex flex-row items-center justify-between w-1/2 mt-4">
                    <span class="text-neutral-1-900 text-body-2 font-semibold">
                        Áp dụng chiết khấu
                    </span>
                    <div class="flex flex-row items-center w-2/3">
                        <div class="w-1/2 pr-4">
                            <tds-form-field class="w-full">
                                <tds-select valueField="id" textField="name" placeholder='Chọn loại chiết khấu'
                                    disabledField="isActive" formControlName="applyDiscountType" [required]='true'
                                    [data]="discountTypeList" [allowClear]="true"
                                    (ngModelChange)="getData()">
                                </tds-select>
                                <tds-error>
                                    Vui lòng chọn loại chiết khấu
                                </tds-error>
                            </tds-form-field>
                        </div>
                        <tds-form-field class="w-1/2">
                            <tds-input-number formControlName="applyDiscountValue" [min]="0" class="text-neutral-1-900 text-body-2 font-regular"
                                (ngModelChange)="getData()"></tds-input-number>
                            <tds-error>
                                Vui lòng nhập giá trị chiết khấu
                            </tds-error>
                        </tds-form-field>
                    </div>
                </div>
                <!-- maximum discount -->
                <div *ngIf=" sendingData.value.bonusType === 'discount'" class="flex flex-row items-center justify-between w-1/2 mt-4">
                    <span class="text-neutral-1-900 text-body-2 font-semibold">
                        Tiền chiết khấu tối đa
                    </span>
                    <tds-form-field class="w-2/3">
                        <tds-input-number formControlName="maximumDiscountValue" [min]="0" class="text-neutral-1-900 text-body-2 font-regular"
                            (ngModelChange)="getData()"></tds-input-number>
                        <tds-error>
                            Vui lòng nhập giá trị chiết khấu tối đa
                        </tds-error>
                    </tds-form-field>
                </div>
                <!-- discount on -->
                <div *ngIf=" sendingData.value.bonusType === 'discount'" class="flex flex-row items-start justify-between w-1/2 mt-4">
                    <span class="text-neutral-1-900 text-body-2 font-semibold">
                        Chiết khấu trên
                    </span>
                    <tds-radio-group class="flex flex-row w-2/3" formControlName="discountOn"
                        (ngModelChange)="getData()">
                        <label tds-radio value="1" class="w-1/2">Trên đơn hàng</label>
                        <label tds-radio value="2" class="w-1/2">Trên sản phẩm cụ thể</label>
                    </tds-radio-group>
                </div>
                <!-- add discount product table -->
                <div *ngIf=" sendingData.value.bonusType === 'discount' && sendingData.value.discountOn === '2' " class="h-full mt-4">
                    <tds-table [listData]="discountProductTable" [showPagination]="false" [outerBordered]="true">
                        <thead>
                              <tr>
                                    <th>STT</th>
                                    <th>Sản phẩm</th>
                                    <th>Giá sản phẩm</th>
                                    <th>Giá sau giảm</th>
                                    <th [align]="'right'">Thao tác</th>
                              </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of discountProductTable; let i= index">
                                <td [width]="'48px'">{{ i+1 }}</td>
                                <td [width]="'560px'">
                                    <tds-form-field class="w-full">
                                        <tds-select valueField="id" textField="name" placeholder='Chọn sản phẩm' [placeholder]="productList[0].name"
                                            disabledField="isActive" [required]='true'
                                            [data]="productList" [allowClear]="true"
                                            (selectChange)="onSelectProduct($event,i)">
                                        </tds-select>
                                        <tds-error>
                                            Vui lòng chọn sản phẩm
                                        </tds-error>
                                    </tds-form-field>
                                </td>
                                <td>{{ data.price | number }}</td>
                                <td>{{ data.applyDiscountPrice | number }}</td>
                                <td [align]="'right'">
                                    <button tds-button-icon color="secondary" (click)="removeDiscountProduct(i)">
                                        <span class="flex items-center">
                                          <i class="tdsi-trash-fill text-lg leading-none"></i>
                                        </span>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <button tds-button color="primary" (click)="addNewDiscountProduct()">
                                        <span class="flex items-center">
                                          <i class="tdsi-plus-circle-fill text-lg leading-none mr-2"></i>
                                          <span class="text-body-2 font-semibold">Thêm mới</span>
                                        </span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </tds-table>
                </div>
                <!-- gift -->
                <div *ngIf=" sendingData.value.bonusType === 'gift'" class="flex flex-row items-center justify-between w-1/2 mt-4">
                    <span class="text-neutral-1-900 text-body-2 font-semibold">
                        Sản phẩm quà tặng
                    </span>
                    <div class="flex flex-row items-center w-2/3">
                        <tds-form-field class="w-full">
                            <tds-select valueField="id" textField="name" placeholder='Chọn loại chiết khấu'
                                disabledField="isActive" formControlName="gift" [required]='true'
                                [data]="giftList" [allowClear]="true"
                                (ngModelChange)="getData()">
                            </tds-select>
                            <tds-error>
                                Vui lòng chọn quà tặng
                            </tds-error>
                        </tds-form-field>
                    </div>
                </div>
                <!-- gift quantity -->
                <div *ngIf=" sendingData.value.bonusType === 'gift'" class="flex flex-row items-center justify-between w-1/2 mt-4">
                    <span class="text-neutral-1-900 text-body-2 font-semibold">
                        Số lượng tặng
                    </span>
                    <div class="flex flex-row items-center w-2/3">
                        <tds-form-field class="w-full">
                            <tds-input-number formControlName="quantityGift" [min]="0" class="text-neutral-1-900 text-body-2 font-regular"
                            (ngModelChange)="getData()"></tds-input-number>
                            <tds-error>
                                Vui lòng nhập số lượng tặng
                            </tds-error>
                        </tds-form-field>
                    </div>
                </div>
                <!-- duplicate quantity -->
                <div *ngIf=" sendingData.value.bonusType === 'gift'" class="flex flex-row items-center justify-between w-1/2 mt-4">
                    <span class="text-neutral-1-900 text-body-2 font-semibold">
                        Nhân số lượng khuyến mãi
                    </span>
                    <div class="flex flex-row items-start w-2/3">
                        <tds-checkbox formControlName="duplicateQuantity"
                        (ngModelChange)="getData()">Ví dụ: mua 2 tặng 1 thì mua 4 tặng 2</tds-checkbox>
                    </div>
                </div>
            </div>
        </tds-tab>
        <tds-tab title="Danh sách coupon">
            <div class="h-full">
                <tds-table [listData]="couponTable" [showPagination]="false" [outerBordered]="true">
                    <thead>
                          <tr>
                                <th>STT</th>
                                <th>Tên coupon</th>
                                <th>Hiệu lực</th>
                                <th>Thao tác</th>
                          </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of couponTable; let i= index">
                            <td [width]="'48px'">{{ i+1 }}</td>
                            <td [width]="'600px'">
                                <tds-form-field>
                                    <input tdsInput [value]="data.name" placeholder="Nhập tên coupon" class="text-neutral-1-900 text-body-2 font-regular"
                                        (input)="onChangeCouponName($event,i)"/>
                                    <tds-error>
                                        Vui lòng nhập tên coupon
                                    </tds-error>
                                </tds-form-field>
                            </td>
                            <td>
                                <tds-switch [checked]="data.active" (change)="onActiveChange(i)"></tds-switch>
                            </td>
                            <td>
                                <button tds-button-icon color="secondary" (click)="removeCoupon(i)">
                                    <span class="flex items-center">
                                      <i class="tdsi-trash-fill text-lg leading-none"></i>
                                    </span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <button tds-button color="primary" (click)="addNewCoupon()">
                                    <span class="flex items-center">
                                      <i class="tdsi-plus-circle-fill text-lg leading-none mr-2"></i>
                                      <span class="text-body-2 font-semibold">Thêm mới</span>
                                    </span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </tds-table>
            </div>
        </tds-tab>
    </tds-tabset>
</form>