<div *ngIf="form">
  <form [formGroup]="form" autocomplete="off" >
    <div class="flex flex-col bg-neutral-3-100 gap-y-1">
      <div class="bg-white p-4">
          <div class="grid grid-cols-2 gap-y-4 gap-x-8 text-neutral-1-600 text-header-2 font-semibold">
            <span>Điều kiện áp dụng</span>
            <span>Giá trị</span>
          </div>

          <div class="grid grid-cols-2 gap-y-4 gap-x-8 mt-4">
              <div class="grid grid-cols-3 gap-y-4 items-center">
                  <tds-label>Công ty</tds-label>
                  <tds-form-field class="w-full col-span-2">
                      <tds-select valueField="Id" textField="Name" placeholder='Chọn công ty'
                          disabledField="isActive" formControlName="Company"
                          [data]="lstCompany" [allowClear]="true">
                      </tds-select>
                      <tds-error>
                          Chọn công ty
                      </tds-error>
                  </tds-form-field>
              </div>
              <div class="grid grid-cols-3 gap-y-4 items-center">
                  <div class="flex gap-x-1 items-center">
                    <tds-label>Sử dụng cho</tds-label>
                    <span class="flex items-center text-sm" tds-tooltip [tooltipTitle]="'Số đơn hàng được hưởng khuyến mãi (nếu để 0 là không giới hạn)'">
                        <i class="tdsi-bar-chart-circle-fill text-neutral-1-400"></i>
                    </span>
                  </div>
                  <tds-form-field class="w-full col-span-2">
                      <tds-input-number formControlName="MaximumUseNumber" [min]="0" class="text-neutral-1-900 text-body-2 font-regular" [formatter]="numberWithCommas" [parser]="parserComas"></tds-input-number>
                      <tds-error>
                          Vui lòng nhập giá trị
                      </tds-error>
                  </tds-form-field>
              </div>
              <div class="grid grid-cols-3 gap-y-4 items-center">
                  <tds-label>Loại phần thưởng</tds-label>
                  <div class="flex gap-x-2 col-span-2">
                    <div class="py-1.5 px-4 flex items-center border border-solid rounded-full mr-2 w-fit cursor-pointer" (click)="onChangeRewardType('discount')"
                      [ngClass]="getRewardTypeFormGroup == 'discount' ? 'border-primary-1 text-primary-1' : 'border-neutral-2-100 text-neutral-1-400'">
                      <span class="flex items-center 2xl:text-sm xl:text-caption-1 font-semibold">
                        <i class="tdsi-discount-fill text-lg leading-none mr-2"></i>Chiết khấu
                      </span>
                    </div>

                    <div class="py-1.5 px-4 flex items-center border border-solid rounded-full mr-2 w-fit cursor-pointer" (click)="onChangeRewardType('product')"
                      [ngClass]="getRewardTypeFormGroup == 'product' ? 'border-primary-1 text-primary-1' : 'border-neutral-2-100 text-neutral-1-400'">
                      <span class="flex items-center 2xl:text-sm xl:text-caption-1 font-semibold">
                        <i class="tdsi-gift-fill text-lg leading-none mr-2"></i>Quà tặng
                      </span>
                    </div>
                  </div>
              </div>
              <div class="grid grid-cols-3 gap-y-4 items-center">
                  <tds-label>
                    Ngày bắt đầu
                    <span class="text-error-500 text-body-2 font-semibold">*</span>
                  </tds-label>
                  <tds-form-field class="w-full col-span-2">
                      <tds-date-picker showTime formControlName="RuleDateFrom" placeholder="Chọn ngày bắt đầu" [required]='true'>
                      </tds-date-picker>
                      <tds-error>Vui lòng nhập ngày bắt đầu</tds-error>
                  </tds-form-field>
              </div>
          </div>

          <div class="grid grid-cols-2 gap-y-4 gap-x-8 mt-4">
              <div class="grid grid-cols-1 gap-y-4 items-baseline">
                  <div *ngIf="isShow('DiscountType')" class="grid grid-cols-3 gap-y-4 items-center">
                      <tds-label>Áp dụng chiết khấu</tds-label>
                      <div class="w-full col-span-2 flex flex-row items-center">
                          <div class="w-1/2 pr-4">
                              <tds-form-field class="w-full">
                                  <tds-select valueField="value" textField="text" placeholder='Chọn chiết khấu'
                                      disabledField="isActive" formControlName="DiscountType" [required]='true'
                                      [data]="lstDiscountType" [allowClear]="false">
                                  </tds-select>
                                  <tds-error>
                                      Vui lòng chọn loại chiết khấu
                                  </tds-error>
                              </tds-form-field>
                          </div>
                      </div>
                  </div>
                  <div *ngIf="isShow('NoIncrease')" class="grid grid-cols-3 gap-y-4 items-center">
                      <tds-label>Nhân số lượng KM</tds-label>
                      <div class="w-full col-span-2">
                          <tds-checkbox class="text-neutral-1-400 text-sm " formControlName="NoIncrease">(VD: mua 2 tặng 1, mua 4 tặng 2)</tds-checkbox>
                      </div>
                  </div>

                  <div *ngIf="isShow('DiscountApplyOn')" class="grid grid-cols-3 gap-y-4 items-baseline">
                      <tds-label>Chiết khấu trên</tds-label>
                      <tds-radio-group class="flex flex-col col-span-2 gap-y-2" formControlName="DiscountApplyOn">
                          <label tds-radio value="on_order">Trên đơn hàng</label>
                          <label tds-radio value="specific_product">Trên sản phẩm cụ thể</label>
                      </tds-radio-group>
                  </div>
              </div>
              <div class="grid grid-cols-1 gap-y-4">
                  <div class="grid grid-cols-3 gap-y-4 items-center">
                      <tds-label>
                        Ngày kết thúc
                        <span class="text-error-500 text-body-2 font-semibold">*</span>
                      </tds-label>
                      <tds-form-field class="w-full col-span-2">
                          <tds-date-picker showTime formControlName="RuleDateTo" placeholder="Chọn ngày kết thúc" [required]='true'>
                          </tds-date-picker>
                          <tds-error>Vui lòng nhập ngày kết thúc</tds-error>
                      </tds-form-field>
                  </div>
                  <div class="grid grid-cols-3 gap-y-4 items-center">
                      <tds-label>Hiệu lực</tds-label>
                      <div class="w-full col-span-2">
                          <tds-switch size="md" formControlName="Active"></tds-switch>
                      </div>
                  </div>
                  <div class="grid grid-cols-3 gap-y-4 items-center">
                      <tds-label>Áp dụng</tds-label>
                      <div class="flex flex-row items-start col-span-2">
                          <tds-checkbox formControlName="PromoApplicability">Áp dụng trên đơn hàng hiện tại</tds-checkbox>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="bg-white">
          <div class="h-full flex flex-col" *ngIf="form?.value?.RewardType === 'discount'">
              <div class="text-neutral-1-600 text-header-2 font-semibold p-4 flex justify-between">
                  <span>Chi tiết khuyến mãi combo</span>
                  <button tds-button color="primary" (click)="addDetailDiscount()">
                      <span class="flex items-center">
                          <i class="tdsi-plus-circle-fill text-lg leading-none mr-2"></i>
                          <span class="text-body-2 font-semibold">Thêm một dòng</span>
                      </span>
                  </button>
              </div>
              <tds-table #basicTable [showSizeChanger]="true" [frontPagination]="false" [listData]="detailsFormGroups.value">
                  <thead>
                      <tr>
                          <th [width]="'4%'">STT</th>
                          <th [width]="'25%'" *ngIf="discountApplyOnForm !== 'specific_product'">Sản phẩm mua</th>
                          <th [width]="'20%'" *ngIf="discountApplyOnForm === 'specific_product'">Sản phẩm mua</th>
                          <th>Số lượng</th>
                          <th>% chiết khấu</th>
                          <th>Tiền cố định</th>
                          <th>Chiết khấu tối đa</th>
                          <th [width]="'20%'" *ngIf="discountApplyOnForm === 'specific_product'">Trên sản phẩm</th>
                          <th [width]="'160px'">Sản phẩm thưởng</th>
                          <th [width]="'80px'">Hiệu lực</th>
                          <th [width]="'80px'">Thao tác</th>
                      </tr>
                  </thead>
                  <tbody formArrayName="Details">
                      <tr *ngFor="let detail of detailsFormGroups.controls; let index=index" [formGroupName]="index">
                          <!-- STT -->
                          <td [width]="'48px'">{{ index + 1 }}</td>
                          <!-- Sản phẩm mua -->
                          <td [width]="'400px'">
                              <tds-form-field >
                                  <tds-select valueField="Id" textField="NameGet"
                                      placeholder='Chọn sản phẩm' formControlName="RuleCombo" [valuePrimitive]="false"
                                      disabledField="isActive" [data]="lstProduct" [allowClear]="true" mode="multiple">
                                  </tds-select>
                                  <tds-error>Vui lòng chọn sản phẩm</tds-error>
                              </tds-form-field>
                          </td>
                          <!-- Số lượng -->
                          <td>
                              <div class="border border-neutral-2-200 rounded bg-white">
                                  <input class="text-neutral-1-900 text-body-2 font-regular" formControlName="RuleMinQuantity"
                                    tdsInput type="number" [min]="0" />
                              </div>
                          </td>
                          <!-- % chiết khấu -->
                          <td>
                              <div class="border border-neutral-2-200 rounded bg-white">
                                  <input class="text-neutral-1-900 text-body-2 font-regular" formControlName="DiscountPercentage"
                                    tdsInput type="number" [min]="0" [step]="1000" [max]="100" />
                              </div>
                          </td>
                          <!-- Tiền cố định -->
                          <td>
                              <div class="border border-neutral-2-200 rounded bg-white">
                                  <input class="text-neutral-1-900 text-body-2 font-regular" formControlName="RuleMinimumAmount"
                                    tdsInput type="number" [min]="0" [step]="1000" />
                              </div>
                          </td>
                          <!-- Chiết khấu tối đa -->
                          <td>
                              <div class="border border-neutral-2-200 rounded bg-white">
                                  <input class="text-neutral-1-900 text-body-2 font-regular" formControlName="DiscountMaxAmount"
                                    tdsInput type="number" [step]="1000" [min]="0"/>
                              </div>
                          </td>
                          <!-- Trên sản phẩm -->
                          <td *ngIf="form?.value?.DiscountApplyOn === 'specific_product'">
                            <tds-form-field >
                              <tds-select valueField="Id" textField="NameGet"
                                  placeholder='Chọn sản phẩm' formControlName="RewardCombo" [valuePrimitive]="false"
                                  disabledField="isActive" [data]="lstProduct" [allowClear]="true" mode="multiple">
                              </tds-select>
                              <tds-error>Vui lòng chọn sản phẩm</tds-error>
                          </tds-form-field>
                          </td>
                          <!-- Sản phẩm thưởng -->
                          <td [width]="'160px'" class="text-sm">
                              <span>
                                Giảm giá {{ detail?.value?.DiscountPercentage }} % trên tổng tiền
                              </span>
                              <span *ngIf="detail?.value?.DiscountMaxAmount > 0">
                                , tối đa không quá {{ detail?.value?.DiscountMaxAmount | number }} đ
                              </span>
                          </td>
                          <!-- Hiệu lực -->
                          <td [width]="'80px'">
                              <tds-switch formControlName="Active"></tds-switch>
                          </td>
                          <!-- Thao tác -->
                          <td [width]="'80px'">
                              <button tds-button-icon color="secondary" (click)="deleteDetailDiscount(index)">
                                  <span class="flex items-center">
                                    <i class="tdsi-trash-fill text-lg text-neutral-1-500 leading-none"></i>
                                  </span>
                              </button>
                          </td>
                  </tbody>
              </tds-table>
          </div>
          <div class="h-full flex flex-col" *ngIf="form?.value?.RewardType === 'product'">
              <div class="text-neutral-1-600 text-header-2 font-semibold p-4 flex justify-between">
                  <span>Chi tiết quà tặng khuyến mãi combo</span>
                  <button tds-button color="primary" (click)="addDetailCombo()">
                      <span class="flex items-center">
                          <i class="tdsi-plus-circle-fill text-lg leading-none mr-2"></i>
                          <span class="text-body-2 font-semibold">Thêm một dòng</span>
                      </span>
                  </button>
              </div>
              <!-- Chỉnh sửa sau -->
              <tds-table #tableProduct [showSizeChanger]="true" [frontPagination]="false" [listData]="detailsFormGroups.value">
                  <thead>
                        <tr>
                            <th [width]="'48px'">STT</th>
                            <th>Sản phẩm mua</th>
                            <th [width]="'137px'">Số lượng</th>
                            <th [width]="'132px'">Số tiền</th>
                            <th [width]="'137px'">% chiết khấu</th>
                            <th [width]="'113px'">Tiền chiết khấu tối đa</th>
                            <th [width]="'137px'">Sản phẩm thưởng</th>
                            <!-- <th [width]="'400px'">Sản phẩm quà tặng</th>
                            <th>Số lượng quà</th> -->
                            <th [width]="'80px'">Hiệu lực</th>
                            <th [width]="'120px'">Thao tác</th>
                        </tr>
                  </thead>
                  <tbody formArrayName="Details">
                      <tr *ngFor="let detail of detailsFormGroups.controls; let index=index" [formGroupName]="index">
                          <!-- STT -->
                          <td [width]="'48px'">{{ index + 1 }}</td>
                          <!-- Sản phẩm mua -->
                          <td>
                              <tds-form-field>
                                  <tds-select valueField="Id" textField="NameGet"
                                      placeholder='Chọn sản phẩm' formControlName="RuleCombo" [valuePrimitive]="false"
                                      disabledField="isActive" [data]="lstProduct" [allowClear]="true" mode="multiple">
                                  </tds-select>
                                  <tds-error>Vui lòng chọn sản phẩm mua</tds-error>
                              </tds-form-field>
                          </td>
                          <!-- Số lượng -->
                          <td>
                              <div class="border border-neutral-2-200 rounded bg-white">
                                  <input class="text-neutral-1-900 text-body-2 font-regular"
                                    tdsInput type="number" [min]="0" />
                              </div>
                          </td>
                          <!-- Số tiền -->
                          <td>
                              <div class="border border-neutral-2-200 rounded bg-white">
                                  <input class="text-neutral-1-900 text-body-2 font-regular"
                                    tdsInput type="number" [min]="0" [step]="1000" />
                              </div>
                          </td>
                          <!-- % chiết khấu -->
                          <td>
                              <div class="border border-neutral-2-200 rounded bg-white">
                                  <input class="text-neutral-1-900 text-body-2 font-regular"
                                    tdsInput type="number" [min]="0" />
                              </div>
                          </td>
                          <!-- tiền chiết khấu tối đa -->
                          <td>
                              <div class="border border-neutral-2-200 rounded bg-white">
                                  <input class="text-neutral-1-900 text-body-2 font-regular"
                                    tdsInput type="number" [min]="0" [step]="1000"/>
                              </div>
                          </td>
                          <!-- Sản phẩm thưởng -->
                          <td>
                            <div class="text-body-2">Giảm giá 0 % trên tổng tiền</div>
                          </td>
                          <!-- Sản phẩm quà tặng -->
                          <!-- <td [width]="'400px'">
                              <tds-form-field >
                                  <tds-select valueField="Id" textField="NameGet"
                                      placeholder='Chọn sản phẩm' formControlName="RewardCombo" [valuePrimitive]="false"
                                      disabledField="isActive" [data]="lstProduct" [allowClear]="true" mode="multiple">
                                  </tds-select>
                                  <tds-error>Vui lòng chọn sản phẩm</tds-error>
                              </tds-form-field>
                          </td> -->
                          <!-- Số lượng quà -->
                          <!-- <td>
                              <div class="border border-neutral-2-200 rounded bg-white">
                                  <input class="text-neutral-1-900 text-body-2 font-regular" formControlName="RewardProductQuantity"
                                    tdsInput type="number"  [min]="0" />
                              </div>
                          </td> -->
                          <!-- Hiệu lực -->
                          <td [width]="'80px'">
                              <tds-switch formControlName="Active"></tds-switch>
                          </td>
                          <!-- Thao tác -->
                          <td [width]="'80px'">
                            <div class="flex gap-x-2">
                              <button tds-button-outline-icon color="primary">
                                <i class="tdsi-edit-fill text-lg leading-none"></i>
                              </button>
                              <button tds-button-icon color="secondary" (click)="deleteDetailDiscount(index)">
                                <span class="flex items-center">
                                  <i class="tdsi-trash-fill text-lg text-neutral-1-500 leading-none"></i>
                                </span>
                              </button>
                            </div>
                          </td>
                      </tr>
                  </tbody>
              </tds-table>
          </div>
      </div>
    </div>
  </form>
</div>

