<tds-spin [spinning]="isLoading">
  <div class="w-full h-full flex flex-col gap-y-4 ">
    <div>
        <span class="text-title-1 font-semibold">Cấu hình menu tương tác</span>
    </div>
    <div class="flex gap-x-2 items-center">
        <tds-switch [(ngModel)]="isSelect" size="md"></tds-switch>
        <span class="">Bật menu tương tác</span>
    </div>
    <div *ngIf="isSelect"
        class="rounded-xl bg-neutral-3-50 flex flex-col px-4 divide-y divide-neutral-2-200">
        <div *ngFor="let item of lstProfileMessages; let index = index" class="flex flex-col gap-y-2 py-5">
            <!-- header -->
            <div class="flex gap-x-2 items-center justify-between">
                <div class="flex gap-x-2 items-center">
                    <tds-switch [(ngModel)]="item.isActive" size="md"></tds-switch>
                    <span class="">{{lstData[index].title}}</span>
                </div>
                <!-- Icon close content -->
                <div *ngIf="!item.tabSelected" class="flex gap-x-2 items-center">
                    <button tds-button-icon color="secondary" size="sm" (click)="onOpenTab(item, index)">
                        <span class="flex items-center">
                            <i class="tdsi-edit-fill text-lg leading-none text-neutral-1-500"></i>
                        </span>
                    </button>
                    <button tds-button-icon color="secondary" size="sm" (click)="onRemoveInteract(index)">
                        <span class="flex items-center">
                            <i class="tdsi-trash-fill text-lg leading-none text-neutral-1-500"></i>
                        </span>
                    </button>
                </div>
                <!-- Icon open content -->
                <div *ngIf="item.tabSelected" class="flex gap-x-2 items-center">
                    <button tds-button-icon color="secondary" size="sm" (click)="onCloseTab(item, index)">
                        <span class="flex items-center">
                            <i class="tdsi-close-fill text-lg leading-none"></i>
                        </span>
                    </button>
                    <button tds-button-icon color="secondary" size="sm" (click)="onConfirmInteract(item, index)">
                        <span class="flex items-center">
                            <i class="tdsi-tick-fill text-lg leading-none"></i>
                        </span>
                    </button>
                </div>
            </div>

            <!-- content -->
            <div *ngIf="item.tabSelected" class="flex flex-col gap-y-2.5">
                <tds-tabset class="bg-white rounded-xl py-4" [selectedIndex]="item.type == 'web_url' ? 0 : 1" (selectChange)="onSelectChange(index, $event)">
                    <!-- Website -->
                    <tds-tab [title]="titleTemplateWebsite" clsContent=" w-full h-full p-4 -mt-px">
                        <ng-template #titleTemplateWebsite let-active="active">
                            <div class="pr-2 border-r border-neutral-2-200">
                                <div class="flex items-center font-semibold cursor-pointer rounded-md text-body-2 px-4 py-2 "
                                    [ngClass]='{"text-white  bg-primary-1":active,"text-neutral-1-400 hover:text-white hover:bg-primary-1":!active}'>
                                    <span>Website</span>
                                </div>
                            </div>
                        </ng-template>

                        <div class="flex flex-col gap-y-2.5">
                            <tds-form-field>
                                <tds-label>Tiêu đề</tds-label>
                                <input tdsInput autocomplete="off" placeholder="Nhập tiêu đề" [(ngModel)]="item.title" required='true' />
                            </tds-form-field>
                            <tds-form-field>
                                <tds-label>URL</tds-label>
                                <input tdsInput autocomplete="off" placeholder="Nhập URL" [(ngModel)]="item.url"
                                  required="{{item.type == lstType.web_url ? true : false}}" />
                            </tds-form-field>
                        </div>
                    </tds-tab>
                    <!-- Postback -->
                    <tds-tab [title]="titleTemplatePostback" clsContent=" w-full h-full p-4 -mt-px">
                        <ng-template #titleTemplatePostback let-active="active">
                            <div class="pl-2">
                                <div class="flex items-center font-semibold cursor-pointer rounded-md text-body-2 px-4 py-2"
                                    [ngClass]='{"text-white  bg-primary-1":active,"text-neutral-1-400 hover:text-white hover:bg-primary-1":!active}'>
                                    <span>Postback</span>
                                </div>
                            </div>
                        </ng-template>
                        <div class="flex flex-col gap-y-2.5">
                            <tds-form-field>
                                <tds-label>Tiêu đề</tds-label>
                                <input tdsInput autocomplete="off" placeholder="Nhập tiêu đề" [(ngModel)]="item.title" required='true' />
                            </tds-form-field>
                            <tds-form-field>
                                <tds-label>Payload</tds-label>
                                <input tdsInput autocomplete="off" placeholder="Nhập Payload" [(ngModel)]="item.payload"
                                  required="{{item.type == lstType.post_back ? true : false}}"/>
                            </tds-form-field>
                        </div>
                    </tds-tab>
                </tds-tabset>
            </div>

        </div>
        <div class="py-5">
            <button tds-button color="secondary" (click)="add()" [disabled]="lstProfileMessages && lstProfileMessages.length >= 3" >
                <span class="flex items-center">
                    <i class="tdsi-plus-circle-fill text-lg leading-5 text-neutral-1-500 mr-2"></i>
                    Thêm mới
                </span>
            </button>
        </div>
    </div>
  </div>
</tds-spin>

