<tds-spin [spinning]="isLoading">
    <form [formGroup]="formUpdateUser"
        class="flex flex-col gap-y-6">
        <div class="flex gap-x-8 w-full items-center">
            <div>
                <tds-upload [beforeUpload]="beforeUpload" [showUploadList]="false">
                  <tds-avatar [isAvatar]="false" class="bg-white text-white" [size]="108"
                    tdsSrc="{{formUpdateUser?.value?.Avatar}}">
                  </tds-avatar>
                </tds-upload>
            </div>
            <div class="flex flex-col w-full gap-y-4">
                <tds-form-field class="w-full">
                    <tds-label>Tên nhân viên</tds-label>
                    <input formControlName="Name" tdsInput autocomplete="off" [required]="true" placeholder="Nhập tên nhân viên" />
                    <tds-error>Vui lòng nhập tên nhân viên</tds-error>
                </tds-form-field>
                <div class="flex items-center gap-x-2">
                    <tds-switch formControlName="Active" size="md"></tds-switch>
                    <span>Trạng thái</span>
                </div>
            </div>
        </div>
        <div class="w-full grid grid-cols-2 gap-x-12 gap-y-4">
            <tds-form-field class="w-full">
                <tds-label>Số điện thoại</tds-label>
                <input formControlName="PhoneNumber" tdsInput autocomplete="off" [required]="true" placeholder="Nhập tên nhân viên" />
                <tds-error>Vui lòng nhập số điện thoại</tds-error>
            </tds-form-field>
            <tds-form-field class="w-full">
                <tds-label>Email</tds-label>
                <input formControlName="Email" tdsInput autocomplete="off" [required]="true" placeholder="Nhập email" />
                <tds-error>
                  <span *ngIf="formUpdateUser.controls['Email'].errors?.emailExist; else emailEmpty">Email đã tồn tại</span>
                  <ng-template #emailEmpty>
                    <span>Vui lòng email</span>
                  </ng-template>
                </tds-error>
            </tds-form-field>
            <tds-form-field class="w-full">
                <tds-label>Tài khoản</tds-label>
                <input [placeholder]="formUpdateUser.value?.UserName" [value]="formUpdateUser.value?.UserName" [disabled]="true" [required]="true" tdsInput autocomplete="off" />
            </tds-form-field>
            <div class="flex flex-col">
                <tds-form-field class="w-full">
                    <tds-label>Mật Khẩu</tds-label>
                    <input [placeholder]="'Mật khẩu'" [value]="'******'" [disabled]="true" [required]="true" type="password" tdsInput
                        autocomplete="off" />
                </tds-form-field>
                <div>
                    <button class="text-info-400 text-caption-1 italic" type="button"
                        (click)="showModalChangePassword()">Thay đổi mật khẩu</button>
                </div>
            </div>
            <tds-form-field class="col-span-2">
                <tds-label> Phân quyền </tds-label>
                <tds-select [ngModel]="listSelectedRole" [ngModelOptions]="{standalone: true}" valueField="Id" textField="Name" [required]="true"
                    placeholder='Chọn' (ngModelChange)="onChangeRole($event)" [data]="lstUserRole" mode="multiple">
                </tds-select>
            </tds-form-field>
        </div>
        <div class="w-full flex justify-end p-4" *tdsModalFooter>
            <button tds-button class="mr-2" color="secondary" (click)="cancel()">Hủy bỏ</button>
            <button tds-button type="submit" color="primary" (click)="onSave()" [disabled]="!formUpdateUser?.valid">Lưu thay đổi</button>
        </div>
    </form>
</tds-spin>
