<div>
    <div class="w-full" *ngIf="lstCustomer">
      <div class="mb-4">
         <div class="flex" style="align-items: center;">
            <p class="text-body-2 mb-0 mr-3">Phương thức thanh toán</p>
            <div class="w-[200px]">
                <tds-form-field>
                  <tds-select valueField="Id" textField="Name" placeholder='Chọn phương thức thanh toán'
                        [(ngModel)]="acJournal" [allowClear]="true" [valuePrimitive]="false"
                        [data]="lstAcJournal" (ngModelChange)="onChangeAcJournal($event)" >
                    </tds-select>
                </tds-form-field>
            </div>
         </div>
      </div>
      <tds-table #rowSelectionTable [listData]="lstCustomer">
          <thead>
              <tr class="bg-neutral-3-50" >
                  <th class="text-body-2">Khách hàng</th>
                  <th class="text-body-2">Số ĐT</th>
                  <th class="text-body-2 text-right">Số tiền thanh toán</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of lstCustomer">
                  <td class="text-body-2">{{ item.Partner?.DisplayName }}</td>
                  <td class="text-body-2">{{ item.Partner?.Phone }}</td>
                  <td class="text-body-2 text-right">{{ item.Amount || 0 | numberCustom }} đ</td>
              </tr>
          </tbody>
      </tds-table>
    </div>
    <div class="w-full flex justify-end p-4" *tdsModalFooter>
        <button tds-button class="mr-2 min-w-[100px]" type="button" color="secondary" (click)="onCancel()">Đóng</button>
        <button tds-button class="min-w-[100px]" type="submit" color="primary" (click)="onSave()">Thanh toán</button>
    </div>
</div>
