<div class="w-full h-[calc(65vh)] flex">
    <tds-table class="w-full h-full text-body-2" #basicTable [listData]="listOfData"
    showSizeChanger
    [(pageSize)]="pageSize"
    [(pageIndex)]="pageIndex"
    [frontPagination]="false"
    [loading]="isLoading"
    [total]="total"
    [scroll]="{y:'auto'}"
    (queryParams)="onQueryParamsChange($event)">
    <thead>
        <tr>
            <th width="60px">STT</th>
            <th>Thời gian</th>
            <th width="50%">Nội dung gửi</th>
            <th>Lý do gửi thất bại</th>
            <th  width="120px">Trạng thái gửi</th>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-data [ngForOf]="basicTable.data" let-index="index">
            <tr>
                <td>{{index + 1}}</td>
                <td>{{data.DateCreated | date: 'dd/MM/yyyy HH:mm'}}</td>
                <td>
                    <div showMore [length]="100" [text]="data.Message">
                    </div>
                </td>
                <td>
                    <div showMore [length]="40" [text]="data.ErrorMessage">
                    </div>
                </td>
                <td class="text-center fw-6">
                    <span class="tdsi-success-fill text-primary-1" tds-tooltip tooltipTitle="Gửi tin nhắn thành công"
                        *ngIf="data.IsSuccess"></span>
                    <span class="tdsi-error-fill text-error-400" *ngIf="!data.IsSuccess" tds-tooltip
                        tooltipTitle="Gửi tin nhắn thất bại"></span>
                </td>
            </tr>
        </ng-template>
    </tbody>
</tds-table>
<div class="w-full flex justify-end p-4" *tdsModalFooter>
    <button tds-button class="mr-2 min-w-[100px]" type="button" color="secondary" (click)="onCancel()">Hủy</button>
</div>
</div>
