<div class="flex flex-col max-w-full text-body-2">
    <!-- chi tiết (collapse table) -->
  <div *ngIf="!id" class="bg-white rounded-lg flex flex-col h-full w-full">
    <ng-container [ngTemplateOutlet]="detailsTmp"></ng-container>
  </div>

  <!-- chi tiết (trang mới) -->
  <div *ngIf="id" class="w-full h-full flex flex-col">
    <div class="bg-white flex justify-between items-center">
        <div class="flex flex-col gap-y-1">
            <tds-breadcrumb tds-page-header-breadcrumb>
                <tds-breadcrumb-item (click)="directPage('bill')">Phiếu bán hàng</tds-breadcrumb-item>
                <tds-breadcrumb-item (click)="directPage('bill/historyds/list')">Lịch sử đối soát</tds-breadcrumb-item>
                <tds-breadcrumb-item>Chi tiết</tds-breadcrumb-item>
            </tds-breadcrumb>
            <div class="pl-4 pb-2.5">
                <span class="text-header-1 text-neutral-1-900 font-semibold">Chi tiết lịch sử đối soát</span>
            </div>
        </div>
    </div>
    <div class="flex w-full h-fit p-4">
        <div class="bg-white w-full h-fit rounded-lg p-4">
            <div class="flex w-1/3 pb-4">
                <div class="grid grid-cols-2 gap-4">
                    <label>Ngày</label>
                    <span class="font-semibold">{{historyDeliveryData?.Date | date:'dd/MM/yyyy HH:mm:ss'}}</span>

                    <label>Số lượng thành công</label>
                    <span class="font-semibold">{{historyDeliveryData?.CountSuccess}}</span>

                    <label>Số lượng thất bại</label>
                    <span class="font-semibold">{{historyDeliveryData?.CountError}}</span>
                </div>
            </div>
            <div class="rounded-lg border flex flex-col h-fit w-full">
                <ng-container [ngTemplateOutlet]="detailsTmp"></ng-container>
            </div>
        </div>
    </div>
  </div>

  <!-- template -->
  <ng-template #detailsTmp>
    <div class="flex justify-end w-full">
        <div class="flex flex-row items-center gap-2 w-1/3 px-4 py-2">
            <button tds-button color="primary" [loading]="isExportExcel" [loadingTemplate]="exportExcelTmp" (click)="exportDetail()">
                <span class="flex items-center">
                    <i class="tdsi-excel-fill text-lg leading-none mr-2"></i>Xuất file excel
                </span>
            </button>
            <ng-template #exportExcelTmp>
                <div class="flex items-center">
                    <i class="tdsi-excel-fill text-lg leading-none mr-2"></i>Xuất file excel
                  <tds-spinner [color]="'white'" class="w-4 h-4 ml-2"></tds-spinner>
                </div>
            </ng-template>
            <tds-form-field class="flex flex-auto">
                <input tdsInput class="text-neutral-1-900" placeholder="Tìm kiếm" autocomplete="off"
                    [tdsInputDebounce]="300"
                    (inputKeyup)="filterSearch($event)"/>
                <span tdsPrefix><i class="text-neutral-1-500 tdsi-search-fill"></i></span>
            </tds-form-field>
            <config-column [columns]="hiddenColumns" (columnsChange)="columnsChange($event)"></config-column>
        </div>
    </div>
    <!-- table -->
    <div class="h-full w-full pb-2.5">
      <div #tableWidth class="rounded-md bg-white w-full flex flex-col">
        <tds-table #headerTable [listData]="lstOfData" [showPagination]="false">
          <thead>
              <tr>
                  <th width="80px" [align]="'center'" [tdsLeft]="true">STT</th>
                  <th *ngIf="isHidden('OrderCode')" width="180px" [tdsLeft]="true">Mã hóa đơn</th>
                  <th *ngIf="isHidden('ShipCode')" width="180px" [tdsLeft]="true">Mã vận đơn</th>
                  <th *ngIf="isHidden('CarrierName')" width="240px">Đối tác giao hàng</th>
                  <th *ngIf="isHidden('OrderAmount')" width="180px" [align]="'right'">COD hóa đơn</th>
                  <th *ngIf="isHidden('TotalCOD')" width="180px" [align]="'right'">Tổng COD</th>
                  <th *ngIf="isHidden('TotalCODShip')" width="180px" [align]="'right'">Tổng COD đối tác</th>
                  <th *ngIf="isHidden('ShipAmount')" width="180px" [align]="'right'">Tiền thu hộ</th>
                  <th *ngIf="isHidden('DeliveryPrice')" width="180px" [align]="'right'">Phí ship giao hàng</th>
                  <th *ngIf="isHidden('CustomerDeliveryPrice')" width="180px" [align]="'right'">Phí ship</th>
                  <th *ngIf="isHidden('Status')" width="140px" [align]="'center'" [tdsRight]="true">Trạng thái</th>
                  <th *ngIf="isHidden('Note')" width="280px" [tdsRight]="true">Ghi chú</th>
              </tr>
          </thead>
          <tbody>
              <ng-template ngFor let-data let-i="index" [ngForOf]="headerTable.data" >
                  <tr>
                      <td [tdsLeft]="true" class="text-center">{{ i + 1 }}</td>
                      <td *ngIf="isHidden('OrderCode')" [tdsLeft]="true">{{ data.OrderCode }}</td>
                      <td *ngIf="isHidden('ShipCode')" [tdsLeft]="true">
                          <span class="text-info-500 font-semibold">{{ data.ShipCode }}</span>
                      </td>
                      <td *ngIf="isHidden('CarrierName')">{{ data.CarrierName }}</td>
                      <td *ngIf="isHidden('OrderAmount')" class="text-right">{{ data.OrderAmount || 0 | numberCustom }} đ</td>
                      <td *ngIf="isHidden('TotalCOD')" class="text-right">{{ historyDeliveryData.TotalCOD || 0 | numberCustom }} đ</td>
                      <td *ngIf="isHidden('TotalCODShip')" class="text-right">{{ historyDeliveryData.TotalCODShip || 0 | numberCustom }} đ</td>
                      <td *ngIf="isHidden('ShipAmount')" class="text-right">{{ data.ShipAmount || 0 | numberCustom }} đ</td>
                      <td *ngIf="isHidden('DeliveryPrice')" class="text-right">{{ data.DeliveryPrice || 0 | numberCustom }} đ</td>
                      <td *ngIf="isHidden('CustomerDeliveryPrice')" class="text-right">{{ data.CustomerDeliveryPrice || 0 | numberCustom }} đ</td>
                      <td *ngIf="isHidden('Status')" class="text-center w-full" [tdsRight]="true">
                          <tds-tag [status]="checkStatus(data.Status)" type="outline">{{data.Status}}</tds-tag>
                      </td>
                      <td *ngIf="isHidden('Note')" [tdsRight]="true">{{ data.Note || '---' }}</td>
                  </tr>
              </ng-template>
          </tbody>
        </tds-table>
      </div>
    </div>
  </ng-template>
</div>
