
<tds-spin [spinning]="isLoading">
    <form [formGroup]="_form" autocomplete="off">
        <div class="grid grid-cols-5 gap-y-4 gap-x-6">
            <tds-label>Sản phẩm</tds-label>
            <tds-form-field class="col-span-4 w-full">
                <tds-select valueField="Id" textField="NameGet" placeholder='Chọn sản phẩm combo' [tdsInputDebounce]="750" (inputKeyup)="onSearch($event)"
                    formControlName="Product" [data]="lstProductCombo || []" [allowClear]="false" [valuePrimitive]="false" (selectChange)="getProductId($event)">
                </tds-select>
                <tds-error>
                    Vui lòng chọn sản phẩm combo
                </tds-error>
            </tds-form-field>

            <tds-label>Số lượng (theo đơn vị mặc định)</tds-label>
            <tds-form-field class="col-span-4 w-full">
                <tds-input-number formControlName="Quantity" [min]="1" [step]="1" class="text-neutral-1-900 text-body-2 font-regular"></tds-input-number>
            </tds-form-field>
        </div>
    </form>
</tds-spin>

<div class="w-full flex justify-end p-4" *tdsModalFooter>
    <button tds-button type="button" class="mr-4" color="secondary" (click)="cancel()">
        Đóng
    </button>
    <button tds-button type="submit" class="mr-4" color="primary" (click)="onSave()">
        Lưu
    </button>
    <button *ngIf="!data" tds-button type="submit" color="primary" (click)="onSave(true)">
        Lưu và thêm mới
    </button>
</div>