<div class="rounded-xl pb-3 bg-white pt-2 flex h-full flex-col gap-y-2">
    <div class="flex xl:gap-x-1.5 2xl:gap-x-2 justify-between px-3 relative">
        <tds-form-field class="w-full flex">
            <input tdsInput placeholder="Nhập tên sản phẩm" autocomplete="off" [tdsInputDebounce]="750"  [(ngModel)]="innerText"  [ngModelOptions]="{standalone: true}" (inputKeyup)="onInputKeyup()" />
            <span tdsPrefix><i class="text-neutral-1-500 tdsi-search-fill"></i></span>
        </tds-form-field>

        <div class="gap-x-2 flex">
            <tds-button-group>
                <button tds-button type="button" color="secondary" tds-dropdown trigger="click"
                    [tdsDropdownMenu]="menu1">
                    <span class="flex items-center" *ngIf="currentOption">
                        {{currentOption.text}} <i class="tdsi-arrow-down-fill text-lg leading-none ml-2"></i>
                    </span>
                </button>

                <tds-dropdown-menu #menu1="tdsDropdownMenu">
                    <div class="w-full">
                        <div tds-dropdown-item *ngFor="let item of options" (click)="selectOption(item)">{{item.text}}
                        </div>
                    </div>
                </tds-dropdown-menu>
            </tds-button-group>
            <div class="flex flex-col">
                <div tds-popover [popoverVisible]="isShowFilterCategId" (popoverVisibleChange)="onChangePopover($event)" [popoverAutoClose]="false" [popoverFooter]="footerTemplate" [popoverContent]="contentTemplate"></div>
                <ng-template #contentTemplate>
                    <div class="w-[304px]">
                        <tds-form-field>
                          <tds-select valueField="Id" textField="Name" placeholder='Chọn nhóm' (selectChange)="onChangeCategId($event)"
                              [allowClear]="true" [valuePrimitive]="false" [data]="categoryList" [(ngModel)]="categIdFilter"
                              [autoClose]="true">
                          </tds-select>
                        </tds-form-field>
                    </div>
                </ng-template>
                <ng-template #footerTemplate>
                    <div class="flex justify-end pt-2">
                        <button tds-button-icon color="secondary" class="mr-2" size="sm" (click)="onCloseFilter()">
                        <span class="flex items-center">
                            <i class="tdsi-close-fill"></i>
                        </span>
                        </button>
                        <button tds-button-icon size="sm" color="primary" (click)="onFilterCategId()">
                        <span class="flex items-center">
                            <i class="tdsi-tick-fill"></i>
                        </span>
                        </button>
                    </div>
                </ng-template>

                <tds-button-group>
                    <button tds-button type="button" color="secondary" tds-dropdown trigger="click"
                        [tdsDropdownMenu]="menu2">
                        <span class="flex items-center" *ngIf="currentType">
                            {{currentType.text}} <i class="tdsi-arrow-down-fill text-lg leading-none ml-2"></i>
                        </span>
                    </button>

                    <tds-dropdown-menu #menu2="tdsDropdownMenu">
                        <div class="w-full">
                            <div tds-dropdown-item *ngFor="let item of types" (click)="selectType(item)">{{item.text}}</div>
                        </div>
                    </tds-dropdown-menu>
                </tds-button-group>
            </div>



            <button tds-button-icon type="button" color="primary" tds-tooltip tooltipTitle="Thêm sản phẩm"  (click)="showModalAddProduct()">
                <span class="flex items-center">
                    <i class="tdsi-plus-fill"></i>
                </span>
            </button>

            <button tds-button-icon type="button" color="info" tds-tooltip tooltipTitle="Tải lại" [disabled]="disabledReload" (click)="reloadIndexDB()">
                <span class="flex items-center">
                    <i class="tdsi-reload-fill"></i>
                </span>
            </button>
        </div>
    </div>
    <div class="w-full h-full">
        <tds-table #basicTable [listData]="lstOfData" [scroll]="{y:'100%',x:'hidden'}" [showPagination]="false"
            [frontPagination]="false" [virtualItemSize]="20" [loading]="isLoading" [virtualForTrackBy]="trackByIndex">
            <thead>
                <tr>
                    <th width="20%" [align]="'center'">Ảnh</th>
                    <th width="40%">Tên sản phẩm</th>
                    <th width="20%" [align]="'center'">Đơn vị</th>
                    <th width="20%" [align]="'right'">Giá</th>
                </tr>
            </thead>
            <tbody>
                <ng-template tds-virtual-scroll let-data let-index="index">
                    <tr *ngIf="data" (click)="addItem(data, index)" tds-popover popoverTrigger="click"
                        [popoverVisible]="index == indClick" [popoverBackdrop]="true"
                        [popoverAutoClose]="true" class="group hover:cursor-pointer">
                        <td [align]="'center'">
                            <tds-avatar [isAvatar]="false" [shape]="'square'" [size]="'lg'" [tdsSrc]="data.ImageUrl">
                            </tds-avatar>
                        </td>
                        <td>
                            <div class="flex flex-col">
                                <span class="text-body-2 w-full truncate" tds-tooltip
                                    tooltipTitle="{{ data.NameGet }}">{{ data.NameGet }}</span>
                                <span class="text-neutral-1-400 font-regular text-body-2"> Tồn kho:
                                    <span class="text-primary-1" *ngIf="inventories && inventories[data.Id]">{{ inventories[data.Id].QtyAvailable }}</span>
                                </span>
                                <span class="text-neutral-1-400 font-regular text-body-2"> Tồn dự báo:
                                    <span class="text-primary-1" *ngIf="inventories && inventories[data.Id]">{{ inventories[data.Id].VirtualAvailable }}</span>
                                </span>
                            </div>
                        </td>
                        <td class="text-body-2" [align]="'center'">{{ data.UOMName }}</td>
                        <td class="text-body-2" [align]="'right'">{{ data.Price | numberCustom }} đ</td>
                    </tr>
                </ng-template>
            </tbody>
        </tds-table>
    </div>
</div>
