<div class="w-full h-full pb-4 px-4">
    <div class="flex flex-col w-full h-full bg-white rounded-xl">
        <div class="flex flex-row items-center justify-between px-4 py-3">
            <div class="flex flex-row items-center">
                <tds-avatar class="bg-primary-1 text-white" icon="tdsi-chat-fill"></tds-avatar>
                <span class="text-neutral-1-900 text-header-1 font-semibold pl-2.5">TRẢ LỜI NHANH</span>
            </div>
            <div class="flex flex-row items-center w-1/2 justify-end">
                <tds-form-field size='md' class="mr-4 w-1/2 ">
                    <input tdsInput class="text-neutral-1-900" placeholder="Tìm mẫu trả lời nhanh" autocomplete="off"
                        #innerText [(ngModel)]="filterObj.searchText"/>
                    <span tdsPrefix><i class="text-neutral-1-500 tdsi-search-fill"></i></span>
                </tds-form-field>
                <button tds-button color="primary" (click)="onAddNewData($event)">
                    <span class="flex items-center">
                      <i class="tdsi-plus-circle-fill text-lg leading-none mr-2"></i>
                      <span class="text-body-2 font-semibold">Thêm mới</span>
                    </span>
                </button>
            </div>
        </div>
        <div class="flex flex-auto pb-2.5">
            <tds-table #basicTable
                [listData]="AutoChatList"
                [showSizeChanger]="true"
                [frontPagination]="false"
                [loading]="isLoading"
                [scroll]="{y:'auto'}"
                [pageIndex]="pageIndex"
                [pageSize]="pageSize"
                [total]="count"
                (clickRefresh)="refreshData()" (queryParams)="onQueryParamsChange($event)">
                <thead>
                    <tr class="text-neutral-1-900 text-body-2 font-semibold">
                        <th width="4%">STT</th>
                        <th width="22%">Tên mẫu</th>
                        <th width="22%">Nội dung</th>
                        <th width="13%">Phím tắt</th>
                        <th width="12%">Trạng thái</th>
                        <th width="12%">Ngày tạo</th>
                        <th class="text-center" width="15%">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-template ngFor let-data let-i="index" [ngForOf]="basicTable.data">
                        <tr class="text-neutral-1-900 text-body-2 font-regular group">
                          <td>{{i + 1}}</td>
                            <td>
                                <div class="flex flex-col gap-y-2">
                                    {{ data.Subject }}
                                    <div class="inline-block">
                                        <button *ngIf="data.IsDefaultForOrder" tds-tooltip tooltipTitle="Đơn hàng mặc định"
                                            tooltipPlacement="top" class="mr-1">
                                            <span class="flex items-center">
                                                <i class="tdsi-order-fill text-xl leading-5 text-tertiary-1"></i>
                                            </span>
                                        </button>
                                        <button *ngIf="data.IsDefaultForBill" tds-tooltip tooltipTitle="Hóa đơn mặc định"
                                            tooltipPlacement="top">
                                            <span class="flex items-center">
                                                <i class="tdsi-quotation-fill text-xl leading-5 text-primary-1"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td>{{ data.BodyPlain }}</td>
                            <td></td>
                            <td>
                                <tds-switch [(ngModel)]="data.Active" (ngModelChange)="onChangeStatus(data.Id)"></tds-switch>
                            </td>
                            <td >
                                {{ data.DateCreated | date:'dd/MM/yyyy HH:mm' }}
                            </td>
                            <td class="text-center">
                                <button tds-button-icon color="secondary" size="sm" class="mr-2"
                                    (click)="onEditRow($event,data.Id)">
                                    <span class="flex items-center">
                                      <i class="tdsi-edit-fill text-neutral-1-500 text-xl leading-none"></i>
                                    </span>
                                </button>
                                <button tds-button-icon color="secondary" size="sm" class="mr-2"
                                    (click)="onRemoveRow(data.Id)">
                                    <span class="flex items-center">
                                      <i class="tdsi-trash-fill text-neutral-1-500 text-xl leading-none"></i>
                                    </span>
                                </button>
                                <button size="sm" tds-button-icon color="secondary" [tdsbuttonMenuTriggerFor]="menu" [tbuttonMenuTriggerRestoreFocus]="false">
                                    <span class="flex items-center">
                                        <i class="tdsi-three-dots-horizon-fill text-neutral-1-500"></i>
                                    </span>
                                </button>
                                <tbutton-menu #menu="TDSButtonMenu">
                                    <button tds-button-menu-item (click)="selectOrderDefault(data.Id)">
                                        <span class="flex items-center">
                                            <i class="tdsi-order-fill text-xl leading-5 text-tertiary-1 mr-2"></i>Chọn làm đơn hàng mặc định
                                        </span>
                                    </button>
                                    <button tds-button-menu-item>
                                        <span class="flex items-center" (click)="selectBillDefault(data.Id)">
                                            <i class="tdsi-quotation-fill text-xl leading-5 text-primary-1 mr-2"></i>Chọn làm hóa đơn mặc định
                                        </span>
                                    </button>
                                </tbutton-menu>
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </tds-table>
        </div>
    </div>
</div>
