.tds-value{
    .w-full{
        .text-neutral-1-900{
            color:#28A745;
            font-weight:600;
            font-size: 14px;
            font-style: normal;
            line-height: 20px;
            font-family: 'Segoe UI';
        }
    }
}