<div class="w-full">
  <div class="flex flex-row items-center">
    <tds-form-field size='md' class="mr-4 w-full">
      <input tdsInput class="text-neutral-1-900" placeholder="Nhập tên sản phẩm" autocomplete="off" #filterText
        [tdsInputDebounce]="750" (inputKeyup)="onSearch($event)" />
      <span tdsPrefix><i class="text-neutral-1-500 tdsi-search-fill"></i></span>
      <span tdsSuffix (click)="onClearAll($event)">
        <i class="tdsi-close-fill text-neutral-1-500 text-base" *ngIf="filterText.value && filterText.value != ''"></i>
      </span>
    </tds-form-field>
    <button tds-button color="primary">
      <span class="flex items-center">
        <i class="tdsi-plus-circle-fill text-lg leading-none mr-2"></i>
        <span class="text-body-2 font-semibold">Thêm mới</span>
      </span>
    </button>
  </div>
  <div class="text-body-2 mt-4 max-h-[500px] h-[500px]">
    <tds-table #rowSelectionTable [scroll]="{ y : 'auto'}" [showSizeChanger]="true" [frontPagination]="false" [listData]="lstProduct" [loading]="isLoading">
      <thead>
        <tr>
          <th>Sản phẩm</th>
          <th>Đơn vị tính</th>
          <th>Giá bán</th>
          <th>Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of rowSelectionTable.data">
          <td>{{ data.Id }}</td>
          <td>{{ data.Id }}</td>
          <td>{{ data.Id }}</td>
          <td>
            <button tds-button color="secondary">
              <span class="flex items-center text-primary-1">
                <i class="tdsi-plus-circle-fill text-lg leading-none mr-2"></i>
                <span class="text-body-2 font-semibold">Thêm vào</span>
              </span>
            </button>
          </td>
        </tr>
      </tbody>
    </tds-table>
  </div>
</div>

<div class="w-full flex justify-end p-4" *tdsModalFooter>
  <button tds-button class="w-[100px]" type="button" color="secondary" (click)="onCancel()">Đóng</button>
  <!-- <button tds-button class=" w-[100px]" type="submit" color="primary" (click)="onSave()">Áp dụng</button> -->
</div>


<!--
    <tds-label>Sản phẩm</tds-label>

    <tds-spin [spinning]="isLoading" class="w-full col-span-3">
        <tds-form-field class="w-full">
            <tds-select valueField="Id" textField="NameGet" [valuePrimitive]="false" placeholder='Chọn sản phẩm' [classList]="'hover:bg-neutral-3-400'"
                [ngModel]="defaultProduct" [tdsInputDebounce]="750" (inputKeyup)="onSearch($event)" (selectChange)="onChangeProduct($event)"
                [data]="lstProduct" [allowClear]="true">

                <ng-template tds-label-tmp let-item="item">
                    {{ item.data.NameGet }}
                </ng-template>

                <ng-template tds-option-tmp let-label='label' let-item="item" let-value='value' let-selected="selected">
                    <div class="flex flex-col gap-y-2.5">
                        <span class="font-semibold" [ngClass]="{'text-primary-1':selected}">{{ item.NameGet || item.Name }}</span>

                        <div *ngIf="lstInventory && lstInventory[item.Id]" class="flex gap-x-1">
                            <span class="text-neutral-1-400">Tồn kho: </span>
                            <span class="text-primary-1">{{lstInventory[item.Id] ? lstInventory[item.Id].QtyAvailable : 0}}</span>/
                            <span class="text-neutral-1-400">Tồn dự báo: </span>
                            <span class="text-primary-1">{{lstInventory[item.Id] ? lstInventory[item.Id].VirtualAvailable : 0}}</span>
                        </div>
                    </div>
                </ng-template>
            </tds-select>
        </tds-form-field>
    </tds-spin>
 -->
