<tds-spin [spinning]="isLoading">
  <form [formGroup]="_form" autocomplete="off">
    <div class="flex flex-col text-body-2">
      <div class="flex space-x-4">
        <div class="h-[48px] w-[48px] rounded-full bg-teal-800"></div>
        <div>
          <div class="text-info-400 font-semibold text-header-2">{{ _form?.value?.Name || '' }}</div>
          <div class="mt-0.5 text-neutral-1-500 text-body-1">0325 025 026</div>
        </div>
      </div>

      <div class="mt-6 grid grid-cols-2 gap-8">
        <div class="grid grid-cols-3 gap-4 items-center">

          <div class="font-semibold">Phương thức</div>
          <div class="col-span-2">
            <tds-form-field>
              <tds-select valueField="Id" textField="Name" placeholder='Chọn phương thức thanh toán' [required]='true'
                formControlName="Journal" [data]="lstAccountJournal" [allowClear]="true" [valuePrimitive]="false"
                (selectChange)="onChangeJournal($event)">
              </tds-select>
            </tds-form-field>
          </div>

          <div class="font-semibold">Số tiền</div>
          <div class="col-span-2">
            <tds-form-field>
              <tds-input-number [min]="0" [step]="1000" [required]='true' placeholder="Nhập số tiền" formControlName="Amount" [formatter]="numberWithCommas" [parser]="parserComas">
              </tds-input-number>
            </tds-form-field>
          </div>

        </div>
        <div class="grid grid-cols-3 gap-4 items-center">

          <div class="font-semibold">Ngày thanh toán</div>
          <div class="col-span-2">
            <tds-form-field>
              <tds-date-picker [required]='true' formControlName="PaymentDate">
              </tds-date-picker>
            </tds-form-field>
          </div>

          <div class="font-semibold">Nội dung</div>
          <div class="col-span-2">
            <tds-form-field>
              <input tdsInput autocomplete="off" placeholder="Nhập nội dung" formControlName="Communication"/>
            </tds-form-field>
          </div>

        </div>
      </div>
    </div>

    <div class="w-full flex justify-end p-4" *tdsModalFooter>
      <button class="mr-2 min-w-[100px]" tds-button color="secondary" (click)="onCancel()">
        Hủy bỏ
      </button>
      <button tds-button color="primary" (click)="onSave()">
        Thanh toán
      </button>
    </div>

  </form>
</tds-spin>



