<div class="h-full w-full flex flex-auto flex-col text-body-2">
  <div class="p-4 border-b border-neutral-2-200 flex justify-between items-center">
    <div class="px-4 py-2 flex gap-x-4">
      <div class="w-[120px] font-semibold"></div>
      <div class="flex flex-col gap-y-4">
        <tds-checkbox>Chọn tất cả</tds-checkbox>
      </div>
    </div>
    <button tds-button-outline color="error" class="min-w-[135px]" (click)="openCancel()">
      <span class="flex items-center">
        <i class="tdsi-notifications-off-fill text-xl leading-none mr-2"></i>Hủy đăng kí
      </span>
    </button>
  </div>
  <div class="p-4 divide-y">
    <div class="px-4 py-2 flex gap-x-4">
      <div class="w-[120px] font-semibold">Khách hàng</div>
      <div class="flex flex-col gap-y-4">
        <tds-checkbox>Thêm mới</tds-checkbox>
        <tds-checkbox>Cập nhật</tds-checkbox>
        <tds-checkbox>Xóa</tds-checkbox>
      </div>
    </div>
    <div class="px-4 py-2 flex gap-x-4">
      <div class="w-[120px] font-semibold">Đơn hàng</div>
      <div class="flex flex-col gap-y-4">
        <tds-checkbox>Thêm mới</tds-checkbox>
        <tds-checkbox>Cập nhật</tds-checkbox>
        <tds-checkbox>Xóa</tds-checkbox>
      </div>
    </div>
    <div class="px-4 py-2 flex gap-x-4">
      <div class="w-[120px] font-semibold">Hóa đơn</div>
      <div class="flex flex-col gap-y-4">
        <tds-checkbox>Thêm mới</tds-checkbox>
        <tds-checkbox>Cập nhật thông tin</tds-checkbox>
        <tds-checkbox>Hủy</tds-checkbox>
        <tds-checkbox>Xóa</tds-checkbox>
      </div>
    </div>
    <div class="px-4 py-2 flex gap-x-4">
      <div class="w-[120px] font-semibold">Giao hàng</div>
      <div class="flex flex-col gap-y-4">
        <tds-checkbox>Thay đổi trạng thái</tds-checkbox>
      </div>
    </div>
    <div class="px-4 py-2 flex gap-x-4">
      <div class="w-[120px] font-semibold">Hội thoại</div>
      <div class="flex flex-col gap-y-4">
        <tds-checkbox>Hội thoại được gán cho tôi</tds-checkbox>
      </div>
    </div>
    <div class="px-4 py-2 flex gap-x-4">
      <div class="w-[120px] font-semibold">Giỏ hàng</div>
      <div class="flex flex-col gap-y-4">
        <tds-checkbox>Thêm mới</tds-checkbox>
        <tds-checkbox>Cập nhật</tds-checkbox>
        <tds-checkbox>Hủy</tds-checkbox>
      </div>
    </div>
    <div class="px-4 py-2 flex gap-x-4">
      <div class="w-[120px] font-semibold">Hệ thống</div>
      <div class="flex flex-col gap-y-4">
        <tds-checkbox>Báo khóa</tds-checkbox>
        <tds-checkbox>Hết hạn</tds-checkbox>
        <tds-checkbox>Khuyến mãi & cập nhật</tds-checkbox>
      </div>
    </div>
  </div>
</div>

<div class="w-full flex justify-end p-4" *tdsModalFooter>
  <button tds-button class="mr-2 min-w-[100px]" color="secondary" (click)="cancel()">
    Hủy
  </button>
  <button tds-button type="submit" class="min-w-[100px]" color="primary" (click)="save()">
    Lưu lại
  </button>
</div>
