

<tds-button-group>
  <tds-spin [spinning]="isProcessing" [indicator]="indicatorTemplate" >
    <button tds-button color="secondary" tds-dropdown placement="bottomRight" trigger="click" [tdsDropdownMenu]="menu">
      <span class="flex items-center">
        Thao tác <i class="tdsi-arrow-down-fill text-lg leading-none ml-2"></i>
      </span>
    </button>
  </tds-spin>

  <tds-dropdown-menu #menu="tdsDropdownMenu">
    <div class="w-full">
      <div tds-dropdown-item (click)="checkDuplicateASIdPhoneUId()"> Check trùng khách hàng </div>
      <div tds-dropdown-item (click)="openUpdateStatusText()"> Cập nhật trạng thái đơn hàng </div>
      <div tds-dropdown-item (click)="getUpdateUIds()"> Cập nhật Facebook </div>
      <div tds-dropdown-item (click)="removeIds()" class="text-error-400"> Xóa nhiều </div>
    </div>
  </tds-dropdown-menu>
</tds-button-group>
 <ng-template #indicatorTemplate>
  <tds-spinner [color]="'primary'" class="w-5 h-5"></tds-spinner>
</ng-template>
