<div class="trackingref-main">
  <div class="trackingref-header">
    <div class="container">
      <div class="logo">
        <img src="/assets/imagesv2/tpos-text.jpg" alt="">
      </div>
      <div>
        <button class="button-hotline">
          <i class="tdsi-call-fill text-2xl"></i>
          <h3>Hotline</h3>
          <h3 class="number">0864718301</h3>
        </button>
      </div>
    </div>
  </div>

  <div class="trackingref-pannel">
    <img src="/assets/imagesv2/pannel-trackingref.jpg" alt="">
  </div>

  <div class="trackingref-body">
    <div class="container">
      <div class="body-left">
        <div class="detail">
          <h1 class="title">Thông tin đơn hàng</h1>
          <div class="info">
            <h3 class="text-body">Mã đơn hàng:</h3>
            <h2 class="item1">#312576343</h2>
            <h3 class="text-body">Đối tác giao hàng:</h3>
            <h2 class="item">Viettel Post</h2>
            <h3 class="text-body">Mã vận đơn:</h3>
            <h2 class="item2">SNP9123412</h2>
            <h3 class="text-body">Khối lượng (Gram):</h3>
            <h2 class="item">100</h2>
            <h3 class="text-body">Trạng thái:</h3>
            <div class="tag">
              <h2 class="item3">Đã hủy</h2>
            </div>
          </div>
        </div>
        <div class="detail">
          <h1 class="title">Thông tin người gửi</h1>
          <div class="info">
            <h3 class="text-body">Họ và tên:</h3>
            <h2 class="item">N*******</h2>
            <h3 class="text-body">Điện thoại:</h3>
            <h2 class="item">0868733***</h2>
            <h3 class="text-body">Địa chỉ:</h3>
            <h2 class="item">5 Đ.Kênh 19/5Sơn Kỳ, Tân Phú, Thành phố Hồ Chí Minh</h2>
          </div>
        </div>
        <div class="detail">
          <h1 class="title">Thông tin người nhận</h1>
          <div class="info">
            <h3 class="text-body">Họ và tên:</h3>
            <h2 class="item">Nguyễn Thành Công</h2>
            <h3 class="text-body">Điện thoại:</h3>
            <h2 class="item">0868733***</h2>
            <h3 class="text-body">Địa chỉ:</h3>
            <h2 class="item">Chung cư H2, 196 Đ. Hoàng Diệu, Quận 4, Thành phố Hồ Chí Minh</h2>
          </div>
        </div>
      </div>
      <div class="body-right">
        <h1 class="title">Lịch sử vận đơn</h1>
        <div class="timeline">
          <div class="container-1 right">
            <i class="tdsi-tick-fill icon"></i>
            <div class="content">
              <h4 class="text-caption">Giao hàng thành công</h4>
              <h4>Ngày 20/10 16:40</h4>
            </div>
          </div>
          <div class="container-1 right">
            <i class="tdsi-tick-fill icon"></i>
            <div class="content">
              <h4 class="text-caption">Đang giao hàng</h4>
              <h4>Ngày 20/10 16:40</h4>
            </div>
          </div>
          <div class="container-1 right">
            <i class="tdsi-tick-fill icon"></i>
            <div class="content">
              <h4 class="text-caption">Giao hàng thành công</h4>
              <h4>Ngày 20/10 16:40</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
