<div class="trackingref-main">
    <div class="trackingref-header">
      <div class="header-bar">
        <div class="logo">
          <img src="/assets/imagesv2/tpos-text.jpg" alt="">
        </div>
        <div class="hotline">
          <button class="button-hotline">
            <span>Hotline</span>
            <span>0864718301</span>
          </button>
        </div>
      </div>
    </div>

    <div class="trackingref-pannel">
    </div>

    <div class="trackingref-body">
      <div class="body-left"></div>
      <div class="body-right"></div>
    </div>
</div>
