<tds-spin [spinning]="isLoading" class="w-full h-full flex">
  <form [formGroup]="_form" autocomplete="off" *ngIf="dataModel && _form" class="h-full">
    <div class="w-full pb-4 px-4 h-full overflow-y-scroll tds-custom-scroll">
      <div class="flex flex-col w-full bg-white rounded-t-xl">
        <div class="flex flex-row items-center justify-between px-4 py-3">
          <div class="flex flex-row items-center">
            <button tds-flat-button-icon size="md" type="button" (click)="backToMain()"  type="button">
              <span class="flex items-center">
                <i class="tdsi-back-fill text-xl leading-5"></i>
              </span>
            </button>
            <span class="text-neutral-1-900 text-header-1 font-semibold pl-2.5">{{ id ? "CHỈNH SỬA SẢN PHẨM" : "THÊM MỚI SẢN PHẨM" }}</span>
          </div>
          <button tds-button color="primary" type="submit" class="min-w-[100px]" (click)="onSave()">
            <span class="text-body-2 font-semibold">Lưu</span>
          </button>
        </div>
        <div class="flex flex-col p-4">
          <div class="flex flex-row items-center justify-start w-full pb-6">
            <upload-pictures-wall class="mr-12" [size]="112"
              [data]="[_form.controls.ImageUrl.value || dataModel.ImageUrl]" (getResult)="getAvatar($event)" (getBase64)="getBase64($event)">
            </upload-pictures-wall>
            <div class="flex flex-col w-2/3">
              <tds-form-field class="w-1/2">
                <tds-label>Tên sản phẩm</tds-label>
                <input tdsInput formControlName="Name" placeholder="Nhập tên sản phẩm"
                  class="text-neutral-1-900 text-body-2 font-regular" [required]="true" />
                <tds-error>
                  Vui lòng nhập tên sản phẩm
                </tds-error>
              </tds-form-field>

              <div class="grid grid-cols-3 w-full gap-x-2 gap-y-4 text-neutral-1-900 text-body-2 font-regular pt-4">
                <tds-checkbox formControlName="SaleOK">Có thể bán</tds-checkbox>
                <tds-checkbox formControlName="IsCombo">Là combo</tds-checkbox>
                <tds-checkbox formControlName="Active">Hiệu lực</tds-checkbox>
                <tds-checkbox formControlName="PurchaseOK">Có thể mua</tds-checkbox>
                <tds-checkbox formControlName="AvailableInPOS">Hiện trên điểm bán hàng</tds-checkbox>
                <tds-checkbox formControlName="EnableAll">Cho phép bán ở công ty khác</tds-checkbox>
              </div>
            </div>
          </div>
        </div>
      </div>

      <tds-tabset class="w-full bg-white mt-1" [clsTab]="'flex'" [tabBarStyle]="{'padding-left': '16px'}">
        <tds-tab [title]="custom1">
          <ng-template #custom1 let-active="active">
            <span class="w-[137px] flex items-center font-semibold cursor-pointer text-body-2 p-4 relative group border-b-3"
              [ngClass]='{"text-neutral-1-900 border-primary-1 ":active,"text-neutral-1-400 border-transparent hover:text-neutral-1-900 hover:border-primary-1":!active}'>
              Thông tin chung
            </span>
          </ng-template>
          <div class="grid grid-cols-2 gap-y-4 2xl:gap-x-8 xl:gap-x-6">
            <div class="grid grid-cols-3 xl:gap-y-4 2xl:gap-x-6 xl:gap-x-4 items-center h-fit">
              <tds-label>Loại sản phẩm:</tds-label>
              <tds-form-field class="w-full col-span-2">
                <tds-select valueField="value" textField="text" placeholder='Chọn loại sản phẩm'
                  formControlName="Type" [data]="productTypeList" [allowClear]="false"
                  [optionOverflowSize]="5">
                </tds-select>
                <tds-error>
                  Vui lòng chọn loại sản phẩm
                </tds-error>
              </tds-form-field>

              <tds-label>Mã sản phẩm:</tds-label>
              <tds-form-field class="w-full col-span-2">
                <input tdsInput formControlName="DefaultCode" placeholder="Nhập mã sản phẩm"
                  class="text-neutral-1-900 text-body-2 font-regular" />
                <tds-error>
                  Vui lòng nhập mã sản phẩm
                </tds-error>
              </tds-form-field>

              <tds-label>Mã vạch:</tds-label>
              <tds-form-field class="w-full col-span-2">
                <input tdsInput formControlName="Barcode" placeholder="Nhập mã vạch"
                  class="text-neutral-1-900 text-body-2 font-regular" />
                <tds-error>
                  Vui lòng nhập mã vạch
                </tds-error>
              </tds-form-field>

              <tds-label>Mã chốt đơn:</tds-label>
              <tds-form-field class="w-full col-span-2">
                <tds-select placeholder='Nhập từ khóa' [valuePrimitive]="false"
                  formControlName="OrderTag" [allowClear]="true" mode="tags">
                </tds-select>
              </tds-form-field>

              <tds-label>Nhóm sản phẩm:</tds-label>
              <div class="col-span-2 flex space-x-2">
                <tds-form-field class="w-full">
                  <tds-select valueField="Id" textField="CompleteName" placeholder='Chọn nhóm sản phẩm'
                    formControlName="Categ" [valuePrimitive]="false"
                    [data]="categoryList" [allowClear]="false" [optionOverflowSize]="5">
                  </tds-select>
                  <tds-error>
                    Vui lòng chọn nhóm sản phẩm
                  </tds-error>
                </tds-form-field>

                <button tds-button-icon color="primary" type="button" (click)="addCategory()"  type="button">
                  <span class="flex items-center">
                    <i class="tdsi-plus-fill"></i>
                  </span>
                </button>
              </div>

              <tds-label *ngIf="dataModel?.Type == 'product'">Số lượng thực tế:</tds-label>
              <div class="col-span-2 flex space-x-2" *ngIf="dataModel?.Type == 'product'">
                <tds-form-field class="w-full">
                  <tds-input-number
                    [ngModel]="_form.value.InitInventory || initInventory"
                    [ngModelOptions]="{standalone: true}" [formatter]="numberWithCommas" [parser]="parserComas"
                    [min]="0"
                    [disabled]="id ? true : false"
                    (ngModelChange)="changeInitInventory($event)"
                    class="text-neutral-1-900 text-body-2 font-regular"></tds-input-number>
                  <tds-error>
                    Vui lòng nhập số lượng thực tế
                  </tds-error>
                </tds-form-field>

                <button *ngIf="id" type="button" tds-button-icon color="primary" tds-tooltip tooltipTitle="Cập nhật số lượng thực tế" (click)="showUpdateInitInventoryModal()">
                  <i class="tdsi-edit-fill"></i>
                </button>
              </div>

              <tds-label>Khối lượng (g)</tds-label>
              <tds-form-field class="w-full col-span-2">
                <tds-input-number formControlName="Weight" [min]="0" class="text-neutral-1-900 text-body-2 font-regular" [formatter]="numberWithCommas" [parser]="parserComas"></tds-input-number>
                <tds-error>
                  Vui lòng nhập khối lượng
                </tds-error>
              </tds-form-field>
            </div>

            <div class="grid grid-cols-3 xl:gap-y-4 2xl:gap-x-6 xl:gap-x-4 items-center">
              <tds-label>Giá sản phẩm:</tds-label>
              <tds-form-field class="w-full col-span-2">
                <tds-input-number formControlName="ListPrice" [min]="0" class="text-neutral-1-900 text-body-2 font-regular" [formatter]="numberWithCommas" [parser]="parserComas"></tds-input-number>
                <tds-error>
                  Vui lòng nhập giá sản phẩm
                </tds-error>
              </tds-form-field>

              <tds-label>Chiết khấu bán (%):</tds-label>
              <tds-form-field class="w-full col-span-2">
                <tds-input-number formControlName="DiscountSale" [min]="0"  class="text-neutral-1-900 text-body-2 font-regular" [formatter]="numberWithCommas" [parser]="parserComas"></tds-input-number>
                <tds-error>
                  Vui lòng nhập tỉ lệ chiết khấu
                </tds-error>
              </tds-form-field>

              <tds-label>Giá mua mặc định:</tds-label>
              <tds-form-field class="w-full col-span-2">
                <tds-input-number formControlName="PurchasePrice" [min]="0"  class="text-neutral-1-900 text-body-2 font-regular" [formatter]="numberWithCommas" [parser]="parserComas"></tds-input-number>
                <tds-error>
                  Vui lòng nhập giá mua mặc định
                </tds-error>
              </tds-form-field>

              <tds-label>Chiết khấu mua (%):</tds-label>
              <tds-form-field class="w-full col-span-2">
                <tds-input-number formControlName="DiscountPurchase" [min]="0" class="text-neutral-1-900 text-body-2 font-regular" [formatter]="numberWithCommas" [parser]="parserComas"></tds-input-number>
                <tds-error>
                  Vui lòng nhập tỉ lệ chiết khấu
                </tds-error>
              </tds-form-field>

              <tds-label>Giá vốn:</tds-label>
              <tds-form-field class="w-full col-span-2">
                <tds-input-number formControlName="StandardPrice" [min]="0"  class="text-neutral-1-900 text-body-2 font-regular" [formatter]="numberWithCommas" [parser]="parserComas"></tds-input-number>
                <tds-error>
                  Vui lòng nhập giá vốn
                </tds-error>
              </tds-form-field>

              <tds-label>Đơn vị mặc định<span class="text-error-400">*</span> :</tds-label>
              <tds-form-field class="w-full col-span-2">
                <tds-select valueField="Id" textField="Name" placeholder='Nhập đơn vị' disabledField="isActive"
                  formControlName="UOM" [valuePrimitive]="false" [data]="UOMList" [allowClear]="false" [required]="true"
                  [optionOverflowSize]="5">
                </tds-select>
                <tds-error>
                  Vui lòng chọn đơn vị mặc định
                </tds-error>
              </tds-form-field>

              <tds-label>Đơn vị mua<span class="text-error-400">*</span> :</tds-label>
              <tds-form-field class="w-full col-span-2">
                <tds-select valueField="Id" textField="Name" placeholder='Nhập đơn vị' disabledField="isActive"
                  formControlName="UOMPO" [valuePrimitive]="false" [data]="UOMPOList" [allowClear]="false" [required]="true"
                  [optionOverflowSize]="5">
                </tds-select>
                <tds-error>
                  Vui lòng chọn đơn vị mua
                </tds-error>
              </tds-form-field>
            </div>
          </div>
        </tds-tab>

        <tds-tab [title]="custom2">
          <ng-template #custom2 let-active="active">
            <span class="w-[90px] flex items-center font-semibold cursor-pointer text-body-2 p-4 relative group border-b-3"
              [ngClass]='{"text-neutral-1-900 border-primary-1 ":active,"text-neutral-1-400 border-transparent hover:text-neutral-1-900 hover:border-primary-1":!active}'>
              Hình ảnh
            </span>
          </ng-template>
          <upload-pictures-wall class="mr-12" [size]="112" [isArray]="true"
            [data]="_form.controls.Images.value|convertListUrl" (onLoadImage)="getImageList($event)">
          </upload-pictures-wall>
        </tds-tab>

        <tds-tab [title]="custom3" *ngIf="id">
          <ng-template #custom3 let-active="active">
            <span class="w-[137px] flex items-center font-semibold cursor-pointer text-body-2 p-4 relative group border-b-3"
              [ngClass]='{"text-neutral-1-900 border-primary-1 ":active,"text-neutral-1-400 border-transparent hover:text-neutral-1-900 hover:border-primary-1":!active}'>
              Đơn vị bán hàng
            </span>
          </ng-template>
          <div class="h-full w-full">
            <div class="rounded-xl border border-neutral-2-200 flex flex-col">
              <div class="w-full px-4 py-2.5 flex justify-between items-center">
                <span class="text-title-1 font-semibold text-neutral-1-900">Danh sách đơn hàng</span>
                <button tds-button color="primary" (click)="createUOMModal()">
                  <span class="flex items-center">
                    <i class="tdsi-add-fill text-lg leading-none mr-2"></i>Thêm đơn vị
                  </span>
                </button>
              </div>
              <div class="h-[300px] min-h-[300px] w-full">
                <tds-table #salesUnitTable [showPagination]="false" [frontPagination]="false" [listData]="lstUOM"
                  [scroll]="{y:'auto', x: 'auto'}">
                  <thead>
                    <tr>
                      <th width="25%">Đơn vị</th>
                      <th width="25%">Giá bán</th>
                      <th width="25%">Mã vạch</th>
                      <th width="25%">Thao tác</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-template ngFor let-data let-i="index" [ngForOf]="salesUnitTable.data">
                      <tr>
                        <td>{{ data.UOM.NameGet || data.UOM.Name }} </td>
                        <td>{{ data.ListPrice | numberCustom }}</td>
                        <td>{{ data.Barcode }}</td>
                        <td>
                          <div class="flex gap-x-2">
                            <button tds-button-icon type="button" color="secondary" size="sm" tds-tooltip="Chỉnh sửa" (click)="editUOMModal(data, i)">
                              <span class="flex items-center">
                                <i class="tdsi-edit-fill text-neutral-1-500"></i>
                              </span>
                            </button>
                            <button tds-button-icon color="secondary" size="sm" tds-tooltip="Xóa" (click)="removeUOM(i)">
                              <span class="flex items-center">
                                <i class="tdsi-trash-fill text-neutral-1-500"></i>
                              </span>
                            </button>
                          </div>
                        </td>
                      </tr>
                      </ng-template>
                  </tbody>
              </tds-table>
              </div>
            </div>
          </div>
        </tds-tab>

        <!-- <tds-tab title="Tồn kho">
          <div class="grid grid-cols-2 gap-y-4 gap-x-8">
            <div class="grid grid-cols-3 gap-y-4 gap-x-6 items-center">
              <tds-label>Theo dõi</tds-label>
              <tds-form-field class="w-full col-span-2">
                <tds-select valueField="value" textField="text" placeholder='Không theo dõi'
                  formControlName="Tracking" [data]="trackingList" [allowClear]="false">
                </tds-select>
                <tds-error>
                  Vui lòng chọn theo dõi
                </tds-error>
              </tds-form-field>

              <tds-label>Khối lượng</tds-label>
              <tds-form-field class="w-full col-span-2">
                <tds-input-number formControlName="Weight" [min]="0" class="text-neutral-1-900 text-body-2 font-regular" [formatter]="numberWithCommas" [parser]="parserComas"></tds-input-number>
                <tds-error>
                  Vui lòng nhập khối lượng
                </tds-error>
              </tds-form-field>

              <tds-label>Thể tích (m3)</tds-label>
              <tds-form-field class="w-full col-span-2">
                <tds-input-number formControlName="Volume" [min]="0" class="text-neutral-1-900 text-body-2 font-regular" [formatter]="numberWithCommas" [parser]="parserComas"></tds-input-number>
                <tds-error>
                  Vui lòng nhập thể tích
                </tds-error>
              </tds-form-field>
            </div>
          </div>
        </tds-tab> -->

        <tds-tab [title]="custom4" *ngIf="_form.controls.SaleOK.value">
          <ng-template #custom4 let-active="active">
            <span class="w-[92px] flex items-center font-semibold cursor-pointer text-body-2 p-4 relative group border-b-3"
              [ngClass]='{"text-neutral-1-900 border-primary-1 ":active,"text-neutral-1-400 border-transparent hover:text-neutral-1-900 hover:border-primary-1":!active}'>
              Bán hàng
            </span>
          </ng-template>
          <span
            class="grid grid-cols-2 gap-y-4 gap-x-8 items-center text-neutral-1-600 text-header-2 font-semibold">
            Điểm bán hàng
          </span>

          <div class="grid grid-cols-2 gap-y-4 gap-x-8 mt-4">
            <div class="grid grid-cols-3 gap-y-4 gap-x-6 items-center">
              <tds-label>Nhóm Pos:</tds-label>
              <tds-form-field class="w-full col-span-2">
                <tds-select valueField="Id" textField="NameGet" placeholder='Chọn nhóm Pos'
                  formControlName="POSCateg" [valuePrimitive]="false"
                  [data]="POSCategoryList" [allowClear]="true" [optionOverflowSize]="5">
                </tds-select>
                <tds-error>
                  Vui lòng chọn nhóm Pos
                </tds-error>
              </tds-form-field>
            </div>
          </div>
        </tds-tab>

        <tds-tab [title]="custom5">
          <ng-template #custom5 let-active="active">
            <span class="w-[127px] flex items-center font-semibold cursor-pointer text-body-2 p-4 relative group border-b-3"
              [ngClass]='{"text-neutral-1-900 border-primary-1 ":active,"text-neutral-1-400 border-transparent hover:text-neutral-1-900 hover:border-primary-1":!active}'>
              Thông tin khác
            </span>
          </ng-template>
          <div class="flex flex-col gap-4">
            <span class="w-full flex gap-6">
              <tds-label class="w-[143px]">Mô tả sản phẩm</tds-label>
              <tds-form-field class="flex-auto">
                <textarea tdsInput formControlName="Description" placeholder="Nhập mô tả sản phẩm" class="resize-none no-scrollbar"></textarea>
              </tds-form-field>
            </span>
            <span class="w-full flex gap-6">
              <tds-label class="w-[143px]">Mô tả trên báo giá bán hàng</tds-label>
              <tds-form-field class="flex-auto">
                <textarea tdsInput formControlName="DescriptionSale" placeholder="Nhập mô tả trên báo giá bán hàng" class="resize-none no-scrollbar"></textarea>
              </tds-form-field>
            </span>
            <div class="flex gap-x-8">
              <div class="w-1/2 flex flex-col gap-4">
                <span class="w-full flex gap-6 items-center">
                  <tds-label class="w-[143px]">Nhà sản xuất</tds-label>
                  <div class="flex-auto flex gap-2 items-center">
                    <tds-form-field class="flex-auto">
                      <tds-select valueField="Id" textField="Name" placeholder='Chọn nhà sản xuất'
                        [data]="producerList" [allowClear]="true" [optionOverflowSize]="5"
                        [valuePrimitive]="false" formControlName="Producer">
                      </tds-select>
                    </tds-form-field>
                    <button tds-button-icon color="primary" size="sm" type="button" (click)="addProducer()">
                      <span class="flex items-center">
                        <i class="tdsi-plus-fill"></i>
                      </span>
                    </button>
                  </div>
                </span>
                <span class="w-full flex gap-6 items-center">
                  <tds-label class="w-[143px]">Nhà nhập khẩu</tds-label>
                  <div class="flex-auto flex gap-2 items-center">
                    <tds-form-field class="flex-auto">
                      <tds-select valueField="Id" textField="Name" placeholder='Chọn nhà nhập khẩu'
                        [data]="importerList" [allowClear]="true" [optionOverflowSize]="5"
                        [valuePrimitive]="false" formControlName="Importer">
                      </tds-select>
                    </tds-form-field>
                    <button tds-button-icon color="primary" size="sm" type="button" (click)="addImporter()">
                      <span class="flex items-center">
                        <i class="tdsi-plus-fill"></i>
                      </span>
                    </button>
                  </div>
                </span>
                <span class="w-full flex gap-6 items-center">
                  <tds-label class="w-[143px]">Nhà phân phối</tds-label>
                  <div class="flex-auto flex gap-2 items-center">
                    <tds-form-field class="flex-auto">
                      <tds-select valueField="Id" textField="Name" placeholder='Chọn nhà phân phối'
                        [data]="distributorList" [allowClear]="true"
                        [optionOverflowSize]="5" [valuePrimitive]="false" formControlName="Distributor">
                      </tds-select>
                    </tds-form-field>
                    <button tds-button-icon color="primary" size="sm" type="button" (click)="addDistributor()">
                      <span class="flex items-center">
                        <i class="tdsi-plus-fill"></i>
                      </span>
                    </button>
                  </div>
                </span>
                <span class="w-full flex gap-6 items-center">
                  <tds-label class="w-[143px]">Xuất xứ</tds-label>
                  <div class="flex-auto flex gap-2 items-center">
                    <tds-form-field class="flex-auto">
                      <tds-select valueField="Id" textField="Name" placeholder='Chọn xuất xứ'
                        [data]="originCountryList" [allowClear]="true"
                        [optionOverflowSize]="5" [valuePrimitive]="false" formControlName="OriginCountry">
                      </tds-select>
                    </tds-form-field>
                    <button tds-button-icon color="primary" size="sm" type="button" (click)="addOriginCountry()">
                      <span class="flex items-center">
                        <i class="tdsi-plus-fill"></i>
                      </span>
                    </button>
                  </div>
                </span>
                <span class="w-full flex gap-6 items-center">
                  <tds-label class="w-[143px]">Năm sản xuất</tds-label>
                  <tds-form-field class="flex-auto">
                    <tds-input-number formControlName="YearOfManufacture" [min]="0" placeholder="0"
                      class="text-neutral-1-900 text-body-2 font-regular">
                    </tds-input-number>
                    <tds-error>
                      Vui lòng nhập năm sản xuất
                    </tds-error>
                  </tds-form-field>
                </span>
              </div>
              <div class="w-1/2 flex flex-col gap-4">
                <span class="w-full flex gap-6">
                  <tds-label class="w-[143px]">Thành phần</tds-label>
                  <tds-form-field class="flex-auto">
                    <textarea tdsInput formControlName="Element" placeholder="Nhập thành phần" class="resize-none no-scrollbar"></textarea>
                  </tds-form-field>
                </span>
                <span class="w-full flex gap-6">
                  <tds-label class="w-[143px]">Thông số kỹ thuật</tds-label>
                  <tds-form-field class="flex-auto">
                    <textarea tdsInput formControlName="Specifications" placeholder="Nhập thông số kỹ thuật" class="resize-none no-scrollbar"></textarea>
                  </tds-form-field>
                </span>
                <span class="w-full flex gap-6">
                  <tds-label class="w-[143px]">Thông tin cảnh báo</tds-label>
                  <tds-form-field class="flex-auto">
                    <textarea tdsInput formControlName="InfoWarning" placeholder="Nhập thông tin cảnh báo" class="resize-none no-scrollbar"></textarea>
                  </tds-form-field>
                </span>
              </div>
            </div>
          </div>
        </tds-tab>
      </tds-tabset>

      <tds-collapse accordion="true" [expandIconPosition]="'right'" class="mt-1">
        <tds-collapse-panel [header]="variantHeaderTpl" [tdsClass]="'w-full bg-white p-4'" [active]="false"
          [tdsHeaderClass]="'bg-white p-4'" [extra]="extraVariantsHeader" [expandedIcon]="'tdsi-arrow-right-line'">

          <ng-template #variantHeaderTpl>
            <div class="flex items-center bg-white w-full">
                <span class="tdsi-variant-fill text-neutral-1-500 text-xl leading-none mr-2"></span>
                Biến thể
            </div>
          </ng-template>

          <ng-template #extraVariantsHeader>
            <button tds-button type="button" color="primary" (click)="showCreateAttributeModal()" *ngIf="lstVariants.length > 0">
              <span class="flex items-center">
                  <i class="tdsi-plus-circle-fill mr-2"></i>Thêm biến thể
              </span>
            </button>
          </ng-template>

          <div class="flex flex-col gap-y-8 justify-center items-center" *ngIf="lstVariants.length > 0; else tableAttribute">
            <div class="w-full">
              <tds-table #variantsTable [widthConfig]="['6%','34%','20%','20%','20%']" [listData]="lstVariants" [showPagination]="false">
                <thead>
                  <tr>
                    <th width="6%">STT</th>
                    <th width="24%">Tên</th>
                    <!-- <th width="30%">Mã chốt đơn</th> -->
                    <th width="20%">Giá</th>
                    <th width="20%">Số lượng</th>
                    <th width="15%">Hoạt động</th>
                    <th width="15%">Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of lstVariants; let i = index">
                    <td>{{ 1 + i }}</td>
                    <td>
                      <div class="flex flex-col">
                        <span class="mb-2">{{ data.NameTemplate || data.Name }}</span>
                        <div class="flex flex-wrap items-center gap-1">
                          <tds-tag *ngFor="let item of data.AttributeValues" status='secondary' rounded="rounded-full">
                            {{item.NameGet || (item.AttributeName + ': ' + item.Name)}}
                          </tds-tag>
                        </div>
                      </div>
                    </td>
                    <!-- <td>
                      <tds-select placeholder='Nhập từ khóa' [valuePrimitive]="false" [(ngModel)]="data.Tags" [ngModelOptions]="{standalone: true}"
                          [allowClear]="true" [data]="" mode="tags" class="w-full">
                      </tds-select>
                    </td> -->
                    <td>
                      <tds-input-number [(ngModel)]="data.PriceVariant" [ngModelOptions]="{standalone: true}"
                        [formatter]="numberWithCommas" [parser]="parserComas"
                        [min]="0" [step]="1000"
                        class="text-neutral-1-900 text-body-2 font-regular">
                      </tds-input-number>
                    </td>
                    <td>
                      <tds-input-number [(ngModel)]="data.QtyAvailable" [ngModelOptions]="{standalone: true}"
                        [min]="0" [step]="1" [formatter]="numberWithCommas" [parser]="parserComas" class="text-neutral-1-900 text-body-2 font-regular">
                      </tds-input-number>
                    </td>
                    <td>
                      <tds-switch [(ngModel)]="data.Active" [ngModelOptions]="{standalone: true}"></tds-switch>
                    </td>
                    <td>
                      <div class="flex flex-row items-center gap-x-1">
                        <button tds-button-icon color="secondary" type="button" size="sm" class=" mr-2"
                          (click)="showEditVariantsModal(data)">
                          <span class="flex items-center">
                            <i class="tdsi-edit-fill text-xl text-neutral-1-500 leading-none"></i>
                          </span>
                        </button>
                        <button tds-button-icon color="secondary" type="button" size="sm"
                          (click)="removeVariants(data)">
                          <span class="flex items-center">
                            <i class="tdsi-trash-fill text-xl text-neutral-1-500 leading-none"></i>
                          </span>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </tds-table>
          </div>
          </div>

          <ng-template #tableAttribute>
              <div class="flex flex-col gap-y-8 justify-center items-center">
                  <div class="flex flex-col gap-y-4 items-center" >
                      <img src="../../assets/imagesv2/live-campaign/noData.svg" alt="">
                      <span class="text-neutral-1-400 text-body-2">Chưa có biến thể nào</span>
                  </div>
                  <button tds-button type="button" color="primary" (click)="showCreateAttributeModal()">
                      <span class="flex items-center ">
                          <i class="tdsi-plus-fill mr-2"></i>Thêm biến thể
                      </span>
                  </button>
              </div>
          </ng-template>
        </tds-collapse-panel>
      </tds-collapse>

      <tds-collapse accordion="true" [expandIconPosition]="'right'" class="mt-1" *ngIf="_form.value.IsCombo">
        <tds-collapse-panel [header]="ComboHeaderTpl" [tdsClass]="'w-full rounded-b-xl bg-white p-4'"
          [tdsHeaderClass]="'bg-white w-full p-4'" [extra]="extraHeader" [active]="true" [expandedIcon]="'tdsi-arrow-right-line'">

          <ng-template #ComboHeaderTpl>
            <div class="flex flex-auto items-center">
              <span class="tdsi-variant-fill text-neutral-1-500 text-xl leading-none mr-2"></span>
              Thành phần
            </div>
          </ng-template>

          <ng-template #extraHeader>
            <button tds-button type="button" color="primary" (click)="showCreateComboModal()" *ngIf="lstProductCombo.length > 0">
              <span class="flex items-center">
                  <i class="tdsi-plus-circle-fill mr-2"></i>Thêm thành phần
              </span>
            </button>
          </ng-template>

          <div class="flex flex-col gap-y-8 justify-center items-center" *ngIf="lstProductCombo.length > 0; else comboTable">
            <div class="w-full">
              <tds-table #ComboTable [widthConfig]="['6%','25%','17%','17%','17%','17%']" [listData]="lstProductCombo"
                  [showPagination]="false">
                <thead>
                  <tr>
                    <th>STT</th>
                    <th>Sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Giá bán</th>
                    <th>Tổng tiền tham khảo</th>
                    <th>Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of lstProductCombo; let i = index">
                    <td>{{ 1 + i }}</td>
                    <td>{{ data.Product.NameGet }}</td>
                    <td>{{ data.Quantity | numberCustom }}</td>
                    <td>{{ (data.Product.ListPrice || 0) | numberCustom }}đ</td>
                    <td>{{ ((data.Product.ListPrice || 0) * data.Quantity) | numberCustom }}đ</td>
                    <td>
                      <button tds-button-icon color="secondary" type="button" size="sm" class="mr-2"
                        (click)="showCreateComboModal(data, i)">
                        <span class="flex items-center">
                          <i class="tdsi-edit-fill text-xl text-neutral-1-500 leading-none"></i>
                        </span>
                      </button>
                      <button tds-button-icon color="secondary" type="button" size="sm"
                        (click)="removeComboProduct(i)">
                        <span class="flex items-center">
                          <i class="tdsi-trash-fill text-xl text-neutral-1-500 leading-none"></i>
                        </span>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </tds-table>
          </div>
          </div>

          <ng-template #comboTable>
              <div class="flex flex-col gap-y-8 justify-center items-center">
                  <div class="flex flex-col gap-y-4 items-center">
                      <img src="../../assets/imagesv2/live-campaign/noData.svg" alt="">
                      <span class="text-neutral-1-400 text-body-2">Chưa có thành phần nào</span>
                  </div>
                  <button tds-button type="button" color="primary" (click)="showCreateComboModal()" >
                      <span class="flex items-center ">
                          <i class="tdsi-plus-fill mr-2"></i>Thêm thành phần
                      </span>
                  </button>
              </div>
          </ng-template>
        </tds-collapse-panel>
      </tds-collapse>
    </div>
  </form>
</tds-spin>
