
<tds-spin [spinning]="isLoading" class="w-full h-full">
  <form [formGroup]="_form" autocomplete="off">
      <div class="w-full pb-4 px-4">
          <div class="flex flex-col w-full bg-white rounded-xl">
              <div class="flex flex-row items-center justify-between px-4 py-3">
                  <div class="flex flex-row items-center">
                      <button tds-flat-button-icon size="md" type="button"
                          (click)="backToMain()">
                          <span class="flex items-center">
                              <i class="tdsi-back-fill text-xl leading-5"></i>
                          </span>
                      </button>
                      <span class="text-neutral-1-900 text-header-1 font-semibold pl-2.5">{{id ? "CHỈNH SỬA SẢN PHẨM" : "THÊM MỚI SẢN PHẨM"}}</span>
                  </div>
                  <button tds-button color="primary" type="submit" class="w-[100px]"
                    [disabled]="!_form.valid"
                    (click)="onSubmit()">
                      <span class="text-body-2 font-semibold">Lưu</span>
                  </button>
              </div>
              <div class="flex flex-col p-4">
                  <div class="flex flex-row items-center justify-start w-2/3 pb-6">
                      <upload-pictures-wall class="mr-12"
                        [size]="112"
                        [data]="_form.controls.ImageUrl.value"
                        (getResult)="getAvatar($event)">
                      </upload-pictures-wall>
                      <div class="flex flex-col w-full">
                          <tds-form-field>
                              <tds-label>Tên sản phẩm</tds-label>
                              <input tdsInput formControlName="Name" placeholder="Nhập tên sản phẩm" class="text-neutral-1-900 text-body-2 font-regular" [required]='true'/>
                              <tds-error>
                                  Vui lòng nhập tên sản phẩm
                              </tds-error>
                          </tds-form-field>

                          <div class="grid grid-cols-3 gap-y-4 text-neutral-1-900 text-body-2 font-regular pt-4">
                              <tds-checkbox formControlName="SaleOK">Có thể bán</tds-checkbox>
                              <tds-checkbox formControlName="IsCombo">Là combo</tds-checkbox>
                              <tds-checkbox formControlName="Active">Hiệu lực</tds-checkbox>
                              <tds-checkbox formControlName="PurchaseOK">Có thể mua</tds-checkbox>
                              <tds-checkbox formControlName="AvailableInPOS">Hiện trên điểm bán hàng</tds-checkbox>
                              <tds-checkbox formControlName="EnableAll">Cho phép bán ở công ty khác</tds-checkbox>
                          </div>
                      </div>
                  </div>
                  <div class="w-full h-full border border-neutral-2-100 rounded-md">
                      <tds-tabset>
                          <tds-tab title="Thông tin chung">
                              <div class="grid grid-cols-2 gap-y-4 gap-x-8">
                                <div class="grid grid-cols-3 gap-y-4 gap-x-6 items-center">
                                  <tds-label>Loại sản phẩm:</tds-label>
                                  <tds-form-field class="w-full col-span-2">
                                    <tds-select valueField="value" textField="text" placeholder='Chọn loại sản phẩm'
                                        disabledField="isActive" formControlName="Type"
                                        [data]="productTypeList" [allowClear]="true" [optionOverflowSize]="5">
                                    </tds-select>
                                    <tds-error>
                                        Vui lòng chọn loại sản phẩm
                                    </tds-error>
                                  </tds-form-field>

                                  <tds-label>Mã sản phẩm:</tds-label>
                                  <tds-form-field class="w-full col-span-2">
                                    <input tdsInput formControlName="DefaultCode" placeholder="Nhập mã sản phẩm" class="text-neutral-1-900 text-body-2 font-regular"/>
                                    <tds-error>
                                        Vui lòng nhập mã sản phẩm
                                    </tds-error>
                                  </tds-form-field>

                                  <tds-label>Mã vạch:</tds-label>
                                  <tds-form-field class="w-full col-span-2">
                                    <input tdsInput formControlName="Barcode" placeholder="Nhập mã vạch" class="text-neutral-1-900 text-body-2 font-regular"/>
                                    <tds-error>
                                        Vui lòng nhập mã vạch
                                    </tds-error>
                                  </tds-form-field>

                                  <tds-label>Nhóm sản phẩm:</tds-label>
                                  <div class="col-span-2">
                                    <div class="flex space-x-2">
                                      <tds-form-field class="w-full mr-2">
                                        <tds-select valueField="Id" textField="CompleteName" placeholder='Chọn nhóm sản phẩm'
                                        disabledField="isActive" formControlName="Categ" [valuePrimitive]="false"
                                        [data]="categoryList" [allowClear]="true" [optionOverflowSize]="5">
                                        </tds-select>
                                        <tds-error>
                                            Vui lòng chọn nhóm sản phẩm
                                        </tds-error>
                                      </tds-form-field>

                                      <button tds-button-icon color="primary" type="button" (click)="addCategory()">
                                        <span class="flex items-center">
                                          <i class="tdsi-plus-fill"></i>
                                        </span>
                                      </button>
                                    </div>
                                  </div>

                                  <tds-label>Thuộc tính:</tds-label>
                                  <tds-form-field class="w-full col-span-2">
                                    <tds-select valueField="Id" textField="NameGet" placeholder="Nhập thuộc tính"
                                      disabledField="isActive" formControlName="AttributeValues" [valuePrimitive]="true"
                                      [data]="attributeValuesList" [allowClear]="true" [mode]="'multiple'" [autoClose]="true" [optionOverflowSize]="5">
                                    </tds-select>
                                    <tds-error>
                                      Vui lòng nhập thuộc tính
                                  </tds-error>
                                  </tds-form-field>
                                </div>

                                <div class="grid grid-cols-3 gap-y-4 gap-x-6 items-center">
                                  <tds-label>Giá sản phẩm:</tds-label>
                                  <tds-form-field class="w-full col-span-2">
                                    <tds-input-number formControlName="ListPrice" [min]="0" class="text-neutral-1-900 text-body-2 font-regular"></tds-input-number>
                                    <tds-error>
                                      Vui lòng nhập giá sản phẩm
                                    </tds-error>
                                  </tds-form-field>

                                  <tds-label>Giá vốn:</tds-label>
                                  <tds-form-field class="w-full col-span-2">
                                    <tds-input-number formControlName="StandardPrice" [min]="0" class="text-neutral-1-900 text-body-2 font-regular"></tds-input-number>
                                    <tds-error>
                                        Vui lòng nhập giá vốn
                                    </tds-error>
                                  </tds-form-field>

                                  <tds-label>Đơn vị mặc định<span class="text-error-400">*</span> :</tds-label>
                                  <tds-form-field class="w-full col-span-2">
                                    <tds-select valueField="Id" textField="Name" placeholder='Nhập đơn vị'
                                    disabledField="isActive" formControlName="UOMPO" [valuePrimitive]="false"
                                    [data]="UOMPOList" [allowClear]="true" [optionOverflowSize]="5">
                                    </tds-select>
                                    <tds-error>
                                        Vui lòng chọn đơn vị mặc định
                                    </tds-error>
                                  </tds-form-field>

                                  <tds-label>Đơn vị mua<span class="text-error-400">*</span> :</tds-label>
                                  <tds-form-field class="w-full col-span-2">
                                    <tds-select valueField="Id" textField="Name" placeholder='Nhập đơn vị'
                                    disabledField="isActive" formControlName="UOM" [valuePrimitive]="false"
                                    [data]="UOMList" [allowClear]="true" [optionOverflowSize]="5">
                                    </tds-select>
                                    <tds-error>
                                        Vui lòng chọn đơn vị mua
                                    </tds-error>
                                  </tds-form-field>

                                  <tds-label>Kiểm soát hóa đơn mua hàng:</tds-label>
                                  <tds-radio-group class="grid grid-cols-1 w-full col-span-2" formControlName="PurchaseMethod">
                                    <label tds-radio value="purchase" class="mb-2">Trên số lượng đặt hàng</label>
                                    <label tds-radio value="receive">Trên số lượng nhận hàng</label>
                                  </tds-radio-group>
                                </div>
                              </div>
                          </tds-tab>
                          <tds-tab title="Hình ảnh">
                            <!-- <tpage-upload-images
                              [size]="112"
                              [inputImages]="_form.controls.Images.value"
                              [useProductModel]="true"
                              (getResult)="getImageList($event)">
                            </tpage-upload-images> -->
                          </tds-tab>
                          <tds-tab title="Tồn kho">
                            <div class="grid grid-cols-2 gap-y-4 gap-x-8">
                              <div class="grid grid-cols-3 gap-y-4 gap-x-6 items-center">
                                <tds-label>Theo dõi</tds-label>
                                <tds-form-field class="w-full col-span-2">
                                  <tds-select valueField="value" textField="text" placeholder='Không theo dõi'
                                    disabledField="isActive" formControlName="Tracking"
                                    [data]="trackingList" [allowClear]="true">
                                  </tds-select>
                                  <tds-error>
                                    Vui lòng chọn theo dõi
                                  </tds-error>
                                </tds-form-field>

                                <tds-label>Khối lượng</tds-label>
                                <tds-form-field class="w-full col-span-2">
                                  <tds-input-number formControlName="Weight" [min]="0" class="text-neutral-1-900 text-body-2 font-regular"></tds-input-number>
                                  <tds-error>
                                    Vui lòng nhập khối lượng
                                  </tds-error>
                                </tds-form-field>

                                <tds-label>Thể tích</tds-label>
                                <tds-form-field class="w-full col-span-2">
                                  <tds-input-number formControlName="Volume" [min]="0" class="text-neutral-1-900 text-body-2 font-regular"></tds-input-number>
                                  <tds-error>
                                    Vui lòng nhập thể tích
                                  </tds-error>
                                </tds-form-field>
                              </div>
                            </div>
                          </tds-tab>
                          <tds-tab title="Bán hàng">
                            <div class="grid grid-cols-2 gap-y-4 gap-x-8 items-center text-neutral-1-600 text-header-2 font-semibold">
                              <span>Điểm bán hàng</span>
                            </div>

                            <div class="grid grid-cols-2 gap-y-4 gap-x-8 mt-4">
                              <div class="grid grid-cols-3 gap-y-4 gap-x-6 items-center">
                                <tds-label>Nhóm Pos:</tds-label>
                                <tds-form-field class="w-full col-span-2">
                                  <tds-select valueField="Id" textField="NameGet" placeholder='Chọn nhóm Pos'
                                    disabledField="isActive" formControlName="POSCateg" [valuePrimitive]="false"
                                    [data]="POSCategoryList" [allowClear]="true" [optionOverflowSize]="5">
                                  </tds-select>
                                  <tds-error>
                                    Vui lòng chọn nhóm Pos
                                  </tds-error>
                                </tds-form-field>
                              </div>
                            </div>
                          </tds-tab>
                          <tds-tab title="Biến thể">
                              <div class="flex flex-col items-center h-full">
                                <div *ngIf="!id" class="flex flex-row items-center justify-end w-full py-4">
                                  <div class="flex flex-row items-center justify-end">
                                    <button tds-button color="secondary" type="button" class="mr-3" (click)="showCreateAttributeModal()">
                                      <span class="flex items-center">
                                        <i class="tdsi-variant-fill text-neutral-1-500 text-lg leading-none mr-2"></i>
                                        <span class="text-body-2 font-semibold">Quản lý thuộc tính</span>
                                      </span>
                                    </button>
                                  </div>
                                </div>
                                <div class="flex flex-row justify-between w-full h-full pb-3">
                                  <div *ngIf="!id" class="h-60 mr-3">
                                    <tds-table #attributesTable
                                      [listData]="lstAttributes"
                                      [loading]="isLoadingVariant"
                                      [noResult]="NoResultTable"
                                      [showPagination]="false"
                                      [scroll]="{y:'auto'}"
                                      class="h-full w-full"
                                      >
                                      <thead>
                                        <tr>
                                          <th [width]="'192px'">Thuộc tính</th>
                                          <th [width]="'192px'">Giá trị</th>
                                          <th [width]="'120px'" [align]="'center'">Thao tác</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                          <ng-template ngFor let-data let-i="index" [ngForOf]="attributesTable.data">
                                              <tr>
                                                <td [width]="'192px'">
                                                  {{ data.Attribute.Name }}
                                                </td>
                                                <td [width]="'192px'">
                                                  <div class="flex flex-wrap items-center">
                                                    <div *ngFor="let value of data.Values">
                                                      <tds-tag status='secondary' rounded="rounded-full mr-2 mb-2">{{ value.NameGet }}</tds-tag>
                                                    </div>
                                                  </div>
                                                </td>
                                                <td [width]="'120px'" [align]="'center'">
                                                  <button tds-button-icon color="secondary" type="button" size="sm" class=" mr-2">
                                                    <span class="flex items-center">
                                                      <i class="tdsi-edit-fill text-xl leading-none"></i>
                                                    </span>
                                                  </button>
                                                  <button tds-button-icon color="secondary" type="button" size="sm">
                                                      <span class="flex items-center">
                                                        <i class="tdsi-trash-fill text-xl leading-none"></i>
                                                      </span>
                                                  </button>
                                                </td>
                                              </tr>
                                          </ng-template>
                                      </tbody>
                                    </tds-table>
                                  </div>
                                  <div class="flex-auto h-60">
                                    <tds-table #variantsTable
                                      [listData]="lstVariants"
                                      [loading]="isLoadingVariant"
                                      [noResult]="NoResultTable"
                                      [showPagination]="false"
                                      [scroll]="{y:'auto'}"
                                      class="h-full w-full">
                                      <thead>
                                            <tr>
                                                  <th [width]="'40px'">STT</th>
                                                  <th [width]="'192px'">Tên</th>
                                                  <th [width]="'192px'">Giá</th>
                                                  <th [width]="'120px'">Hoạt động</th>
                                                  <th [width]="'120px'">Thao tác</th>
                                            </tr>
                                      </thead>
                                      <tbody>
                                          <ng-template ngFor let-data let-i="index" [ngForOf]="variantsTable.data">
                                              <tr>
                                                  <td [width]="'40px'">{{ 1 + i }}</td>
                                                  <td [width]="'192px'">
                                                    <div class="flex flex-col">
                                                      <span class="mb-2">{{ data.NameGet }}</span>
                                                    </div>
                                                  </td>
                                                  <td [width]="'192px'">
                                                    <tds-input-number
                                                      [(ngModel)]="data.PriceVariant"
                                                      [ngModelOptions]="{standalone: true}"
                                                      [min]="0"
                                                      class="text-neutral-1-900 text-body-2 font-regular">
                                                    </tds-input-number>
                                                  </td>
                                                  <td [width]="'120px'">
                                                    <tds-switch [checked]="data.Active"></tds-switch>
                                                  </td>
                                                  <td [width]="'120px'">
                                                    <button tds-button-icon color="secondary" type="button" size="sm" class=" mr-2">
                                                      <span class="flex items-center">
                                                        <i class="tdsi-edit-fill text-xl leading-none"></i>
                                                      </span>
                                                    </button>
                                                    <button tds-button-icon color="secondary" type="button" size="sm">
                                                        <span class="flex items-center">
                                                          <i class="tdsi-trash-fill text-xl leading-none"></i>
                                                        </span>
                                                    </button>
                                                  </td>
                                              </tr>
                                          </ng-template>
                                      </tbody>
                                    </tds-table>
                                  </div>
                                  <ng-template #NoResultTable>
                                    <div class="flex flex-col items-center justify-center w-full h-[150px]">
                                      <tds-avatar [tdsSrc]="'../../../assets/imagesv2/config/Empty_Table.svg'" [isAvatar]="false" [size]="90" [shape]="'square'"></tds-avatar>
                                      <span class="text-neutral-1-400 text-body-2 text-center font-regular mt-3">Không có dữ liệu</span>
                                    </div>
                                  </ng-template>
                                </div>
                              </div>
                          </tds-tab>
                          <tds-tab title="Thông tin khác">
                            <div class="grid grid-cols-1 gap-y-4">
                              <div class="grid grid-cols-8 gap-x-6">
                                <tds-label>Mô tả sản phẩm</tds-label>
                                <tds-form-field class="w-full col-span-7">
                                  <textarea tdsInput formControlName="Description" placeholder="Nhập mô tả sản phẩm"></textarea>
                                </tds-form-field>
                              </div>

                              <div class="grid grid-cols-8 gap-x-8">
                                <tds-label>Mô tả trên báo giá bán hàng</tds-label>
                                <tds-form-field class="w-full col-span-7">
                                  <textarea tdsInput formControlName="DescriptionSale" placeholder="Nhập mô tả trên báo giá bán hàng"></textarea>
                                </tds-form-field>
                              </div>

                              <div class="grid grid-cols-2 gap-x-8 gap-y-4">
                                <div class="grid grid-cols-4 gap-y-4 gap-x-6 items-center">
                                  <tds-label>Nhà sản xuất</tds-label>
                                  <div class="flex space-x-2 items-center col-span-3">
                                    <tds-form-field class="w-full">
                                      <tds-select valueField="Id" textField="Name" placeholder='Chọn nhà sản xuất'
                                        disabledField="isActive" [data]="producerList" [optionOverflowSize]="5" [valuePrimitive]="false"
                                        formControlName="Producer">
                                      </tds-select>
                                    </tds-form-field>
                                    <button tds-button-icon color="primary" size="sm" type="button" (click)="addProducer()">
                                      <span class="flex items-center">
                                        <i class="tdsi-plus-fill"></i>
                                      </span>
                                    </button>
                                  </div>

                                  <tds-label>Nhà nhập khẩu</tds-label>
                                  <div class="flex space-x-2 items-center col-span-3">
                                    <tds-form-field class="w-full">
                                      <tds-select valueField="Id" textField="Name" placeholder='Chọn nhà nhập khẩu'
                                        disabledField="isActive" [data]="importerList" [optionOverflowSize]="5" [valuePrimitive]="false"
                                        formControlName="Importer">
                                      </tds-select>
                                    </tds-form-field>
                                    <button tds-button-icon color="primary" size="sm" type="button" (click)="addImporter()">
                                      <span class="flex items-center">
                                        <i class="tdsi-plus-fill"></i>
                                      </span>
                                    </button>
                                  </div>

                                  <tds-label>Nhà phân phối</tds-label>
                                  <div class="flex space-x-2 items-center col-span-3">
                                    <tds-form-field class="w-full">
                                      <tds-select valueField="Id" textField="Name" placeholder='Chọn nhà phân phối'
                                        disabledField="isActive" [data]="distributorList" [optionOverflowSize]="5" [valuePrimitive]="false"
                                        formControlName="Distributor">
                                      </tds-select>
                                    </tds-form-field>
                                    <button tds-button-icon color="primary" size="sm" type="button" (click)="addDistributor()">
                                      <span class="flex items-center">
                                        <i class="tdsi-plus-fill"></i>
                                      </span>
                                    </button>
                                  </div>

                                  <tds-label>Xuất xứ</tds-label>
                                  <div class="flex space-x-2 items-center col-span-3">
                                    <tds-form-field class="w-full">
                                      <tds-select valueField="Id" textField="Name" placeholder='Chọn xuất xứ'
                                        disabledField="isActive" [data]="originCountryList" [optionOverflowSize]="5" [valuePrimitive]="false"
                                        formControlName="OriginCountry">
                                      </tds-select>
                                    </tds-form-field>
                                    <button tds-button-icon color="primary" size="sm" type="button" (click)="addOriginCountry()">
                                      <span class="flex items-center">
                                        <i class="tdsi-plus-fill"></i>
                                      </span>
                                    </button>
                                  </div>

                                  <tds-label>Năm sản xuất</tds-label>
                                  <tds-form-field class="w-full col-span-3">
                                    <tds-input-number formControlName="YearOfManufacture" [min]="0" class="text-neutral-1-900 text-body-2 font-regular"></tds-input-number>
                                    <tds-error>
                                      Vui lòng nhập năm sản xuất
                                    </tds-error>
                                  </tds-form-field>
                                </div>
                                <div class="grid grid-cols-4 grid-rows-1 gap-y-4 gap-x-6 items-center">
                                  <tds-label>Thành phần</tds-label>
                                  <tds-form-field class="w-full col-span-3">
                                    <textarea tdsInput formControlName="Element" placeholder="Nhập thành phần"></textarea>
                                  </tds-form-field>

                                  <tds-label>Thông số kỹ thuật</tds-label>
                                  <tds-form-field class="w-full col-span-3">
                                    <textarea tdsInput formControlName="Specifications" placeholder="Nhập thông số kỹ thuật"></textarea>
                                  </tds-form-field>

                                  <tds-label>Thông tin cảnh báo</tds-label>
                                  <tds-form-field class="w-full col-span-3">
                                    <textarea tdsInput formControlName="InfoWarning" placeholder="Nhập thông tin cảnh báo"></textarea>
                                  </tds-form-field>
                                </div>
                              </div>
                            </div>
                          </tds-tab>
                      </tds-tabset>
                  </div>
              </div>
          </div>
      </div>
  </form>
</tds-spin>
