<div class="w-full h-full bg-white rounded-xl pb-2">
  <div class="flex flex-col h-full">
    <div #WidthTable class="h-full text-body-2 text-neutral-1-900">
      <tds-table #rowSelectionTable [showSizeChanger]="true" [frontPagination]="false" [listData]="lstOfData"
        [(pageIndex)]="pageIndex" [(pageSize)]="pageSize"
        [scroll]="{y:'auto', x: 'auto'}" [loading]="isLoading" [total]="count" [scroll]="{y:'auto'}"
        (clickRefresh)="refreshData()" (queryParams)="onQueryParamsChange($event)">
        <thead>
          <tr>
            <th [align]="'center'" [width]="'33px'" [tdsLeft]="true" class="border-r"></th>
            <th [(checked)]="checked" [indeterminate]="indeterminate" (checkedChange)="onAllChecked($event)"
              [width]="'42px'" [align]="'center'" [tdsLeft]="true" class="border-r"></th>
            <th [width]="'60px'" class="text-center" [tdsLeft]="true" class="border-r">STT</th>
            <th [width]="'120px'" [tdsLeft]="true" class="border-r">Mã đơn hàng</th>
            <th [width]="'150px'" class="border-r">Kênh kết nối</th>
            <th [width]="'250px'" class="border-r">Tên khách hàng</th>
            <th [width]="'150px'" class="text-right border-r">Tổng tiền</th>
            <th [width]="'120px'" class="w-full text-center border-r">Tổng số lượng</th>
            <th [width]="'130px'" class="border-r">Trạng thái</th>
            <th [width]="'120px'" class="border-r">Nhân viên</th>
            <th [width]="'170px'" [align]="'center'" class="border-r">
              <div class="flex gap-x-1">
                <span>Thời gian</span>
                <span class=" flex flex-col p-0.5 cursor-pointer" (click)="onChangeFilterDate()" tds-tooltip [tooltipTitle]="filterDate | sortDateName">
                  <i [ngClass]="filterDate | sortDateClass" class="text-primary-1 tdsi-sort-up-down-fill active text-base leading-4"></i>
                </span>
              </div>
            </th>
            <th [width]="'130px'" [align]="'center'" [tdsRight]="true">Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-order [ngForOf]="rowSelectionTable.data" let-odd='odd' let-index="index">
            <tr [ngClass]="setOfCheckedId.has(order.Id)?'bg-[#F2FCF5]':''">

              <!-- Detail -->
              <td [expand]="expandSet.has(order.Id)" class="text-center border-r"
                (expandChange)="onExpandChange(order.Id, $event)" [tdsLeft]="true"
                [style]="setOfCheckedId.has(order.Id) ? 'background-color:#F2FCF5' : '' ">
              </td>

              <!-- Checked -->
              <td [checked]="setOfCheckedId.has(order.Id)" (checkedChange)="onItemChecked(order.Id, $event)"
                class="text-center border-r" [tdsLeft]="true"
                [style]="setOfCheckedId.has(order.Id) ? 'background-color:#F2FCF5' : '' ">
              </td>

              <td [tdsLeft]="true" class="text-center border-r"> {{ index | numericalOrder:pageSize:pageIndex }} </td>

              <!-- Mã đơn hàng -->
              <td [tdsLeft]="true" class="border-r">
                <!-- <div class="w-full flex flex-col gap-y-2">
                  <div>{{order.Code}}</div>
                  <div class="font-z14" *ngIf="order.MessageCount > 0">
                    <div title="Tin nhắn đã gửi" (click)="showModalHistoryChat(order.Id)"
                      class="hover:text-info-400 text-neutral-1-400 cursor-pointer gap-x-1 flex items-center">
                      <i class="tdsi-messenger-fill text-base"></i>
                      <span>{{order.MessageCount}}</span>
                    </div>
                  </div>
                </div> -->
                  <div class="w-full flex">
                    <span class="w-full" [ngClass]="order.Code ? '' : 'text-error-500'">{{order.Code || 'N/A'}}</span>
                  </div>
                  <!-- Nhãn -->
                  <div class="flex items-center gap-x-1 w-full">
                    <div class="flex flex-wrap items-center w-fit">
                      <div *ngFor="let item of order.Tags | prettyjson">
                        <tds-tag class="mr-1 mb-1" status='primary'>{{item.Name}}</tds-tag>
                      </div>
                      <button (click)="openTag(order.Id, order.Tags)" tds-button-icon tds-popover tds-tooltip="Thêm nhãn"
                        [popoverVisible]="indClickTag == order.Id" popoverTrigger="click" [popoverFooter]="footerAddTag"
                        [popoverAutoClose]="false" [popoverContent]="contentAddtag" [popoverBackdrop]="true"
                        popoverPlacement="left" color="custom" size="sm" class="bg-transparent border-0 focus:ring-transparent">
                        <div class="w-5 h-5 relative">
                          <i class="tdsi-tag-fill text-neutral-1-500 text-base leading-4 select-all absolute top-0 left-0"></i>
                          <svg class="border border-white bg-white rounded-full absolute bottom-0 right-0" width="12"
                            height="12" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.00263 0.185353C5.78089 0.14704 5.55607 0.129611 5.3311 0.133295C3.96134 0.134421 2.64803 0.680863 1.67966 1.65259C0.711296 2.62431 0.167057 3.94186 0.166496 5.3158C0.162824 5.54146 0.180199 5.76697 0.218396 5.98938C0.342953 6.94846 0.732804 7.85338 1.34378 8.60162C1.95476 9.34986 2.76244 9.91151 3.67532 10.2229C4.5882 10.5344 5.56979 10.5831 6.50889 10.3637C7.44798 10.1443 8.30703 9.66541 8.98873 8.98138C9.67042 8.29736 10.1475 7.4355 10.3659 6.49346C10.5843 5.55142 10.5354 4.56685 10.2246 3.65129C9.91374 2.73574 9.3535 1.92579 8.60732 1.31322C7.86114 0.70065 6.95883 0.309939 6.00263 0.185353ZM8.09029 5.79283H5.80879V8.08342H4.85553V5.79283H2.57403V4.83665H4.85764V2.53756H5.81091V4.83878H8.09452L8.09029 5.79283Z"
                              fill="#28A745" />
                          </svg>
                        </div>
                      </button>
                    </div>

                    <!-- button thêm nhãn -->
                    <ng-template #contentAddtag>
                      <div class="w-[304px]">
                        <tds-form-field>
                          <tds-select valueField="Id" textField="Name" placeholder='Chọn các tag'
                            [(ngModel)]="modelTags" [allowClear]="true" [valuePrimitive]="false" [data]="lstDataTag"
                            [autoClose]="true" mode="multiple">
                          </tds-select>
                        </tds-form-field>
                      </div>
                    </ng-template>
                    <ng-template #footerAddTag>
                      <div class="flex justify-end pt-2">
                        <button tds-button-icon color="secondary" class="mr-2" size="sm" (click)="closeTag()">
                          <span class="flex items-center">
                            <i class="tdsi-close-fill"></i>
                          </span>
                        </button>
                        <button tds-button-icon size="sm" color="primary" (click)="assignTags(order.Id, modelTags)">
                          <span class="flex items-center">
                            <i class="tdsi-tick-fill"></i>
                          </span>
                        </button>
                      </div>
                    </ng-template>
                  </div>

                  <div class="flex mt-1 justify-between items-center">
                    <div>
                      <div class="flex text-xs text-error-500" *ngIf="!order.PrintCount || order.PrintCount == 0">
                        Chưa in
                      </div>

                      <div class="flex text-xs text-success-500" *ngIf="order.PrintCount && order.PrintCount > 0">
                        Đã in: {{order.PrintCount}}
                      </div>
                    </div>
                    <div class="font-z14" *ngIf="order.MessageCount > 0">
                      <div title="Tin nhắn đã gửi" (click)="showModalHistoryChat(order.Id)"
                        class="hover:text-info-400 text-neutral-1-400 cursor-pointer gap-x-1 flex items-center">
                        <i class="tdsi-messenger-fill text-base"></i>
                        <span>{{order.MessageCount}}</span>
                      </div>
                    </div>
                  </div>
                </td>
              <!-- Kênh kết nối -->
              <td  class="border-r">
                <div class="flex flex-col gap-y-2">
                  <div class="w-full flex">
                    <span *ngIf="order.CRMTeamName" class="text-[#0184FF] tdsi-facebook-1-fill text-[20px]"></span>
                    <span class="ml-1 ">{{order.CRMTeamName}}</span>
                  </div>
                  <tds-tag *ngIf="order.PriorityStatus" [status]='order.PriorityStatus | priorityStatusColor'>
                    {{order.PriorityStatus | priorityStatusName}}
                  </tds-tag>
                </div>
              </td>

              <!-- Tên khách hàng -->
              <td  class="border-r">
                <div class="w-full flex flex-col gap-y-1">
                  <div class="flex items-center">
                    <p class=" mr-1">{{ order.PartnerName }}</p>
                  </div>
                  <div class="flex items-center">
                    <p *ngIf="order.Telephone" class="text-[#929DAA] mr-1">{{ order.Telephone }}</p>
                    <div class="flex flex-col mr-1">
                      <tds-tag *ngIf="order.NameNetwork" [status]="order.NameNetwork | nameNetWork" type="outline">
                        {{ order.NameNetwork }}
                      </tds-tag>
                    </div>
                    <button *ngIf="order.Address" class="bg-orange-500 rounded p-[3px]" tds-tooltip tooltipTitle="{{ order.Address }}">
                      <span class="flex items-center justify-center text-white ">
                        <i class="tdsi-pin-fill"></i>
                      </span>
                    </button>
                  </div>
                  <div *ngIf="order.PartnerStatus" [ngStyle]="{'color': order.PartnerStatus.sS}">
                        <span class="flex items-center text-caption-2 font-semibold font-sans cursor-pointer">
                          {{ order.PartnerStatus.sT }}
                        </span>
                    </div>
                </div>
              </td>

              <!-- Tổng tiền -->
              <td class="text-right border-r">{{order.TotalAmount || 0 | numberCustom}} đ</td>

              <!-- Tổng sản phẩm chờ chốt -->
              <td class="text-center border-r">{{order.TotalQuantity}}</td>

              <!-- Trạng thái -->
              <td  class="border-r">
                <div class="flex flex-col gap-y-2">
                  <tds-tag [status]="order.StatusText | tagStatusColor" type="outline" class="cursor-pointer"
                    tds-dropdown trigger="click" [tdsDropdownMenu]="menu1" placement="bottomRight"
                    popoverTrigger="click">
                    <span class="flex items-center">
                      {{ order.StatusText }}<i class="tdsi-arrow-down-fill text-base leading-none ml-1"></i>
                    </span>
                  </tds-tag>
                </div>

                <tds-dropdown-menu #menu1="tdsDropdownMenu">
                  <div class="w-[160px] max-h-[300px] overflow-y-auto tds-panel-scroll">
                    <!-- <div class="flex flex-row items-center">
                      Trạng thái đơn hàng:
                      <button tds-button-icon color="primary" size="sm" (click)="directPage('')">
                        <i class="tdsi-download-fill"></i>
                      </button>
                    </div> -->
                    <div tds-dropdown-item *ngFor="let status of lstStatusTypeExt" class="flex items-center justify-between"
                      (click)="updateStatusSaleOnline(order, status)">
                      <a> {{ status.Text }} </a>
                      <span class="tdsi-success-fill text-success-500" *ngIf="status.Text == order.StatusText"></span>
                    </div>
                  </div>
                </tds-dropdown-menu>
              </td>

              <!-- Nhân viên -->
              <td  class="border-r">{{ order.UserName }}</td>

              <!-- Thời gian -->
              <td  class="border-r text-center">{{ order.DateCreated | date: 'dd/MM/yyyy HH:mm' }}</td>

              <!-- Thao tác -->
              <td [tdsRight]="true">
                <div class="flex gap-x-2">
                  <button tds-button-icon color="secondary" size="sm" (click)="openMiniChat(order)">
                    <span class="flex items-center">
                      <i class="tdsi-messenger-fill text-neutral-1-500"></i>
                    </span>
                  </button>

                  <button tds-button-icon color="secondary" size="sm" (click)="onEdit(order)">
                    <span class="flex items-center text-neutral-1-500">
                      <i class="tdsi-edit-fill"></i>
                    </span>
                  </button>

                  <button tds-button-icon color="secondary" size="sm" (click)="onDelete(order.Id, order.Code)">
                    <span class="flex items-center text-neutral-1-500">
                      <i class="tdsi-trash-fill"></i>
                    </span>
                  </button>
                </div>
              </td>
            </tr>

            <tr [expand]="expandSet.has(order.Id)" class="border-b border-neutral-2-100 text-neutral-1-900 w-full">
              <div #expandOrderLivecampaign
                [ngStyle]="{'max-width.px': widthCollapse, 'margin-left.px': marginLeftCollapse}">
                <expand-order-livecampaign class="w-full p-3 block" *ngIf="expandSet.has(order.Id)" [dataOrder]="order">
                </expand-order-livecampaign>
              </div>
            </tr>

          </ng-template>
        </tbody>
      </tds-table>
    </div>
  </div>

  <tds-drawer [visible]="isOpenDrawer"
    [bodyStyle]="{'background-color':'rgb(235 237 239)','overflow':'hidden','display': 'flex','flex-direction': 'column','padding': '0'}"
    [placement]="'right'" [title]="titleMessage" (onClose)="closeDrawer()" [width]="'890px'">

    <ng-template #titleMessage>
      <span class="flex w-full items-center text-title-1 font-semibold text-neutral-900">
        Gửi tin nhắn Facebook
      </span>
    </ng-template>

    <ng-container *tdsDrawerContent>
      <div class="w-full h-full flex flex-col overflow-hidden text-body-2">
        <div class="w-full h-full flex overflow-hidden bg-neutral-3-200" cdkScrollable>
          <div *ngIf="currentConversation && currentMappingTeam?.team" class="w-full">
            <shared-tds-conversations class="flex w-full h-full" [team]="currentMappingTeam?.team"
              [data]="currentConversation" [type]="'all'">
            </shared-tds-conversations>
          </div>
        </div>
      </div>
    </ng-container>
  </tds-drawer>
</div>
