<tds-spin [spinning]="isLoading">
  <tds-tabset class="bg-transparent">
    <tds-tab [title]="titleDetail" clsContent="h-full w-full pb-2.5">
        <ng-template #titleDetail let-active="active">
            <div class="p-4 font-semibold  border-b-3 cursor-pointer group flex items-center"
                [ngClass]='{"border-primary-1":active,"border-transparent text-neutral-1-400  hover:border-primary-1":!active}'>
                <span class="mr-2">Chi tiết</span>
                <div class="text-caption-2 font-semibold py-0.5 px-1.5 rounded-full flex"
                    [ngClass]="{'text-white bg-primary-1':active,'text-neutral-1-500 bg-neutral-3-100 group-hover:text-white group-hover:bg-primary-1':!active}">
                    {{data?.Details?.length || 0}}
                </div>
            </div>
        </ng-template>
        <div class="h-60">
            <tds-table #rowSelectionTable showPagination showSizeChanger
                [listData]="data?.Details || []" [scroll]="{y:'auto'}">
                <thead>
                    <tr class="bg-neutral-3-50">
                        <th>STT</th>
                        <th>Sản phẩm</th>
                        <th>Đơn vị tính</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Hoạt động</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let data of rowSelectionTable.data; let index = index">
                        <tr>
                            <td>{{ index + 1 }}</td>

                            <!-- Sản phẩm -->
                            <td>{{ data.ProductName }}</td>

                            <!-- Đơn vị tính -->
                            <td>{{ data.UOMName }}</td>

                            <!-- Số lượng -->
                            <td>{{ data.Quantity }}</td>

                            <!-- Đơn giá -->
                            <td>{{ data.Price || 0 | number }}</td>

                            <!-- Hoạt động -->
                            <td>
                              <tds-switch size="md" [checked]="data.IsActive" (change)="onChangeActive($event, data)"></tds-switch>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </tds-table>
        </div>
    </tds-tab>
    <tds-tab title="Thông tin" clsContent="bg-white p-4 border-t rounded-b-md">
      <div class="w-full grid grid-cols-3 gap-8">
        <div class="grid grid-cols-3 gap-4">
          <div>Tên chiến dịch:</div>
          <div class="col-span-2 font-semibold">{{data.Name}}</div>
          <div>Ghi chú:</div>
          <div class="col-span-2 font-semibold">{{data.Note}}</div>
          <div>Nhân viên chốt đơn:</div>
          <div class="col-span-2 font-semibold flex gap-x-2" *ngIf="data?.Users">
            <span *ngFor="let user of data.Users; let i = index">
              {{user.Name}}
              <span *ngIf="data.Users.length > (i + 1)">,</span>
            </span>
          </div>
        </div>
        <div class="grid grid-cols-3 gap-4">
          <div>Facebook:</div>
          <div class="col-span-2 font-semibold text-blue-500">{{data.Facebook_UserName}}</div>
          <div>Live ID:</div>
          <div class="col-span-2 font-semibold">{{data.Facebook_LiveId}}</div>
          <div>Đặt cọc tối thiểu:</div>
          <div class="col-span-2 font-semibold">{{data.MinAmountDeposit || 0 | number}} đ</div>
        </div>
        <div class="grid grid-cols-3 gap-4">
          <div>Đặt cọc bắt buộc:</div>
          <div class="col-span-2 font-semibold">{{data.MaxAmountDepositRequired || 0 | number}} đ</div>
        </div>
      </div>
    </tds-tab>
    <tds-tab [title]="titlePost" clsContent="bg-neutral-3-50 p-4">
        <ng-template #titlePost let-active="active">
            <div class="p-4 font-semibold  border-b-3 cursor-pointer group flex items-center"
                [ngClass]='{"border-primary-1":active,"border-transparent text-neutral-1-400  hover:border-primary-1":!active}'>
                <span class="mr-2">Danh sách bài viết</span>
                <div class="text-caption-2 font-semibold py-0.5 px-1.5 rounded-full flex" [ngClass]="{'text-white bg-primary-1':active,'text-neutral-1-500 bg-neutral-3-100 group-hover:text-white group-hover:bg-primary-1':!active}">
                    {{lstPost?.length || 0}}
                </div>
            </div>
        </ng-template>
        <div class="w-full grid grid-cols-3 gap-8">
          <div class="bg-white p-4 rounded-lg flex space-x-4" *ngFor="let post of lstPost">
            <div class="flex flex-col space-y-3">
              <div><img src="{{post.picture}}" alt=""></div>
              <div class="flex space-x-4 text-neutral-1-400">
                <div class="flex items-center">
                  <i class="tdsi-like-line text-base"></i>
                  <span class="ml-1">{{post.count_reactions || 0 | number}}</span>
                </div>
                <div class="flex items-center">
                  <i class="tdsi-livechat-line text-base"></i>
                  <span class="ml-1">{{post.count_comments || 0 | number}}</span>
                </div>
              </div>
            </div>
            <div class="w-full">
              <div class="text-error-400 font-semibold">{{post.story}}</div>
              <div class="mt-1">
                <div [innerHTML]="post.message | safeHtml"></div>
              </div>
              <div class="mt-2 text-neutral-1-400 cursor-pointer w-fit" tds-tooltip tooltipTitle="Cập nhật lần cuối lúc: {{post.updated_time | date:'HH:mm dd/MM'}}">
                {{post.created_time | yiDiffDateTime}}
              </div>
            </div>
          </div>
        </div>
    </tds-tab>
  </tds-tabset>
</tds-spin>
