<div class="w-full h-full flex flex-col text-body-2">
  <div class="p-4 w-full bg-white">
    <div class="w-full flex justify-between">
      <h1 class="flex cursor-pointer items-center group whitespace-pre-wrap font-semibold">
        <span class="text-neutral-1-900 text-header-1 font-semibold font-sans">Phiếu bán hàng</span>
      </h1>
      <div class="flex gap-x-2">
        <action-dropdown [type]="'all'" [filterObj]="filterObj" [lstOfData]="lstOfData"
          [setOfCheckedId]=[setOfCheckedId]></action-dropdown>
      </div>
    </div>
  </div>
  <div class="p-4 h-full">
    <div class="bg-white w-full h-full rounded-md border border-neutral-200 flex flex-col">
      <div class="flex justify-between px-4">
        <tds-filter-status [ngModel]='tabIndex' (selectChange)="onSelectChange($event)">
          <ng-template ngFor let-item [ngForOf]="tabNavs" let-i="index">
            <tds-filter-status-item [name]='item.Name' [count]='item.Total' [value]="item.Index">
            </tds-filter-status-item>
          </ng-template>
        </tds-filter-status>

        <!-- TODO: Thao tác -->
        <div class="flex items-center gap-x-2">
          <action-dropdown [filterObj]="filterObj" [lstOfData]="lstOfData" [setOfCheckedId]=[setOfCheckedId] (reloadBill)="reloadBill($event)">
          </action-dropdown>
          <div>
            <tds-form-field class="w-[240px]">
              <tds-select valueField="Id" textField="Name"
                placeholder='Chọn đối tác giao hàng' [valuePrimitive]="false" (selectChange)="onChangeCarrier($event)"
                disabledField="isActive" [data]="(lstCarriers | async) || []" [allowClear]="true">
              </tds-select>
            </tds-form-field>
          </div>
          <tds-form-field class="w-full">
            <input tdsInput placeholder="Tìm kiếm" autocomplete="off" #innerText />
            <span tdsPrefix><i class="text-neutral-1-500 tdsi-search-fill"></i></span>
          </tds-form-field>
          <filter-options [lstTags]="lstTags" (onLoadOption)="onLoadOption($event)"></filter-options>
          <config-column [columns]="hiddenColumns" (columnsChange)="columnsChange($event)"></config-column>
        </div>
      </div>
      <div #WidthTable class="flex-auto w-full pb-4" *ngIf="lstOfData">
        <tds-table #rowSelectionTable [showSizeChanger]="true" [frontPagination]="false" [listData]="lstOfData"
          [(pageSize)]="pageSize" [(pageIndex)]="pageIndex" [total]="count" [scroll]="{y:'auto', x: 'auto'}"
          [loading]="isLoading" (clickRefresh)="refreshData()" (queryParams)="onQueryParamsChange($event)">
          <thead>
            <tr>
              <th [tdsLeft]="true" [align]="'center'" width="50px" class="border-r"></th>
              <th [tdsLeft]="true" [(checked)]="checked" [indeterminate]="indeterminate" width="50px"
                (checkedChange)="onAllChecked($event)" class="border-r"></th>
              <th *ngIf="isHidden('Number')" [tdsLeft]="true" width="160px" class="border-r">Số HĐ</th>
              <th *ngIf="isHidden('PartnerDisplayName')" width="180px" class="border-r">Khách hàng</th>
              <th *ngIf="isHidden('CRMTeamName')" width="160px" class="border-r">Thông tin</th>
              <th *ngIf="isHidden('DateInvoice')" [align]="'center'" width="240px" class="border-r">Ngày bán</th>
              <th *ngIf="isHidden('DateCreated')" [align]="'center'" width="120px" class="border-r">Ngày tạo đơn</th>
              <th *ngIf="isHidden('UserName')" width="280px" class="border-r">Nhân viên</th>
              <th *ngIf="isHidden('CreateByName')" width="280px" class="border-r">Người lập</th>
              <th *ngIf="isHidden('CarrierName')" width="160px" class="border-r">Đối tác GH</th>
              <th *ngIf="isHidden('TrackingRef')" width="260px" class="border-r">Mã vận đơn</th>
              <th *ngIf="isHidden('CashOnDelivery')" [align]="'right'" width="240px" class="border-r">Tiền thu hộ</th>
              <th *ngIf="isHidden('CustomerDeliveryPrice')" [align]="'right'" width="140px" class="border-r">Phí ship GH
              </th>
              <th *ngIf="isHidden('AmountTotal')" [align]="'right'" width="240px" class="border-r">Tổng tiền</th>
              <th *ngIf="isHidden('Residual')" [align]="'right'" width="240px" class="border-r">Còn nợ</th>
              <th *ngIf="isHidden('ShowState')" width="120px" class="border-r">Trạng thái</th>
              <th *ngIf="isHidden('ShipPaymentStatus')" width="240px" class="border-r">Trạng thái GH</th>
              <th *ngIf="isHidden('ShowShipStatus')" width="140px" class="border-r">Đối soát GH</th>
              <th *ngIf="isHidden('IsRefund')" [align]="'center'" width="240px" class="border-r">Đơn hàng trả</th>
              <th [tdsRight]="true" [align]="'center'" width="140px">Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <ng-template ngFor let-data [ngForOf]="rowSelectionTable.data" let-odd='odd'>
              <tr class="text-body-2 text-neutral-900 font-regular"
                [ngClass]="setOfCheckedId.has(data.Id)?'bg-primary-3':''">
                <td [tdsLeft]="true" [expand]="expandSet.has(data.Id)" class="border-r text-center"
                  (expandChange)="onExpandChange(data.Id, $event)">
                </td>
                <td [tdsLeft]="true" [checked]="setOfCheckedId.has(data.Id)"
                  (checkedChange)="onItemChecked(data.Id, $event)" class="border-r">
                </td>
                <td *ngIf="isHidden('Number')" [tdsLeft]="true" class="border-r">
                  <div class="w-full flex font-semibold text-center pb-2">
                    <span [ngClass]="data.Number ? 'text-info-400' : 'text-error-500'">{{data.Number || 'N/A'}}</span>
                  </div>
                  <!-- Nhãn -->
                  <div class="flex items-center gap-x-1 w-full">
                    <div class="flex flex-wrap items-center w-fit">
                      <div *ngFor="let item of data.Tags | prettyjson">
                        <tds-tag class="truncate mr-1 mb-1" status='primary'>{{item.Name}}</tds-tag>
                      </div>
                      <button (click)="openTag(data.Id, data.Tags)" tds-button-icon tds-popover tds-tooltip="Thêm nhãn"
                        [popoverVisible]="indClickTag == data.Id" popoverTrigger="click" [popoverFooter]="footerAddTag"
                        [popoverAutoClose]="false" [popoverContent]="contentAddtag" [popoverBackdrop]="true"
                        popoverPlacement="left" color="custom" size="sm" class="bg-transparent border-0 focus:ring-transparent">
                        <div class="w-5 h-5 relative">
                          <i
                            class="tdsi-tag-fill text-neutral-1-500 text-base leading-4 select-all absolute top-0 left-0"></i>
                          <svg class="border border-white bg-white rounded-full absolute bottom-0 right-0" width="12"
                            height="12" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M6.00263 0.185353C5.78089 0.14704 5.55607 0.129611 5.3311 0.133295C3.96134 0.134421 2.64803 0.680863 1.67966 1.65259C0.711296 2.62431 0.167057 3.94186 0.166496 5.3158C0.162824 5.54146 0.180199 5.76697 0.218396 5.98938C0.342953 6.94846 0.732804 7.85338 1.34378 8.60162C1.95476 9.34986 2.76244 9.91151 3.67532 10.2229C4.5882 10.5344 5.56979 10.5831 6.50889 10.3637C7.44798 10.1443 8.30703 9.66541 8.98873 8.98138C9.67042 8.29736 10.1475 7.4355 10.3659 6.49346C10.5843 5.55142 10.5354 4.56685 10.2246 3.65129C9.91374 2.73574 9.3535 1.92579 8.60732 1.31322C7.86114 0.70065 6.95883 0.309939 6.00263 0.185353ZM8.09029 5.79283H5.80879V8.08342H4.85553V5.79283H2.57403V4.83665H4.85764V2.53756H5.81091V4.83878H8.09452L8.09029 5.79283Z"
                              fill="#28A745" />
                          </svg>
                        </div>
                      </button>
                    </div>

                    <!-- button thêm nhãn -->
                    <ng-template #contentAddtag>
                      <div class="w-[304px]">
                        <tds-form-field>
                          <tds-select valueField="Id" textField="Name" placeholder='Chọn các tag'
                            [(ngModel)]="modelTags" [allowClear]="true" [valuePrimitive]="false" [data]="lstTags"
                            [autoClose]="true" mode="multiple">
                          </tds-select>
                        </tds-form-field>
                      </div>
                    </ng-template>
                    <ng-template #footerAddTag>
                      <div class="flex justify-end pt-2">
                        <button tds-button-icon color="secondary" class="mr-2" size="sm" (click)="closeTag()">
                          <span class="flex items-center">
                            <i class="tdsi-close-fill"></i>
                          </span>
                        </button>
                        <button tds-button-icon size="sm" color="primary" (click)="assignTags(data.Id, modelTags)">
                          <span class="flex items-center">
                            <i class="tdsi-tick-fill"></i>
                          </span>
                        </button>
                      </div>
                    </ng-template>
                  </div>
                </td>
                <td *ngIf="isHidden('PartnerDisplayName')" class="relative border-r">
                  <div class="w-full">
                    <p>{{data.PartnerDisplayName}}</p>
                    <p class="text-[#929DAA]">{{data.Phone}}</p>
                    <div class="absolute bottom-0 right-[4px] text-primary-1">
                      <span *ngIf="data.PrintDeliveryCount > 0" class="tdsi-print-fill text-[15px]"
                        title="Đã in phiếu giao hàng"></span>
                      <span *ngIf="data.PrintShipCount > 0" class="tdsi-order-fill text-[16px]"
                        title="Đã in phiếu ship"></span>
                    </div>
                  </div>
                </td>
                <td *ngIf="isHidden('CRMTeamName')" class="border-r">
                  <div class="w-full flex">
                    <span class="text-[#0184FF] tdsi-facebook-1-fill text-[20px]"></span>
                    <span class="ml-1">{{data.CRMTeamName}}</span>
                  </div>
                </td>
                <td *ngIf="isHidden('DateInvoice')" [align]="'center'" class="border-r">
                  <div class="w-full">
                    <span>{{data.DateInvoice | date:"dd/MM/yyyy HH:mm"}}</span>
                  </div>
                </td>
                <td *ngIf="isHidden('DateCreated')" class="border-r">
                  <div class="w-full">
                    <span>{{data.DateCreated | date:"dd/MM/yyyy HH:mm:ss"}}</span>
                  </div>
                </td>
                <td *ngIf="isHidden('UserName')" class="border-r">
                  <div class="w-full">
                    <span>{{data.UserName}}</span>
                  </div>
                </td>
                <td *ngIf="isHidden('CreateByName')" class="border-r">
                  <div class="w-full">
                    <span>{{data.CreateByName}}</span>
                  </div>
                </td>
                <td *ngIf="isHidden('CarrierName')" class="border-r">
                  <div class="w-full">
                    <span>{{data.CarrierName}}</span>
                  </div>
                </td>
                <td *ngIf="isHidden('TrackingRef')" class="border-r">
                  <div class="w-full">
                    <span class="text-info-400 font-semibold">{{data.TrackingRef}}</span>
                  </div>
                </td>
                <td *ngIf="isHidden('CashOnDelivery')" [align]="'right'" class="border-r">
                  <div class="w-full">
                    <span>{{data.CashOnDelivery || 0 | number: '1.0-3'}} đ</span>
                  </div>
                </td>
                <td *ngIf="isHidden('CustomerDeliveryPrice')" [align]="'right'" class="border-r">
                  <div class="w-full">
                    <span>{{data.CustomerDeliveryPrice ||0 | number: '1.0-3'}} đ</span>
                  </div>
                </td>
                <td *ngIf="isHidden('AmountTotal')" [align]="'right'" class="border-r">
                  <div class="w-full">
                    <span>{{data.AmountTotal || 0 | number :'1.0-3'}} đ</span>
                  </div>
                </td>
                <td *ngIf="isHidden('Residual')" [align]="'right'" class="border-r">
                  <div class="w-full">
                    <span>{{data.Residual || 0 | number :'1.0-3'}} đ</span>
                  </div>
                </td>
                <td *ngIf="isHidden('ShowState')" class="border-r text-center !px-0">
                  <div class="w-full">
                    <tds-tag *ngIf="data.State ==='draft'" status='secondary' type="outline">{{data.ShowState}}
                    </tds-tag>
                    <tds-tag *ngIf="data.State ==='paid'" status='primary' type="outline">{{data.ShowState}}</tds-tag>
                    <tds-tag *ngIf="data.State ==='open'" status='info' type="outline">{{data.ShowState}}</tds-tag>
                    <tds-tag *ngIf="data.State ==='cancel'" status='error' type="outline">{{data.ShowState}}</tds-tag>
                    <p *ngIf="data.PaymentMessageCount" class="text-neutral-1-400 text-xs pt-2">Đã gửi yêu cầu thanh
                      toán</p>
                  </div>
                </td>
                <td *ngIf="isHidden('ShipPaymentStatus')" class="border-r">
                  <div class="w-full">
                    <span class="text-info-400 font-semibold">{{data.ShipPaymentStatus}}</span>
                  </div>
                </td>
                <td *ngIf="isHidden('ShowShipStatus')" class="border-r">
                  <div class="w-full">
                    <span tds-popover [popoverVisible]="indClickStatus == data.Id" popoverTrigger="click"
                      [popoverFooter]="footerShipStatus" [popoverContent]="contentShipStatus" [popoverBackdrop]="true"
                      popoverPlacement="bottom" [popoverAutoClose]="false"
                      class="text-info-400 cursor-pointer border-b border-info-400 border-dashed"
                      (click)="openShipStatus(data,data.Id)">
                      {{data.ShowShipStatus}}
                    </span>
                    <!-- button thêm nhãn -->
                    <ng-template #contentShipStatus>
                      <div class="w-[304px]">
                        <tds-form-field>
                          <tds-select valueField="value" textField="text" placeholder='Chọn đối soát GH'
                            [(ngModel)]="currentStatus" [allowClear]="true" [valuePrimitive]="false"
                            [data]="lstShipStatus" (ngModelChange)="changeShipStatus($event)">
                          </tds-select>
                        </tds-form-field>
                      </div>
                    </ng-template>
                    <ng-template #footerShipStatus>
                      <div class="flex justify-end pt-2">
                        <button tds-button-icon color="secondary" class="mr-2" size="sm" (click)="closeShipStatus()">
                          <span class="flex items-center">
                            <i class="tdsi-close-fill"></i>
                          </span>
                        </button>
                        <button tds-button-icon size="sm" color="primary" (click)="assignShipStatus(data.Id)">
                          <span class="flex items-center">
                            <i class="tdsi-tick-fill"></i>
                          </span>
                        </button>
                      </div>
                    </ng-template>
                  </div>
                </td>
                <td *ngIf="isHidden('IsRefund')" [align]="'center'" class="border-r">
                  <div class="w-full">
                    <span
                      [ngClass]="data.IsRefund ? 'tdsi-success-fill text-success-400' : 'tdsi-error-fill text-error-400'"
                      class="text-xl leading-5"></span>
                  </div>
                </td>
                <td [tdsRight]="true" [align]="'center'" class="border-r">
                  <div class="flex items-center justify-center gap-x-2">
                    <button tds-button-icon color="secondary" size="sm" tds-tooltip="Gửi tin nhắn"
                      (click)="openMiniChat(data)">
                      <span class="flex items-center">
                        <i class="tdsi-messenger-fill text-neutral-1-500"></i>
                      </span>
                    </button>
                    <button tds-button-icon type="button" color="secondary" size="sm" tds-tooltip="Chỉnh sửa"
                      (click)="onView(data)">
                      <span class="flex items-center">
                        <i class="tdsi-edit-fill text-neutral-1-500"></i>
                      </span>
                    </button>
                    <button tds-button-icon color="secondary" size="sm" tds-tooltip="Xóa" (click)="onDelete(data)">
                      <span class="flex items-center">
                        <i class="tdsi-trash-fill text-neutral-1-500"></i>
                      </span>
                    </button>
                  </div>
                </td>
              </tr>
              <tr [expand]="expandSet.has(data.Id)"
                class="border-b border-neutral-2-100 text-neutral-1-900 bg-gray-200 w-full">
                <div #BillOrderLines [ngStyle]="{'max-width.px': widthCollapse, 'margin-left.px': marginLeftCollapse}">
                  <app-bill-expand [dataItem]="data" *ngIf="expandSet.has(data.Id)"></app-bill-expand>
                </div>
              </tr>
            </ng-template>
          </tbody>
        </tds-table>
      </div>
    </div>
  </div>
  <tds-drawer [visible]="isOpenDrawer"
    [bodyStyle]="{'background-color':'rgb(235 237 239)','overflow':'hidden','display': 'flex','flex-direction': 'column','padding': '0'}"
    [placement]="'right'" [title]="titleMessage" (onClose)="closeDrawer()" [width]="'890px'">
    <ng-template #titleMessage>
      <span class="flex w-full items-center text-title-1 font-semibold text-neutral-900">
        Gửi tin nhắn Facebook
      </span>
    </ng-template>
    <ng-container *tdsDrawerContent>
      <div class="w-full h-full flex flex-col overflow-hidden text-body-2">
        <div *ngIf="orderMessage" class="flex flex-col gap-y-4 p-4 bg-white">
          <div class="flex justify-between items-center">
            <div *ngIf="mappingTeams.length > 0" class="flex gap-3 items-center">
              <tpage-avatar-facebook
                [fbid]="currentMappingTeam?.team?.Facebook_PageId || currentMappingTeam?.team?.Facebook_ASUserId"
                [token]="currentMappingTeam?.team?.Facebook_PageToken || currentMappingTeam?.team?.Facebook_UserToken">
              </tpage-avatar-facebook>
              <tds-button-group>
                <button tds-dropdown trigger="click" type="button" [tdsDropdownMenu]="menu1">
                  <span class="flex items-center">
                    {{currentMappingTeam?.team?.Facebook_PageName || 'Hãy chọn kênh'}}
                    <i class="tdsi-arrow-down-fill text-lg leading-none ml-2"></i>
                  </span>
                </button>
                <tds-dropdown-menu #menu1="tdsDropdownMenu">
                  <div class="w-full">
                    <div tds-dropdown-item *ngFor="let item of mappingTeams" (click)="selectMappingTeam(item)">
                      <a> {{ item.team.Facebook_PageName }} </a>
                    </div>
                  </div>
                </tds-dropdown-menu>
              </tds-button-group>
            </div>
            <div class="flex gap-x-2">
              <button tds-button color="info" (click)="showMessageModal(orderMessage)">
                <span class="flex items-center">
                  <i class="tdsi-message-fill text-lg leading-none mr-2"></i>Gửi tin nhắn nhanh
                </span>
              </button>
            </div>
          </div>
          <div class="grid grid-cols-2 gap-x-9 gap-y-3">
            <div class="flex gap-x-1">
              <span class="w-1/3">Số HĐ</span>
              <span class="w-2/3 font-semibold">{{orderMessage.Number?orderMessage.Number:'...' || 'N/A'}}</span>
            </div>
            <div class="flex gap-x-1">
              <span class="w-1/3">Tổng tiền</span>
              <span class="w-2/3 font-semibold">{{orderMessage.AmountTotal?orderMessage.AmountTotal:0 | number}}</span>
            </div>
            <div class="flex gap-x-1">
              <span class="w-1/3">Ngày bán</span>
              <span class="w-2/3 font-semibold">{{orderMessage.DateInvoice | date:'dd/MM/yyyy'}}</span>
            </div>
            <div class="flex gap-x-1">
              <span class="w-1/3">Kênh bán hàng</span>
              <span class="w-2/3 font-semibold">{{orderMessage.CRMTeamName?orderMessage.CRMTeamName:'...' ||
                'N/A'}}</span>
            </div>
            <div class="flex gap-x-1">
              <span class="w-1/3">Đối tác GH</span>
              <span class="w-2/3 font-semibold">{{orderMessage.CarrierName?orderMessage.CarrierName:'...' }}</span>
            </div>
            <div class="flex gap-x-1">
              <span class="w-1/3">Trạng thái</span>
              <span class="w-2/3 font-semibold">{{orderMessage.ShowState?orderMessage.ShowState:'...'}}</span>
            </div>
          </div>
        </div>
        <div class="w-full h-full flex overflow-hidden bg-neutral-3-200" cdkScrollable>
          <div *ngIf="currentConversation && currentMappingTeam?.team" class="w-full">
            <shared-tds-conversations class="flex w-full h-full" [team]="currentMappingTeam?.team"
              [data]="currentConversation" [type]="'all'" [miniChat]="true">
            </shared-tds-conversations>
          </div>
        </div>
      </div>
    </ng-container>
  </tds-drawer>
</div>
