<tds-spin [spinning]="isLoading" class="w-full h-full">
    <div class="flex flex-col w-full h-full text-body-2 text-neutral-1-900 " *ngIf="dataModel">
        <div class="bg-white flex flex-col">
            <div class=" flex justify-between items-center">
                <div class="flex flex-col gap-y-1">
                    <tds-breadcrumb tds-page-header-breadcrumb>
                        <tds-breadcrumb-item (click)="directPage('bill')">Phiếu bán hàng</tds-breadcrumb-item>
                        <tds-breadcrumb-item>{{ dataModel.Number || 'N/A' }}</tds-breadcrumb-item>
                    </tds-breadcrumb>
                    <div class="pl-4 pb-2.5">
                        <span class="text-header-1 text-neutral-1-900 font-semibold">{{ dataModel.Number || "N/A" }}</span>
                    </div>
                </div>
                <div class="flex gap-x-2">
                    <button tds-button color="primary" *ngIf="dataModel.State == 'draft'" type="button"
                        (click)="onSavePrint('print')">Xác nhận và in (F9)</button>
                    <button  tds-button color="primary" *ngIf="dataModel.State == 'draft'" type="button"
                        (click)="onSavePrint('printShip')">Xác nhận và in ship</button>
                    <button  tds-button color="primary" *ngIf="dataModel.State == 'draft'" type="button"
                        (click)="onSavePrint('confirm')">Xác nhận và xem (F8)</button>
                    <button  tds-button color="primary" *ngIf="dataModel.State == 'open'" type="button"
                        (click)="paymentInfoJson()">
                        <span class="flex items-center">
                            <i class="tdsi-revenue-fill text-lg leading-none mr-2"></i>Thanh toán
                        </span>
                    </button>
                    <button tds-button type="button" color="primary"
                        *ngIf="dataModel.State !== 'cancel' && dataModel.State !== 'draft' && dataModel.Carrier != null && !dataModel.TrackingRef"
                        (click)="sendToShipper()">
                        <span class="flex items-center">
                            <i class="tdsi-transport-fill text-lg leading-none mr-2"></i>Gửi vận đơn
                        </span>
                    </button>
                    <button type="button"  tds-button color="primary" (click)="actionRefund()"
                        *ngIf="!(dataModel.Type  =='refund' || ['open', 'paid'].indexOf(dataModel.State) === -1)">
                        <span class="flex items-center">
                            <i class="tdsi-reply-fill text-lg leading-none mr-2"></i>Tạo trả hàng
                        </span>
                    </button>
                    <button tds-button color="info" [disabled]="isProcessing" type="button" (click)="copyInvoice()">
                        <span class="flex items-center">
                            <i class="tdsi-copy-fill text-lg leading-none mr-2"></i>Sao chép
                        </span>
                    </button>

                    <button type="button" tds-button color="info" [disabled]="isProcessing"
                        (click)="onCreate()">
                        <span class="flex items-center">
                            <i class="tdsi-plus-circle-fill text-lg leading-none mr-2"></i>Thêm mới
                        </span>
                    </button>
                    <button type="button" tds-button color="error" [disabled]="isProcessing" *ngIf="dataModel.State =='open' || dataModel.State === 'paid'"
                        (click)="actionCancel()">
                        <span class="flex items-center"> Hủy hóa đơn </span>
                    </button>
                    <button type="button"  tds-button color="secondary" [disabled]="isProcessing"
                        (click)="onEdit()"
                        *ngIf="dataModel.State !='cancel'">
                        <span class="flex items-center">
                            <i class="tdsi-edit-fill text-lg leading-none mr-2 text-neutral-1-500"></i>Chỉnh sửa
                        </span>
                    </button>
                    <button tds-button color="secondary" class="mr-4" [disabled]="isProcessing"
                        (click)="onBack()">
                        Quay lại
                    </button>
                </div>
            </div>
            <div class="flex justify-end items-center py-4" *ngIf="dataModel.State !== 'cancel'">
                <div class="flex" >
                    <tds-button-split class="mr-2" color="secondary">
                        <span class="flex items-center js-label font-semibold truncate">
                            <i class="tdsi-print-fill text-neutral-1-500 text-lg leading-none mr-2"></i>In phiếu</span>
                        <div class="js-content flex flex-col ">
                            <button tds-button-menu-item class="text-left p-3" (click)="print('bill80')">Bill 80</button>
                            <button tds-button-menu-item class="text-left p-3" (click)="print('bill58')">Bill 58</button>
                            <button tds-button-menu-item class="text-left p-3" (click)="print('A4')">In A4</button>
                            <button tds-button-menu-item class="text-left p-3" (click)="print('A5')">In A5</button>
                        </div>
                    </tds-button-split>
                    <button tds-button color="secondary" class="mr-2" *ngIf="dataModel.Type === 'invoice'" (click)="print('delivery')">
                        <span class="flex items-center">
                            <i class="tdsi-print-fill text-neutral-1-500 text-lg leading-none mr-2"></i>In giao hàng
                        </span>
                    </button>
                    <button tds-button color="secondary" class="mr-2" *ngIf="dataModel.Type === 'invoice' && dataModel.Carrier" (click)="print('ship')">
                        <span class="flex items-center">
                            <i class="tdsi-print-fill text-neutral-1-500 text-lg leading-none mr-2"></i>In phiếu ship
                        </span>
                    </button>
                    <tds-steps [current]="indexStep" [status]="isStatusStep">
                        <tds-step tdsTitle="Nháp"></tds-step>
                        <tds-step [tdsTitle]="dataModel.State == 'cancel' ? 'Đã hủy' : 'Xác nhận'"></tds-step>
                        <tds-step tdsTitle="Đã thanh toán"></tds-step>
                    </tds-steps>
                </div>
            </div>
        </div>
        <div class="flex gap-x-4 p-4 tds-custom-scroll">
            <div class="w-2/3 flex flex-col gap-y-4">
                <!-- Thông tin đơn hàng -->
                <div class="rounded-xl bg-white p-4 flex flex-col">
                    <div class="mb-7 text-header-1 font-semibold flex items-center">
                        <i class="tdsi-paper-fill mr-2 text-neutral-1-500"></i>Đơn hàng:
                        <div class="text-info-400 font-semibold ml-2">{{ dataModel.Number || 'N/A' }}</div>
                    </div>
                    <div class="grid grid-cols-2 gap-y-4 2xl:gap-x-8 xl:gap-x-6">
                        <div class="flex gap-x-6 items-center max-w-full">
                            <div class="flex w-fit">
                                <tds-avatar [size]="84" [tdsSrc]="dataModel.Partner.ImageUrl"></tds-avatar>
                            </div>
                            <div class="flex flex-auto flex-col gap-y-2">
                                <div class="inline-flex">
                                    <span class="text-header-2 font-semibold mr-2 2xl:max-w-[250px] xl:max-w-[150px] truncate"
                                        tds-tooltip="{{ dataModel.Partner?.DisplayName || dataModel.PartnerNameNoSign }}">
                                        {{ dataModel.Partner?.DisplayName || dataModel.PartnerNameNoSign }}
                                    </span>
                                    <tds-tag *ngIf="dataModel.Partner?.StatusText" class="cursor-pointer mr-1 mb-1 items-center" status='primary' rounded="rounded-full">
                                        <div class="2xl:max-w-[100px] xl:max-w-[50px] w-fit truncate">{{ dataModel.Partner.StatusText }}</div>
                                    </tds-tag>
                                </div>
                                <span class="text-neutral-1-600">
                                    <i class="tdsi-call-fill mr-2"></i> {{ dataModel.Ship_Receiver?.Phone || '---' }}
                                </span>
                                <span class="text-neutral-1-600">
                                    <i class="tdsi-pin-fill mr-2"></i> {{ dataModel.Ship_Receiver?.Street || '---' }}
                                </span>
                            </div>
                        </div>
                        <div class="flex gap-x-6 items-center">
                            <div class="flex w-fit">
                                <img src="../../assets/imagesv2/status_bill.svg" alt="">
                            </div>
                            <div class="flex flex-auto flex-col gap-y-2">
                                <div class="flex items-center">
                                    <span class="text-neutral-1-600 mr-2">Trạng thái ĐH</span>
                                    <span class="text-header-2 text-neutral-1-300 font-semibold"> {{dataModel.ShowState || '---'}}</span>
                                </div>
                                <div class="flex items-center gap-x-2" *ngIf="dataModel.CarrierName">
                                    <img width="40px" height="20px" [src]="dataModel.CarrierDeliveryType | getAvatarCarrier" alt="">
                                    <span class="font-semibold ml-2" tds-tooltip tooltipTitle="Đối tác giao hàng: {{ dataModel.CarrierName }}">
                                        {{ dataModel.CarrierName }}
                                    </span>
                                </div>
                                <div class="flex items-center">
                                    <div class="rounded-full bg-neutral-3-100 px-2">
                                        <span class="text-neutral-1-700 font-semibold">{{ dataModel.ShipPaymentStatus || '---' }}</span>
                                    </div>
                                    <span class="text-info-500 font-semibold ml-2 w-1/3 truncate" *ngIf="dataModel.TrackingRef" (click)="onOpenTrackingUrl(dataModel)">{{ dataModel.TrackingRef }}</span>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="dataModel.PreviousBalance" class="flex gap-x-6 items-center">
                            <div class="w-1/3">
                                <span>Nợ cũ</span>
                            </div>
                            <div class="w-2/3">
                                <span class="font-semibold">{{ dataModel.PreviousBalance || 0 | numberCustom }} đ</span>
                            </div>
                        </div>
                        <div class="flex gap-x-6 items-center">
                            <div class="w-1/3">
                                <span>Tiền thu hộ</span>
                            </div>
                            <div *ngIf="dataModel.Source != 'SHOPAPP'" class="w-2/3">
                              <span class="font-semibold">{{ dataModel.CashOnDelivery || 0 | numberCustom }} đ</span>
                            </div>
                            <div *ngIf="dataModel.Source == 'SHOPAPP'" class="w-2/3">
                              <span *ngIf="dataModel.IsDeposited" class="font-semibold">{{ dataModel.CashOnDelivery || 0 | numberCustom }} đ</span>
                              <p *ngIf="!dataModel.IsDeposited">{{ (dataModel.CashOnDelivery || 0) + (dataModel.AmountDeposit || 0) | numberCustom }} đ</p>
                            </div>
                        </div>
                        <div class="flex gap-x-6 items-center">
                            <div class="w-1/3">
                                <span>Bảng giá</span>
                            </div>
                            <div class="w-2/3">
                                <span class="font-semibold">{{ dataModel.PriceList?.Name || '---' }}</span>
                            </div>
                        </div>
                        <div class="flex gap-x-6 items-center">
                            <div class="w-1/3">
                                <span>Phí giao hàng</span>
                            </div>
                            <div class="w-2/3 flex items-center gap-x-6">
                                <span class="font-semibold">{{ dataModel.DeliveryPrice || 0 | numberCustom }} đ</span>
                                <div class="rounded-full bg-info-200 px-2" *ngIf="dataModel.ShipWeight"
                                    tds-tooltip tooltipTitle="Khối lượng: {{ dataModel.ShipWeight | numberCustom }} (g)">
                                    <span class="text-info-500 font-semibold flex items-center gap-x-1">
                                        <i class="tdsi-unit-fill text-base"></i>
                                        {{ dataModel.ShipWeight || 0 | numberCustom }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="flex gap-x-6 items-center">
                            <div class="w-1/3">
                                <span>Số tiền trả</span>
                            </div>
                            <div class="w-2/3">
                                <span class="font-semibold">{{ dataModel.PaymentAmount || 0 | numberCustom }} đ</span>
                            </div>
                        </div>
                        <div class="flex gap-x-6 items-center">
                            <div class="w-1/3">
                                <span>Kho hàng</span>
                            </div>
                            <div class="w-2/3">
                                <span class="font-semibold">{{ dataModel.Warehouse?.Name || '---' }}</span>
                            </div>
                        </div>
                        <div class="flex gap-x-6 items-center">
                            <div class="w-1/3">
                                <span>Phương thức TT</span>
                            </div>
                            <div class="w-2/3">
                                <span class="font-semibold" *ngIf="dataModel.PaymentJournal?.Name">
                                    {{ dataModel.PaymentJournal?.Name }} ({{ dataModel.PaymentJournal?.Type }})
                                </span>
                                <span class="font-semibold" *ngIf="!dataModel.PaymentJournal?.Name">---</span>
                            </div>
                        </div>
                        <div class="flex gap-x-6 items-center">
                            <div class="w-1/3">
                                <span>Người giao hàng</span>
                            </div>
                            <div class="w-2/3">
                                <span class="font-semibold">{{ dataModel.Deliver || '---' }}</span>
                            </div>
                        </div>
                        <div class="flex gap-x-6 items-center">
                            <div class="w-1/3">
                                <span>Kênh</span>
                            </div>
                            <div class="w-2/3">
                                <span class="font-semibold">{{ dataModel.Team?.Name || '---' }}</span>
                            </div>
                        </div>
                        <div class="flex gap-x-6 items-center">
                            <div class="w-1/3">
                                <span>Tham chiếu</span>
                            </div>
                            <div class="w-2/3">
                                <span class="font-semibold">{{ dataModel.Reference || '---' }}</span>
                            </div>
                        </div>
                        <div *ngIf="dataModel.Revenue" class="flex gap-x-6 items-center">
                            <div class="w-1/3">
                                <span>Doanh số</span>
                            </div>
                            <div class="w-2/3">
                                <span class="font-semibold">{{ dataModel.Revenue || 0 | numberCustom }} đ</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Danh sách sản phẩm -->
                <div class="rounded-xl bg-white flex flex-col">
                    <div class="p-4">
                        <h1 class="text-header-1 font-semibold flex items-center">
                            <i class="tdsi-group-product-fill mr-2 text-neutral-1-500"></i>Danh sách sản phẩm
                        </h1>
                    </div>
                    <div class="w-full">
                        <tds-table #tableProduct [listData]="dataModel.OrderLines" [showPagination]="false" [pageSize]="dataModel.OrderLines.length" [noResult]="empty">
                            <thead>
                                <tr>
                                    <th [align]="'center'">STT</th>
                                    <th [width]="'300px'">Sản phẩm</th>
                                    <th [align]="'center'">Đơn vị tính</th>
                                    <th [align]="'center'">Số lượng</th>
                                    <th [align]="'right'">Đơn giá</th>
                                    <th [align]="'right'">Giảm giá</th>
                                    <th [align]="'right'">Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-template ngFor let-data let-i="index" [ngForOf]="tableProduct.data">
                                    <tr>
                                        <td [align]="'center'">{{ i + 1 }}</td>
                                        <td>
                                            <div class="w-[250px] truncate" tds-tooltip="{{data.Product.NameGet}}">{{ data.Product.NameGet }}</div>
                                            <p class="text-caption-1 italic text-info-500" *ngIf="data.User && data.User.Name">Nhân viên: {{ data.User.Name || '---' }}</p>
                                        </td>
                                        <td [align]="'center'">{{ data.ProductUOMName }}</td>
                                        <td [align]="'center'">{{ data.ProductUOMQty | numberCustom }}</td>
                                        <td [align]="'right'">{{ data.PriceUnit | numberCustom }} đ</td>
                                        <td [align]="'right'">
                                            <span *ngIf="data.Type == 'percent'">{{ data.Discount }} %</span>
                                            <span *ngIf="data.Type == 'fixed'">{{ data.Discount_Fixed }} đ</span>
                                        </td>
                                        <td [align]="'right'">{{ data.PriceTotal | numberCustom }} đ</td>
                                    </tr>
                                </ng-template>
                            </tbody>
                        </tds-table>
                        <ng-template #empty></ng-template>
                    </div>
                    <div class="w-full flex justify-end py-4 pr-4 border-b border-neutral-2-100">
                        <div class="w-1/2 text-right flex flex-col gap-3.5">
                            <div class="flex items-center">
                                <span class="w-1/2"> Tổng số lượng</span>
                                <span class="w-1/2 font-semibold">{{ productUOMQtyTotal || 0 | numberCustom }} </span>
                            </div>
                            <div class="flex items-center" *ngIf="dataModel && (dataModel.Discount > 0 || dataModel.DecreaseAmount > 0 || dataModel.AmountTax > 0)">
                                <span class="w-1/2"> Tổng trước thuế</span>
                                <span class="w-1/2 font-semibold"> {{ productPriceTotal || 0 | numberCustom }} đ</span>
                            </div>
                            <div class="flex items-center" *ngIf="dataModel.DiscountAmount > 0">
                                <span class="w-1/2"> Chiết khấu ({{dataModel.Discount || 0}}%)</span>
                                <span class="w-1/2 font-semibold"> {{ dataModel.DiscountAmount || 0 | numberCustom }} đ</span>
                            </div>
                            <div class="flex items-center" *ngIf="dataModel.DecreaseAmount > 0">
                                <span class="w-1/2"> Giảm giá</span>
                                <span class="w-1/2 font-semibold"> {{ dataModel.DecreaseAmount || 0 | numberCustom }} đ</span>
                            </div>
                            <div class="flex items-center" *ngIf="dataModel.AmountTax > 0">
                                <span class="w-1/2"> Thuế ({{ dataModel.Tax?.Amount | numberCustom }}%)</span>
                                <span class="w-1/2 font-semibold"> {{ dataModel.AmountTax || 0 | numberCustom }} đ</span>
                            </div>
                            <div class="flex items-center border-b border-neutral-2-100 pb-2">
                                <span class="w-1/2 font-semibold">Tổng tiền</span>
                                <span class="w-1/2 text-header-1 font-semibold">{{dataModel.AmountTotal || 0 | numberCustom }} đ</span>
                            </div>
                            <div class="flex items-center" *ngFor="let payment of payments; let i = index">
                                <span class="w-1/2 flex items-center  justify-end" >
                                    <span class="tdsi-information-fill cursor-pointer mr-2 text-info-500 text-xl leading-5" type="button"
                                        tds-button tds-popover popoverTrigger="click" popoverTitle="Thông tin thanh toán" [popoverBackdrop]="true"
                                        [popoverVisible]="indx == i" [popoverContent]="infoPricePay" (click)="showPaymentInfo(i)">
                                    </span>
                                    Trả lúc {{ (payment.Date | date: "dd-MM-yyyy") || '---' }}</span>
                                <span class="w-1/2 font-semibold"> {{ payment.Amount || 0 | numberCustom }} {{payment.Currency}}</span>

                                <ng-template #infoPricePay>
                                    <div class="w-full text-left flex flex-col">
                                        <div class="flex mb-3">
                                            <span class="w-1/3 text-body-2"> Tên</span>
                                            <span class="w-2/3 text-body-2"> {{ payment.Name || '---' }}</span>
                                        </div>
                                        <div class="flex mb-3">
                                            <span class="w-1/3 text-body-2"> Ngày</span>
                                            <span class="w-2/3 text-body-2"> {{ (payment.Date | date:"dd/MM/yyyy") || '---' }}</span>
                                        </div>
                                        <div class="flex mb-3">
                                            <span class="w-1/3 text-body-2"> Phương thức</span>
                                            <span class="w-2/3 text-body-2"> {{ payment.JournalName || '---' }}</span>
                                        </div>
                                        <div class="flex mb-3">
                                            <span class="w-1/3 text-body-2">Tham chiếu</span>
                                            <span class="w-2/3 text-body-2 text-[#0184FF]">{{ payment.Ref || '---' }}</span>
                                        </div>
                                        <div class="flex mb-3">
                                            <span class="w-1/3 text-body-2">Số tiền</span>
                                            <span class="w-2/3 text-body-2">{{payment.Amount || 0 | numberCustom }} đ</span>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                            <div class="flex items-center" *ngIf="dataModel.State != ('draft' || 'cancel')">
                                <span class="w-1/2">Còn nợ</span>
                                <span class="w-1/2 text-header-1 text-error-400 font-semibold">{{dataModel.Residual || 0 | numberCustom }} đ</span>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Thông tin khác -->
                <div class="rounded-xl bg-white p-4 flex flex-col">
                    <div class="mb-7">
                        <h1 class="text-header-1 font-semibold flex items-center">
                            <i class="tdsi-information-fill mr-2 text-neutral-1-500"></i>Thông tin khác
                        </h1>
                    </div>
                    <div class="grid grid-cols-2 gap-y-4 gap-x-8">
                        <div class="flex gap-x-6">
                            <div class="w-1/3">
                                <span>Người bán</span>
                            </div>
                            <div class="w-2/3">
                                <span class="font-semibold">{{ dataModel.User?.Name || '---' }}</span>
                            </div>
                        </div>
                        <div class="flex gap-x-6">
                            <div class="w-1/3">
                                <span>Seri</span>
                            </div>
                            <div class="w-2/3">
                                <span class="font-semibold">{{ dataModel.Seri || '---' }}</span>
                            </div>
                        </div>
                        <div class="flex gap-x-6">
                            <div class="w-1/3">
                                <span>Ngày hóa đơn</span>
                            </div>
                            <div class="w-2/3">
                                <span class="font-semibold">{{ (dataModel.DateInvoice | date:"dd/MM/yyyy HH:mm") || '---' }}</span>
                            </div>
                        </div>
                        <div class="flex gap-x-6">
                            <div class="w-1/3">
                                <span>Trạng thái</span>
                            </div>
                            <div class="w-2/3">
                                <span class="font-semibold">{{ dataModel.State | getShowState}}</span>
                            </div>
                        </div>
                        <div class="flex gap-x-6">
                            <div class="w-1/3">
                                <span>Ngày hóa đơn đỏ</span>
                            </div>
                            <div class="w-2/3">
                                <span class="font-semibold">{{ (dataModel.DateOrderRed | date:"dd/MM/yyyy HH:mm") || '---' }}</span>
                            </div>
                        </div>
                        <div class="flex gap-x-6">
                            <div class="w-1/3">
                                <span>Số hóa đơn đỏ</span>
                            </div>
                            <div class="w-2/3">
                                <span class="font-semibold">{{ dataModel.NumberOrder || '---' }}</span>
                            </div>
                        </div>
                        <div class="flex gap-x-6">
                            <div class="w-1/3">
                                <span>Ghi chú đơn hàng</span>
                            </div>
                            <div class="w-2/3">
                                <div *ngIf="dataModel.Comment" class="font-semibold break-words" showMore [text]="dataModel.Comment" [length]="50"></div>
                                <span *ngIf="!dataModel.Comment">---</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-1/3 flex flex-col gap-y-4">
                <!-- Giao hàng -->
                <div class="rounded-xl bg-white p-4 flex flex-col">
                    <div class="mb-7">
                        <h1 class="text-header-1 font-semibold flex items-center">
                            <i class="tdsi-transport-fill mr-2 text-neutral-1-500"></i>Giao hàng
                        </h1>
                    </div>
                    <div class="grid grid-cols-1 gap-y-4 gap-x-8">
                        <div class="flex gap-x-6">
                            <div class="w-1/3">
                                <span>Đối tác giao hàng</span>
                            </div>
                            <div class="w-2/3">
                                <span class="font-semibold">{{ dataModel.Carrier?.Name || '---' }}</span>
                            </div>
                        </div>
                        <div class="flex gap-x-6">
                            <div class="w-1/3">
                                <span>Đối soát GH</span>
                            </div>
                            <div class="w-2/3">
                                <span class="font-semibold">{{ dataModel.ShowShipStatus || '---'}}</span>
                            </div>
                        </div>
                        <div class="flex gap-x-6">
                            <div class="w-1/3">
                                <span>Phí giao hàng</span>
                            </div>
                            <div class="w-2/3">
                                <span class="font-semibold">{{ (dataModel.DeliveryPrice || 0) | numberCustom }} đ</span>
                            </div>
                        </div>
                        <div class="flex gap-x-6">
                            <div class="w-1/3">
                                <span>Khối lượng ship (g)</span>
                            </div>
                            <div class="w-2/3">
                                <span class="font-semibold">{{ (dataModel.ShipWeight || 0) | numberCustom }}</span>
                            </div>
                        </div>
                        <div class="flex gap-x-6">
                            <div class="w-1/3">
                                <span>Tiền cọc</span>
                            </div>
                            <div *ngIf="dataModel.Source != 'SHOPAPP'" class="w-2/3 flex gap-4 items-center">
                                <span class="mr-1">{{dataModel.AmountDeposit || 0 | numberCustom}}đ </span>
                            </div>

                            <div *ngIf="dataModel.Source == 'SHOPAPP'" class="w-2/3 flex gap-4 items-center">
                              <p class="w-full" *ngIf="dataModel.IsDeposited">
                                <span class="mr-1">{{dataModel.AmountDeposit || 0 | numberCustom}}đ </span>
                                <span tds-tooltip="Hình ảnh thanh toán" (click)="openImages()" class="tdsi-images-fill text-neutral-1-600 hover:text-primary-1 text-xl"></span>
                              </p>

                              <div *ngIf="!dataModel.IsDeposited">
                                <div>
                                  <span class="mr-2" *ngIf="dataModel.AmountDeposit > 0">0 đ</span>
                                  <span style="text-decoration: underline" class="italic text-info-500" tds-tooltip="Số tiền cần xác nhận cọc">
                                    {{ dataModel.AmountDeposit || 0 | numberCustom }}đ
                                  </span>
                                </div>

                                <div>
                                  <span class="text-error-500 mr-2" style="font-size: 12px">Chưa xác nhận cọc</span>
                                  <span (click)="showModalDeposit(dataModel)"  class="w-full" *ngIf="!dataModel.IsDeposited" tds-tooltip="Click để xác nhận cọc">
                                    <span class="tdsi-money-2-fill text-[18px]" style="color: rgb(68, 128, 241)"></span>
                                  </span>
                                </div>

                              </div>
                            </div>
                        </div>
                        <div class="flex gap-x-6">
                            <div class="w-1/3">
                                <span>Mã vận đơn</span>
                            </div>
                            <div class="w-2/3" (click)="onOpenTrackingUrl(dataModel)">
                                <span class="font-semibold text-info-500 cursor-pointer" *ngIf="dataModel.TrackingRef">{{ dataModel.TrackingRef }}</span>
                                <span class="font-semibold" *ngIf="!dataModel.TrackingRef">{{ '---' }}</span>
                            </div>
                        </div>
                        <div class="flex gap-x-6">
                            <div class="w-1/3">
                                <span>Trạng thái vận đơn</span>
                            </div>
                            <div class="w-2/3">
                                <span class="font-semibold">{{ dataModel.ShipPaymentStatus || '---' }}</span>
                            </div>
                        </div>
                        <div class="flex gap-x-6">
                            <div class="w-1/3">
                                <span>Ghi chú giao hàng</span>
                            </div>
                            <div class="w-2/3">
                                <div class="italic" *ngIf="dataModel.DeliveryNote" showMore [text]="dataModel.DeliveryNote" [length]="50"></div>
                                <span *ngIf="!dataModel.DeliveryNote">---</span>
                            </div>
                        </div>
                        <tds-modal [(visible)]="modalImages" title="Hình ảnh thanh toán" [size]="'lg'" [bodyStyle]="{ 'padding' : '0px' }" (onCancel)="handleCancel()">
                            <ng-container *tdsModalContent>
                              <div *ngIf="dataModel.IRAttachmentUrl != null" class="w-full h-[350px] flex justify-items-center overflow-hidden overflow-y-auto p-4">
                                <div class="pl-4 h-full w-full flex bg-neutral-1-50 rounded-xl border">
                                    <tds-carousel [tdsEffect]="'scrollx'" class="h-[350px] w-full truncate">
                                        <div tds-carousel-content *ngFor="let img of dataModel?.IRAttachmentUrls">
                                            <div class="flex justify-center items-center">
                                            <img tds-image tdsSrc="{{ img }}" alt="" />
                                            </div>
                                        </div>
                                    </tds-carousel>
                                </div>
                              </div>
                              <div *ngIf="dataModel.IRAttachmentUrl == null">
                                <tds-empty [notFoundContent]="contentTpl" class="py-8">
                                  <ng-template #contentTpl>
                                    <span>Không có hình ảnh</span>
                                </ng-template>
                                </tds-empty>
                              </div>
                            </ng-container>
                            <div *tdsModalFooter class="w-full p-4 flex justify-end">
                              <button tds-button class="min-w-[100px]" color="secondary" (click)="handleCancel()">
                                Đóng
                              </button>
                            </div>
                          </tds-modal>
                    </div>
                </div>
                <div class="rounded-xl bg-white p-4 flex flex-col">
                    <div class="mb-7">
                        <h1 class="text-header-1 font-semibold flex items-center">
                            <i class="tdsi-hand-product-line mr-2 text-neutral-1-500"></i>Thông tin người nhận
                        </h1>
                    </div>
                    <div class="grid grid-cols-1 gap-y-4 gap-x-8">
                        <div class="flex gap-x-6">
                            <div class="w-1/3">
                                <span>Tên người nhận</span>
                            </div>
                            <div class="w-2/3">
                                <span class="font-semibold">{{ dataModel.ReceiverName || '---' }}</span>
                            </div>
                        </div>
                        <div class="flex gap-x-6">
                            <div class="w-1/3">
                                <span>Điện thoại</span>
                            </div>
                            <div class="w-2/3">
                                <span class="font-semibold">{{ dataModel.ReceiverPhone || '---'}}</span>
                            </div>
                        </div>

                        <div class="flex gap-x-6">
                            <div class="w-1/3">
                                <span>Địa chỉ giao hàng</span>
                            </div>
                            <div class="w-2/3">
                                <span class="font-semibold">{{ dataModel.Ship_Receiver?.Street || dataModel.ReceiverAddress || '---'}}</span>
                            </div>
                        </div>
                        <div class="flex gap-x-6">
                            <div class="w-1/3">
                                <span>Ghi chú</span>
                            </div>
                            <div class="w-2/3">
                                <div *ngIf="dataModel.ReceiverNote" class="font-semibold" showMore [text]="dataModel.ReceiverNote" [length]="50"></div>
                                <span *ngIf="!dataModel.ReceiverNote">---</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</tds-spin>
