<div class="w-full h-full max-h-[calc(100vh-375px)] overflow-auto tds-custom-scroll p-2">
  <tds-spin [spinning]="isLoading">
    <tds-timeline>

      <tds-timeline-item *ngFor="let data of lstData" [tdsDot]="dotTemplate">
        <div class="px-4 py-3 mb-4 w-full border rounded-xl flex justify-between">
          <div class="flex space-x-6">
            <div class="flex items-center">
              <img src="../../../assets/imagesv2/live-campaign/detail-product-modal.svg" alt="">
            </div>
            <div class="flex flex-col space-y-2" *ngIf="convertNameEvent(data.EventName) as convert">
              <div class="text-caption-1 text-neutral-1-600">{{ data.DateCreated | date: "dd/MM/yyyy HH:mm:ss" }}</div>
              <div class="text-body-1 font-semibold {{convert.color}}">{{ convert.name }}</div>
            </div>
          </div>
          <div class="flex items-center text-info-400 text-body-2 font-semibold">Số lượng: {{data.Quantity}}</div>
        </div>
      </tds-timeline-item>
    </tds-timeline>

    <ng-template #dotTemplate>
      <div class="h-6 w-6 rounded-full border border-neutral-2-100 bg-transparent"></div>
    </ng-template>

  </tds-spin>
</div>

<div class="w-full flex justify-end p-4" *tdsModalFooter>
  <button tds-button class="min-w-[100px]" color="secondary" (click)="onCancel()">Đóng</button>
</div>
