<div class="w-full h-full pb-4 px-4 overflow-hidden text-body-2 overflow-y-auto tds-custom-scroll">
  <div class="w-full h-full ">
      <div class="flex flex-col w-full bg-white rounded-xl">
          <div class="flex flex-row items-center justify-between px-4 py-3">
              <div class="flex flex-row items-center">
                  <tds-avatar class="bg-primary-1 text-white" icon="tdsi-facebook-2-fill"></tds-avatar>
                  <span class="text-neutral-1-900 text-header-1 font-semibold pl-2.5">BASIC</span>
              </div>
              <div class="flex gap-x-2">
                  <button tds-button color="primary" (click)="onSave()">
                      <span class="flex items-center">
                          Lưu thay đổi
                      </span>
                  </button>
              </div>
          </div>
          <div class="w-full p-4">
              <tds-tabset class="bg-white border border-neutral-2-200 rounded-xl" (selectedIndexChange)="selectedIndexChange($event)">
                  <!-- tabs Phản hồi bình luận -->
                  <tds-tab title="Phản hồi bình luận">
                      <ng-template tds-tab>
                          <config-auto-reply [eventOnSave]="onSaveAutoReply" (onSaveSuccess)="onSaveAutoReplySuccess($event)"></config-auto-reply>
                      </ng-template>
                  </tds-tab>
                  <!-- tabs Ẩn bình luận -->
                  <tds-tab title="Ẩn bình luận">
                      <ng-template tds-tab>
                          <config-auto-hide-comment [eventOnSave]="onSaveAutoHideComment" (onSaveSuccess)="onSaveAutoHideCommentSuccess($event)"></config-auto-hide-comment>
                      </ng-template>
                  </tds-tab>
                  <!-- tabs menu tương tác -->
                  <tds-tab tds-tab title="Menu tương tác">
                      <ng-template tds-tab>
                          <config-interactive-menus [eventOnSave]="onSaveInteractiveMenus" (onSaveSuccess)="onSaveInteractiveMenusSuccess($event)"></config-interactive-menus>
                      </ng-template>
                  </tds-tab>
                  <!-- tab các câu hỏi nhanh -->
                  <tds-tab tds-tab title="Các câu hỏi nhanh">
                      <ng-template tds-tab>
                        <config-quick-question [eventOnSave]="onSaveQuickQuestion" (onSaveSuccess)="onSaveQuickQuestionSuccess($event)"></config-quick-question>
                      </ng-template>
                  </tds-tab>
                  <!-- tabs lời chào -->
                  <tds-tab tds-tab title="Lời chào">
                    <ng-template tds-tab>
                      <config-greeting [eventOnSave]="onSaveGreeting" (onSaveSuccess)="onSaveGreetingSuccess($event)"></config-greeting>
                    </ng-template>
                  </tds-tab>
              </tds-tabset>
          </div>
      </div>
  </div>
</div>
