<div class="w-full h-full" autocomplete="off">
    <div class="w-full h-full pb-4 px-4">
        <div class="flex flex-col w-full h-full bg-white rounded-xl">
            <div class="flex flex-row items-center justify-between px-4 py-3">
                <div class="flex flex-row items-center">
                    <button tds-flat-button-icon size="md" (click)="backToMain()">
                        <span class="flex items-center">
                            <i class="tdsi-back-fill text-xl leading-5"></i>
                        </span>
                    </button>
                    <span class="text-neutral-1-900 text-header-1 font-semibold pl-2.5">THÊM MỚI BIẾN THỂ SẢN
                        PHẨM</span>
                </div>
                <button tds-button color="primary" (click)="submitSave()">
                    <span class="text-body-2 font-semibold">Lưu</span>
                </button>
            </div>
            <div class="h-full w-full">
                <tds-table #tablePermission [listData]="listOfDataPermission" [showPagination]="false"
                    [scroll]="{y:'auto'}">
                    <thead>
                        <tr>
                            <th>Trang Facebook</th>
                            <th width="75%">
                                <div class="flex w-full">
                                    <div class="w-1/2">
                                        <span>Tên Page</span>
                                    </div>
                                    <div class="w-1/2">
                                        <span>Nhân viên</span>
                                    </div>
                                </div>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <ng-template ngFor let-data [ngForOf]="tablePermission.data">
                            <tr >
                                <td> 
                                    <div class="flex w-full h-full flex-col gap-x-2.5 justify-center items-center ">
                                        <tds-avatar class="bg-white  text-white" [size]="108" [tdsSrc]="data.urlImg">
                                        </tds-avatar>
                                        <div>
                                            <span class="font-semibold">{{data.name}}</span>
                                        </div>
                                    </div>
                                </td>
                                <td [ngStyle]="{'padding': 0}">
                                    <div class="flex w-full h-full justify-start flex-col divide-y divide-neutral-2-100">
                                        <div *ngFor="let item of data.page; let ind = index" class="flex w p-2   border-l border-neutral-2-100">
                                            <div class="flex w-1/2">
                                                <span>{{item.namePage}}</span>
                                            </div>
                                            <div class="w-1/2">
                                                <tds-form-field class="w-full">
                                                    <tds-select valueField="id" textField="name"
                                                        placeholder='select item' [(ngModel)]="item.permission"
                                                        (ngModelChange)="onModelChangePermission($event)"
                                                        [data]="optionsPermission" mode="multiple">
                                                    </tds-select>
                                                </tds-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </tbody>
                </tds-table>
            </div>
        </div>
    </div>
</div>