<div class="w-full h-full flex flex-col text-body-2 text-neutral-1-900">
  <tds-page-header title="Chiến dịch live" class="bg-white">
      <tds-page-header-extra class="flex space-x-8 items-center">
            <div class="pt-4 pb-1.5">
                <button type="button" tds-button color="primary" (click)="onCreate()">
                    <span class="flex items-center">
                        <i class="tdsi-plus-circle-fill text-lg leading-none mr-2"></i>Thêm mới
                    </span>
                </button>
            </div>
            <div class="flex flex-row items-center justify-between pt-4 pb-1.5">
                <div class="flex flex-row items-center">
                    <span class="text-neutral-1-400 text-body-2 font-regular font-sans">Hiển thị tổng quan:</span>
                    <tds-select valueField="name" textField="name" [ngModel]="currentDateRanges" [border]="false"
                        [data]="tdsDateRanges" size="md" class="tds-dashboard-filter w-32 truncate ..." [valuePrimitive]="false"
                        (ngModelChange)="onChangeFilter($event)" classIcon="tdsi-arrow-down-fill">
                        <ng-template tds-label-tmp let-item="item">
                            <span class="text-primary-1 font-semibold">{{item.data.name}}</span>
                        </ng-template>
                    </tds-select>
                </div>
            </div>
      </tds-page-header-extra>
  </tds-page-header>
  <div class="h-full w-full flex flex-col space-y-4 p-4" *ngIf="dataReports">
      <tds-spin [spinning]="isLoadingReport">
          <div class="grid grid-cols-3 2xl:gap-6 xl:gap-4">
            <div class="bg-white rounded-xl p-6 flex 2xl:gap-x-6 xl:gap-x-4">
                <div><img src="../../../assets/imagesv2/live-campaign/product.svg"></div>
                <div class="w-full flex flex-col gap-y-2">
                    <div class="flex justify-between items-center">
                        <div class="text-neutral-1-500">Tổng số lượng sản phẩm</div>
                        <div class="2xl:text-header-1 xl:text-body-1 font-semibold text-neutral-1-900">{{dataReports?.SumQtyInCart | numberCustom }}</div>
                    </div>
                    <div class="flex justify-between items-center">
                        <div class="text-neutral-1-500">Số lượng đã chốt</div>
                        <div class="2xl:text-header-1 xl:text-body-1 font-semibold text-neutral-1-900">{{dataReports?.SumQtyCheckOut | numberCustom }}</div>
                    </div>
                    <div class="flex justify-between items-center">
                        <div class="text-neutral-1-500">Số lượng bị hủy</div>
                        <div class="2xl:text-header-1 xl:text-body-1 font-semibold text-error-400">{{dataReports?.SumCancelCheckout | numberCustom }}</div>
                    </div>
                </div>
            </div>
            <div class="bg-white rounded-xl p-6 flex 2xl:gap-x-6 xl:gap-x-4">
                <div><img src="../../../assets/imagesv2/live-campaign/order.svg" ></div>
                <div class="w-full flex flex-col space-y-2">
                    <div class="flex justify-between items-center">
                        <div class="  text-neutral-1-500">Tổng đơn chờ chốt</div>
                        <div class="2xl:text-header-1 xl:text-body-1 font-semibold text-neutral-1-900">{{dataReports?.SumOrderWaitCheckOut | numberCustom  }}</div>
                    </div>
                    <div class="flex justify-between items-center">
                        <div class="  text-neutral-1-500">Tổng đơn đã chốt</div>
                        <div class="2xl:text-header-1 xl:text-body-1 font-semibold text-neutral-1-900">{{dataReports?.SumOrderCheckOut | numberCustom  }}</div>
                    </div>
                    <div class="flex justify-between items-center">
                        <div class="  text-neutral-1-500">Tổng đơn bị hủy</div>
                        <div class="2xl:text-header-1 xl:text-body-1 font-semibold text-error-400">{{dataReports?.SumOrderCancelCheckOut | numberCustom  }}</div>
                    </div>
                </div>
            </div>
            <div class="bg-white rounded-xl p-6 flex 2xl:gap-x-6 xl:gap-x-4">
                <div><img src="../../../assets/imagesv2/live-campaign/money.svg" ></div>
                <div class="w-full flex flex-col space-y-2">
                    <div class="flex justify-between items-center">
                        <div class="  text-neutral-1-500">Tiền chờ chốt</div>
                        <div class="2xl:text-header-1 xl:text-body-1 font-semibold text-neutral-1-900">{{dataReports?.SumAmountWaitCheckOut | numberCustom  }}</div>
                    </div>
                    <div class="flex justify-between items-center">
                        <div class="  text-neutral-1-500">Tiền chờ thanh toán</div>
                        <div class="2xl:text-header-1 xl:text-body-1 font-semibold text-neutral-1-900">{{dataReports?.SumAmountWaitingPayment | numberCustom  }}</div>
                    </div>
                    <div class="flex justify-between items-center">
                        <div class="  text-neutral-1-500">Tiền đã thanh toán</div>
                        <div class="2xl:text-header-1 xl:text-body-1 font-semibold text-error-400">{{dataReports?.SumAmountPaid | numberCustom }}</div>
                    </div>
                </div>
            </div>
          </div>
      </tds-spin>
      <div class="w-full h-full">
          <live-campaign-list [currentDateRanges]="currentDateRanges"></live-campaign-list>
      </div>
  </div>
</div>


