<div class="w-full h-full flex flex-col bg-white rounded-xl text-body-2 text-neutral-900">
    <div class="py-2.5 px-4 flex justify-end items-center gap-x-4">
        <tds-form-field class="w-[10%]">
            <tds-select valueField="value" textField="text" placeholder='Lọc theo'
                [ngModel]="filterObj.isOnlyProductCancel" (ngModelChange)="onFilterData($event)" [required]='true'
                [data]="filterData" [allowClear]="false">
            </tds-select>
            <tds-error>Validation message text</tds-error>
        </tds-form-field>

        <tds-form-field class="w-1/4">
            <input aria-colspan="" class="placeholder-neutral-1-400" placeholder="Tìm kiếm" tdsInput [tdsInputDebounce]="750" [(ngModel)]="innerText"
                [ngModelOptions]="{standalone: true}" (inputKeyup)="onSearch($event)" />
            <span tdsPrefix><i class="text-neutral-1-500 tdsi-search-fill text-base"></i></span>
            <span tdsSuffix class="cursor-pointer rounded-lg" title="Xóa tìm kiếm" (click)="onClearFilterSearch()" *ngIf="innerText">
                <i class="text-neutral-1-500 tdsi-close-fill"></i>
            </span>
        </tds-form-field>
    </div>
    <div class="h-full pb-2.5">
        <tds-table #table [showSizeChanger]="true" [frontPagination]="false"
            [listData]="lstOfData" [loading]="isLoading" [total]="count" [(pageIndex)]="pageIndex" [(pageSize)]="pageSize" [scroll]="{y:'auto'}"
            (clickRefresh)="refreshData()" (queryParams)="onQueryParamsChange($event)">
            <thead>
                <tr>
                    <th class="border-r" rowSpan="2" [width]="'32px'"></th>
                    <th class="border-r" [width]="'20%'" rowSpan="2">Tên sản phẩm</th>
                    <th colSpan="4" class="border-r border-b text-center">Sản phẩm</th>
                    <th colSpan="2" class="border-r border-b text-center">Đơn hàng</th>
                    <th colSpan="2" class="border-r border-b text-center">Hóa đơn</th>
                </tr>
                <tr>
                    <th class="border-r">Tổng SL</th>
                    <th class="border-r">Chờ chốt</th>
                    <th class="border-r">Đã chốt</th>
                    <th class="border-r">Đã hủy</th>

                    <th class="border-r">Chờ chốt</th>
                    <th class="border-r">Đã hủy</th>

                    <th class="border-r">Đã chốt</th>
                    <th class="border-r">Đã hủy</th>
                </tr>
            </thead>
            <tbody>
                <ng-template ngFor let-product [ngForOf]="table.data">
                    <tr>
                        <td class="border-r" [expand]="expandSet.has(product.ProductId)"
                            (expandChange)="onExpandChange(product.ProductId, $event)">
                        </td>

                        <td class="font-semibold border-r">
                            <div class="flex flex-col gap-y-2">
                                <tds-label>{{ product.ProductName }}</tds-label>

                                <div *ngIf="product.Tags && (product.Tags|stringToStringArray)?.length > 0" class="flex flex-wrap items-center gap-1">
                                    <tds-tag status='primary' *ngFor="let tag1 of product.Tags|stringToStringArray" class="cursor-pointer" size="sm" tds-tooltip="{{ tag1 }}">
                                        <div class="xl:max-w-[150px] 2xl:max-w-[250px] w-fit truncate">{{ tag1 }}</div>
                                    </tds-tag>
                                </div>
                            </div>
                        </td>

                        <td class="border-r">{{ product.ProductQtyInCart || 0 |numberCustom }}</td>
                        <td class="border-r">{{ product.ProductQtyWaitCheckOut || 0 |numberCustom }}</td>
                        <td class="border-r">{{ product.ProductQtyCheckOut || 0 |numberCustom }}</td>
                        <td class="border-r">{{ product.ProductQtyCancelCheckOut || 0 |numberCustom }}</td>

                        <td class="border-r">
                            <div class="flex space-x-2 items-center">
                                <div>{{ product.OrderQtyWaitCheckOut || 0 | numberCustom }}</div>
                                <div>
                                    <button tds-button-icon color="secondary" size="sm"
                                        class="cursor-default text-info-400 bg-transparent border-0 border-transparent focus:ring-0 focus:border-transparent focus:bg-info-100 hover:bg-info-100">
                                        <span class="flex items-center">
                                            <i class="tdsi-group-2-line"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </td>

                        <td class="border-r">{{ product.OrderQtyCancelCheckOut || 0 | numberCustom }}</td>

                        <td class="border-r">
                            <div class="flex space-x-2 items-center">
                                <div>{{ product.InvoiceQtyCheckOut || 0 | numberCustom }}</div>
                                <div>
                                    <button tds-button-icon color="secondary" size="sm"
                                        class="cursor-default text-info-400 bg-transparent border-0 border-transparent focus:ring-0 focus:border-transparent focus:bg-info-100 hover:bg-info-100">
                                        <span class="flex items-center">
                                            <i class="tdsi-group-2-line"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </td>

                        <td class="border-r">{{ product.InvoiceQtyCancelCheckOut || 0 | numberCustom }}</td>
                    </tr>

                    <tr [expand]="expandSet.has(product.ProductId)" *ngIf="expandSet.has(product.ProductId)">
                        <div class="bg-neutral-3-50 p-2">
                          <div class="w-full bg-white rounded-md">
                            <tds-tabset [tabBarExtraContent]="printBill" [(selectedIndex)]="selected">
                                <tds-tab title="Đơn hàng chờ chốt" clsContent="p-0">
                                    <ng-template tds-tab>
                                        <div class="w-full h-[360px]">
                                            <table-order-wait [liveCampaignId]="liveCampaignId" (lstPrint)="prints()"
                                                [productId]="product.ProductId">
                                            </table-order-wait>
                                        </div>
                                    </ng-template>
                                </tds-tab>
                                <tds-tab title="Đơn hàng bị hủy & bị xóa" clsContent="p-0">
                                    <ng-template tds-tab>
                                        <div class="w-full h-[360px]">
                                            <table-order-cancel [liveCampaignId]="liveCampaignId"
                                                [productId]="product.ProductId">
                                            </table-order-cancel>
                                        </div>
                                    </ng-template>
                                </tds-tab>
                                <tds-tab title="Hóa đơn đã chốt" clsContent="p-0">
                                    <ng-template tds-tab>
                                        <div class="w-full h-[360px]">
                                            <table-bill-confirmed [liveCampaignId]="liveCampaignId"
                                                [productId]="product.ProductId">
                                            </table-bill-confirmed>
                                        </div>
                                    </ng-template>
                                </tds-tab>
                                <tds-tab title="Hóa đơn bị hủy & bị xóa" clsContent="p-0">
                                    <ng-template tds-tab>
                                        <div class="w-full h-[360px]">
                                            <table-bill-cancel [liveCampaignId]="liveCampaignId"
                                                [productId]="product.ProductId">
                                            </table-bill-cancel>
                                        </div>
                                    </ng-template>
                                </tds-tab>
                            </tds-tabset>

                            <ng-template #printBill>
                              <button *ngIf="selected == 0" tds-button color="custom" [loading]="isLoading" (click)="prints()"
                                  class="text-white  bg-secondary-1 border border-secondary-1 hover:bg-secondary-2 focus:bg-secondary-1 focus:ring focus:ring-secondary-1/20">
                                  <span class="flex items-center">
                                      <i class="tdsi-print-fill text-lg leading-none mr-2"></i> In đơn hàng
                                  </span>
                              </button>
                            </ng-template>
                          </div>
                        </div>
                    </tr>
                </ng-template>
            </tbody>
        </tds-table>
    </div>
</div>
