<form [formGroup]="_form">
  <div class="flex flex-col gap-y-6">
    <div class="flex items-center gap-x-4">
      <div class="w-1/3">
        <tds-label>Tên</tds-label>
      </div>
      <div class="w-2/3">
        <tds-form-field [color]="!_form.controls['Name'].valid && _form.controls['Name'].touched ? 'error' : 'default'">
          <input tdsInput autocomplete="off" placeholder="Nhập tên khách hàng" [required]='true' formControlName="Name"/>
          <tds-error *ngIf="!_form.controls['Name'].valid && _form.controls['Name'].touched">Vui lòng nhập tên khách hàng</tds-error>
        </tds-form-field>
      </div>
    </div>
    <div class="flex items-center gap-x-4">
      <div class="w-1/3">
        <tds-label>Số điện thoại</tds-label>
      </div>
      <div class="w-2/3">
        <tds-form-field [color]="!_form.controls['Phone'].valid && _form.controls['Phone'].touched ? 'error' : 'default'">
          <input tdsInput autocomplete="off" placeholder="Nhập số điện thoại khách hàng" formControlName="Phone"/>
          <tds-error *ngIf="!_form.controls['Phone'].valid && _form.controls['Phone'].touched">
            {{ _form.controls['Phone'].value ? 'Số điện thoại không hợp lệ' : 'Vui lòng nhập số điện thoại' }}
          </tds-error>
        </tds-form-field>
      </div>
    </div>
    <div class="flex items-start gap-x-4">
      <div class="w-1/3">
        <tds-label>Địa chỉ</tds-label>
      </div>
      <div class="w-2/3 flex gap-x-2">
        <tds-form-field class="w-full" [color]="!_form.controls['Street'].valid && _form.controls['Street'].touched ? 'error' : 'default'">
          <input tdsInput placeholder="Tìm kiếm địa chỉ ..." formControlName="Street"/>
          <tds-error *ngIf="!_form.controls['Street'].valid && _form.controls['Street'].touched">Vui lòng nhập địa chỉ</tds-error>
        </tds-form-field>
        <button tds-button-icon color="primary" type="button" tds-tooltip [tooltipTitle]="_form.controls['Street'].valid ? 'Kiểm tra địa chỉ' : 'Tìm kiếm địa chỉ'" (click)="showModalSuggestAddress()">
            <span class="flex items-center">
              <i class="tdsi-location-fill"></i>
            </span>
        </button>
      </div>
    </div>
  </div>
</form>

<div class="w-full flex justify-end p-4" *tdsModalFooter>
  <button tds-button class="mr-2 min-w-[100px]" color="secondary" (click)="onCancel()">Hủy</button>
  <button tds-button type="submit" class="min-w-[100px]"color="primary" (click)="save()">Lưu</button>
</div>
