<form [formGroup]="_form" autocomplete="off" class="flex flex-col gap-4">
    <div class="grid grid-cols-2 gap-x-8">
        <div class="grid grid-cols-4 items-center gap-x-2">
            <label class="font-semibold">Đối tác giao hàng</label>
            <tds-form-field class="w-full col-span-3">
                <tds-select formControlName="carrierId" valueField="Id" textField="Name" placeholder='Đối tác giao hàng'
                    [data]="(lstCarriers | async) || []" [allowClear]="true">
                </tds-select>
                <tds-error>
                    Vui lòng chọn đối tác giao hàng
                </tds-error>
            </tds-form-field>
        </div>
        <div class="grid grid-cols-4 items-center gap-x-2">
            <label class="font-semibold text-right">Trạng thái</label>
            <tds-form-field class="w-full col-span-2">
                <tds-select formControlName="shipStatus" valueField="value" textField="text" placeholder='Chọn trạng thái'
                    [valuePrimitive]="false" [data]="lstShipStatus" [allowClear]="true">
                </tds-select>
                <tds-error>
                    Vui lòng chọn trạng thái
                </tds-error>
            </tds-form-field>
            <button tds-button-outline color="primary" (click)="changeStatusForAll()">Áp dụng tất cả</button>
        </div>
    </div>
    <div class="grid grid-cols-8">
        <label class="font-semibold">Ghi chú</label>
        <tds-form-field class="col-span-7">
            <textarea tdsInput formControlName="note" placeholder="Nhập ghi chú" class="resize-none"></textarea>
        </tds-form-field>
    </div>
    <tds-checkbox formControlName="payment" class="w-fit">Thanh toán (Chỉ thanh toán với trạng thái đã thu tiền)</tds-checkbox>
    <tds-checkbox formControlName="isNoteOrder" class="w-fit">Cập nhật ghi chú hóa đơn</tds-checkbox>
    <div class="border rounded-md w-full">
        <div class="flex flex-row items-center px-4 py-2">
            <label class="font-semibold text-title-1 w-1/2">Danh sách đơn hàng</label>
            <div class="flex flex-row items-center gap-2 w-1/2">
                <tds-form-field size='md' class="flex flex-auto">
                    <input tdsInput class="text-neutral-1-900" placeholder="Tìm kiếm" autocomplete="off" (keyup)="onOrderFilter($event.target)"/>
                    <span tdsPrefix><i class="text-neutral-1-500 tdsi-search-fill"></i></span>
                </tds-form-field>
                <button tds-button color="primary" size="md" (click)="createDetails()" (keypress)="handleKeyboardEvent($event)">
                    <span class="flex items-center">
                      <i class="tdsi-plus-circle-fill text-lg leading-none mr-2"></i>Thêm mới chi tiết (F2)
                    </span>
                  </button>
            </div>
        </div>
        <div #listenerArea tabindex="{{tabIndex}}" class="w-full">
            <tds-table #basicTable [listData]="listTempOfData" [showPagination]="false" [frontPagination]="false" [scroll]="{ y: '300px' }">
                <thead>
                      <tr>
                            <th width="80px" [align]="'center'">STT</th>
                            <th width="232px">Mã vận đơn</th>
                            <th width="232px">Số tiền COD</th>
                            <th width="232px">Trạng thái</th>
                            <th width="232px">Ghi chú</th>
                            <th width="80px">
                                <button tds-button-icon tds-tooltip="Xóa hết" color="secondary" (click)="removeAllCrossChecking()">
                                    <i class="tdsi-trash-fill text-error-400"></i>
                                </button>
                            </th>
                      </tr>
                </thead>
                <tbody>
                    <ng-template ngFor let-data let-i="index" [ngForOf]="basicTable.data" >
                        <tr>
                            <td class="text-center align-top">{{ i + 1 }}</td>
                            <td class="align-top">
                                <tds-form-field [color]="data.hasError ? 'warning' : 'default'">
                                    <input tdsInput autocomplete="off" placeholder="Nhập mã vận đơn" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="data.TrackingRef" (ngModelChange)="checkExistTrackingRef($event, i)"/>
                                    <tds-warning>{{data.hasError}}</tds-warning>
                                </tds-form-field>
                                
                                <ng-template #titleTemplateWarning>
                                    <span class="tdsi-warning-fill mr-2"></span>
                                    <span>{{data.hasError}}</span>
                                </ng-template>
                            </td>
                            <td class="align-top">
                                <tds-input-number [formatter]="numberWithCommas" [parser]="parserComas"
                                    [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="data.CoDAmount"
                                    [min]="0" class="text-neutral-1-900 text-body-2 font-regular"></tds-input-number>
                            </td>
                            <td class="align-top">
                                <tds-select [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="data.ShipStatus" valueField="text" textField="text" placeholder='Chọn trạng thái'
                                    [data]="lstShipStatus" [allowClear]="true">
                                </tds-select>
                            </td>
                            <td class="align-top">
                                <tds-form-field>
                                    <input tdsInput autocomplete="off" placeholder="Ghi chú"
                                        [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="data.Note"/>
                                </tds-form-field>
                            </td>
                            <td class="align-top">
                                <button tds-button-icon color="secondary" tds-tooltip="Xóa" (click)="removeCrossChecking(i)">
                                    <i class="tdsi-trash-fill text-error-400"></i>
                                </button>
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </tds-table>
        </div>
    </div>
</form>
<!-- footer -->
<div class="w-full flex justify-end gap-2 p-4" *tdsModalFooter>
    <button tds-button class="min-w-[100px]" color="secondary" (click)="cancel()">
        Đóng
    </button>
    <button tds-button class="min-w-[100px]" type="submit" [disabled]="!_form.valid" color="primary" (click)="save()">
        Lưu
    </button>
</div>
