<tds-spin [spinning]="isLoading" class="w-full h-full">
  <div class="w-full h-full">
    <div class="flex flex-col gap-y-4 h-full">
      <div class="h-full w-full relative">
        <div class="absolute inset-0 overflow-y-auto overflow-x-hidden tds-panel-scroll flex flex-col gap-y-6">
          <div class="divide-y mx-4">
            <div class="flex gap-x-4 p-4 relative w-full cursor-pointer" *ngFor="let item of data" (click)="onDetail(item)">
              <tds-avatar [shape]="'square'" [size]="80" tdsSrc="{{ item.notification.thumbnail }}" [isAvatar]="false" class="rounded min-w-[80px]"></tds-avatar>

              <div class="text-neutral-1-400 relative w-full">
                <div class="flex flex-col flex-auto gap-y-1 absolute inset-0" *ngIf="item.dateRead else notRead">
                  <span class="text-base font-semibold w-full">{{item.notification.title}}</span>
                  <span class="truncate w-full">{{item.notification.shortContent}}</span>
                  <span class="text-[13px] font-semibold w-full">{{item.dateCreated | yiDiffDateTime}} - {{item.dateCreated | date: 'dd/MM/yyyy'}}</span>
                </div>

                <ng-template #notRead>
                  <div class="flex flex-col flex-auto gap-y-1 absolute inset-0">
                    <span class="text-base font-semibold text-neutral-1-900">{{item.notification.title}}</span>
                    <span class="text-neutral-1-900 truncate">{{item.notification.shortContent}}</span>
                    <span class="text-[13px] font-semibold text-info-400">{{item.dateCreated | yiDiffDateTime}} - {{item.dateCreated | date: 'dd/MM/yyyy'}}</span>
                  </div>
                  <span class="tdsi-radio-circle-fill text-info-400 absolute top-0 right-0 text-xs"></span>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</tds-spin>
