/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "../node_modules/tds-ui/assets/scss/cdk.scss";
@import "../node_modules/tds-ui/assets/scss/scroll";
@import "../node_modules/tds-ui/assets/scss/table.scss";
@import "../node_modules/tds-ui/assets/scss/carousel.scss";
@import "../node_modules/tds-ui/assets/scss/input.scss";
@import "../node_modules/tds-ui/assets/scss/steps.scss";
@import "../node_modules/tds-ui/assets/scss/radio.scss";
@import "../node_modules/tds-ui/assets/scss/calendar.scss";
@import "../node_modules/tds-ui/assets/scss/breadcrumb.scss";
@import "../node_modules/tds-ui/assets/scss/confirm.scss";
@import "../node_modules/tds-ui/assets/scss/menu.scss";

@import "../node_modules/tds-ui/assets/scss/datepicker.scss";
@import "../node_modules/tds-ui/assets/scss/select.scss";
@import "../node_modules/tds-ui/assets/scss/tag.scss";
@import "../node_modules/tds-ui/assets/scss/form-field.scss";
@import "../node_modules/tds-ui/assets/scss/cascader.scss";
@import "../node_modules/tds-ui/assets/scss/tree-select.scss";

@import "../node_modules/tds-ui/assets/scss/filter-status.scss";
@import "../node_modules/tds-ui/assets/scss/avatar.scss";

@import "./assets/font-icon/style.css";
@import "./assets/scss/table-custom.scss";
@import "./assets/scss/collapse-custom.scss";
@import "./assets/scss/notification.scss";
@import "./assets/scss/emojiMart.scss";
@import "./assets/scss/menu.scss";

@import "../node_modules/tds-editor/assets/tdsskin.scss";
@import "../node_modules/tds-editor/assets/tdscontent.scss";

@import "./custom-styles/custom-table.scss";


body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: unset;
  -webkit-text-fill-color: unset;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.phone.info.text-copyable {
  color: #006EEF;
  font-weight: 600;
}

.phone.info.text-copyable:hover {
  cursor: pointer;
}

.tds-custom-scroll::-webkit-scrollbar-thumb {
  height: 30%
}

.configs-activities a span.text-info {
  color: #2B88FB;
  font-weight: normal;
}

.configs-activities span.text-danger {
  color: #EB3B5B;
  font-weight: normal;
}

.input-quill-editor .ql-container {
  background-color: #fff;
  min-height: 100px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  font-size: 14px;
  line-height: 20px;
}

.input-quill-editor .ql-mention-list-item {
  font-size: 14px;
  line-height: 20px;
  padding: 6px;
}

.input-quill-editor .ql-mention-list-container {
  max-height: 300px;
  overflow: auto;
  top: 0;
}

.input-quill-editor .ql-mention-list-container::-webkit-scrollbar {
  width: 5px;
}

.input-quill-editor .ql-mention-list-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #F8F9FB;
  border-radius: 10px;
}

.input-quill-editor .ql-mention-list-container::-webkit-scrollbar-thumb {
  background: #CDD3DB;
  border-radius: 10px;
}

.cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper {
  width: inherit;
}

.post-livecampaign tds-pagination ul.items-center {
  display: none;
}

tbody td div, tbody td p, tbody td span, tbody td a, tbody td div div span{
  white-space: pre-line;
  word-break: break-word;
}

.cs-item div span.see-more {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    max-width: 190px;
}

.cs-item .whitespace-normal {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}


.cs-quick-repply .tds-custom-scroll {
  max-height: 400px !important;
  width: 100%;
  display: flex;
}
.cs-quick-repply .tds-custom-scroll .flex-col {
  width: 100%;
}
.cs-quick-repply .tds-custom-scroll .flex-col tds-auto-option {
  border-bottom-width: 1px;
  border-style: dotted;
}

.table-textcontentorrder .cdk-virtual-scroll-viewport table tbody {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: stretch;
}

.table-textcontentorrder .cdk-virtual-scroll-viewport table tbody tr {
  max-width: 50%;
  flex: 0 0 50%;
  height: auto;
}

.pagination-order-list .tds-pagination div.tds-pagination-options div.min-w-max {
  display: none;
}