/* You can add global styles to this file, and also import other style files */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "../node_modules/tds-ui/assets/scss/cdk";
@import "../node_modules/tds-ui/assets/scss/scroll";
@import "../node_modules/tds-ui/assets/scss/table.scss";

@import "../node_modules/tds-ui/assets/scss/carousel.scss";

@import "../node_modules/tds-editor/assets/tdsskin.scss";
@import "../node_modules/tds-editor/assets/tdscontent.scss";

@import "./assets/font-icon/style.css";
@import "./assets/scss/table-custom.scss";
@import "./assets/scss/collapse-custom.scss";
@import "./assets/scss/notification.scss";
@import "./assets/scss/emojiMart.scss";

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: unset;
  -webkit-text-fill-color: unset;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.phone.info.text-copyable {
  color: #006EEF;
  font-weight: 600;
}
.phone.info.text-copyable:hover {
  cursor: pointer;
}
.tds-custom-scroll::-webkit-scrollbar-thumb {
  height: 30%
}

.configs-activities a span.font-bold {
  color: #2B88FB;
  font-weight: normal;
}
