<tds-spin [spinning]="isLoading">
  <div class="p-4 flex w-full justify-center">
    <div class="w-3/4 flex flex-col bg-white rounded-xl p-4 gap-y-4">
      <div class="flex items-center">
        <tds-switch size="lg"></tds-switch>
        <span class="ml-4">switch 01</span>
      </div>
      <div class="flex items-center">
        <tds-switch size="lg"></tds-switch>
        <span class="ml-4">switch 02</span>
      </div>
      <div class="flex items-center">
        <tds-switch size="lg"></tds-switch>
        <span class="ml-4">switch 03</span>
      </div>
    </div>
  </div>
</tds-spin>
