<form [formGroup]="addCategoryForm" autocomplete="off" (ngSubmit)="onSubmit()">
    <div class="flex flex-col">
        <div class="grid grid-cols-1 gap-y-4 gap-x-6">
            <div class="grid grid-cols-4 gap-y-4 gap-x-6 items-center">
                <tds-label>Tên:</tds-label>
                <tds-form-field class="w-full col-span-3">
                  <input tdsInput formControlName="Name" placeholder="Nhập tên nhóm mới" class="text-neutral-1-900 text-body-2 font-regular"/>
                  <tds-error>
                      Vui lòng nhập tên nhóm
                  </tds-error>
                </tds-form-field>

                <tds-label>Nhóm cha:</tds-label>
                <tds-form-field class="w-full col-span-3">
                    <tds-select valueField="Id" textField="CompleteName" placeholder='Chọn nhóm sản phẩm'
                        disabledField="isActive" formControlName="Parent" [valuePrimitive]="false"
                        [data]="categoryList" [allowClear]="true">
                    </tds-select>
                    <tds-error>
                        Vui lòng chọn nhóm sản phẩm
                    </tds-error>
                </tds-form-field>

                <tds-label>Thứ tự:</tds-label>
                <tds-form-field class="w-full col-span-3">
                  <tds-input-number formControlName="Sequence" placeholder="Nhập thứ tự nhóm mới" [min]="0" class="text-neutral-1-900 text-body-2 font-regular"></tds-input-number>
                  <tds-error>
                    Vui lòng nhập giá biến thể
                    </tds-error>
                </tds-form-field>

                <tds-label>Phương pháp giá:</tds-label>
                <tds-form-field class="w-full col-span-3">
                    <tds-select valueField="value" textField="text" placeholder='Chọn phương pháp giá'
                        disabledField="isActive" formControlName="PropertyCostMethod" [valuePrimitive]="true"
                        [data]="costMethodList" [allowClear]="true">
                    </tds-select>
                    <tds-error>
                        Vui lòng chọn phương pháp giá
                    </tds-error>
                </tds-form-field>

                <tds-label>Hiện trên điểm bán hàng:</tds-label>
                <tds-checkbox formControlName="IsPos"></tds-checkbox>
            </div>
        </div>
    </div>
</form>
<!-- footer -->
<div class="w-full flex justify-end p-4" *tdsModalFooter>
    <button tds-button class="mr-2" color="secondary" (click)="cancel()">
        Đóng
    </button>
    <button tds-button type="submit" [disabled]="!addCategoryForm.valid" color="primary" (click)="save()">
        Áp dụng
    </button>
</div>