<tds-spin [spinning]="isLoading">
  <div class="w-full grid grid-cols-2 gap-8 text-body-2 p-4">
    <div class="w-full">
      <div class="text-heading-4 font-semibold flex">
        <div>Hóa đơn:</div>
        <div class="ml-2 text-info-400">{{data?.Number}}</div>
      </div>

      <div class="mt-1.5 text-neutral-1-500">Ngày tạo: {{data?.DateCreated | date:"dd/MM/yyyy"}}</div>

      <div class="w-full mt-3 grid grid-cols-3 gap-3 text-body-1">
        <div>Khách hàng:</div>
        <div class="col-span-2 text-title-1 font-semibold">{{data?.PartnerDisplayName}}</div>

        <div>Tổng tiền:</div>
        <div class="col-span-2 text-title-1 font-semibold">{{data?.AmountTotal || 0 | numberCustom}}đ</div>

        <div>Tiền cọc</div>
        <div class="col-span-2 text-title-1 font-semibold flex space-x-2 items-center">
          <div>{{data.AmountDeposit || 0 | numberCustom}}đ</div>
          <div *ngIf="data.IsDeposited" class="flex items-center space-x-1">
            <i class="tdsi-success-line text-base text-success-400"></i>
            <div class="font-semibold text-success-400">Đã xác nhận</div>
          </div>
          <span *ngIf="!data.IsDeposited" class="tdsi-edit-fill hover:text-success-400 cursor-pointer" (click)="getAmountDeposit()" tds-tooltip="Chọn xác nhận tiền cọc"></span>
        </div>

        <div>Tiền thu hộ:</div>
        <div class="col-span-2 text-title-1 font-semibold">{{data?.CashOnDelivery || 0 | numberCustom}}đ</div>

      </div>

      <div class="w-full mt-3 flex items-end" *ngIf="!data.IsDeposited">
        <tds-form-field class="w-full">
          <tds-label>Xác nhận tiền cọc:</tds-label>
          <tds-input-number [(ngModel)]="currentDeposit" [min]="0" [step]="1000" [formatter]="numberWithCommas" [parser]="parserComas">
          </tds-input-number>
        </tds-form-field>

        <button tds-button color="primary" class="ml-2.5" (click)="onConfirmed()">
          <span class="flex items-center">
            <i class="tdsi-tick-fill text-lg leading-none mr-2"></i>Xác nhận
          </span>
        </button>
      </div>

    </div>
    <div class="flex justify-center col-span-1 overflow-hidden">
          <div class="w-full overflow-x-hidden">
            <div class="w-full flex justify-end items-center overflow-hidden relative">
              <div id="scroll-product" class="flex gap-6 snap-x snap-mandatory overflow-x-auto tds-custom-scroll">
                <!-- <div class="snap-start shrink-0 h-[350px] flex items-center rounded-xl bg-neutral-3-50 border overflow-hidden">
                  <img tds-image class="object-cover h-full w-full" tdsSrc="{{data?.IRAttachmentUrl}}" alt="">
                </div> -->
                <div *ngFor="let item of data?.IRAttachmentUrls" #itemProduct class="snap-start shrink-0">
                    <div *ngIf="item; else noPicture" class="relative rounded-xl bg-neutral-3-50 border overflow-hidden">
                      <img tds-image tdsSrc="{{ item }}" alt="" class="w-full h-[350px] object-cover">
                    </div>
                    <ng-template #noPicture>
                      <img tds-image tdsSrc="../assets/imagesv2/errorPic.svg" alt="" class="w-full h-[350px] rounded-md p-4">
                    </ng-template>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>

  <div class="w-full flex justify-end mt-4" *tdsModalFooter>
    <div class="flex p-4 justify-end">
      <button class="mr-2 min-w-[100px]" tds-button color="secondary" (click)="onCancel()">
        Đóng
      </button>
    </div>
  </div>
</tds-spin>
