<tds-spin [spinning]="isLoading" class="flex flex-col gap-x-6 min-h-[578px]">
  <div class="items-center grid grid-cols-6 gap-x-6 justify-between">
    <tds-label style="width: max-content;">Đối tác giao hàng</tds-label>
    <div class="col-span-5 w-full flex gap-x-4">
      <div class="w-full flex flex-col">
        <tds-form-field>
          <tds-select valueField="Id" textField="Name" placeholder='Chọn đối tác giao hàng' [allowClear]="true"
            [valuePrimitive]="false" [(ngModel)]="carrier" [data]="lstCarriers">
          </tds-select>
          <span class="flex items-center text-info-500 text-xs pt-1 absolute">
            <i class="tdsi-warning-2-fill mr-1.5"></i>Phần mềm sẽ tự chọn đối tác với số tiền ship thấp nhất</span>
        </tds-form-field>
      </div>
      <button tds-button color="primary" (click)="changeCarrierAll()">Áp dụng tất cả</button>
    </div>
  </div>

  <div class="w-full mt-[30px] rounded-md h-[512px]">
    <div class="w-full h-full ">
      <tds-table class="tds-table-rounded" #basicTable [bordered]="true" [listData]="lstLine" [showPagination]="false">
        <thead class="rounded">
          <tr>
            <th width="5%">STT</th>
            <th width="25%">Khách hàng</th>
            <th width="17%">Đối tác giao hàng</th>
            <th width="12%">Tiền hàng</th>
            <th width="12%">Phí ship</th>
            <th width="12%">KL ship (g)</th>
            <th width="9%">Thanh toán</th>
            <th width="8%">Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-data [ngForOf]="basicTable.data" let-index="index">
            <tr>
              <td class="align-top"> {{ index + 1 }} </td>
              <!-- Khách hàng -->
              <td class="align-top">
                <div class="flex flex-col gap-y-2 text-sm">
                  <div class="flex">
                    {{ data.Partner.Name }}
                  </div>
                  <div class="flex items-baseline gap-x-2">
                    <div class="text-neutral-1-600">Mã ĐH:</div>
                    <div class="font-semibold text-info-500">{{ data.Reference }}</div>
                  </div>
                  <div class="flex items-baseline gap-x-2">
                    <span class="tdsi-call-fill text-md text-white bg-green-400 p-0.5 rounded-md"></span>
                    <span>{{data.Partner.Phone}}</span>
                  </div>
                  <div class="flex items-baseline gap-x-2">
                    <span class="tdsi-pin-fill text-md text-white bg-orange-500 p-0.5 rounded-md"></span>
                    <span>{{data.Partner.Street}}</span>
                  </div>
                </div>
              </td>
              <!-- Đối tác -->
              <td class="align-top">
                <tds-form-field>
                  <tds-select valueField="Id" textField="Name" placeholder='Chọn đối tác' [allowClear]="false"
                    [valuePrimitive]="false" [(ngModel)]="data.CarrierId" [ngModelOptions]="{standalone: true}"
                    [data]="lstCarriers" (ngModelChange)="onChangeCarrier($event, data)">
                  </tds-select>
                </tds-form-field>
              </td>
              <!-- Tiền hàng -->
              <td class="align-top">
                <tds-form-field>
                  <tds-input-number [min]="0" [step]="100" [formatter]="numberWithCommas" [parser]="parserComas"
                    [(ngModel)]="data.TotalAmount" [ngModelOptions]="{standalone: true}">
                  </tds-input-number>
                </tds-form-field>
              </td>
              <!-- Phí ship -->
              <td class="align-top">
                <tds-form-field>
                  <tds-input-number [min]="0" [step]="1000" [formatter]="numberWithCommas" [parser]="parserComas"
                    [(ngModel)]="data.ShipAmount" [ngModelOptions]="{standalone: true}">
                  </tds-input-number>
                </tds-form-field>
              </td>
              <!-- Khối lượng -->
              <td class="align-top">
                <tds-form-field>
                  <tds-input-number [min]="0" [step]="1" [(ngModel)]="data.ShipWeight"
                    [ngModelOptions]="{standalone: true}">
                  </tds-input-number>
                </tds-form-field>
              </td>
              <!-- Thanh toán -->
              <td class="text-center align-top">
                <div class="h-[34px] w-full flex items-center justify-center">
                  <tds-checkbox></tds-checkbox>
                </div>
              </td>
              <!-- Thao tác -->
              <td class="align-top">
                <div class="flex gap-x-2">
                  <button tds-button-icon color="secondary" size="sm" (click)="onEdit(index)">
                    <span class="flex items-center">
                      <i class="tdsi-edit-fill text-neutral-1-500"></i>
                    </span>
                  </button>
                  <button tds-button-icon color="secondary" size="sm" (click)="onRemove(index)">
                    <span class="flex items-center">
                      <i class="tdsi-trash-fill text-neutral-1-500"></i>
                    </span>
                  </button>
                </div>
              </td>
            </tr>
            <tr [classList]="'border-t-0'">
              <td></td>
              <td colspan="3">
                <suggest-address [_isBtnExtend]="false" [_isExpanded]="false" [_cities]="data.Partner.City"
                  [_districts]="data.Partner.District" [_wards]="data.Partner.Ward" [_street]="data.Partner.Street"
                  (onLoadSuggestion)="onLoadSuggestion($event,index)">
                </suggest-address>
              </td>
              <td colspan="4">
                <tds-form-field>
                  <input tdsInput placeholder="Ghi chú sản phẩm" autocomplete="off" [(ngModel)]="data.ProductNote"/>
                </tds-form-field>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </tds-table>
    </div>
  </div>

  <div class="w-full flex justify-end p-4" *tdsModalFooter>
    <div class="flex justify-between gap-x-2">
      <button tds-button class="w-[100px]" type="button" color="secondary" (click)="onCancel()">Đóng</button>
      <button tds-button class="w-[126px]" type="submit" color="info" (click)="onSave(saveType.billPrint)">
        Lưu và in
      </button>
      <button tds-button class="w-[170px]" type="submit" color="info" (click)="onSave(saveType.billPrintShip)">
        Lưu và in phiếu ship
      </button>
      <button tds-button class="w-[100px]" type="submit" color="primary"
        (click)="onSave(saveType.billSave)">Lưu</button>
    </div>
  </div>
</tds-spin>