<div class="w-full h-full pb-2">
  <tds-table #sortTable class="w-full h-full"
    [showSizeChanger]="true"
    [frontPagination]="false"
    [listData]="lstOfData"
    [scroll]="{y:'auto'}"
    [loading]="isLoading"
    [total]="count"
    (clickRefresh)="refreshData()"
    (queryParams)="onQueryParamsChange($event)">
    <thead>
      <tr>
        <th [width]="'200px'">Mã đơn hàng</th>
        <th [width]="'200px'">Tên khách hàng</th>
        <th [width]="'200px'" class="text-center">Số lượng sản phẩm</th>
        <th [width]="'200px'">Ngày tạo</th>
        <th [width]="'200px'" [filters]="listOfColumns.listOfFilter" [filterFn]="listOfColumns.filterFn">
            Trạng thái
        </th>
        <th [width]="'200px'"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of sortTable.data">
        <td>{{ data.OrderCode }}</td>
        <td>{{ data.PartnerName }}</td>
        <td class="text-center">{{ data.TotalQuantity }}</td>
        <td>{{ data.DateCreated | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td>
          <tds-tag [status]="data.Status | getColorStatusText" size="sm" type="outline">{{ data.Status }}</tds-tag>
        </td>
        <td>
          <button tds-button color="primary" size="sm" (click)="showModelHistory(data.OrderId)">Xem lịch sử</button>
        </td>
      </tr>
    </tbody>
  </tds-table>
</div>
