<div class="w-full text-body-2 text-neutral-1-900 h-[473px]">
  <tds-table #tableMessage
    [listData]="lstOfData"
    [scroll]="{y:'auto'}"
    [loading]="isLoading"
    [showSizeChanger]="true"
    [frontPagination]="false"
    [(pageSize)]="pageSize"
    [(pageIndex)]="pageIndex"
    [total]="count"
    (queryParams)="onQueryParamsChange($event)"  (clickRefresh)="onRefresh()">
    <thead>
      <tr>
        <th [width]="'10%'" [align]="'center'">STT</th>
        <th [width]="'15%'">Khách hàng</th>
        <th [width]="'15%'">Mã hóa đơn</th>
        <th [width]="'15%'" [align]="'center'">Số lượng sản phẩm</th>
        <th [width]="'15%'" [align]="'center'">Ngày tạo</th>
        <th [width]="'15%'">Trạng thái</th>
        <th [width]="'15%'"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of tableMessage.data; let index=index">
        <!-- STT-->
        <td [align]="'center'">
          {{index + 1}}
        </td>

        <!-- Khách hàng -->
        <td>
          {{data.FacebookName}}
        </td>

        <!-- Mã hóa đơn -->
        <td>
          {{data.Number || '---'}}
        </td>

        <!-- Số lượng sản phẩm -->
        <td [align]="'center'">
          {{data.ProductUOMQty}}
        </td>

        <!-- Ngày tạo -->
        <td [align]="'center'">
          {{data.DateInvoice | yiDateTimeFormat}}
        </td>

        <!-- Trạng thái -->
        <td>
          <tds-tag type="outline" [status]="data.State | getColorStatusState">
            {{data.State | getShowState}}
          </tds-tag>
        </td>

        <!-- Xem chi tiết -->
        <td>
          <button tds-button type="submit" color="primary" (click)="showModelInfoOrder(data.OrderId)">
            Xem chi tiết
          </button>
        </td>
      </tr>
    </tbody>
  </tds-table>
</div>

<div class="w-full flex justify-end p-4" *tdsModalFooter>
  <button tds-button class="mr-2 min-w-[100px]" color="secondary" (click)="onCancel()">Đóng</button>
</div>
