<button tds-button-icon color="secondary" tds-dropdown trigger="click" [tdsDropdownMenu]="menu" (click)="loadSummaryStatus()"
    size="md" class="relative" tds-tooltip tooltipTitle="Lọc dữ liệu" [autoClose]="false" [(visible)]="isVisible">
  <span class="flex items-center">
      <i class="tdsi-filter-2-line text-lg text-neutral-1-500 leading-none"></i>
  </span>
  <span *ngIf="checkActive() && isActive" class="tdsi-success-fill absolute text-[#28A745] text-body-2 top-[-11px] right-[-6px]" style="font-size: 22px"></span>
</button>
<tds-dropdown-menu #menu="tdsDropdownMenu">
  <div class="max-w-[420px] p-4" *ngIf="filterObj">

    <!-- Date -->
    <div class="mb-4">
      <p class="mb-2 font-semibold text-[#5A6271] size-[14px]">TÌM THEO NGÀY</p>
      <div>
          <tds-range-picker [(ngModel)]="datePicker" (ngModelChange)="onChangeDate($event)"></tds-range-picker>
      </div>
    </div>

    <!-- Status -->
    <div class="w-full mb-4">
      <p class="mb-2 font-semibold text-[#5A6271] size-[14px]">TRẠNG THÁI</p>
      <div class="w-full flex flex-wrap items-center gap-x-2 gap-y-2">
          <div *ngFor="let item of listStatus">
            <tds-tag mode="checkable" [(checked)]="item.IsSelected" (checkedChange)="selectState(item)">
              {{item.Name}}
            </tds-tag>
            <!-- {{isLiveCamp? null :'(' + item.Total + ')'}} -->
          </div>
      </div>
    </div>

     <!-- Phone -->
    <!-- <div class="w-full mb-4">
      <p class="mb-2 font-semibold text-[#5A6271] size-[14px]">ĐIỆN THOẠI</p>
      <div class="w-full flex flex-wrap items-center gap-x-2 gap-y-2">
        <tds-tag mode="checkable" [checked]="filterObj.IsHasPhone == true" (checkedChange)="selectIsHasPhone($event, true)">
          Có số điện thoại
        </tds-tag>
        <tds-tag mode="checkable" [checked]="filterObj.IsHasPhone == false" (checkedChange)="selectIsHasPhone($event, false)">
          Không có số điện thoại
        </tds-tag>
      </div>
    </div> -->

    <!-- Tag -->
    <div class="w-full mb-4">
      <p class="mb-2 font-semibold text-[#5A6271] size-[14px]">THẺ</p>
      <div class="w-full">
        <tds-form-field>
            <tds-select
                valueField="Id" textField="Name"
                placeholder='Chọn thẻ' [(ngModel)]="selectTags"
                (ngModelChange)="onChangeTags($event)"
                [data]="lstDataTag" mode="multiple">
            </tds-select>
        </tds-form-field>
      </div>
    </div>

    <!-- Chiến dịch live -->
    <div class="w-full mb-4">
      <p class="mb-2 font-semibold text-[#5A6271] size-[14px]">CHIẾN DỊCH LIVE</p>
      <div class="w-full">
        <tds-form-field>
            <tds-select
              valueField="Id" textField="Name"
                placeholder='Chọn chiến dịch' [(ngModel)]="selectCampaign"
                (selectChange)="onChangeCampaign($event)"
                (onSearch)="onSearchLiveCampaign($event)"
                [data]="lstCampaign" [allowClear]="true">
            </tds-select>
        </tds-form-field>
      </div>
    </div>

    <!-- Chọn kênh -->
    <div class="w-full mb-4">
      <p class="mb-2 font-semibold text-[#5A6271] size-[14px]">CHỌN KÊNH</p>
      <div class="w-full">
        <tds-form-field>
          <tds-select valueField="Id" textField="Name" (selectChange)="onChangeTeams($event)"
            placeholder='Chọn kênh' [(ngModel)]="selectTeams"
            [data]="(lstTeams | async) || []" [allowClear]="true">
          </tds-select>
        </tds-form-field>
      </div>
    </div>

    <div class="w-full flex align-center justify-between">
      <button tds-button color="primary" size="sm" (click)="onCancel()">
          <span class="flex items-center">
              <i class="tdsi-close-fill text-sm leading-none mr-2"></i> Bỏ lọc
          </span>
      </button>
      <div class="flex items-center">
        <button tds-button color="secondary" size="sm"  (click)="closeMenu()">Đóng</button>
        <button tds-button color="primary"  class="ml-2" size="sm" (click)="onApply()">Áp dụng</button>
      </div>
    </div>

  </div>
</tds-dropdown-menu>
