<div class="w-full h-full px-4 overflow-auto tds-custom-scroll">
  <div class="w-full" *ngIf="dataModel">
    <!-- CẤU HÌNH TƯƠNG TÁC TỰ ĐỘNG -->
    <tds-spin [spinning]="isLoading">
      <form [formGroup]="_form">
        <div class="w-full h-full bg-white rounded-xl p-4 mb-4">
          <div class="flex flex-row items-center pb-4">
              <tds-avatar class="bg-primary-1 text-white" icon="tdsi-gear-2-fill"></tds-avatar>
              <span class="text-neutral-1-900 text-header-1 font-semibold pl-2.5">CẤU HÌNH GIỎ HÀNG</span>
          </div>

          <!-- Cấu hình thông tin khách hàng-->
          <div class="flex flex-col pb-4">
              <span class="text-neutral-1-900 text-title-1 font-semibold pt-4">Cấu hình thông tin khách hàng</span>
              <div class="flex flex-row items-center pt-4">
                  <tds-switch size="md" formControlName="IsUpdatePartnerInfo"></tds-switch>
                  <span class="text-neutral-1-900 text-body-2 pl-2">Phản hồi tự động khi chốt đơn?</span>
              </div>
          </div>

          <!-- Cấu hình thanh toán -->
          <div class="flex flex-col pb-4">
              <span class="text-neutral-1-900 text-title-1 font-semibold pt-4">Cấu hình thanh toán</span>
              <div class="flex flex-row items-center pt-4">
                  <tds-switch size="md" formControlName="IsCheckout" (ngModelChange)="changeIsCheckout($event)"></tds-switch>
                  <span class="text-neutral-1-900 text-body-2 pl-2">Cho phép thanh toán</span>
              </div>
              <div *ngIf="_form.controls['IsCheckout'].value"  class="flex flex-col bg-neutral-3-50 rounded-md p-4 mt-4 gap-y-4">
                  <div class="flex flex-row items-center">
                      <tds-switch size="md" formControlName="IsUpdateQuantity" (ngModelChange)="changeIsUpdateQuantity($event)"></tds-switch>
                      <span class="text-neutral-1-900 text-body-2 font-semibold pl-2">Cập nhật số lượng</span>
                  </div>
                  <div class="flex flex-col" *ngIf="_form.controls['IsUpdateQuantity'].value" style="margin-left: 44px">
                    <div class="flex flex-row items-center">
                        <tds-switch size="md" formControlName="IsBuyMore"></tds-switch>
                        <span class="text-neutral-1-900 text-body-2 font-semibold pl-2">Cho phép mua thêm</span>
                    </div>
                  </div>
              </div>

              <div class="flex flex-row items-center pt-4">
                  <tds-switch size="md" formControlName="IsUpdate"></tds-switch>
                  <span class="text-neutral-1-900 text-body-2 pl-2">Cập nhật giỏ hàng</span>
              </div>
          </div>

          <!-- Cấu hình hủy đơn hàng -->
          <div class="flex flex-col pb-4">
              <span class="text-neutral-1-900 text-title-1 font-semibold pt-4">Cấu hình hủy đơn hàng</span>
              <div class="flex flex-row items-center pt-4">
                  <tds-switch size="md" formControlName="IsCancelCheckout"></tds-switch>
                  <span class="text-neutral-1-900 text-body-2 pl-2">Cho phép hủy đơn hàng</span>
              </div>
          </div>

          <div class="flex flex-row items-center justify-start" style="margin-top: 34px">
              <button tds-button color="primary" (click)="onSave()" type="button">
                  <span class="flex items-center">
                    <i class="tdsi-save-fill text-lg leading-none mr-2"></i>
                    <span class="text-white text-body-2 font-semibold">Lưu thay đổi</span>
                  </span>
              </button>
          </div>
        </div>
      </form>
    </tds-spin>
  </div>
</div>
