<div class="w-full h-full px-4 overflow-auto tds-custom-scroll">
  <div class="w-full max-w-[1280px]" *ngIf="dataModel">
    <!-- CẤU HÌNH TƯƠNG TÁC TỰ ĐỘNG -->
    <tds-spin [spinning]="isLoading">
      <form [formGroup]="_form">
        <div class="w-full h-full bg-white rounded-xl p-4 mb-4">
          <div class="flex flex-row items-center pb-4">
              <tds-avatar class="bg-primary-1 text-white" icon="tdsi-gear-2-fill"></tds-avatar>
              <span class="text-neutral-1-900 text-header-1 pl-2.5">CẤU HÌNH GIỎ HÀNG</span>
          </div>

          <div class="flex flex-col pb-6">
              <div class="flex flex-row items-center pt-4">
                <tds-switch size="md" formControlName="IsApplyConfig" (ngModelChange)="applyConfig($event)"></tds-switch>
                <span class="text-neutral-1-900 text-body-2 pl-2 font-semibold">Áp dụng tất cả?</span>
              </div>

              <div class="flex flex-row items-center pt-4">
                <tds-switch size="md" formControlName="IsUpdatePartnerInfo" [disabled]="!_form.value.IsApplyConfig"></tds-switch>
                <span class="text-neutral-1-900 text-body-2 pl-2">Cập nhật thông tin khách hàng</span>
              </div>

              <div class="flex flex-row items-center pt-4">
                  <tds-switch size="md" formControlName="IsCheckout" [disabled]="!_form.value.IsApplyConfig"></tds-switch>
                  <span class="text-neutral-1-900 text-body-2 pl-2">Cho phép thanh toán</span>
              </div>

              <div class="flex flex-row items-center pt-4">
                <tds-switch size="md" formControlName="IsUpdateQuantity" [disabled]="!_form.value.IsApplyConfig"></tds-switch>
                <span class="text-neutral-1-900 text-body-2 pl-2">Cập nhật số lượng</span>
              </div>

              <div class="flex flex-row items-center pt-4">
                <tds-switch size="md" formControlName="IsBuyMore" [disabled]="!_form.value.IsApplyConfig"></tds-switch>
                <span class="text-neutral-1-900 text-body-2 pl-2">Cho phép mua thêm</span>
              </div>

              <div class="flex flex-row items-center pt-4">
                  <tds-switch size="md" formControlName="IsUpdate" [disabled]="!_form.value.IsApplyConfig"></tds-switch>
                  <span class="text-neutral-1-900 text-body-2 pl-2">Cập nhật giỏ hàng</span>
              </div>

              <div class="flex flex-row items-center pt-4">
                <tds-switch size="md" formControlName="IsCancelCheckout" [disabled]="!_form.value.IsApplyConfig"></tds-switch>
                <span class="text-neutral-1-900 text-body-2 pl-2">Cho phép hủy đơn hàng</span>
              </div>
          </div>

          <div class="flex flex-row items-center justify-start" style="margin-top: 34px">
              <button tds-button color="primary" (click)="onSave()" type="button">
                  <span class="flex items-center">
                    <i class="tdsi-save-fill text-lg leading-none mr-2"></i>
                    <span class="text-white text-body-2 font-semibold">Lưu thay đổi</span>
                  </span>
              </button>
          </div>
        </div>
      </form>
    </tds-spin>
  </div>
</div>
