<div class="w-full h-full px-4 overflow-auto tds-custom-scroll">
  <div class="flex-auto" *ngIf="dataModel">
    <!-- CẤU HÌNH TƯƠNG TÁC TỰ ĐỘNG -->
    <tds-spin [spinning]="isLoading">
      <form [formGroup]="_form">
        <div class="w-full h-full bg-white rounded-xl p-4 mb-4">
          <div class="flex flex-row items-center pb-4">
            <tds-avatar class="bg-primary-1 text-white" icon="tdsi-gear-2-fill"></tds-avatar>
            <span class="text-neutral-1-900 text-header-1 font-semibold pl-2.5">CẤU HÌNH GIỎ HÀNG</span>
          </div>

          <div class="flex flex-col pb-4">
            <span class="text-title-1 font-semibold">Cấu hình tất cả</span>
            <div class="flex flex-row items-center pt-4">
              <tds-switch size="md" formControlName="IsApplyConfig" (ngModelChange)="applyConfig($event)"></tds-switch>
              <span class="text-neutral-1-900 text-body-2 pl-2">Chỉ xem</span>
            </div>

            <!-- Cập nhật thông tin khách hàng -->
            <span class="text-title-1 font-semibold pt-6">Cập nhật thông tin khách hàng</span>
            <div class="flex flex-row items-center pt-4">
              <tds-switch size="md" formControlName="IsUpdatePartnerInfo"></tds-switch>
              <span class="text-neutral-1-900 text-body-2 pl-2">Cập nhật thông tin khách hàng</span>
            </div>

            <span class="text-title-1 font-semibold pt-6">Cấu hình cập nhật và thanh toán</span>

            <!-- Cho phép thanh toán -->
            <div class="flex flex-row items-center pt-4">
              <tds-switch size="md" formControlName="IsCheckout"></tds-switch>
              <span class="text-neutral-1-900 text-body-2 pl-2">Cho phép thanh toán</span>
            </div>

            <!-- Phương thức thanh toán -->
            <div *ngIf="_form.controls['IsCheckout'].value" class="w-2/3 mt-4 mx-4 py-5 px-3 bg-[#f0f0f0] rounded-lg">
              <tds-form-field class="w-2/3">
                <tds-label>Chọn phương thức thanh toán</tds-label>
                <tds-select valueField="Id" textField="Name" placeholder='Chọn phương thức thanh toán'
                  disabledField="isActive" formControlName="AccountJournal" [required]='true' [backdrop]="true"
                  [data]="lstAccountJournal" [allowClear]="true" (ngModelChange)="onChangeAccountJournal($event)">
                </tds-select>
              </tds-form-field>

              <!-- Nội dung ghi chú -->
              <div *ngIf="_form.controls['AccountJournalId'].value" class="flex flex-row items-center pt-4">
                <div class="w-full">
                  <tds-label>Thông tin tài khoản:</tds-label>
                  <div class="text-neutral-1-900 text-body-2"> {{accountJournalItem ? accountJournalItem.Description : 'N/A'}}</div>
                </div>
              </div>
            </div>

            <!-- Cho phép mua thêm -->
            <div class="flex flex-row items-center pt-4">
              <tds-switch size="md" formControlName="IsBuyMore"></tds-switch>
              <span class="text-neutral-1-900 text-body-2 pl-2">Cho phép mua thêm</span>
            </div>

            <!-- Cho phép xóa sản phẩm mua được -->
            <div class="flex flex-row items-center pt-4">
              <tds-switch size="md" formControlName="IsRemoveProduct"></tds-switch>
              <span class="text-neutral-1-900 text-body-2 pl-2">Cho phép xóa sản phẩm mua được</span>
            </div>

            <!-- Cho phép xóa sản phẩm không hợp lệ (Không mua được) -->
            <div class="flex flex-row items-center pt-4">
              <tds-switch size="md" formControlName="IsRemoveProductInValid"></tds-switch>
              <span class="text-neutral-1-900 text-body-2 pl-2">Cho phép xóa sản phẩm không hợp lệ (Không mua được)</span>
            </div>

            <!-- Cho phép hiện tồn kho -->
            <div class="flex flex-row items-center pt-4">
              <tds-switch size="md" formControlName="IsDisplayInventory"></tds-switch>
              <span class="text-neutral-1-900 text-body-2 pl-2">Cho phép hiện tồn kho</span>
            </div>

            <!-- Cập nhật số lượng -->
            <div class="flex flex-row items-center pt-4">
              <tds-switch size="md" formControlName="IsUpdateQuantity"></tds-switch>
              <span class="text-neutral-1-900 text-body-2 pl-2">Cập nhật số lượng</span>
            </div>

            <!-- Cập nhật ghi chú -->
            <div class="flex flex-row items-center pt-4">
              <tds-switch size="md" formControlName="IsUpdateNote"></tds-switch>
              <span class="text-neutral-1-900 text-body-2 pl-2">Cập nhật ghi chú</span>
            </div>

            <!-- Cho phép khách hàng gộp phiếu bán hàng trên giỏ hàng -->
            <div class="flex flex-row items-center pt-4">
              <tds-switch size="md" formControlName="IsMergeOrder"></tds-switch>
              <span class="text-neutral-1-900 text-body-2 pl-2">Cho phép khách hàng gộp phiếu bán hàng trên giỏ hàng</span>
            </div>

            <span class="text-title-1 font-semibold pt-6">Sản phẩm giỏ hàng</span>
            <div class="flex flex-row items-center pt-4">
              <tds-switch size="md" formControlName="IsShopCart" (ngModelChange)="onChangeIsShopCart($event)"></tds-switch>
              <span class="text-neutral-1-900 text-body-2 pl-2">Xem danh sách sản phẩm trong giỏ hàng</span>
            </div>

            <!-- Cấu hình page mặc định -->
            <div *ngIf="_form.controls['IsShopCart'].value" class="w-2/3 m-4 py-5 px-3 rounded-lg bg-[#f0f0f0]">
                <tds-form-field class="w-2/3">
                    <tds-label> Cấu hình page mặc định </tds-label>
                    <tds-select
                        valueField="Id" textField="Name" [allowClear]="true" [valuePrimitive]="false"
                        placeholder='Chọn page mặc định' formControlName="CurrentTeam" [backdrop]="true"
                        [data]="lstTeamFacebook" >
                    </tds-select>
                </tds-form-field>
            </div>

            <span class="text-title-1 font-semibold pt-2">Cấu hình hủy đơn hàng</span>
            <!-- Cho phép hủy thanh toán (xóa đơn hàng) -->
            <div class="flex flex-row items-center pt-4">
              <tds-switch size="md" formControlName="IsCancelCheckout"></tds-switch>
              <span class="text-neutral-1-900 text-body-2 pl-2">Cho phép hủy đơn hàng</span>
            </div>
          </div>

          <div class="flex flex-row items-center justify-start pt-4">
            <button tds-button color="primary" (click)="onSave()" type="button">Lưu thay đổi</button>
          </div>
        </div>
      </form>
    </tds-spin>
  </div>
</div>
