<tds-spin [spinning]="isLoading">
  <form [formGroup]="_form" class="text-body-2 text-neutral-1-900">
    <div class="w-full max-h-[450px] overflow-y-auto tds-custom-scroll divide-y">
      <div *ngFor="let item of lstPrices">
          <div class="flex flex-row items-center justify-between w-full px-2 py-4 pr-2 cursor-pointer hover:bg-neutral-3-50"
            (click)="onChangePriceList(item)">
              <span>{{item.Name}}</span>
              <div *ngIf="_form.controls['PriceList'].value.Id == item.Id" class="flex items-center justify-between">
                <i class="tdsi-success-fill text-success-400 leading-none"></i>
              </div>
          </div>
      </div>
    </div>

    <div class="w-full flex justify-end p-4" *tdsModalFooter>
      <button tds-button class="mr-4 w-[100px]" color="secondary" (click)="onCancel()">Đóng</button>
      <button tds-button type="submit" class="w-[100px] mr-4" color="primary" (click)="onSave()" [disabled]="!_form?.valid">Áp dụng</button>
    </div>
  </form>
</tds-spin>
