<tds-spin [spinning]="isLoading">
  <tds-tabset class="bg-white w-full border rounded-md">
    <tds-tab [title]="titleDetail" clsContent="h-full w-full pb-2.5">
        <ng-template #titleDetail let-active="active">
            <div class="p-4 font-semibold  border-b-3 cursor-pointer group flex items-center"
                [ngClass]='{"border-primary-1":active,"border-transparent text-neutral-1-400  hover:border-primary-1":!active}'>
                <span class="mr-2">Chi tiết</span>
                <div class="text-caption-2 font-semibold py-0.5 px-2 rounded-full flex"
                    [ngClass]="{'text-white bg-primary-1':active,'text-neutral-1-500 bg-neutral-3-100 group-hover:text-white group-hover:bg-primary-1':!active}">
                    {{liveCampaigns?.Details?.length || 0}}
                </div>
            </div>
        </ng-template>
        <div class="h-60">
            <tds-table #rowSelectionTable showPagination showSizeChanger
                [listData]="liveCampaigns?.Details || []" [scroll]="{y:'auto'}">
                <thead>
                    <tr class="bg-neutral-3-50">
                        <th>STT</th>
                        <th>Sản phẩm</th>
                        <th>Đơn vị tính</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Hoạt động</th>
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of rowSelectionTable.data; let index = index">
                      <td>{{ index + 1 }}</td>

                      <!-- Sản phẩm -->
                      <td>{{ data.ProductName }}</td>

                      <!-- Đơn vị tính -->
                      <td>{{ data.UOMName }}</td>

                      <!-- Số lượng -->
                      <td>{{ data.Quantity }}</td>

                      <!-- Đơn giá -->
                      <td>{{ data.Price || 0 | numberCustom }}</td>

                      <!-- Hoạt động -->
                      <td>
                        <tds-switch size="md" [checked]="data.IsActive" (change)="onChangeActive($event, data)"></tds-switch>
                      </td>
                  </tr>
                </tbody>
            </tds-table>
        </div>
    </tds-tab>
    <tds-tab title="Thông tin" clsContent="bg-white p-4 border-t rounded-b-md">
      <div class="w-full grid grid-cols-3 gap-8" *ngIf="liveCampaigns">
        <div class="grid grid-cols-3 gap-4">
          <div>Tên chiến dịch:</div>
          <div class="col-span-2 font-semibold">{{liveCampaigns.Name || '...'}}</div>
          <div>Ghi chú:</div>
          <div class="col-span-2 font-semibold">{{liveCampaigns.Note || '...'}}</div>
          <div>Nhân viên chốt đơn:</div>
          <div class="col-span-2 font-semibold flex gap-x-2" *ngIf="liveCampaigns?.Users">
            <span *ngFor="let user of liveCampaigns.Users; let i = index">
              {{user.Name}}
              <span *ngIf="liveCampaigns.Users.length > (i + 1)">,</span>
            </span>
          </div>
        </div>
        <div class="grid grid-cols-3 gap-4">
          <div>Facebook:</div>
          <div class="col-span-2 font-semibold text-blue-500">{{liveCampaigns.Facebook_UserName || '...'}}</div>
          <div>Live ID:</div>
          <div class="col-span-2 font-semibold">{{liveCampaigns.Facebook_LiveId || '...'}}</div>
          <div>Đặt cọc tối thiểu:</div>
          <div class="col-span-2 font-semibold">{{liveCampaigns.MinAmountDeposit || 0 | numberCustom}} đ</div>
        </div>
        <div class="grid grid-cols-3 gap-4">
          <div>Đặt cọc bắt buộc:</div>
          <div class="col-span-2 font-semibold">{{liveCampaigns.MaxAmountDepositRequired || 0 | numberCustom}} đ</div>
        </div>
      </div>
    </tds-tab>
    <tds-tab [title]="titlePost" clsContent="bg-neutral-3-50 p-4">
        <ng-template #titlePost let-active="active">
            <div class="p-4 font-semibold  border-b-3 cursor-pointer group flex items-center"
                [ngClass]='{"border-primary-1":active,"border-transparent text-neutral-1-400  hover:border-primary-1":!active}'>
                <span class="mr-2">Danh sách bài viết</span>
                <div class="text-caption-2 font-semibold py-0.5 px-2 rounded-full flex" [ngClass]="{'text-white bg-primary-1':active,'text-neutral-1-500 bg-neutral-3-100 group-hover:text-white group-hover:bg-primary-1':!active}">
                    {{facebookPosts?.length || 0}}
                </div>
            </div>
        </ng-template>
        <div class="w-full grid grid-cols-3 gap-8">
          <div class="bg-white p-4 rounded-lg flex space-x-4" *ngFor="let post of facebookPosts">
            <div class="flex flex-col space-y-3">
              <div class="relative">
                <img [src]="post.picture" alt=""
                    class="max-w-[120px] w-[120px] max-h-[88px] h-[88px] rounded-md object-cover">
                    <div *ngIf="post.status_type" [ngSwitch]="post.status_type">
                      <div *ngSwitchCase="'added_video'">
                          <div class="h-[22px] w-[22px] flex items-center justify-center rounded-full absolute top-2 right-2 p-1 ring-2 ring-white ring-opacity-30 bg-gradient-to-b from-[#F22727] to-[#FF7575]">
                              <div class="tdsi-video-camera-fill text-white leading-none"></div>
                          </div>
                      </div>
                      <div *ngSwitchCase="'added_photos'">
                          <div class="h-[22px] w-[22px] flex items-center justify-center rounded-full absolute top-2 right-2 p-1 ring-2 ring-white ring-opacity-30 bg-gradient-to-b from-[#3B7AD9] to-[#6EB3F8]">
                              <div class="tdsi-images-fill text-white leading-none"></div>
                          </div>
                      </div>
                      <div *ngSwitchCase="'mobile_status_update' || 'published_story' || 'shared_story'">
                          <div class="h-[22px] w-[22px] flex items-center justify-center rounded-full absolute top-2 right-2 p-1 ring-2 ring-white ring-opacity-30 bg-gradient-to-r from-[#3B7AD9] to-[#6EB3F8]">
                              <div class="tdsi-facebook-f-fill text-white leading-none"></div>
                          </div>
                      </div>
                      <div *ngSwitchDefault>
                          <div= class="h-[22px] flex items-center justify-center rounded-full absolute top-2 right-2 p-1 ring-2 ring-white ring-opacity-30 bg-gradient-to-b from-[#F22727] to-[#FF7575]">
                              <div class="tdsi-arrow-right-fill text-white leading-2 mr-1 text-caption-2 font-[Lato]">
                                  LIVE</div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="flex space-x-4 text-neutral-1-400">
                <div class="flex items-center">
                  <i class="tdsi-like-line text-base"></i>
                  <span class="ml-1">{{post.count_reactions || 0 | numberCustom}}</span>
                </div>
                <div class="flex items-center">
                  <i class="tdsi-livechat-line text-base"></i>
                  <span class="ml-1">{{post.count_comments || 0 | numberCustom}}</span>
                </div>
              </div>
            </div>
            <div class="w-full">
              <div class="text-error-400 font-semibold">{{post.story}}</div>
              <div class="mt-1">
                <div [innerHTML]="post.message | safeHtml"></div>
              </div>
              <div class="mt-2 text-neutral-1-400 cursor-pointer w-fit" tds-tooltip tooltipTitle="Cập nhật lần cuối lúc: {{post.updated_time | date:'HH:mm dd/MM'}}">
                {{post.created_time | yiDiffDateTime}}
              </div>
            </div>
          </div>
        </div>
    </tds-tab>
  </tds-tabset>
</tds-spin>
