
<div class="text-body-2 min-w-full text-neutral-1-900">
    <form [formGroup]="_form" class="flex flex-col" novalidate>
        <div class="flex flex-col bg-neutral-3-50 rounded-md gap-y-2.5 p-2.5">
            <div  class="w-full flex gap-x-2 justify-between">
                <tds-form-field class="w-full">
                    <input tdsInput placeholder="Tìm kiếm địa chỉ ..." [(ngModel)]="innerText" [ngModelOptions]="{standalone: true}"/>
                    <span *ngIf="tempAddresses.length > 0" tdsSuffix><i (click)="closeSearchAddress()"
                        class="text-neutral-1-500 tdsi-close-fill"></i></span>
                </tds-form-field>
                <button tds-button-icon color="primary" type="button" (click)="checkAddress($event)" tds-tooltip="Tìm kiếm địa chỉ">
                    <span class="flex items-center text-body-2">
                    <i class="tdsi-location-fill text-xl leading-none mr-2"></i> Tìm kiếm địa chỉ
                    </span>
                </button>
            </div>
            <div *ngIf="tempAddresses.length > 0">
                <ul class="flex flex-col gap-y-1">
                    <li *ngFor="let item of tempAddresses; index as i" (click)="selectAddress(item, i)" class="flex tds-form-field-control w-full max-w-full bg-white rounded-md p-2 cursor-pointer">
                        <a class="text-body-2">
                            <span class="{{index == i ? 'bg-primary-1' : 'bg-error-400'}} tdsi-checkbox-check-fill py-1 px-1.5 text-white rounded-md"></span>
                            {{item.Address}}
                        </a>
                    </li>
                </ul>
            </div> 
        </div>
            
        <div class="flex flex-col overflow-hidden">
            <div class="w-full flex mb-2 pt-3">
                <tds-form-field class="w-full">
                    <tds-select valueField="code" textField="name" placeholder='Tỉnh/Thành'
                        [valuePrimitive]="false" [allowClear]="true" (onSearch)="handleCityFilter($event)"
                        formControlName="City" disabledField="isActive" [data]="lstCities"
                        [allowClear]="true" (selectChange)="changeCity($event)">
                    </tds-select>
                </tds-form-field>
            </div>
            <div class="w-full flex mb-2">
                <tds-form-field class="w-full">
                    <tds-select valueField="code" textField="name" placeholder='Quận/Huyện'
                        [valuePrimitive]="false" [allowClear]="true" (onSearch)="handleFilterDistrict($event)"
                        formControlName="District" disabledField="isActive" [data]="lstDistricts"
                        [allowClear]="true" (selectChange)="changeDistrict($event)">
                    </tds-select>
                </tds-form-field>
            </div>
            <div class="w-full flex mb-2">
                <tds-form-field class="w-full">
                    <tds-select valueField="code" textField="name" placeholder='Phường/Xã'
                        [valuePrimitive]="false" [allowClear]="true" (onSearch)="handleFilterWard($event)"
                        formControlName="Ward" disabledField="isActive" [data]="lstWards"
                        [allowClear]="true"  (selectChange)="changeWard($event)">
                    </tds-select>
                </tds-form-field>
            </div>
            <div class="w-full flex">
                <tds-form-field class="w-full">
                    <input tdsInput placeholder="Số nhà, đường" formControlName="Street"/>
                </tds-form-field>
            </div>
        </div>   
    </form>
  </div>
  